openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay MerchantCustomAttributes API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: MerchantCustomAttributes
paths:
  /v2/merchants/custom-attribute-definitions:
    get:
      tags:
      - MerchantCustomAttributes
      summary: Square List Merchant Custom Attribute Definitions
      operationId: ListMerchantCustomAttributeDefinitions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Lists the merchant-related [custom attribute definitions](entity:CustomAttributeDefinition) that belong to a Square seller account.

        When all response pages are retrieved, the results include all custom attribute definitions

        that are visible to the requesting application, including those that are created by other

        applications and set to `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      parameters:
      - name: visibility_filter
        description: Filters the `CustomAttributeDefinition` results by their `visibility` values.
        schema:
          $ref: '#/components/schemas/VisibilityFilter'
        in: query
        required: false
      - name: limit
        description: 'The maximum number of results to return in a single paged response. This limit is advisory.

          The response might contain more or fewer results. The minimum value is 1 and the maximum value is 100.

          The default value is 20. For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: integer
        in: query
        required: false
      - name: cursor
        description: 'The cursor returned in the paged response from the previous call to this endpoint.

          Provide this cursor to retrieve the next page of results for your original request.

          For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: string
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMerchantCustomAttributeDefinitionsResponse'
    post:
      tags:
      - MerchantCustomAttributes
      summary: Square Create Merchant Custom Attribute Definition
      operationId: CreateMerchantCustomAttributeDefinition
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates a merchant-related [custom attribute definition](entity:CustomAttributeDefinition) for a Square seller account.

        Use this endpoint to define a custom attribute that can be associated with a merchant connecting to your application.

        A custom attribute definition specifies the `key`, `visibility`, `schema`, and other properties

        for a custom attribute. After the definition is created, you can call

        [UpsertMerchantCustomAttribute](api-endpoint:MerchantCustomAttributes-UpsertMerchantCustomAttribute) or

        [BulkUpsertMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkUpsertMerchantCustomAttributes)

        to set the custom attribute for a merchant.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMerchantCustomAttributeDefinitionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMerchantCustomAttributeDefinitionResponse'
  /v2/merchants/custom-attribute-definitions/{key}:
    delete:
      tags:
      - MerchantCustomAttributes
      summary: Square Delete Merchant Custom Attribute Definition
      operationId: DeleteMerchantCustomAttributeDefinition
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Deletes a merchant-related [custom attribute definition](entity:CustomAttributeDefinition) from a Square seller account.

        Deleting a custom attribute definition also deletes the corresponding custom attribute from

        the merchant.

        Only the definition owner can delete a custom attribute definition.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters:
      - name: key
        description: The key of the custom attribute definition to delete.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMerchantCustomAttributeDefinitionResponse'
    get:
      tags:
      - MerchantCustomAttributes
      summary: Square Retrieve Merchant Custom Attribute Definition
      operationId: RetrieveMerchantCustomAttributeDefinition
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves a merchant-related [custom attribute definition](entity:CustomAttributeDefinition) from a Square seller account.

        To retrieve a custom attribute definition created by another application, the `visibility`

        setting must be `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      parameters:
      - name: key
        description: 'The key of the custom attribute definition to retrieve. If the requesting application

          is not the definition owner, you must use the qualified key.'
        schema:
          type: string
        in: path
        required: true
      - name: version
        description: 'The current version of the custom attribute definition, which is used for strongly consistent

          reads to guarantee that you receive the most up-to-date data. When included in the request,

          Square returns the specified version or a higher version if one exists. If the specified version

          is higher than the current version, Square returns a `BAD_REQUEST` error.'
        schema:
          type: integer
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveMerchantCustomAttributeDefinitionResponse'
    put:
      tags:
      - MerchantCustomAttributes
      summary: Square Update Merchant Custom Attribute Definition
      operationId: UpdateMerchantCustomAttributeDefinition
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates a merchant-related [custom attribute definition](entity:CustomAttributeDefinition) for a Square seller account.

        Use this endpoint to update the following fields: `name`, `description`, `visibility`, or the

        `schema` for a `Selection` data type.

        Only the definition owner can update a custom attribute definition.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters:
      - name: key
        description: The key of the custom attribute definition to update.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMerchantCustomAttributeDefinitionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMerchantCustomAttributeDefinitionResponse'
  /v2/merchants/custom-attributes/bulk-delete:
    post:
      tags:
      - MerchantCustomAttributes
      summary: Square Bulk Delete Merchant Custom Attributes
      operationId: BulkDeleteMerchantCustomAttributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Deletes [custom attributes](entity:CustomAttribute) for a merchant as a bulk operation.

        To delete a custom attribute owned by another application, the `visibility` setting must be

        `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteMerchantCustomAttributesRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteMerchantCustomAttributesResponse'
  /v2/merchants/custom-attributes/bulk-upsert:
    post:
      tags:
      - MerchantCustomAttributes
      summary: Square Bulk Upsert Merchant Custom Attributes
      operationId: BulkUpsertMerchantCustomAttributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates or updates [custom attributes](entity:CustomAttribute) for a merchant as a bulk operation.

        Use this endpoint to set the value of one or more custom attributes for a merchant.

        A custom attribute is based on a custom attribute definition in a Square seller account, which is

        created using the [CreateMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-CreateMerchantCustomAttributeDefinition) endpoint.

        This `BulkUpsertMerchantCustomAttributes` endpoint accepts a map of 1 to 25 individual upsert

        requests and returns a map of individual upsert responses. Each upsert request has a unique ID

        and provides a merchant ID and custom attribute. Each upsert response is returned with the ID

        of the corresponding request.

        To create or update a custom attribute owned by another application, the `visibility` setting

        must be `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpsertMerchantCustomAttributesRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpsertMerchantCustomAttributesResponse'
  /v2/merchants/{merchant_id}/custom-attributes:
    get:
      tags:
      - MerchantCustomAttributes
      summary: Square List Merchant Custom Attributes
      operationId: ListMerchantCustomAttributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Lists the [custom attributes](entity:CustomAttribute) associated with a merchant.

        You can use the `with_definitions` query parameter to also retrieve custom attribute definitions

        in the same call.

        When all response pages are retrieved, the results include all custom attributes that are

        visible to the requesting application, including those that are owned by other applications

        and set to `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      parameters:
      - name: merchant_id
        description: The ID of the target [merchant](entity:Merchant).
        schema:
          type: string
        in: path
        required: true
      - name: visibility_filter
        description: Filters the `CustomAttributeDefinition` results by their `visibility` values.
        schema:
          $ref: '#/components/schemas/VisibilityFilter'
        in: query
        required: false
      - name: limit
        description: 'The maximum number of results to return in a single paged response. This limit is advisory.

          The response might contain more or fewer results. The minimum value is 1 and the maximum value is 100.

          The default value is 20. For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: integer
        in: query
        required: false
      - name: cursor
        description: 'The cursor returned in the paged response from the previous call to this endpoint.

          Provide this cursor to retrieve the next page of results for your original request. For more

          information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: string
        in: query
        required: false
      - name: with_definitions
        description: 'Indicates whether to return the [custom attribute definition](entity:CustomAttributeDefinition) in the `definition` field of each

          custom attribute. Set this parameter to `true` to get the name and description of each custom

          attribute, information about the data type, or other definition details. The default value is `false`.'
        schema:
          type: boolean
          default: false
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMerchantCustomAttributesResponse'
  /v2/merchants/{merchant_id}/custom-attributes/{key}:
    delete:
      tags:
      - MerchantCustomAttributes
      summary: Square Delete Merchant Custom Attribute
      operationId: DeleteMerchantCustomAttribute
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Deletes a [custom attribute](entity:CustomAttribute) associated with a merchant.

        To delete a custom attribute owned by another application, the `visibility` setting must be

        `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters:
      - name: merchant_id
        description: The ID of the target [merchant](entity:Merchant).
        schema:
          type: string
        in: path
        required: true
      - name: key
        description: 'The key of the custom attribute to delete. This key must match the `key` of a custom

          attribute definition in the Square seller account. If the requesting application is not the

          definition owner, you must use the qualified key.'
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMerchantCustomAttributeResponse'
    get:
      tags:
      - MerchantCustomAttributes
      summary: Square Retrieve Merchant Custom Attribute
      operationId: RetrieveMerchantCustomAttribute
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves a [custom attribute](entity:CustomAttribute) associated with a merchant.

        You can use the `with_definition` query parameter to also retrieve the custom attribute definition

        in the same call.

        To retrieve a custom attribute owned by another application, the `visibility` setting must be

        `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      parameters:
      - name: merchant_id
        description: The ID of the target [merchant](entity:Merchant).
        schema:
          type: string
        in: path
        required: true
      - name: key
        description: 'The key of the custom attribute to retrieve. This key must match the `key` of a custom

          attribute definition in the Square seller account. If the requesting application is not the

          definition owner, you must use the qualified key.'
        schema:
          type: string
        in: path
        required: true
      - name: with_definition
        description: 'Indicates whether to return the [custom attribute definition](entity:CustomAttributeDefinition) in the `definition` field of

          the custom attribute. Set this parameter to `true` to get the name and description of the custom

          attribute, information about the data type, or other definition details. The default value is `false`.'
        schema:
          type: boolean
          default: false
        in: query
        required: false
      - name: version
        description: 'The current version of the custom attribute, which is used for strongly consistent reads to

          guarantee that you receive the most up-to-date data. When included in the request, Square

          returns the specified version or a higher version if one exists. If the specified version is

          higher than the current version, Square returns a `BAD_REQUEST` error.'
        schema:
          type: integer
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveMerchantCustomAttributeResponse'
    post:
      tags:
      - MerchantCustomAttributes
      summary: Square Upsert Merchant Custom Attribute
      operationId: UpsertMerchantCustomAttribute
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates or updates a [custom attribute](entity:CustomAttribute) for a merchant.

        Use this endpoint to set the value of a custom attribute for a specified merchant.

        A custom attribute is based on a custom attribute definition in a Square seller account, which

        is created using the [CreateMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-CreateMerchantCustomAttributeDefinition) endpoint.

        To create or update a custom attribute owned by another application, the `visibility` setting

        must be `VISIBILITY_READ_WRITE_VALUES`.'
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
      parameters:
      - name: merchant_id
        description: The ID of the target [merchant](entity:Merchant).
        schema:
          type: string
        in: path
        required: true
      - name: key
        description: 'The key of the custom attribute to create or update. This key must match the `key` of a

          custom attribute definition in the Square seller account. If the requesting application is not

          the definition owner, you must use the qualified key.'
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertMerchantCustomAttributeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertMerchantCustomAttributeResponse'
components:
  schemas:
    CreateMerchantCustomAttributeDefinitionResponse:
      type: object
      description: 'Represents a [CreateMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-CreateMerchantCustomAttributeDefinition) response.

        Either `custom_attribute_definition` or `errors` is present in the response.'
      x-release-status: BETA
      properties:
        custom_attribute_definition:
          $ref: '#/components/schemas/CustomAttributeDefinition'
          description: The new custom attribute definition.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        custom_attribute_definition:
          created_at: '2023-05-05T19:06:36.559Z'
          description: This is the other name this merchant goes by.
          key: alternative_seller_name
          name: Alternative Merchant Name
          schema:
            $ref: https://developer-production-s.squarecdn.com/schemas/v1/common.json#squareup.common.String
          updated_at: '2023-05-05T19:06:36.559Z'
          version: 1
          visibility: VISIBILITY_READ_ONLY
    CreateMerchantCustomAttributeDefinitionRequest:
      type: object
      description: Represents a [CreateMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-CreateMerchantCustomAttributeDefinition) request.
      x-release-status: BETA
      required:
      - custom_attribute_definition
      properties:
        custom_attribute_definition:
          $ref: '#/components/schemas/CustomAttributeDefinition'
          description: 'The custom attribute definition to create. Note the following:

            - With the exception of the `Selection` data type, the `schema` is specified as a simple URL to the JSON schema

            definition hosted on the Square CDN. For more information, including supported values and constraints, see

            [Supported data types](https://developer.squareup.com/docs/devtools/customattributes/overview#supported-data-types).

            - `name` is required unless `visibility` is set to `VISIBILITY_HIDDEN`.'
        idempotency_key:
          type: string
          description: 'A unique identifier for this request, used to ensure idempotency. For more information,

            see [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency).'
          maxLength: 45
      example:
        custom_attribute_definition:
          description: This is the other name this merchant goes by.
          key: alternative_seller_name
          name: Alternative Merchant Name
          schema:
            $ref: https://developer-production-s.squarecdn.com/schemas/v1/common.json#squareup.common.String
          visibility: VISIBILITY_READ_ONLY
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - INVALID_REQUEST_ERROR
      - RATE_LIMIT_ERROR
      - PAYMENT_METHOD_ERROR
      - REFUND_ERROR
      - MERCHANT_SUBSCRIPTION_ERROR
      - EXTERNAL_VENDOR_ERROR
      x-enum-elements:
      - name: API_ERROR
        description: An error occurred with the Connect API itself.
      - name: AUTHENTICATION_ERROR
        description: 'An authentication error occurred. Most commonly, the request had

          a missing, malformed, or otherwise invalid `Authorization` header.'
      - name: INVALID_REQUEST_ERROR
        description: 'The request was invalid. Most commonly, a required parameter was

          missing, or a provided parameter had an invalid value.'
      - name: RATE_LIMIT_ERROR
        description: 'Your application reached the Square API rate limit. You might receive this error if your application sends a high number of requests

          to Square APIs in a short period of time.


          Your application should monitor responses for `429 RATE_LIMITED` errors and use a retry mechanism with an [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)

          schedule to resend the requests at an increasingly slower rate. It is also a good practice to use a randomized delay (jitter) in your retry schedule.'
      - name: PAYMENT_METHOD_ERROR
        description: 'An error occurred while processing a payment method. Most commonly,

          the details of the payment method were invalid (such as a card''s CVV

          or expiration date).'
      - name: REFUND_ERROR
        description: An error occurred while attempting to process a refund.
      - name: MERCHANT_SUBSCRIPTION_ERROR
        description: An error occurred when checking a merchant subscription status
      - name: EXTERNAL_VENDOR_ERROR
        description: An error that is returned from an external vendor's API
      description: 'Indicates which high-level category of error has occurred during a

        request to the Connect API.'
      x-release-status: PUBLIC
    ErrorCode:
      type: string
      enum:
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED
      - ACCESS_TOKEN_EXPIRED
      - ACCESS_TOKEN_REVOKED
      - CLIENT_DISABLED
      - FORBIDDEN
      - INSUFFICIENT_SCOPES
      - APPLICATION_DISABLED
      - V1_APPLICATION
      - V1_ACCESS_TOKEN
      - CARD_PROCESSING_NOT_ENABLED
      - MERCHANT_SUBSCRIPTION_NOT_FOUND
      - BAD_REQUEST
      - MISSING_REQUIRED_PARAMETER
      - INCORRECT_TYPE
      - INVALID_TIME
      - INVALID_TIME_RANGE
      - INVALID_VALUE
      - INVALID_CURSOR
      - UNKNOWN_QUERY_PARAMETER
      - CONFLICTING_PARAMETERS
      - EXPECTED_JSON_BODY
      - INVALID_SORT_ORDER
      - VALUE_REGEX_MISMATCH
      - VALUE_TOO_SHORT
      - VALUE_TOO_LONG
      - VALUE_TOO_LOW
      - VALUE_TOO_HIGH
      - VALUE_EMPTY
      - ARRAY_LENGTH_TOO_LONG
      - ARRAY_LENGTH_TOO_SHORT
      - ARRAY_EMPTY
      - EXPECTED_BOOLEAN
      - EXPECTED_INTEGER
      - EXPECTED_FLOAT
      - EXPECTED_STRING
      - EXPECTED_OBJECT
      - EXPECTED_ARRAY
      - EXPECTED_MAP
      - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
      - INVALID_ARRAY_VALUE
      - INVALID_ENUM_VALUE
      - INVALID_CONTENT_TYPE
      - INVALID_FORM_VALUE
      - CUSTOMER_NOT_FOUND
      - ONE_INSTRUMENT_EXPECTED
      - NO_FIELDS_SET
      - TOO_MANY_MAP_ENTRIES
      - MAP_KEY_LENGTH_TOO_SHORT
      - MAP_KEY_LENGTH_TOO_LONG
      - CUSTOMER_MISSING_NAME
      - CUSTOMER_MISSING_EMAIL
      - INVALID_PAUSE_LENGTH
      - INVALID_DATE
      - UNSUPPORTED_COUNTRY
      - UNSUPPORTED_CURRENCY
      - APPLE_TTP_PIN_TOKEN
      - CARD_EXPIRED
      - INVALID_EXPIRATION
      - INVALID_EXPIRATION_YEAR
      - INVALID_EXPIRATION_DATE
      - UNSUPPORTED_CARD_BRAND
      - UNSUPPORTED_ENTRY_METHOD
      - INVALID_ENCRYPTED_CARD
      - INVALID_CARD
      - PAYMENT_AMOUNT_MISMATCH
      - GENERIC_DECLINE
      - CVV_FAILURE
      - ADDRESS_VERIFICATION_FAILURE
      - INVALID_ACCOUNT
      - CURRENCY_MISMATCH
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_PERMISSIONS
      - CARDHOLDER_INSUFFICIENT_PERMISSIONS
      - INVALID_LOCATION
      - TRANSACTION_LIMIT
      - VOICE_FAILURE
      - PAN_FAILURE
      - EXPIRATION_FAILURE
      - CARD_NOT_SUPPORTED
      - INVALID_PIN
      - MISSING_PIN
      - MISSING_ACCOUNT_TYPE
      - INVALID_POSTAL_CODE
      - INVALID_FEES
      - MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
      - PAYMENT_LIMIT_EXCEEDED
      - GIFT_CARD_AVAILABLE_AMOUNT
      - ACCOUNT_UNUSABLE
      - BUYER_REFUSED_PAYMENT
      - DELAYED_TRANSACTION_EXPIRED
      - DELAYED_TRANSACTION_CANCELED
      - DELAYED_TRANSACTION_CAPTURED
      - DELAYED_TRANSACTION_FAILED
      - CARD_TOKEN_EXPIRED
      - CARD_TOKEN_USED
      - AMOUNT_TOO_HIGH
      - UNSUPPORTED_INSTRUMENT_TYPE
      - REFUND_AMOUNT_INVALID
      - REFUND_ALREADY_PENDING
      - PAYMENT_NOT_REFUNDABLE
      - PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
      - REFUND_DECLINED
      - INSUFFICIENT_PERMISSIONS_FOR_REFUND
      - INVALID_CARD_DATA
      - SOURCE_USED
      - SOURCE_EXPIRED
      - UNSUPPORTED_LOYALTY_REWARD_TIER
      - LOCATION_MISMATCH
      - IDEMPOTENCY_KEY_REUSED
      - UNEXPECTED_VALUE
      - SANDBOX_NOT_SUPPORTED
      - INVALID_EMAIL_ADDRESS
      - INVALID_PHONE_NUMBER
      - CHECKOUT_EXPIRED
      - BAD_CERTIFICATE
      - INVALID_SQUARE_VERSION_FORMAT
      - API_VERSION_INCOMPATIBLE
      - CARD_PRESENCE_REQUIRED
      - UNSUPPORTED_SOURCE_TYPE
      - CARD_MISMATCH
      - PLAID_ERROR
      - PLAID_ERROR_ITEM_LOGIN_REQUIRED
      - PLAID_ERROR_RATE_LIMIT
      - CARD_DECLINED
      - VERIFY_CVV_FAILURE
      - VERIFY_AVS_FAILURE
      - CARD_DECLINED_CALL_ISSUER
      - CARD_DECLINED_VERIFICATION_REQUIRED
      - BAD_EXPIRATION
      - CHIP_INSERTION_REQUIRED
      - ALLOWABLE_PIN_TRIES_EXCEEDED
      - RESERVATION_DECLINED
      - UNKNOWN_BODY_PARAMETER
      - NOT_FOUND
      - APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
      - METHOD_NOT_ALLOWED
      - NOT_ACCEPTABLE
      - REQUEST_TIMEOUT
      - CONFLICT
      - GONE
      - REQUEST_ENTITY_TOO_LARGE
      - UNSUPPORTED_MEDIA_TYPE
      - UNPROCESSABLE_ENTITY
      - RATE_LIMITED
      - NOT_IMPLEMENTED
      - BAD_GATEWAY
      - SERVICE_UNAVAILABLE
      - TEMPORARY_ERROR
      - GATEWAY_TIMEOUT
      x-enum-elements:
      - name: INTERNAL_SERVER_ERROR
        description: A general server error occurred.
        error-category: API_ERROR
      - name: UNAUTHORIZED
        description: A general authorization error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_EXPIRED
        description: The provided access token has expired.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_REVOKED
        description: The provided access token has been revoked.
        error-category: AUTHENTICATION_ERROR
      - name: CLIENT_DISABLED
        description: The provided client has been disabled.
        error-category: AUTHENTICATION_ERROR
      - name: FORBIDDEN
        description: A general access error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: INSUFFICIENT_SCOPES
        description: 'The provided access token does not have permission

          to execute the requested action.'
        error-category: AUTHENTICATION_ERROR
      - name: APPLICATION_DISABLED
        description: The calling application was disabled.
        error-category: INVALID_REQUEST_ERROR
      - name: V1_APPLICATION
        description: 'The calling application was created prior to

          2016-03-30 and is not compatible with v2 Square API calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: V1_ACCESS_TOKEN
        description: 'The calling application is using an access token

          created prior to 2016-03-30 and is not compatible with v2 Square API

          calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PROCESSING_NOT_ENABLED
        description: 'The location provided in the API call is not

          enabled for credit card processing.'
        error-category: INVALID_REQUEST_ERROR
      - name: MERCHANT_SUBSCRIPTION_NOT_FOUND
        description: A required subscription was not found for the merchant
        error-category: MERCHANT_SUBSCRIPTION_ERROR
      - name: BAD_REQUEST
        description: A general error occurred with the request.
        error-category: INVALID_REQUEST_ERROR
      - name: MISSING_REQUIRED_PARAMETER
        description: 'The request is missing a required path, query, or

          body parameter.'
        error-category: INVALID_REQUEST_ERROR
      - name: INCORRECT_TYPE
        description: 'The value provided in the request is the wrong

          type. For example, a string instead of an integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME
        description: 'Formatting for the provided time value is

          incorrect.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME_RANGE
        description: 'The time range provided in the request is invalid.

          For example, the end time is before the start time.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_VALUE
        description: 'The provided value is invalid. For example,

          including `%` in a phone number.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CURSOR
        description: 'The pagination cursor included in the request is

          invalid.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNKNOWN_QUERY_PARAMETER
        description: 'The query parameters provided is invalid for the

          requested endpoint.'
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICTING_PARAMETERS
        description: 'One or more of the request parameters conflict with

          each other.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_JSON_BODY
        description: The request body is not a JSON object.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SORT_ORDER
        description: 'The provided sort order is not a valid key.

          Currently, sort order must be `ASC` or `DESC`.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_REGEX_MISMATCH
        description: 'The provided value does not match an expected

          regular expression.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_SHORT
        description: 'The provided string value is shorter than the

          minimum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LONG
        description: 'The provided string value is longer than the

          maximum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LOW
        description: 'The provided value is less than the supported

          minimum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_HIGH
        description: 'The provided value is greater than the supported

          maximum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_EMPTY
        description: 'The provided value has a default (empty) value

          such as a blank string.'
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_LONG
        description: The provided array has too many elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_SHORT
        description: The provided array has too few elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_EMPTY
        description: The provided array is empty.
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BOOLEAN
        description: 'The endpoint expected the provided value to be a

          boolean.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_INTEGER
        description: 'The endpoint expected the provided value to be an

          integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_FLOAT
        description: 'The endpoint expected the provided value to be a

          float.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_STRING
        description: 'The endpoint expected the provided value to be a

          string.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_OBJECT
        description: 'The endpoint expected the provided value to be a

          JSON object.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_ARRAY
        description: 'The endpoint expected the provided value to be an

          array or list.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_MAP
        description: 'The endpoint expected the provided value to be a

          map or associative array.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BASE64_ENCODED_BYTE_ARRAY
        description: 'The endpoint expected the provided value to be an

          array encoded in base64.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ARRAY_VALUE
        description: 'One or more objects in the array does not match the

          array type.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ENUM_VALUE
        description: 'The provided static string is not valid for the

          field.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CONTENT_TYPE
        description: Invalid content type header.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_FORM_VALUE
        description: 'Only relevant for applications created prior to

          2016-03-30. Indicates there was an error while parsing form values.'
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_NOT_FOUND
        description: The provided customer id can't be found in the merchant's customers list.
        error-category: INVALID_REQUEST_ERROR
      - name: ONE_INSTRUMENT_EXPECTED
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NO_FIELDS_SET
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: TOO_MANY_MAP_ENTRIES
        description: Too many entries in the map field.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_SHORT
        description: The length of one of the provided keys in the map is too short.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_LONG
        description: The length of one of the provided keys in the map is too long.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_NAME
        description: The provided customer does not have a recorded name.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_EMAIL
        description: The provided customer does not have a recorded email.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PAUSE_LENGTH
        description: The subscription cannot be paused longer than the duration of the current phase.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_DATE
        description: The subscription cannot be paused/resumed on the given date.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_COUNTRY
        description: The API request references an unsupported country.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CURRENCY
        description: The API request references an unsupported currency.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_TTP_PIN_TOKEN
        description: 'The payment was declined by the card issuer during an Apple Tap to Pay (TTP)

          transaction with a request for the card''s PIN. This code will be returned alongside

          `CARD_DECLINED_VERIFICATION_REQUIRED` as a supplemental error, and will include an

          issuer-provided token in the `details` field that is needed to initiate the PIN

          collection flow on the iOS device.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_EXPIRED
        description: The card issuer declined the request because the card is expired.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION
        description: 'The expiration date for the payment card is invalid. For example,

          it indicates a date in the past.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION_YEAR
        description: 'The expiration year for the payment card is invalid. For example,

          it indicates a year in the past or contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EXPIRATION_DATE
        description: 'The expiration date for the payment card is invalid. For example,

          it contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CARD_BRAND
        description: The credit card provided is not from a supported issuer.
        error-category: PAYMENT_METHOD_ERROR
      - name: UNSUPPORTED_ENTRY_METHOD
        description: The entry method for the credit card (swipe, dip, tap) is not supported.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ENCRYPTED_CARD
        description: The encrypted card information is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_CARD
        description: The credit card cannot be validated based on the provided details.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_AMOUNT_MISMATCH
        description: 'The payment was declined because there was a payment amount mismatch.

          The money amount Square was expecting does not match the amount provided.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GENERIC_DECLINE
        description: 'Square received a decline without any additional information.

          If the payment information seems correct, the buyer can contact their

          issuer to ask for more information.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CVV_FAILURE
        description: The card issuer declined the request because the CVV value is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: ADDRESS_VERIFICATION_FAILURE
        description: The card issuer declined the request because the postal code is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ACCOUNT
        description: The issuer was not able to locate the account on record.
        error-category: PAYMENT_METHOD_ERROR
      - name: CURRENCY_MISMATCH
        description: 'The currency associated with the payment is not valid for the provided

          funding source. For example, a gift card funded in USD cannot be used to process

          payments in GBP.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_FUNDS
        description: The funding source has insufficient funds to cover the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_PERMISSIONS
        description: 'The Square account does not have the permissions to accept

          this payment. For example, Square may limit which merchants are

          allowed to receive gift card payments.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARDHOLDER_INSUFFICIENT_PERMISSIONS
        description: 'The card issuer has declined the transaction due to restrictions on where the card can be used.

          For example, a gift card is limited to a single merchant.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_LOCATION
        description: 'The Square account cannot take payments in the specified region.

          A Square account can take payments only from the region where the account was created.'
        error-category: PAYMENT_METHOD_ERROR
      - name: TRANSACTION_LIMIT
        description: 'The card issuer has determined the payment amount is either too high or too low.

          The API returns the error code mostly for credit cards (for example, the card reached

          the credit limit). However, sometimes the issuer bank can indicate the error for debit

          or prepaid cards (for example, card has insufficient funds).'
        error-category: PAYMENT_METHOD_ERROR
      - name: VOICE_FAILURE
        description: The card issuer declined the request because the issuer requires voice authorization from the cardholder. The seller should ask the customer to contact the card issuing bank to authorize the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAN_FAILURE
        description: 'The specified card number is invalid. For example, it is of

          incorrect length or is incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: EXPIRATION_FAILURE
        description: 'The card expiration date is either invalid or indicates that the

          card is expired.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_NOT_SUPPORTED
        description: 'The card is not supported either in the geographic region or by

          the [merchant category code](https://developer.squareup.com/docs/locations-api#initialize-a-merchant-category-code) (MCC).'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_PIN
        description: The card issuer declined the request because the PIN is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_PIN
        description: The payment is missing a required PIN.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_ACCOUNT_TYPE
        description: The payment is missing a required ACCOUNT_TYPE parameter.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_POSTAL_CODE
        description: The postal code is incorrectly formatted.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_FEES
        description: The app_fee_money on a payment is too high.
        error-category: PAYMENT_METHOD_ERROR
      - name: MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
        description: The card must be swiped, tapped, or dipped. Payments attempted by manually entering the card number are declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_LIMIT_EXCEEDED
        description: Square declined the request because the payment amount exceeded the processing limit for this merchant.
        error-category: PAYMENT_METHOD_ERROR
      - name: GIFT_CARD_AVAILABLE_AMOUNT
        description: 'When a Gift Card is a payment source, you can allow taking a partial payment

          by adding the `accept_partial_authorization` parameter in the request.

          However, taking such a partial payment does not work if your request also includes

          `tip_money`, `app_fee_money`, or both. Square declines such payments and returns

          the `GIFT_CARD_AVAILABLE_AMOUNT` error.

          For more information, see

          [CreatePayment errors (additional information)](https://developer.squareup.com/docs/payments-api/error-codes#createpayment-errors-additional-information).'
        error-category: PAYMENT_METHOD_ERROR
      - name: ACCOUNT_UNUSABLE
        description: The account provided cannot carry out transactions.
        error-category: PAYMENT_METHOD_ERROR
      - name: BUYER_REFUSED_PAYMENT
        description: Bank account rejected or was not authorized for the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: DELAYED_TRANSACTION_EXPIRED
        description: The application tried to update a delayed-capture payment that has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CANCELED
        description: The application tried to cancel a delayed-capture payment that was already cancelled.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CAPTURED
        description: The application tried to capture a delayed-capture payment that was already captured.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_FAILED
        description: The application tried to update a delayed-capture payment that failed.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_EXPIRED
        description: The provided card token (nonce) has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_USED
        description: The provided card token (nonce) was already used to process the payment or refund.
        error-category: INVALID_REQUEST_ERROR
      - name: AMOUNT_TOO_HIGH
        description: The requested payment amount is too high for the provided payment source.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_INSTRUMENT_TYPE
        description: The API request references an unsupported instrument type.
        error-category: INVALID_REQUEST_ERROR
      - name: REFUND_AMOUNT_INVALID
        description: The requested refund amount exceeds the amount available to refund.
        error-category: REFUND_ERROR
      - name: REFUND_ALREADY_PENDING
        description: The payment already has a pending refund.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE
        description: The payment is not refundable. For example, the payment is too old to be refunded.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
        description: The payment is not refundable because it has been disputed.
        error-category: REFUND_ERROR
      - name: REFUND_DECLINED
        description: Request failed - The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: INSUFFICIENT_PERMISSIONS_FOR_REFUND
        description: The Square account does not have the permissions to process this refund.
        error-category: REFUND_ERROR
      - name: INVALID_CARD_DATA
        description: Generic error - the provided card data is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_USED
        description: The provided source id was already used to create a card.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_EXPIRED
        description: The provided source id has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_LOYALTY_REWARD_TIER
        description: 'The referenced loyalty program reward tier is not supported.

          This could happen if the reward tier created in a first party

          application is incompatible with the Loyalty API.'
        error-category: INVALID_REQUEST_ERROR
      - name: LOCATION_MISMATCH
        description: Generic error - the given location does not matching what is expected.
        error-category: INVALID_REQUEST_ERROR
      - name: IDEMPOTENCY_KEY_REUSED
        description: The provided idempotency key has already been used.
        error-category: INVALID_REQUEST_ERROR
      - name: UNEXPECTED_VALUE
        description: General error - the value provided was unexpected.
        error-category: INVALID_REQUEST_ERROR
      - name: SANDBOX_NOT_SUPPORTED
        description: The API request is not supported in sandbox.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EMAIL_ADDRESS
        description: The provided email address is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PHONE_NUMBER
        description: The provided phone number is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: CHECKOUT_EXPIRED
        description: The provided checkout URL has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: BAD_CERTIFICATE
        description: Bad certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SQUARE_VERSION_FORMAT
        description: The provided Square-Version is incorrectly formatted.
        error-category: INVALID_REQUEST_ERROR
      - name: API_VERSION_INCOMPATIBLE
        description: The provided Square-Version is incompatible with the requested action.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PRESENCE_REQUIRED
        description: The transaction requires that a card be present.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_SOURCE_TYPE
        description: The API request references an unsupported source type.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_MISMATCH
        description: The provided card does not match what is expected.
        error-category: REFUND_ERROR
      - name: PLAID_ERROR
        description: Generic plaid error
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_ITEM_LOGIN_REQUIRED
        description: Plaid error - ITEM_LOGIN_REQUIRED
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_RATE_LIMIT
        description: Plaid error - RATE_LIMIT
        error-category: EXTERNAL_VENDOR_ERROR
      - name: CARD_DECLINED
        description: The card was declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_CVV_FAILURE
        description: The CVV could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_AVS_FAILURE
        description: The AVS could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_CALL_ISSUER
        description: 'The payment card was declined with a request

          for the card holder to call the issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_VERIFICATION_REQUIRED
        description: 'The payment card was declined with a request

          for additional verification.'
        error-category: PAYMENT_METHOD_ERROR
      - name: BAD_EXPIRATION
        description: 'The card expiration date is either missing or

          incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CHIP_INSERTION_REQUIRED
        description: 'The card issuer requires that the card be read

          using a chip reader.'
        error-category: PAYMENT_METHOD_ERROR
      - name: ALLOWABLE_PIN_TRIES_EXCEEDED
        description: 'The card has exhausted its available pin entry

          retries set by the card issuer. Resolving the error typically requires the

          card holder to contact the card issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: RESERVATION_DECLINED
        description: The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: UNKNOWN_BODY_PARAMETER
        description: The body parameter is not recognized by the requested endpoint.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_FOUND
        description: Not Found - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
        description: Square could not find the associated Apple Pay certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: METHOD_NOT_ALLOWED
        description: Method Not Allowed - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_ACCEPTABLE
        description: Not Acceptable - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_TIMEOUT
        description: Request Timeout - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICT
        description: Conflict - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: GONE
        description: 'The target resource is no longer available and this

          condition is likely to be permanent.'
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_ENTITY_TOO_LARGE
        description: Request Entity Too Large - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_MEDIA_TYPE
        description: Unsupported Media Type - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNPROCESSABLE_ENTITY
        description: Unprocessable Entity - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: RATE_LIMITED
        description: Rate Limited - a general error occurred.
        error-category: RATE_LIMIT_ERROR
      - name: NOT_IMPLEMENTED
        description: Not Implemented - a general error occurred.
        error-category: API_ERROR
      - name: BAD_GATEWAY
        description: Bad Gateway - a general error occurred.
        error-category: API_ERROR
      - name: SERVICE_UNAVAILABLE
        description: Service Unavailable - a general error occurred.
        error-category: API_ERROR
      - name: TEMPORARY_ERROR
        description: 'A temporary internal error occurred. You can safely retry your call

          using the same idempotency key.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GATEWAY_TIMEOUT
        description: Gateway Timeout - a general error occurred.
        error-category: API_ERROR
      description: 'Indicates the specific error that occurred during a request to a

        Square API.'
      x-release-status: PUBLIC
    BulkDeleteMerchantCustomAttributesRequest:
      type: object
      description: Represents a [BulkDeleteMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkDeleteMerchantCustomAttributes) request.
      x-release-status: BETA
      required:
      - values
      properties:
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BulkDeleteMerchantCustomAttributesRequestMerchantCustomAttributeDeleteRequest'
          description: 'The data used to update the `CustomAttribute` objects.

            The keys must be unique and are used to map to the corresponding response.'
      example:
        values:
          id1:
            key: alternative_seller_name
            merchant_id: DM7VKY8Q63GNP
          id2:
            key: has_seen_tutorial
            merchant_id: DM7VKY8Q63GNP
    CustomAttribute:
      type: object
      description: 'A custom attribute value. Each custom attribute value has a corresponding

        `CustomAttributeDefinition` object.'
      x-release-status: PUBLIC
      properties:
        key:
          type: string
          description: 'The identifier

            of the custom attribute definition and its corresponding custom attributes. This value

            can be a simple key, which is the key that is provided when the custom attribute definition

            is created, or a qualified key, if the requesting

            application is not the definition owner. The qualified key consists of the application ID

            of the custom attribute definition owner

            followed by the simple key that was provided when the definition was created. It has the

            format application_id:simple key.


            The value for a simple key can contain up to 60 alphanumeric characters, periods (.),

            underscores (_), and hyphens (-).'
          minLength: 1
          pattern: ^([a-zA-Z0-9\._-]+:)?[a-zA-Z0-9\._-]{1,60}$
          nullable: true
        value:
          description: 'The value assigned to the custom attribute. It is validated against the custom

            attribute definition''s schema on write operations. For more information about custom

            attribute values,

            see [Custom Attributes Overview](https://developer.squareup.com/docs/devtools/customattributes/overview).'
          nullable: true
        version:
          type: integer
          description: 'Read only. The current version of the custom attribute. This field is incremented when the custom attribute is changed.

            When updating an existing custom attribute value, you can provide this field

            and specify the current version of the custom attribute to enable

            [optimistic concurrency](https://developer.squareup.com/docs/build-basics/common-api-patterns/optimistic-concurrency).

            This field can also be used to enforce strong consistency for reads. For more information about strong consistency for reads,

            see [Custom Attributes Overview](https://developer.squareup.com/docs/devtools/customattributes/overview).'
        visibility:
          $ref: '#/components/schemas/CustomAttributeDefinitionVisibility'
          description: 'A copy of the `visibility` field value for the associated custom attribute definition.

            See [CustomAttributeDefinitionVisibility](#type-customattributedefinitionvisibility) for possible values'
          readOnly: true
        definition:
          $ref: '#/components/schemas/CustomAttributeDefinition'
          description: 'A copy of the associated custom attribute definition object. This field is only set when

            the optional field is specified on the request.'
          readOnly: true
        updated_at:
          type: string
          description: 'The timestamp that indicates when the custom attribute was created or was most recently

            updated, in RFC 3339 format.'
          readOnly: true
        created_at:
          type: string
          description: The timestamp that indicates when the custom attribute was created, in RFC 3339 format.
          readOnly: true
    BulkDeleteMerchantCustomAttributesResponseMerchantCustomAttributeDeleteResponse:
      type: object
      description: 'Represents an individual delete response in a [BulkDeleteMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkDeleteMerchantCustomAttributes)

        request.'
      x-release-status: BETA
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Errors that occurred while processing the individual MerchantCustomAttributeDeleteRequest request
      example:
        errors: []
        merchant_id: DM7VKY8Q63GNP
    CustomAttributeDefinition:
      type: object
      description: 'Represents a definition for custom attribute values. A custom attribute definition

        specifies the key, visibility, schema, and other properties for a custom attribute.'
      x-release-status: PUBLIC
      properties:
        key:
          type: string
          description: 'The identifier

            of the custom attribute definition and its corresponding custom attributes. This value

            can be a simple key, which is the key that is provided when the custom attribute definition

            is created, or a qualified key, if the requesting

            application is not the definition owner. The qualified key consists of the application ID

            of the custom attribute definition owner

            followed by the simple key that was provided when the definition was created. It has the

            format application_id:simple key.


            The value for a simple key can contain up to 60 alphanumeric characters, periods (.),

            underscores (_), and hyphens (-).


            This field can not be changed

            after the custom attribute definition is created. This field is required when creating

            a definition and must be unique per application, seller, and resource type.'
          minLength: 1
          pattern: ^([a-zA-Z0-9\._-]+:)?[a-zA-Z0-9\._-]{1,60}$
          nullable: true
        schema:
          type: object
          description: 'The JSON schema for the custom attribute definition, which determines the data type of the corresponding custom attributes. For more information,

            see [Custom Attributes Overview](https://developer.squareup.com/docs/devtools/customattributes/overview). This field is required when creating a definition.'
          nullable: true
        name:
          type: string
          description: 'The name of the custom attribute definition for API and seller-facing UI purposes. The name must

            be unique within the seller and application pair. This field is required if the

            `visibility` field is `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.'
          maxLength: 255
          nullable: true
        description:
          type: string
          description: 'Seller-oriented description of the custom attribute definition, including any constraints

            that the seller should observe. May be displayed as a tooltip in Square UIs. This field is

            required if the `visibility` field is `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.'
          maxLength: 255
          nullable: true
        visibility:
          $ref: '#/components/schemas/CustomAttributeDefinitionVisibility'
          description: 'Specifies how the custom attribute definition and its values should be shared with

            the seller and other applications. If no value is specified, the value defaults to `VISIBILITY_HIDDEN`.

            See [Visibility](#type-visibility) for possible values'
          nullable: true
        version:
          type: integer
          description: 'Read only. The current version of the custom attribute definition.

            The value is incremented each time the custom attribute definition is updated.

            When updating a custom attribute definition, you can provide this field

            and specify the current version of the custom attribute definition to enable

            [optimistic concurrency](https://developer.squareup.com/docs/build-basics/common-api-patterns/optimistic-concurrency).


            On writes, this field must be set to the latest version. Stale writes are rejected.


            This field can also be used to enforce strong consistency for reads. For more information about strong consistency for reads,

            see [Custom Attributes Overview](https://developer.squareup.com/docs/devtools/customattributes/overview).'
        updated_at:
          type: string
          description: 'The timestamp that indicates when the custom attribute definition was created or most recently updated,

            in RFC 3339 format.'
          readOnly: true
        created_at:
          type: string
          description: The timestamp that indicates when the custom attribute definition was created, in RFC 3339 format.
          readOnly: true
    BulkUpsertMerchantCustomAttributesResponseMerchantCustomAttributeUpsertResponse:
      type: object
      description: Represents a response for an individual upsert request in a [BulkUpsertMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkUpsertMerchantCustomAttributes) operation.
      x-release-status: BETA
      properties:
        merchant_id:
          type: string
          description: The ID of the merchant associated with the custom attribute.
        custom_attribute:
          $ref: '#/components/schemas/CustomAttribute'
          description: The new or updated custom attribute.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred while processing the individual request.
      example:
        custom_attribute:
          created_at: '2023-05-06T19:02:58.647Z'
          key: alternative_seller_name
          updated_at: '2023-05-06T19:21:04.551Z'
          value: Ultimate Sneaker Store
          version: 2
          visibility: VISIBILITY_READ_ONLY
        merchant_id: DM7VKY8Q63GNP
    UpdateMerchantCustomAttributeDefinitionResponse:
      type: object
      description: 'Represents an [UpdateMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-UpdateMerchantCustomAttributeDefinition) response.

        Either `custom_attribute_definition` or `errors` is present in the response.'
      x-release-status: BETA
      properties:
        custom_attribute_definition:
          $ref: '#/components/schemas/CustomAttributeDefinition'
          description: The updated custom attribute definition.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        custom_attribute_definition:
          created_at: '2023-05-05T19:06:36.559Z'
          description: Update the description as desired.
          key: alternative_seller_name
          name: Alternative Merchant Name
          schema:
            $ref: https://developer-production-s.squarecdn.com/schemas/v1/common.json#squareup.common.String
          updated_at: '2023-05-05T19:34:10.181Z'
          version: 2
          visibility: VISIBILITY_READ_ONLY
    DeleteMerchantCustomAttributeResponse:
      type: object
      description: 'Represents a [DeleteMerchantCustomAttribute](api-endpoint:MerchantCustomAttributes-DeleteMerchantCustomAttribute) response.

        Either an empty object `{}` (for a successful deletion) or `errors` is present in the response.'
      x-release-status: BETA
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example: {}
    Error:
      type: object
      description: 'Represents an error encountered during a request to the Connect API.


        See [Handling errors](https://developer.squareup.com/docs/build-basics/handling-errors) for more information.'
      x-release-status: PUBLIC
      required:
      - category
      - code
      properties:
        category:
          $ref: '#/components/schemas/ErrorCategory'
          description: 'The high-level category for the error.

            See [ErrorCategory](#type-errorcategory) for possible values'
        code:
          $ref: '#/components/schemas/ErrorCode'
          description: 'The specific code of the error.

            See [ErrorCode](#type-errorcode) for possible values'
        detail:
          type: string
          description: A human-readable description of the error for debugging purposes.
        field:
          type: string
          description: 'The name of the field provided in the original request (if any) that

            the error pertains to.'
    DeleteMerchantCustomAttributeDefinitionResponse:
      type: object
      description: Represents a response from a delete request containing error messages if there are any.
      x-release-status: BETA
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example: {}
    CustomAttributeDefinitionVisibility:
      type: string
      enum:
      - VISIBILITY_HIDDEN
      - VISIBILITY_READ_ONLY
      - VISIBILITY_READ_WRITE_VALUES
      x-enum-elements:
      - name: VISIBILITY_HIDDEN
        description: 'The custom attribute definition and values are hidden from the seller (except on export

          of all seller data) and other developers.'
      - name: VISIBILITY_READ_ONLY
        description: 'The seller and other developers can read the custom attribute definition and values

          on resources.'
      - name: VISIBILITY_READ_WRITE_VALUES
        description: 'The seller and other developers can read the custom attribute definition,

          and can read and write values on resources. A custom attribute definition

          can only be edited or deleted by the application that created it.'
      description: 'The level of permission that a seller or other applications requires to

        view this custom attribute definition.

        The `Visibility` field controls who can read and write the custom attribute values

        and custom attribute definition.'
      x-release-status: PUBLIC
    RetrieveMerchantCustomAttributeDefinitionResponse:
      type: object
      description: 'Represents a [RetrieveMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-RetrieveMerchantCustomAttributeDefinition) response.

        Either `custom_attribute_definition` or `errors` is present in the response.'
      x-release-status: BETA
      properties:
        custom_attribute_definition:
          $ref: '#/components/schemas/CustomAttributeDefinition'
          description: The retrieved custom attribute definition.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        custom_attribute_definition:
          created_at: '2023-05-05T19:06:36.559Z'
          description: This is the other name this merchant goes by.
          key: alternative_seller_name
          name: Alternative Merchant Name
          schema:
            $ref: https://developer-production-s.squarecdn.com/schemas/v1/common.json#squareup.common.String
          updated_at: '2023-05-05T19:06:36.559Z'
          version: 1
          visibility: VISIBILITY_READ_ONLY
    BulkUpsertMerchantCustomAttributesRequestMerchantCustomAttributeUpsertRequest:
      type: object
      description: 'Represents an individual upsert request in a [BulkUpsertMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkUpsertMerchantCustomAttributes)

        request. An individual request contains a merchant ID, the custom attribute to create or update,

        and an optional idempotency key.'
      x-release-status: BETA
      required:
      - merchant_id
      - custom_attribute
      properties:
        merchant_id:
          type: string
          description: The ID of the target [merchant](entity:Merchant).
          minLength: 1
        custom_attribute:
          $ref: '#/components/schemas/CustomAttribute'
          description: 'The custom attribute to create or update, with following fields:

            - `key`. This key must match the `key` of a custom attribute definition in the Square seller

            account. If the requesting application is not the definition owner, you must provide the qualified key.

            - `value`. This value must conform to the `schema` specified by the definition.

            For more information, see [Supported data types](https://developer.squareup.com/docs/devtools/customattributes/overview#supported-data-types).

            - The version field must match the current version of the custom attribute definition to enable

            [optimistic concurrency](https://developer.squareup.com/docs/build-basics/common-api-patterns/optimistic-concurrency)

            If this is not important for your application, version can be set to -1. For any other values, the request fails with a BAD_REQUEST error.'
        idempotency_key:
          type: string
          description: 'A unique identifier for this individual upsert request, used to ensure idempotency.

            For more information, see [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency).'
          maxLength: 45
          nullable: true
    UpsertMerchantCustomAttributeRequest:
      type: object
      description: Represents an [UpsertMerchantCustomAttribute](api-endpoint:MerchantCustomAttributes-UpsertMerchantCustomAttribute) request.
      x-release-status: BETA
      x-params-example: ?merchant_id=DM7VKY8Q63GNP&key=alternative_seller_name
      required:
      - custom_attribute
      properties:
        custom_attribute:
          $ref: '#/components/schemas/CustomAttribute'
          description: 'The custom attribute to create or update, with the following fields:

            - `value`. This value must conform to the `schema` specified by the definition.

            For more information, see [Supported data types](https://developer.squareup.com/docs/devtools/customattributes/overview#supported-data-types).

            - The version field must match the current version of the custom attribute definition to enable

            [optimistic concurrency](https://developer.squareup.com/docs/build-basics/common-api-patterns/optimistic-concurrency)

            If this is not important for your application, version can be set to -1. For any other values, the request fails with a BAD_REQUEST error.'
        idempotency_key:
          type: string
          description: 'A unique identifier for this request, used to ensure idempotency. For more information,

            see [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency).'
          maxLength: 45
          nullable: true
      example:
        custom_attribute:
          value: Ultimate Sneaker Store
    ListMerchantCustomAttributeDefinitionsResponse:
      type: object
      description: 'Represents a [ListMerchantCustomAttributeDefinitions](api-endpoint:MerchantCustomAttributes-ListMerchantCustomAttributeDefinitions) response.

        Either `custom_attribute_definitions`, an empty object, or `errors` is present in the response.

        If additional results are available, the `cursor` field is also present along with `custom_attribute_definitions`.'
      x-release-status: BETA
      properties:
        custom_attribute_definitions:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeDefinition'
          description: 'The retrieved custom attribute definitions. If no custom attribute definitions are found,

            Square returns an empty object (`{}`).'
        cursor:
          type: string
          description: 'The cursor to provide in your next call to this endpoint to retrieve the next page of

            results for your original request. This field is present only if the request succeeded and

            additional results are available. For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        cursor: ImfNzWVSiAYyiAR4gEcxDJ75KZAOSjX8H2BVHUTR0ofCtp4SdYvrUKbwYY2aCH2WqZ2FsfAuylEVUlTfaINg3ecIlFpP9Y5Ie66w9NSg9nqdI5fCJ6qdH2s0za5m2plFonsjIuFaoN89j78ROUwuSOzD6mFZPcJHhJ0CxEKc0SBH
        custom_attribute_definitions:
        - created_at: '2023-05-05T16:50:21.832Z'
          description: Whether the merchant has seen the tutorial screen for using the app.
          key: has_seen_tutorial
          name: NAME
          schema:
            $ref: https://developer-production-s.squarecdn.com/schemas/v1/common.json#squareup.common.Boolean
          updated_at: '2023-05-05T16:50:21.832Z'
          version: 1
          visibility: VISIBILITY_READ_WRITE_VALUES
        - created_at: '2023-05-05T19:06:36.559Z'
          description: This is the other name this merchant goes by.
          key: alternative_seller_name
          name: Alternative Merchant Name
          schema:
            $ref: https://developer-production-s.squarecdn.com/schemas/v1/common.json#squareup.common.String
          updated_at: '2023-05-05T10:17:52.341Z'
          version: 4
          visibility: VISIBILITY_READ_ONLY
    VisibilityFilter:
      type: string
      enum:
      - ALL
      - READ
      - READ_WRITE
      x-enum-elements:
      - name: ALL
        description: All custom attributes or custom attribute definitions.
      - name: READ
        description: All custom attributes or custom attribute definitions with the `visibility` field set to `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.
      - name: READ_WRITE
        description: All custom attributes or custom attribute definitions with the `visibility` field set to `VISIBILITY_READ_WRITE_VALUES`.
      description: Enumeration of visibility-filter values used to set the ability to view custom attributes or custom attribute definitions.
      x-release-status: PUBLIC
    BulkDeleteMerchantCustomAttributesRequestMerchantCustomAttributeDeleteRequest:
      type: object
      description: 'Represents an individual delete request in a [BulkDeleteMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkDeleteMerchantCustomAttributes)

        request. An individual request contains an optional ID of the associated custom attribute definition

        and optional key of the associated custom attribute definition.'
      x-release-status: BETA
      properties:
        key:
          type: string
          description: 'The key of the associated custom attribute definition.

            Represented as a qualified key if the requesting app is not the definition owner.'
          pattern: ^([a-zA-Z0-9_-]+:)?[a-zA-Z0-9_-]{1,60}$
          readOnly: true
    BulkUpsertMerchantCustomAttributesRequest:
      type: object
      description: Represents a [BulkUpsertMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkUpsertMerchantCustomAttributes) request.
      x-release-status: BETA
      required:
      - values
      properties:
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BulkUpsertMerchantCustomAttributesRequestMerchantCustomAttributeUpsertRequest'
          description: 'A map containing 1 to 25 individual upsert requests. For each request, provide an

            arbitrary ID that is unique for this `BulkUpsertMerchantCustomAttributes` request and the

            information needed to create or update a custom attribute.'
      example:
        values:
          id1:
            custom_attribute:
              key: alternative_seller_name
              value: Ultimate Sneaker Store
            merchant_id: DM7VKY8Q63GNP
          id2:
            custom_attribute:
              key: has_seen_tutorial
              value: true
            merchant_id: DM7VKY8Q63GNP
    RetrieveMerchantCustomAttributeResponse:
      type: object
      description: 'Represents a [RetrieveMerchantCustomAttribute](api-endpoint:MerchantCustomAttributes-RetrieveMerchantCustomAttribute) response.

        Either `custom_attribute_definition` or `errors` is present in the response.'
      x-release-status: BETA
      properties:
        custom_attribute:
          $ref: '#/components/schemas/CustomAttribute'
          description: 'The retrieved custom attribute. If `with_definition` was set to `true` in the request,

            the custom attribute definition is returned in the `definition` field.'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        custom_attribute:
          created_at: '2023-05-06T19:02:58.647Z'
          key: alternative_seller_name
          updated_at: '2023-05-06T19:21:04.551Z'
          value: Ultimate Sneaker Store
          version: 2
          visibility: VISIBILITY_READ_ONLY
    UpdateMerchantCustomAttributeDefinitionRequest:
      type: object
      description: Represents an [UpdateMerchantCustomAttributeDefinition](api-endpoint:MerchantCustomAttributes-UpdateMerchantCustomAttributeDefinition) request.
      x-release-status: BETA
      x-params-example: ?key=alternative_seller_name
      required:
      - custom_attribute_definition
      properties:
        custom_attribute_definition:
          $ref: '#/components/schemas/CustomAttributeDefinition'
          description: 'The custom attribute definition that contains the fields to update. This endpoint

            supports sparse updates, so only new or changed fields need to be included in the request.

            Only the following fields can be updated:

            - `name`

            - `description`

            - `visibility`

            - `schema` for a `Selection` data type. Only changes to the named options or the maximum number of allowed

            selections are supported.

            For more information, see

            [Update a merchant custom attribute definition](https://developer.squareup.com/docs/merchant-custom-attributes-api/custom-attribute-definitions#update-custom-attribute-definition).

            The version field must match the current version of the custom attribute definition to enable

            [optimistic concurrency](https://developer.squareup.com/docs/build-basics/common-api-patterns/optimistic-concurrency)

            If this is not important for your application, version can be set to -1. For any other values, the request fails with a BAD_REQUEST error.'
        idempotency_key:
          type: string
          description: 'A unique identifier for this request, used to ensure idempotency. For more information,

            see [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency).'
          maxLength: 45
          nullable: true
      example:
        custom_attribute_definition:
          description: Update the description as desired.
          visibility: VISIBILITY_READ_ONLY
    BulkDeleteMerchantCustomAttributesResponse:
      type: object
      description: 'Represents a [BulkDeleteMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkDeleteMerchantCustomAttributes) response,

        which contains a map of responses that each corresponds to an individual delete request.'
      x-release-status: BETA
      required:
      - values
      properties:
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BulkDeleteMerchantCustomAttributesResponseMerchantCustomAttributeDeleteResponse'
          description: 'A map of responses that correspond to individual delete requests. Each response has the

            same key as the corresponding request.'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        values:
          id1:
            errors: []
            merchant_id: DM7VKY8Q63GNP
          id2:
            errors: []
            merchant_id: DM7VKY8Q63GNP
    UpsertMerchantCustomAttributeResponse:
      type: object
      description: 'Represents an [UpsertMerchantCustomAttribute](api-endpoint:MerchantCustomAttributes-UpsertMerchantCustomAttribute) response.

        Either `custom_attribute_definition` or `errors` is present in the response.'
      x-release-status: BETA
      properties:
        custom_attribute:
          $ref: '#/components/schemas/CustomAttribute'
          description: The new or updated custom attribute.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        custom_attribute:
          created_at: '2023-05-06T19:02:58.647Z'
          key: alternative_seller_name
          updated_at: '2023-05-06T19:21:04.551Z'
          value: Ultimate Sneaker Store
          version: 2
          visibility: VISIBILITY_READ_ONLY
    ListMerchantCustomAttributesResponse:
      type: object
      description: 'Represents a [ListMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-ListMerchantCustomAttributes) response.

        Either `custom_attributes`, an empty object, or `errors` is present in the response. If additional

        results are available, the `cursor` field is also present along with `custom_attributes`.'
      x-release-status: BETA
      properties:
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: 'The retrieved custom attributes. If `with_definitions` was set to `true` in the request,

            the custom attribute definition is returned in the `definition` field of each custom attribute.

            If no custom attributes are found, Square returns an empty object (`{}`).'
        cursor:
          type: string
          description: 'The cursor to use in your next call to this endpoint to retrieve the next page of results

            for your original request. This field is present only if the request succeeded and additional

            results are available. For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        custom_attributes:
        - created_at: '2023-05-05T18:13:03.745Z'
          key: has_seen_tutorial
          updated_at: '2023-05-05T18:13:03.745Z'
          value: true
          version: 1
          visibility: VISIBILITY_READ_WRITE_VALUES
        - created_at: '2023-05-05T19:27:57.975Z'
          key: alternative_seller_name
          updated_at: '2023-05-05T19:27:57.975Z'
          value: Ultimate Sneaker Store
          version: 1
          visibility: VISIBILITY_READ_ONLY
    BulkUpsertMerchantCustomAttributesResponse:
      type: object
      description: 'Represents a [BulkUpsertMerchantCustomAttributes](api-endpoint:MerchantCustomAttributes-BulkUpsertMerchantCustomAttributes) response,

        which contains a map of responses that each corresponds to an individual upsert request.'
      x-release-status: BETA
      properties:
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BulkUpsertMerchantCustomAttributesResponseMerchantCustomAttributeUpsertResponse'
          description: 'A map of responses that correspond to individual upsert requests. Each response has the

            same ID as the corresponding request and contains either a `merchant_id` and `custom_attribute` or an `errors` field.'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        values:
          id1:
            custom_attribute:
              created_at: '2023-05-06T19:02:58.647Z'
              key: alternative_seller_name
              updated_at: '2023-05-06T19:21:04.551Z'
              value: Ultimate Sneaker Store
              version: 2
              visibility: VISIBILITY_READ_ONLY
            merchant_id: DM7VKY8Q63GNP
          id2:
            custom_attribute:
              created_at: '2023-05-06T19:02:58.647Z'
              key: has_seen_tutorial
              updated_at: '2023-05-06T19:21:04.551Z'
              value: true
              version: 1
              visibility: VISIBILITY_READ_WRITE_VALUES
            merchant_id: DM7VKY8Q63GNP
  securitySchemes:
    oauth2:
      type: oauth2
      x-additional-headers:
      - name: Square-Version
        description: Square Connect API versions
        schema:
          default: '2025-01-23'
      flows:
        authorizationCode:
          authorizationUrl: https://connect.squareup.com/oauth2/authorize
          tokenUrl: https://connect.squareup.com/oauth2/token
          scopes:
            ADDON_CONFIGURATIONS_READ: '__HTTP Method__: `GET`


              Grants write access for third-party Add-ons to read configurations of their Add-ons, for example, when calling `RetrieveConfiguration` endpoint.'
            ADDON_CONFIGURATIONS_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access for third-party Add-ons to store configurations of their Add-ons, for example, when calling `CreateConfiguration` endpoint.'
            APPOINTMENTS_ALL_READ: '__HTTP Method__: `GET`, `POST`


              Grants read access to all of a seller''s booking information, calendar, and business details.

              This permission must be accompanied by the `APPOINTMENTS_READ` permission.'
            APPOINTMENTS_ALL_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to all booking details, including double-booking a seller.

              This permission must be accompanied by the `APPOINTMENTS_WRITE` permission.'
            APPOINTMENTS_BUSINESS_SETTINGS_READ: '__HTTP Method__: `GET`


              Grants read access to booking business settings. For example, to call the

              ListTeamMemberBookingProfiles endpoint.'
            APPOINTMENTS_READ: '__HTTP Method__: `GET`, `POST`


              Grants read access to booking information. For example, to call the

              RetrieveBooking endpoint.'
            APPOINTMENTS_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to booking information. For example, to call the CreateBooking endpoint.'
            BANK_ACCOUNTS_READ: '__HTTP Method__: `GET`


              Grants read access to bank account information associated with the targeted

              Square account. For example, to call the Connect v1 ListBankAccounts endpoint.'
            CASH_DRAWER_READ: '__HTTP Method__: `GET`


              Grants read access to cash drawer shift information. For example, to call the

              ListCashDrawerShifts endpoint.'
            CHANNELS_CREATE: '__HTTP Method__: `POST`


              Grants write access to create channels, for example, when calling the

              `CreateChannel` endpoint.'
            CHANNELS_READ: '__HTTP Method__: `GET`


              Grants read access to view channels, for example, when calling the

              `RetrieveChannel` endpoint.'
            CHANNELS_UPDATE: '__HTTP Method__: `PUT`


              Grants write access to update channels, for example, when calling the

              `UpdateChannel` endpoint.'
            CUSTOMERS_READ: '__HTTP Method__: `GET`


              Grants read access to customer information. For example, to call the

              ListCustomers endpoint.'
            CUSTOMERS_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to customer information. For example, to create and update

              customer profiles.'
            DEVICES_READ: '__HTTP Method__: `GET`


              Grants read access to device information. For example, to

              call the `GetDevice` and `ListDevices` endpoints.'
            DEVICE_CREDENTIAL_MANAGEMENT: '__HTTP Method__: `POST`, `GET`


              Grants read/write access to device credentials information. For example, to

              call the CreateDeviceCode endpoint.'
            DISPUTES_READ: '__HTTP Method__: `GET`


              Grants read access to dispute information. For example, to call the RetrieveDispute

              endpoint.'
            DISPUTES_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to dispute information. For example, to call the SubmitEvidence

              endpoint.'
            EMPLOYEES_READ: '__HTTP Method__: `GET`


              Grants read access to employee profile information. For example, to call the

              Connect v1 Employees API.'
            EMPLOYEES_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to employee profile information. For example, to create

              and modify employee profiles.'
            GIFTCARDS_READ: '__HTTP Method__: `GET`, `POST`


              Grants read access to gift card information. For example, to call the RetrieveGiftCard

              endpoint.'
            GIFTCARDS_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to gift card information. For example, to call the CreateGiftCard

              endpoint.'
            INVENTORY_READ: '__HTTP Method__: `GET`


              Grants read access to inventory information. For example, to call the

              RetrieveInventoryCount endpoint.'
            INVENTORY_WRITE: '__HTTP Method__:  `POST`, `PUT`, `DELETE`


              Grants write access to inventory information. For example, to call the

              BatchChangeInventory endpoint.'
            INVOICES_READ: '__HTTP Method__: `GET`, `POST`


              Grants read access to invoice information. For example, to call the ListInvoices endpoint.'
            INVOICES_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to invoice information. For example, to call the CreateInvoice endpoint.'
            ITEMS_READ: '__HTTP Method__: `GET`


              Grants read access to product catalog information. For example, to obtain objects in a product catalog.'
            ITEMS_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to product catalog information. For example, to modify or

              add to a product catalog.'
            LOYALTY_READ: '__HTTP Method__: `GET`


              Grants read access to loyalty information. For example, to call the

              ListLoyaltyPrograms endpoint.'
            LOYALTY_WRITE: '__HTTP Method__: `POST`, `PUT`, `DELETE`


              Grants write access to loyalty information. For example, to call the

              CreateLoyaltyAccount endpoint.'
            MERCHANT_PROFILE_READ: '__HTTP Method__: `GET`


              Grants read access to business and location information. For example, to

[...]
