openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay Invoices API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: Invoices
paths:
  /v2/invoices:
    get:
      tags:
      - Invoices
      summary: Square List Invoices
      operationId: ListInvoices
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Returns a list of invoices for a given location. The response \nis paginated. If truncated, the response includes a `cursor` that you    \nuse in a subsequent request to retrieve the next set of invoices."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - INVOICES_READ
      parameters:
      - name: location_id
        description: The ID of the location for which to list invoices.
        schema:
          type: string
        in: query
        required: true
      - name: cursor
        description: "A pagination cursor returned by a previous call to this endpoint. \nProvide this cursor to retrieve the next set of results for your original query.\n\nFor more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination)."
        schema:
          type: string
        in: query
        required: false
      - name: limit
        description: "The maximum number of invoices to return (200 is the maximum `limit`). \nIf not provided, the server uses a default limit of 100 invoices."
        schema:
          type: integer
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvoicesResponse'
    post:
      tags:
      - Invoices
      summary: Square Create Invoice
      operationId: CreateInvoice
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Creates a draft [invoice](entity:Invoice) \nfor an order created using the Orders API.\n\nA draft invoice remains in your account and no action is taken. \nYou must publish the invoice before Square can process it (send it to the customer's email address or charge the customer’s card on file)."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_WRITE
        - INVOICES_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceResponse'
      x-endpoint-errors:
      - error-code: INVALID_CARD
      - error-code: MERCHANT_SUBSCRIPTION_NOT_FOUND
  /v2/invoices/search:
    post:
      tags:
      - Invoices
      summary: Square Search Invoices
      operationId: SearchInvoices
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Searches for invoices from a location specified in \nthe filter. You can optionally specify customers in the filter for whom to \nretrieve invoices. In the current implementation, you can only specify one location and \noptionally one customer.\n\nThe response is paginated. If truncated, the response includes a `cursor` \nthat you use in a subsequent request to retrieve the next set of invoices."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - INVOICES_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInvoicesRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchInvoicesResponse'
  /v2/invoices/{invoice_id}:
    delete:
      tags:
      - Invoices
      summary: Square Delete Invoice
      operationId: DeleteInvoice
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Deletes the specified invoice. When an invoice is deleted, the \nassociated order status changes to CANCELED. You can only delete a draft \ninvoice (you cannot delete a published invoice, including one that is scheduled for processing)."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_WRITE
        - INVOICES_WRITE
      parameters:
      - name: invoice_id
        description: The ID of the invoice to delete.
        schema:
          type: string
        in: path
        required: true
      - name: version
        description: "The version of the [invoice](entity:Invoice) to delete.\nIf you do not know the version, you can call [GetInvoice](api-endpoint:Invoices-GetInvoice) or \n[ListInvoices](api-endpoint:Invoices-ListInvoices)."
        schema:
          type: integer
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInvoiceResponse'
    get:
      tags:
      - Invoices
      summary: Square Get Invoice
      operationId: GetInvoice
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves an invoice by invoice ID.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - INVOICES_READ
      parameters:
      - name: invoice_id
        description: The ID of the invoice to retrieve.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceResponse'
    put:
      tags:
      - Invoices
      summary: Square Update Invoice
      operationId: UpdateInvoice
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates an invoice. This endpoint supports sparse updates, so you only need

        to specify the fields you want to change along with the required `version` field.

        Some restrictions apply to updating invoices. For example, you cannot change the

        `order_id` or `location_id` field.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_WRITE
        - INVOICES_WRITE
      parameters:
      - name: invoice_id
        description: The ID of the invoice to update.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInvoiceResponse'
      x-endpoint-errors:
      - error-code: CARD_DECLINED
      - error-code: INVALID_CARD
      - error-code: MERCHANT_SUBSCRIPTION_NOT_FOUND
  /v2/invoices/{invoice_id}/attachments:
    post:
      tags:
      - Invoices
      summary: Square Create Invoice Attachment
      operationId: CreateInvoiceAttachment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Uploads a file and attaches it to an invoice. This endpoint accepts HTTP multipart/form-data file uploads

        with a JSON `request` part and a `file` part. The `file` part must be a `readable stream` that contains a file

        in a supported format: GIF, JPEG, PNG, TIFF, BMP, or PDF.


        Invoices can have up to 10 attachments with a total file size of 25 MB. Attachments can be added only to invoices

        in the `DRAFT`, `SCHEDULED`, `UNPAID`, or `PARTIALLY_PAID` state.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - INVOICES_WRITE
      parameters:
      - name: invoice_id
        description: The ID of the [invoice](entity:Invoice) to attach the file to.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                request:
                  $ref: '#/components/schemas/CreateInvoiceAttachmentRequest'
                image_file:
                  type: string
                  format: binary
            encoding:
              image_file:
                contentType: image/jpeg
              request:
                contentType: application/json; charset=utf-8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceAttachmentResponse'
  /v2/invoices/{invoice_id}/attachments/{attachment_id}:
    delete:
      tags:
      - Invoices
      summary: Square Delete Invoice Attachment
      operationId: DeleteInvoiceAttachment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Removes an attachment from an invoice and permanently deletes the file. Attachments can be removed only

        from invoices in the `DRAFT`, `SCHEDULED`, `UNPAID`, or `PARTIALLY_PAID` state.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - INVOICES_WRITE
      parameters:
      - name: invoice_id
        description: The ID of the [invoice](entity:Invoice) to delete the attachment from.
        schema:
          type: string
        in: path
        required: true
      - name: attachment_id
        description: The ID of the [attachment](entity:InvoiceAttachment) to delete.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInvoiceAttachmentResponse'
  /v2/invoices/{invoice_id}/cancel:
    post:
      tags:
      - Invoices
      summary: Square Cancel Invoice
      operationId: CancelInvoice
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Cancels an invoice. The seller cannot collect payments for \nthe canceled invoice.\n\nYou cannot cancel an invoice in the `DRAFT` state or in a terminal state: `PAID`, `REFUNDED`, `CANCELED`, or `FAILED`."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_WRITE
        - INVOICES_WRITE
      parameters:
      - name: invoice_id
        description: The ID of the [invoice](entity:Invoice) to cancel.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelInvoiceRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelInvoiceResponse'
      x-endpoint-errors:
      - error-code: VERSION_MISMATCH
  /v2/invoices/{invoice_id}/publish:
    post:
      tags:
      - Invoices
      summary: Square Publish Invoice
      operationId: PublishInvoice
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Publishes the specified draft invoice. \n\nAfter an invoice is published, Square \nfollows up based on the invoice configuration. For example, Square \nsends the invoice to the customer's email address, charges the customer's card on file, or does \nnothing. Square also makes the invoice available on a Square-hosted invoice page. \n\nThe invoice `status` also changes from `DRAFT` to a status \nbased on the invoice configuration. For example, the status changes to `UNPAID` if \nSquare emails the invoice or `PARTIALLY_PAID` if Square charges a card on file for a portion of the \ninvoice amount.\n\nIn addition to the required `ORDERS_WRITE` and `INVOICES_WRITE` permissions, `CUSTOMERS_READ`\nand `PAYMENTS_WRITE` are required when publishing invoices configured for card-on-file payments."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_WRITE
        - INVOICES_WRITE
      parameters:
      - name: invoice_id
        description: The ID of the invoice to publish.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishInvoiceRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishInvoiceResponse'
      x-endpoint-errors:
      - error-code: CARD_DECLINED
      - error-code: INVALID_CARD
components:
  schemas:
    InvoiceDeliveryMethod:
      type: string
      enum:
      - EMAIL
      - SHARE_MANUALLY
      - SMS
      x-enum-elements:
      - name: EMAIL
        description: Directs Square to send invoices, reminders, and receipts to the customer using email.
      - name: SHARE_MANUALLY
        description: 'Directs Square to take no action on the invoice. In this case, the seller

          or application developer follows up with the customer for payment. For example,

          a seller might collect a payment in the Seller Dashboard or Point of Sale (POS) application.

          The seller might also share the URL of the Square-hosted invoice page (`public_url`) with the customer to request payment.'
      - name: SMS
        description: 'Directs Square to send invoices and receipts to the customer using SMS (text message).


          You cannot set `SMS` as a delivery method using the Invoices API, but you can change an `SMS` delivery method to `EMAIL` or `SHARE_MANUALLY`.'
      description: Indicates how Square delivers the [invoice](entity:Invoice) to the customer.
      x-release-status: PUBLIC
    PublishInvoiceRequest:
      type: object
      description: Describes a `PublishInvoice` request.
      x-release-status: PUBLIC
      required:
      - version
      properties:
        version:
          type: integer
          description: 'The version of the [invoice](entity:Invoice) to publish.

            This must match the current version of the invoice; otherwise, the request is rejected.'
        idempotency_key:
          type: string
          description: "A unique string that identifies the `PublishInvoice` request. If you do not \nprovide `idempotency_key` (or provide an empty string as the value), the endpoint \ntreats each request as independent.\n\nFor more information, see [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency)."
          maxLength: 128
          nullable: true
      example:
        idempotency_key: 32da42d0-1997-41b0-826b-f09464fc2c2e
        version: 1
    Address:
      type: object
      description: "Represents a postal address in a country. \nFor more information, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses)."
      x-release-status: PUBLIC
      properties:
        address_line_1:
          type: string
          description: 'The first line of the address.


            Fields that start with `address_line` provide the address''s most specific

            details, like street number, street name, and building name. They do *not*

            provide less specific details like city, state/province, or country (these

            details are provided in other fields).'
          nullable: true
        address_line_2:
          type: string
          description: The second line of the address, if any.
          nullable: true
        address_line_3:
          type: string
          description: The third line of the address, if any.
          nullable: true
        locality:
          type: string
          description: The city or town of the address. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).
          nullable: true
        sublocality:
          type: string
          description: A civil region within the address's `locality`, if any.
          nullable: true
        sublocality_2:
          type: string
          description: A civil region within the address's `sublocality`, if any.
          nullable: true
        sublocality_3:
          type: string
          description: A civil region within the address's `sublocality_2`, if any.
          nullable: true
        administrative_district_level_1:
          type: string
          description: 'A civil entity within the address''s country. In the US, this

            is the state. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).'
          nullable: true
        administrative_district_level_2:
          type: string
          description: 'A civil entity within the address''s `administrative_district_level_1`.

            In the US, this is the county.'
          nullable: true
        administrative_district_level_3:
          type: string
          description: 'A civil entity within the address''s `administrative_district_level_2`,

            if any.'
          nullable: true
        postal_code:
          type: string
          description: The address's postal code. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).
          nullable: true
        country:
          $ref: '#/components/schemas/Country'
          description: 'The address''s country, in the two-letter format of ISO 3166. For example, `US` or `FR`.

            See [Country](#type-country) for possible values'
          nullable: true
        first_name:
          type: string
          description: Optional first name when it's representing recipient.
          nullable: true
        last_name:
          type: string
          description: Optional last name when it's representing recipient.
          nullable: true
    InvoiceAttachment:
      type: object
      description: Represents a file attached to an [invoice](entity:Invoice).
      x-release-status: PUBLIC
      properties:
        id:
          type: string
          description: The Square-assigned ID of the attachment.
          readOnly: true
        filename:
          type: string
          description: The file name of the attachment, which is displayed on the invoice.
          readOnly: true
        description:
          type: string
          description: 'The description of the attachment, which is displayed on the invoice.

            This field maps to the seller-defined **Message** field.'
          readOnly: true
        filesize:
          type: integer
          description: The file size of the attachment in bytes.
          readOnly: true
        hash:
          type: string
          description: The MD5 hash that was generated from the file contents.
          readOnly: true
        mime_type:
          type: string
          description: "The mime type of the attachment.\nThe following mime types are supported: \nimage/gif, image/jpeg, image/png, image/tiff, image/bmp, application/pdf."
          readOnly: true
        uploaded_at:
          type: string
          description: The timestamp when the attachment was uploaded, in RFC 3339 format.
          readOnly: true
    Country:
      type: string
      enum:
      - ZZ
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      x-enum-elements:
      - name: ZZ
        description: Unknown
      - name: AD
        description: Andorra
      - name: AE
        description: United Arab Emirates
      - name: AF
        description: Afghanistan
      - name: AG
        description: Antigua and Barbuda
      - name: AI
        description: Anguilla
      - name: AL
        description: Albania
      - name: AM
        description: Armenia
      - name: AO
        description: Angola
      - name: AQ
        description: Antartica
      - name: AR
        description: Argentina
      - name: AS
        description: American Samoa
      - name: AT
        description: Austria
      - name: AU
        description: Australia
      - name: AW
        description: Aruba
      - name: AX
        description: Åland Islands
      - name: AZ
        description: Azerbaijan
      - name: BA
        description: Bosnia and Herzegovina
      - name: BB
        description: Barbados
      - name: BD
        description: Bangladesh
      - name: BE
        description: Belgium
      - name: BF
        description: Burkina Faso
      - name: BG
        description: Bulgaria
      - name: BH
        description: Bahrain
      - name: BI
        description: Burundi
      - name: BJ
        description: Benin
      - name: BL
        description: Saint Barthélemy
      - name: BM
        description: Bermuda
      - name: BN
        description: Brunei
      - name: BO
        description: Bolivia
      - name: BQ
        description: Bonaire
      - name: BR
        description: Brazil
      - name: BS
        description: Bahamas
      - name: BT
        description: Bhutan
      - name: BV
        description: Bouvet Island
      - name: BW
        description: Botswana
      - name: BY
        description: Belarus
      - name: BZ
        description: Belize
      - name: CA
        description: Canada
      - name: CC
        description: Cocos Islands
      - name: CD
        description: Democratic Republic of the Congo
      - name: CF
        description: Central African Republic
      - name: CG
        description: Congo
      - name: CH
        description: Switzerland
      - name: CI
        description: Ivory Coast
      - name: CK
        description: Cook Islands
      - name: CL
        description: Chile
      - name: CM
        description: Cameroon
      - name: CN
        description: China
      - name: CO
        description: Colombia
      - name: CR
        description: Costa Rica
      - name: CU
        description: Cuba
      - name: CV
        description: Cabo Verde
      - name: CW
        description: Curaçao
      - name: CX
        description: Christmas Island
      - name: CY
        description: Cyprus
      - name: CZ
        description: Czechia
      - name: DE
        description: Germany
      - name: DJ
        description: Djibouti
      - name: DK
        description: Denmark
      - name: DM
        description: Dominica
      - name: DO
        description: Dominican Republic
      - name: DZ
        description: Algeria
      - name: EC
        description: Ecuador
      - name: EE
        description: Estonia
      - name: EG
        description: Egypt
      - name: EH
        description: Western Sahara
      - name: ER
        description: Eritrea
      - name: ES
        description: Spain
      - name: ET
        description: Ethiopia
      - name: FI
        description: Finland
      - name: FJ
        description: Fiji
      - name: FK
        description: Falkland Islands
      - name: FM
        description: Federated States of Micronesia
      - name: FO
        description: Faroe Islands
      - name: FR
        description: France
      - name: GA
        description: Gabon
      - name: GB
        description: United Kingdom
      - name: GD
        description: Grenada
      - name: GE
        description: Georgia
      - name: GF
        description: French Guiana
      - name: GG
        description: Guernsey
      - name: GH
        description: Ghana
      - name: GI
        description: Gibraltar
      - name: GL
        description: Greenland
      - name: GM
        description: Gambia
      - name: GN
        description: Guinea
      - name: GP
        description: Guadeloupe
      - name: GQ
        description: Equatorial Guinea
      - name: GR
        description: Greece
      - name: GS
        description: South Georgia and the South Sandwich Islands
      - name: GT
        description: Guatemala
      - name: GU
        description: Guam
      - name: GW
        description: Guinea-Bissau
      - name: GY
        description: Guyana
      - name: HK
        description: Hong Kong
      - name: HM
        description: Heard Island and McDonald Islands
      - name: HN
        description: Honduras
      - name: HR
        description: Croatia
      - name: HT
        description: Haiti
      - name: HU
        description: Hungary
      - name: ID
        description: Indonesia
      - name: IE
        description: Ireland
      - name: IL
        description: Israel
      - name: IM
        description: Isle of Man
      - name: IN
        description: India
      - name: IO
        description: British Indian Ocean Territory
      - name: IQ
        description: Iraq
      - name: IR
        description: Iran
      - name: IS
        description: Iceland
      - name: IT
        description: Italy
      - name: JE
        description: Jersey
      - name: JM
        description: Jamaica
      - name: JO
        description: Jordan
      - name: JP
        description: Japan
      - name: KE
        description: Kenya
      - name: KG
        description: Kyrgyzstan
      - name: KH
        description: Cambodia
      - name: KI
        description: Kiribati
      - name: KM
        description: Comoros
      - name: KN
        description: Saint Kitts and Nevis
      - name: KP
        description: Democratic People's Republic of Korea
      - name: KR
        description: Republic of Korea
      - name: KW
        description: Kuwait
      - name: KY
        description: Cayman Islands
      - name: KZ
        description: Kazakhstan
      - name: LA
        description: Lao People's Democratic Republic
      - name: LB
        description: Lebanon
      - name: LC
        description: Saint Lucia
      - name: LI
        description: Liechtenstein
      - name: LK
        description: Sri Lanka
      - name: LR
        description: Liberia
      - name: LS
        description: Lesotho
      - name: LT
        description: Lithuania
      - name: LU
        description: Luxembourg
      - name: LV
        description: Latvia
      - name: LY
        description: Libya
      - name: MA
        description: Morocco
      - name: MC
        description: Monaco
      - name: MD
        description: Moldova
      - name: ME
        description: Montenegro
      - name: MF
        description: Saint Martin
      - name: MG
        description: Madagascar
      - name: MH
        description: Marshall Islands
      - name: MK
        description: North Macedonia
      - name: ML
        description: Mali
      - name: MM
        description: Myanmar
      - name: MN
        description: Mongolia
      - name: MO
        description: Macao
      - name: MP
        description: Northern Mariana Islands
      - name: MQ
        description: Martinique
      - name: MR
        description: Mauritania
      - name: MS
        description: Montserrat
      - name: MT
        description: Malta
      - name: MU
        description: Mauritius
      - name: MV
        description: Maldives
      - name: MW
        description: Malawi
      - name: MX
        description: Mexico
      - name: MY
        description: Malaysia
      - name: MZ
        description: Mozambique
      - name: NA
        description: Namibia
      - name: NC
        description: New Caledonia
      - name: NE
        description: Niger
      - name: NF
        description: Norfolk Island
      - name: NG
        description: Nigeria
      - name: NI
        description: Nicaragua
      - name: NL
        description: Netherlands
      - name: 'NO'
        description: Norway
      - name: NP
        description: Nepal
      - name: NR
        description: Nauru
      - name: NU
        description: Niue
      - name: NZ
        description: New Zealand
      - name: OM
        description: Oman
      - name: PA
        description: Panama
      - name: PE
        description: Peru
      - name: PF
        description: French Polynesia
      - name: PG
        description: Papua New Guinea
      - name: PH
        description: Philippines
      - name: PK
        description: Pakistan
      - name: PL
        description: Poland
      - name: PM
        description: Saint Pierre and Miquelon
      - name: PN
        description: Pitcairn
      - name: PR
        description: Puerto Rico
      - name: PS
        description: Palestine
      - name: PT
        description: Portugal
      - name: PW
        description: Palau
      - name: PY
        description: Paraguay
      - name: QA
        description: Qatar
      - name: RE
        description: Réunion
      - name: RO
        description: Romania
      - name: RS
        description: Serbia
      - name: RU
        description: Russia
      - name: RW
        description: Rwanda
      - name: SA
        description: Saudi Arabia
      - name: SB
        description: Solomon Islands
      - name: SC
        description: Seychelles
      - name: SD
        description: Sudan
      - name: SE
        description: Sweden
      - name: SG
        description: Singapore
      - name: SH
        description: Saint Helena, Ascension and Tristan da Cunha
      - name: SI
        description: Slovenia
      - name: SJ
        description: Svalbard and Jan Mayen
      - name: SK
        description: Slovakia
      - name: SL
        description: Sierra Leone
      - name: SM
        description: San Marino
      - name: SN
        description: Senegal
      - name: SO
        description: Somalia
      - name: SR
        description: Suriname
      - name: SS
        description: South Sudan
      - name: ST
        description: Sao Tome and Principe
      - name: SV
        description: El Salvador
      - name: SX
        description: Sint Maarten
      - name: SY
        description: Syrian Arab Republic
      - name: SZ
        description: Eswatini
      - name: TC
        description: Turks and Caicos Islands
      - name: TD
        description: Chad
      - name: TF
        description: French Southern Territories
      - name: TG
        description: Togo
      - name: TH
        description: Thailand
      - name: TJ
        description: Tajikistan
      - name: TK
        description: Tokelau
      - name: TL
        description: Timor-Leste
      - name: TM
        description: Turkmenistan
      - name: TN
        description: Tunisia
      - name: TO
        description: Tonga
      - name: TR
        description: Turkey
      - name: TT
        description: Trinidad and Tobago
      - name: TV
        description: Tuvalu
      - name: TW
        description: Taiwan
      - name: TZ
        description: Tanzania
      - name: UA
        description: Ukraine
      - name: UG
        description: Uganda
      - name: UM
        description: United States Minor Outlying Islands
      - name: US
        description: United States of America
      - name: UY
        description: Uruguay
      - name: UZ
        description: Uzbekistan
      - name: VA
        description: Vatican City
      - name: VC
        description: Saint Vincent and the Grenadines
      - name: VE
        description: Venezuela
      - name: VG
        description: British Virgin Islands
      - name: VI
        description: U.S. Virgin Islands
      - name: VN
        description: Vietnam
      - name: VU
        description: Vanuatu
      - name: WF
        description: Wallis and Futuna
      - name: WS
        description: Samoa
      - name: YE
        description: Yemen
      - name: YT
        description: Mayotte
      - name: ZA
        description: South Africa
      - name: ZM
        description: Zambia
      - name: ZW
        description: Zimbabwe
      description: 'Indicates the country associated with another entity, such as a business.

        Values are in [ISO 3166-1-alpha-2 format](http://www.iso.org/iso/home/standards/country_codes.htm).'
      x-release-status: PUBLIC
    GetInvoiceResponse:
      type: object
      description: Describes a `GetInvoice` response.
      x-release-status: PUBLIC
      properties:
        invoice:
          $ref: '#/components/schemas/Invoice'
          description: The invoice requested.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Information about errors encountered during the request.
      example:
        invoice:
          accepted_payment_methods:
            bank_account: false
            buy_now_pay_later: false
            card: true
            cash_app_pay: false
            square_gift_card: false
          created_at: '2020-06-18T17:45:13Z'
          custom_fields:
          - label: Event Reference Number
            placement: ABOVE_LINE_ITEMS
            value: 'Ref. #1234'
          - label: Terms of Service
            placement: BELOW_LINE_ITEMS
            value: The terms of service are...
          delivery_method: EMAIL
          description: We appreciate your business!
          id: inv:0-ChCHu2mZEabLeeHahQnXDjZQECY
          invoice_number: inv-100
          location_id: ES0RJRZYEC39A
          order_id: CAISENgvlJ6jLWAzERDzjyHVybY
          payment_requests:
          - automatic_payment_source: NONE
            computed_amount_money:
              amount: 10000
              currency: USD
            due_date: '2030-01-24'
            reminders:
            - message: Your invoice is due tomorrow
              relative_scheduled_days: -1
              status: PENDING
              uid: beebd363-e47f-4075-8785-c235aaa7df11
            request_type: BALANCE
            tipping_enabled: true
            total_completed_amount_money:
              amount: 0
              currency: USD
            uid: 2da7964f-f3d2-4f43-81e8-5aa220bf3355
          primary_recipient:
            customer_id: JDKYHBWT1D4F8MFH63DBMEN8Y4
            email_address: Amelia.Earhart@example.com
            family_name: Earhart
            given_name: Amelia
            phone_number: 1-212-555-4240
          sale_or_service_date: '2030-01-24'
          scheduled_at: '2030-01-13T10:00:00Z'
          status: DRAFT
          store_payment_method_enabled: false
          timezone: America/Los_Angeles
          title: Event Planning Services
          updated_at: '2020-06-18T17:45:13Z'
          version: 0
    InvoiceAutomaticPaymentSource:
      type: string
      enum:
      - NONE
      - CARD_ON_FILE
      - BANK_ON_FILE
      x-enum-elements:
      - name: NONE
        description: An automatic payment is not configured for the payment request.
      - name: CARD_ON_FILE
        description: 'Use a card on file as the automatic payment method. On the due date, Square charges the card

          for the amount of the payment request.


          For `CARD_ON_FILE` payments, the invoice delivery method must be `EMAIL` and `card_id` must be

          specified for the payment request before the invoice can be published.'
      - name: BANK_ON_FILE
        description: "Use a bank account on file as the automatic payment method. On the due date, Square charges the bank\naccount for the amount of the payment request if the buyer has approved the payment. The buyer receives a\nrequest to approve the payment when the invoice is sent or the invoice is updated.\n\nThis payment method applies only to invoices that sellers create in the Seller Dashboard or other\nSquare product. The bank account is provided by the customer during the payment flow. \n\nYou cannot set `BANK_ON_FILE` as a payment method using the Invoices API, but you can change a `BANK_ON_FILE`\npayment method to `NONE` or `CARD_ON_FILE`. For `BANK_ON_FILE` payments, the invoice delivery method must be `EMAIL`."
      description: Indicates the automatic payment method for an [invoice payment request](entity:InvoicePaymentRequest).
      x-release-status: PUBLIC
    ListInvoicesResponse:
      type: object
      description: Describes a `ListInvoice` response.
      x-release-status: PUBLIC
      properties:
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
          description: The invoices retrieved.
        cursor:
          type: string
          description: "When a response is truncated, it includes a cursor that you can use in a \nsubsequent request to retrieve the next set of invoices. If empty, this is the final \nresponse. \nFor more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination)."
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Information about errors encountered during the request.
      example:
        cursor: ChoIDhIWVm54ZVRhLXhySFBOejBBM2xJb2daUQoFCI4IGAE
        invoices:
        - accepted_payment_methods:
            bank_account: false
            buy_now_pay_later: false
            card: true
            cash_app_pay: false
            square_gift_card: false
          attachments:
          - description: Service contract
            filename: file.jpg
            filesize: 102705
            hash: 273ee02cb6f5f8a3a8ca23604930dd53
            id: inva:0-3bB9ZuDHiziThQhuC4fwWt
            mime_type: image/jpeg
            uploaded_at: '2030-01-13T21:24:10Z'
          created_at: '2030-01-13T17:45:13Z'
          custom_fields:
          - label: Event Reference Number
            placement: ABOVE_LINE_ITEMS
            value: 'Ref. #1234'
          - label: Terms of Service
            placement: BELOW_LINE_ITEMS
            value: The terms of service are...
          delivery_method: EMAIL
          description: We appreciate your business!
          id: inv:0-ChCHu2mZEabLeeHahQnXDjZQECY
          invoice_number: inv-100
          location_id: ES0RJRZYEC39A
          order_id: CAISENgvlJ6jLWAzERDzjyHVybY
          payment_requests:
          - automatic_payment_source: NONE
            computed_amount_money:
              amount: 10000
              currency: USD
            due_date: '2030-01-24'
            reminders:
            - message: Your invoice is due tomorrow
              relative_scheduled_days: -1
              status: PENDING
              uid: beebd363-e47f-4075-8785-c235aaa7df11
            request_type: BALANCE
            tipping_enabled: true
            total_completed_amount_money:
              amount: 0
              currency: USD
            uid: 2da7964f-f3d2-4f43-81e8-5aa220bf3355
          primary_recipient:
            customer_id: JDKYHBWT1D4F8MFH63DBMEN8Y4
            email_address: Amelia.Earhart@example.com
            family_name: Earhart
            given_name: Amelia
            phone_number: 1-212-555-4240
          sale_or_service_date: '2030-01-24'
          scheduled_at: '2030-01-13T10:00:00Z'
          status: DRAFT
          store_payment_method_enabled: false
          timezone: America/Los_Angeles
          title: Event Planning Services
          updated_at: '2030-01-13T21:24:10Z'
          version: 1
        - accepted_payment_methods:
            bank_account: false
            buy_now_pay_later: false
            card: true
            cash_app_pay: false
            square_gift_card: true
          created_at: '2021-01-23T15:29:12Z'
          delivery_method: EMAIL
          id: inv:0-ChC366qAfskpGrBI_1bozs9mEA3
          invoice_number: inv-455
          location_id: ES0RJRZYEC39A
          next_payment_amount_money:
            amount: 3000
            currency: USD
          order_id: a65jnS8NXbfprvGJzY9F4fQTuaB
          payment_requests:
          - automatic_payment_source: CARD_ON_FILE
            card_id: ccof:IkWfpLj4tNHMyFii3GB
            computed_amount_money:
              amount: 1000
              currency: USD
            due_date: '2021-01-23'
            percentage_requested: '25'
            request_type: DEPOSIT
            tipping_enabled: false
            total_completed_amount_money:
              amount: 1000
              currency: USD
            uid: 66c3bdfd-5090-4ff9-a8a0-c1e1a2ffa176
          - automatic_payment_source: CARD_ON_FILE
            card_id: ccof:IkWfpLj4tNHMyFii3GB
            computed_amount_money:
              amount: 3000
              currency: USD
            due_date: '2021-06-15'
            request_type: BALANCE
            tipping_enabled: false
            total_completed_amount_money:
              amount: 0
              currency: USD
            uid: 120c5e18-4f80-4f6b-b159-774cb9bf8f99
          primary_recipient:
            customer_id: JDKYHBWT1D4F8MFH63DBMEN8Y4
            email_address: Amelia.Earhart@example.com
            family_name: Earhart
            given_name: Amelia
            phone_number: 1-212-555-4240
          public_url: https://squareup.com/pay-invoice/h9sfsfTGTSnYEhISUDBhEQ
          sale_or_service_date: '2030-01-24'
          status: PARTIALLY_PAID
          store_payment_method_enabled: false
          timezone: America/Los_Angeles
          updated_at: '2021-01-23T15:29:56Z'
          version: 3
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - INVALID_REQUEST_ERROR
      - RATE_LIMIT_ERROR
      - PAYMENT_METHOD_ERROR
      - REFUND_ERROR
      - MERCHANT_SUBSCRIPTION_ERROR
      - EXTERNAL_VENDOR_ERROR
      x-enum-elements:
      - name: API_ERROR
        description: An error occurred with the Connect API itself.
      - name: AUTHENTICATION_ERROR
        description: 'An authentication error occurred. Most commonly, the request had

          a missing, malformed, or otherwise invalid `Authorization` header.'
      - name: INVALID_REQUEST_ERROR
        description: 'The request was invalid. Most commonly, a required parameter was

          missing, or a provided parameter had an invalid value.'
      - name: RATE_LIMIT_ERROR
        description: 'Your application reached the Square API rate limit. You might receive this error if your application sends a high number of requests

          to Square APIs in a short period of time.


          Your application should monitor responses for `429 RATE_LIMITED` errors and use a retry mechanism with an [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)

          schedule to resend the requests at an increasingly slower rate. It is also a good practice to use a randomized delay (jitter) in your retry schedule.'
      - name: PAYMENT_METHOD_ERROR
        description: 'An error occurred while processing a payment method. Most commonly,

          the details of the payment method were invalid (such as a card''s CVV

          or expiration date).'
      - name: REFUND_ERROR
        description: An error occurred while attempting to process a refund.
      - name: MERCHANT_SUBSCRIPTION_ERROR
        description: An error occurred when checking a merchant subscription status
      - name: EXTERNAL_VENDOR_ERROR
        description: An error that is returned from an external vendor's API
      description: 'Indicates which high-level category of error has occurred during a

        request to the Connect API.'
      x-release-status: PUBLIC
    ErrorCode:
      type: string
      enum:
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED
      - ACCESS_TOKEN_EXPIRED
      - ACCESS_TOKEN_REVOKED
      - CLIENT_DISABLED
      - FORBIDDEN
      - INSUFFICIENT_SCOPES
      - APPLICATION_DISABLED
      - V1_APPLICATION
      - V1_ACCESS_TOKEN
      - CARD_PROCESSING_NOT_ENABLED
      - MERCHANT_SUBSCRIPTION_NOT_FOUND
      - BAD_REQUEST
      - MISSING_REQUIRED_PARAMETER
      - INCORRECT_TYPE
      - INVALID_TIME
      - INVALID_TIME_RANGE
      - INVALID_VALUE
      - INVALID_CURSOR
      - UNKNOWN_QUERY_PARAMETER
      - CONFLICTING_PARAMETERS
      - EXPECTED_JSON_BODY
      - INVALID_SORT_ORDER
      - VALUE_REGEX_MISMATCH
      - VALUE_TOO_SHORT
      - VALUE_TOO_LONG
      - VALUE_TOO_LOW
      - VALUE_TOO_HIGH
      - VALUE_EMPTY
      - ARRAY_LENGTH_TOO_LONG
      - ARRAY_LENGTH_TOO_SHORT
      - ARRAY_EMPTY
      - EXPECTED_BOOLEAN
      - EXPECTED_INTEGER
      - EXPECTED_FLOAT
      - EXPECTED_STRING
      - EXPECTED_OBJECT
      - EXPECTED_ARRAY
      - EXPECTED_MAP
      - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
      - INVALID_ARRAY_VALUE
      - INVALID_ENUM_VALUE
      - INVALID_CONTENT_TYPE
      - INVALID_FORM_VALUE
      - CUSTOMER_NOT_FOUND
      - ONE_INSTRUMENT_EXPECTED
      - NO_FIELDS_SET
      - TOO_MANY_MAP_ENTRIES
      - MAP_KEY_LENGTH_TOO_SHORT
      - MAP_KEY_LENGTH_TOO_LONG
      - CUSTOMER_MISSING_NAME
      - CUSTOMER_MISSING_EMAIL
      - INVALID_PAUSE_LENGTH
      - INVALID_DATE
      - UNSUPPORTED_COUNTRY
      - UNSUPPORTED_CURRENCY
      - APPLE_TTP_PIN_TOKEN
      - CARD_EXPIRED
      - INVALID_EXPIRATION
      - INVALID_EXPIRATION_YEAR
      - INVALID_EXPIRATION_DATE
      - UNSUPPORTED_CARD_BRAND
      - UNSUPPORTED_ENTRY_METHOD
      - INVALID_ENCRYPTED_CARD
      - INVALID_CARD
      - PAYMENT_AMOUNT_MISMATCH
      - GENERIC_DECLINE
      - CVV_FAILURE
      - ADDRESS_VERIFICATION_FAILURE
      - INVALID_ACCOUNT
      - CURRENCY_MISMATCH
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_PERMISSIONS
      - CARDHOLDER_INSUFFICIENT_PERMISSIONS
      - INVALID_LOCATION
      - TRANSACTION_LIMIT
      - VOICE_FAILURE
      - PAN_FAILURE
      - EXPIRATION_FAILURE
      - CARD_NOT_SUPPORTED
      - INVALID_PIN
      - MISSING_PIN
      - MISSING_ACCOUNT_TYPE
      - INVALID_POSTAL_CODE
      - INVALID_FEES
      - MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
      - PAYMENT_LIMIT_EXCEEDED
      - GIFT_CARD_AVAILABLE_AMOUNT
      - ACCOUNT_UNUSABLE
      - BUYER_REFUSED_PAYMENT
      - DELAYED_TRANSACTION_EXPIRED
      - DELAYED_TRANSACTION_CANCELED
      - DELAYED_TRANSACTION_CAPTURED
      - DELAYED_TRANSACTION_FAILED
      - CARD_TOKEN_EXPIRED
      - CARD_TOKEN_USED
      - AMOUNT_TOO_HIGH
      - UNSUPPORTED_INSTRUMENT_TYPE
      - REFUND_AMOUNT_INVALID
      - REFUND_ALREADY_PENDING
      - PAYMENT_NOT_REFUNDABLE
      - PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
      - REFUND_DECLINED
      - INSUFFICIENT_PERMISSIONS_FOR_REFUND
      - INVALID_CARD_DATA
      - SOURCE_USED
      - SOURCE_EXPIRED
      - UNSUPPORTED_LOYALTY_REWARD_TIER
      - LOCATION_MISMATCH
      - IDEMPOTENCY_KEY_REUSED
      - UNEXPECTED_VALUE
      - SANDBOX_NOT_SUPPORTED
      - INVALID_EMAIL_ADDRESS
      - INVALID_PHONE_NUMBER
      - CHECKOUT_EXPIRED
      - BAD_CERTIFICATE
      - INVALID_SQUARE_VERSION_FORMAT
      - API_VERSION_INCOMPATIBLE
      - CARD_PRESENCE_REQUIRED
      - UNSUPPORTED_SOURCE_TYPE
      - CARD_MISMATCH
      - PLAID_ERROR
      - PLAID_ERROR_ITEM_LOGIN_REQUIRED
      - PLAID_ERROR_RATE_LIMIT
      - CARD_DECLINED
      - VERIFY_CVV_FAILURE
      - VERIFY_AVS_FAILURE
      - CARD_DECLINED_CALL_ISSUER
      - CARD_DECLINED_VERIFICATION_REQUIRED
      - BAD_EXPIRATION
      - CHIP_INSERTION_REQUIRED
      - ALLOWABLE_PIN_TRIES_EXCEEDED
      - RESERVATION_DECLINED
      - UNKNOWN_BODY_PARAMETER
      - NOT_FOUND
      - APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
      - METHOD_NOT_ALLOWED
      - NOT_ACCEPTABLE
      - REQUEST_TIMEOUT
      - CONFLICT
      - GONE
      - REQUEST_ENTITY_TOO_LARGE
      - UNSUPPORTED_MEDIA_TYPE
      - UNPROCESSABLE_ENTITY
      - RATE_LIMITED
      - NOT_IMPLEMENTED
      - BAD_GATEWAY
      - SERVICE_UNAVAILABLE
      - TEMPORARY_ERROR
      - GATEWAY_TIMEOUT
      x-enum-elements:
      - name: INTERNAL_SERVER_ERROR
        description: A general server error occurred.
        error-category: API_ERROR
      - name: UNAUTHORIZED
        description: A general authorization error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_EXPIRED
        description: The provided access token has expired.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_REVOKED
        description: The provided access token has been revoked.
        error-category: AUTHENTICATION_ERROR
      - name: CLIENT_DISABLED
        description: The provided client has been disabled.
        error-category: AUTHENTICATION_ERROR
      - name: FORBIDDEN
        description: A general access error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: INSUFFICIENT_SCOPES
        description: 'The provided access token does not have permission

          to execute the requested action.'
        error-category: AUTHENTICATION_ERROR
      - name: APPLICATION_DISABLED
        description: The calling application was disabled.
        error-category: INVALID_REQUEST_ERROR
      - name: V1_APPLICATION
        description: 'The calling application was created prior to

          2016-03-30 and is not compatible with v2 Square API calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: V1_ACCESS_TOKEN
        description: 'The calling application is using an access token

          created prior to 2016-03-30 and is not compatible with v2 Square API

          calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PROCESSING_NOT_ENABLED
        description: 'The location provided in the API call is not

          enabled for credit card processing.'
        error-category: INVALID_REQUEST_ERROR
      - name: MERCHANT_SUBSCRIPTION_NOT_FOUND
        description: A required subscription was not found for the merchant
        error-category: MERCHANT_SUBSCRIPTION_ERROR
      - name: BAD_REQUEST
        description: A general error occurred with the request.
        error-category: INVALID_REQUEST_ERROR
      - name: MISSING_REQUIRED_PARAMETER
        description: 'The request is missing a required path, query, or

          body parameter.'
        error-category: INVALID_REQUEST_ERROR
      - name: INCORRECT_TYPE
        description: 'The value provided in the request is the wrong

          type. For example, a string instead of an integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME
        description: 'Formatting for the provided time value is

          incorrect.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME_RANGE
        description: 'The time range provided in the request is invalid.

          For example, the end time is before the start time.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_VALUE
        description: 'The provided value is invalid. For example,

          including `%` in a phone number.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CURSOR
        description: 'The pagination cursor included in the request is

          invalid.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNKNOWN_QUERY_PARAMETER
        description: 'The query parameters provided is invalid for the

          requested endpoint.'
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICTING_PARAMETERS
        description: 'One or more of the request parameters conflict with

          each other.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_JSON_BODY
        description: The request body is not a JSON object.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SORT_ORDER
        description: 'The provided sort order is not a valid key.

          Currently, sort order must be `ASC` or `DESC`.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_REGEX_MISMATCH
        description: 'The provided value does not match an expected

          regular expression.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_SHORT
        description: 'The provided string value is shorter than the

          minimum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LONG
        description: 'The provided string value is longer than the

          maximum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LOW
        description: 'The provided value is less than the supported

          minimum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_HIGH
        description: 'The provided value is greater than the supported

          maximum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_EMPTY
        description: 'The provided value has a default (empty) value

          such as a blank string.'
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_LONG
        description: The provided array has too many elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_SHORT
        description: The provided array has too few elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_EMPTY
        description: The provided array is empty.
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BOOLEAN
        description: 'The endpoint expected the provided value to be a

          boolean.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_INTEGER
        description: 'The endpoint expected the provided value to be an

          integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_FLOAT
        description: 'The endpoint expected the provided value to be a

          float.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_STRING
        description: 'The endpoint expected the provided value to be a

          string.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_OBJECT
        description: 'The endpoint expected the provided value to be a

          JSON object.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_ARRAY
        description: 'The endpoint expected the provided value to be an

          array or list.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_MAP
        description: 'The endpoint expected the provided value to be a

          map or associative array.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BASE64_ENCODED_BYTE_ARRAY
        description: 'The endpoint expected the provided value to be an

          array encoded in base64.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ARRAY_VALUE
        description: 'One or more objects in the array does not match the

          array type.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ENUM_VALUE
        description: 'The provided static string is not valid for the

          field.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CONTENT_TYPE
        description: Invalid content type header.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_FORM_VALUE
        description: 'Only relevant for applications created prior to

          2016-03-30. Indicates there was an error while parsing form values.'
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_NOT_FOUND
        description: The provided customer id can't be found in the merchant's customers list.
        error-category: INVALID_REQUEST_ERROR
      - name: ONE_INSTRUMENT_EXPECTED
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NO_FIELDS_SET
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: TOO_MANY_MAP_ENTRIES
        description: Too many entries in the map field.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_SHORT
        description: The length of one of the provided keys in the map is too short.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_LONG
        description: The length of one of the provided keys in the map is too long.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_NAME
        description: The provided customer does not have a recorded name.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_EMAIL
        description: The provided customer does not have a recorded email.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PAUSE_LENGTH
        description: The subscription cannot be paused longer than the duration of the current phase.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_DATE
        description: The subscription cannot be paused/resumed on the given date.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_COUNTRY
        description: The API request references an unsupported country.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CURRENCY
        description: The API request references an unsupported currency.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_TTP_PIN_TOKEN
        description: 'The payment was declined by the card issuer during an Apple Tap to Pay (TTP)

          transaction with a request for the card''s PIN. This code will be returned alongside

          `CARD_DECLINED_VERIFICATION_REQUIRED` as a supplemental error, and will include an

          issuer-provided token in the `details` field that is needed to initiate the PIN

          collection flow on the iOS device.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_EXPIRED
        description: The card issuer declined the request because the card is expired.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION
        description: 'The expiration date for the payment card is invalid. For example,

          it indicates a date in the past.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION_YEAR
        description: 'The expiration year for the payment card is invalid. For example,

          it indicates a year in the past or contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EXPIRATION_DATE
        description: 'The expiration date for the payment card is invalid. For example,

          it contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CARD_BRAND
        description: The credit card provided is not from a supported issuer.
        error-category: PAYMENT_METHOD_ERROR
      - name: UNSUPPORTED_ENTRY_METHOD
        description: The entry method for the credit card (swipe, dip, tap) is not supported.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ENCRYPTED_CARD
        description: The encrypted card information is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_CARD
        description: The credit card cannot be validated based on the provided details.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_AMOUNT_MISMATCH
        description: 'The payment was declined because there was a payment amount mismatch.

          The money amount Square was expecting does not match the amount provided.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GENERIC_DECLINE
        description: 'Square received a decline without any additional information.

          If the payment information seems correct, the buyer can contact their

          issuer to ask for more information.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CVV_FAILURE
        description: The card issuer declined the request because the CVV value is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: ADDRESS_VERIFICATION_FAILURE
        description: The card issuer declined the request because the postal code is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ACCOUNT
        description: The issuer was not able to locate the account on record.
        error-category: PAYMENT_METHOD_ERROR
      - name: CURRENCY_MISMATCH
        description: 'The currency associated with the payment is not valid for the provided

          funding source. For example, a gift card funded in USD cannot be used to process

          payments in GBP.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_FUNDS
        description: The funding source has insufficient funds to cover the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_PERMISSIONS
        description: 'The Square account does not have the permissions to accept

          this payment. For example, Square may limit which merchants are

          allowed to receive gift card payments.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARDHOLDER_INSUFFICIENT_PERMISSIONS
        description: 'The card issuer has declined the transaction due to restrictions on where the card can be used.

          For example, a gift card is limited to a single merchant.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_LOCATION
        description: 'The Square account cannot take payments in the specified region.

          A Square account can take payments only from the region where the account was created.'
        error-category: PAYMENT_METHOD_ERROR
      - name: TRANSACTION_LIMIT
        description: 'The card issuer has determined the payment amount is either too high or too low.

          The API returns the error code mostly for credit cards (for example, the card reached

          the credit limit). However, sometimes the issuer bank can indicate the error for debit

          or prepaid cards (for example, card has insufficient funds).'
        error-category: PAYMENT_METHOD_ERROR
      - name: VOICE_FAILURE
        description: The card issuer declined the request because the issuer requires voice authorization from the cardholder. The seller should ask the customer to contact the card issuing bank to authorize the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAN_FAILURE
        description: 'The specified card number is invalid. For example, it is of

          incorrect length or is incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: EXPIRATION_FAILURE
        description: 'The card expiration date is either invalid or indicates that the

          card is expired.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_NOT_SUPPORTED
        description: 'The card is not supported either in the geographic region or by

          the [merchant category code](https://developer.squareup.com/docs/locations-api#initialize-a-merchant-category-code) (MCC).'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_PIN
        description: The card issuer declined the request because the PIN is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_PIN
        description: The payment is missing a required PIN.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_ACCOUNT_TYPE
        description: The payment is missing a required ACCOUNT_TYPE parameter.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_POSTAL_CODE
        description: The postal code is incorrectly formatted.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_FEES
        description: The app_fee_money on a payment is too high.
        error-category: PAYMENT_METHOD_ERROR
      - name: MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
        description: The card must be swiped, tapped, or dipped. Payments attempted by manually entering the card number are declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_LIMIT_EXCEEDED
        description: Square declined the request because the payment amount exceeded the processing limit for this merchant.
        error-category: PAYMENT_METHOD_ERROR
      - name: GIFT_CARD_AVAILABLE_AMOUNT
        description: 'When a Gift Card is a payment source, you can allow taking a partial payment

          by adding the `accept_partial_authorization` parameter in the request.

          However, taking such a partial payment does not work if your request also includes

          `tip_money`, `app_fee_money`, or both. Square declines such payments and returns

          the `GIFT_CARD_AVAILABLE_AMOUNT` error.

          For more information, see

          [CreatePayment errors (additional information)](https://developer.squareup.com/docs/payments-api/error-codes#createpayment-errors-additional-information).'
        error-category: PAYMENT_METHOD_ERROR
      - name: ACCOUNT_UNUSABLE
        description: The account provided cannot carry out transactions.
        error-category: PAYMENT_METHOD_ERROR
      - name: BUYER_REFUSED_PAYMENT
        description: Bank account rejected or was not authorized for the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: DELAYED_TRANSACTION_EXPIRED
        description: The application tried to update a delayed-capture payment that has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CANCELED
        description: The application tried to cancel a delayed-capture payment that was already cancelled.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CAPTURED
        description: The application tried to capture a delayed-capture payment that was already captured.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_FAILED
        description: The application tried to update a delayed-capture payment that failed.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_EXPIRED
        description: The provided card token (nonce) has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_USED
        description: The provided card token (nonce) was already used to process the payment or refund.
        error-category: INVALID_REQUEST_ERROR
      - name: AMOUNT_TOO_HIGH
        description: The requested payment amount is too high for the provided payment source.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_INSTRUMENT_TYPE
        description: The API request references an unsupported instrument type.
        error-category: INVALID_REQUEST_ERROR
      - name: REFUND_AMOUNT_INVALID
        description: The requested refund amount exceeds the amount available to refund.
        error-category: REFUND_ERROR
      - name: REFUND_ALREADY_PENDING
        description: The payment already has a pending refund.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE
        description: The payment is not refundable. For example, the payment is too old to be refunded.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
        description: The payment is not refundable because it has been disputed.
        error-category: REFUND_ERROR
      - name: REFUND_DECLINED
        description: Request failed - The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: INSUFFICIENT_PERMISSIONS_FOR_REFUND
        description: The Square account does not have the permissions to process this refund.
        error-category: REFUND_ERROR
      - name: INVALID_CARD_DATA
        description: Generic error - the provided card data is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_USED
        description: The provided source id was already used to create a card.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_EXPIRED
        description: The provided source id has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_LOYALTY_REWARD_TIER
        description: 'The referenced loyalty program reward tier is not supported.

          This could happen if the reward tier created in a first party

          application is incompatible with the Loyalty API.'
        error-category: INVALID_REQUEST_ERROR
      - name: LOCATION_MISMATCH
        description: Generic error - the given location does not matching what is expected.
        error-category: INVALID_REQUEST_ERROR
      - name: IDEMPOTENCY_KEY_REUSED
        description: The provided idempotency key has already been used.
        error-category: INVALID_REQUEST_ERROR
      - name: UNEXPECTED_VALUE
        description: General error - the value provided was unexpected.
        error-category: INVALID_REQUEST_ERROR
      - name: SANDBOX_NOT_SUPPORTED
        description: The API request is not supported in sandbox.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EMAIL_ADDRESS
        description: The provided email address is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PHONE_NUMBER
        description: The provided phone number is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: CHECKOUT_EXPIRED
        description: The provided checkout URL has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: BAD_CERTIFICATE
        description: Bad certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SQUARE_VERSION_FORMAT
        description: The provided Square-Version is incorrectly formatted.
        error-category: INVALID_REQUEST_ERROR
      - name: API_VERSION_INCOMPATIBLE
        description: The provided Square-Version is incompatible with the requested action.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PRESENCE_REQUIRED
        description: The transaction requires that a card be present.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_SOURCE_TYPE
        description: The API request references an unsupported source type.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_MISMATCH
        description: The provided card does not match what is expected.
        error-category: REFUND_ERROR
      - name: PLAID_ERROR
        description: Generic plaid error
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_ITEM_LOGIN_REQUIRED
        description: Plaid error - ITEM_LOGIN_REQUIRED
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_RATE_LIMIT
        description: Plaid error - RATE_LIMIT
        error-category: EXTERNAL_VENDOR_ERROR
      - name: CARD_DECLINED
        description: The card was declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_CVV_FAILURE
        description: The CVV could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_AVS_FAILURE
        description: The AVS could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_CALL_ISSUER
        description: 'The payment card was declined with a request

          for the card holder to call the issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_VERIFICATION_REQUIRED
        description: 'The payment card was declined with a request

          for additional verification.'
        error-category: PAYMENT_METHOD_ERROR
      - name: BAD_EXPIRATION
        description: 'The card expiration date is either missing or

          incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CHIP_INSERTION_REQUIRED
        description: 'The card issuer requires that the card be read

          using a chip reader.'
        error-category: PAYMENT_METHOD_ERROR
      - name: ALLOWABLE_PIN_TRIES_EXCEEDED
        description: 'The card has exhausted its available pin entry

          retries set by the card issuer. Resolving the error typically requires the

          card holder to contact the card issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: RESERVATION_DECLINED
        description: The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: UNKNOWN_BODY_PARAMETER
        description: The body parameter is not recognized by the requested endpoint.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_FOUND
        description: Not Found - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
        description: Square could not find the associated Apple Pay certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: METHOD_NOT_ALLOWED
        description: Method Not Allowed - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_ACCEPTABLE
        description: Not Acceptable - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_TIMEOUT
        description: Request Timeout - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICT
        description: Conflict - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: GONE
        description: 'The target resource is no longer available and this

          condition is likely to be permanent.'
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_ENTITY_TOO_LARGE
        description: Request Entity Too Large - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_MEDIA_TYPE
        description: Unsupported Media Type - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNPROCESSABLE_ENTITY
        description: Unprocessable Entity - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: RATE_LIMITED
        description: Rate Limited - a general error occurred.
        error-category: RATE_LIMIT_ERROR
      - name: NOT_IMPLEMENTED
        description: Not Implemented - a general error occurred.
        error-category: API_ERROR
      - name: BAD_GATEWAY
        description: Bad Gateway - a general error occurred.
        error-category: API_ERROR
      - name: SERVICE_UNAVAILABLE
        description: Service Unavailable - a general error occurred.
        error-category: API_ERROR
      - name: TEMPORARY_ERROR
        description: 'A temporary internal error occurred. You can safely retry your call

          using the same idempotency key.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GATEWAY_TIMEOUT
        description: Gateway Timeout - a general error occurred.
        error-category: API_ERROR
      description: 'Indicates the specific error that occurred during a request to a

        Square API.'
      x-release-status: PUBLIC
    Currency:
      type: string
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLE
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - XUS
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish zBoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean first leone
      - name: SLE
        description: Sierra Leonean second leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese ’Óng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: XUS
        description: USD Coin
      description: 'Indicates the associated currency for an amount of money. Values correspond

        to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).'
      x-release-status: PUBLIC
    InvoiceRequestMethod:
      type: string
      enum:
      - EMAIL
      - CHARGE_CARD_ON_FILE
      - SHARE_MANUALLY
      - CHARGE_BANK_ON_FILE
      - SMS
      - SMS_CHARGE_CARD_ON_FILE
      - SMS_CHARGE_BANK_ON_FILE
      x-enum-elements:
      - name: EMAIL
        description: 'Directs Square to send invoices, reminders, and receipts to the customer using email.

          Square sends the invoice after it is published (either immediately or at the `scheduled_at`

          time, if specified in the [invoice](entity:Invoice)).'
      - name: CHARGE_CARD_ON_FILE
        description: 'Directs Square to charge the card on file on the `due_date` specified in the payment request

          and to use email to send invoices, reminders, and receipts.'
      - name: SHARE_MANUALLY
        description: "Directs Square to take no specific action on the invoice. In this case, the seller \n(or the application developer) follows up with the customer for payment. For example, \na seller might collect a payment in the Seller Dashboard or use the Point of Sale (POS) application. \nThe seller might also share the URL of the Square-hosted invoice page (`public_url`) with the customer requesting payment."
      - name: CHARGE_BANK_ON_FILE
        description: "Directs Square to charge the customer's bank account on file and to use email to send invoices, reminders, and receipts.\nThe customer must approve the payment.\n\nThe bank on file payment method applies only to invoices that sellers create in the Seller Dashboard or other\nSquare product. The bank account is provided by the customer during the payment flow. You \ncannot set `CHARGE_BANK_ON_FILE` as a request method using the Invoices API."
      - name: SMS
        description: "Directs Square to send invoices and receipts to the customer using SMS (text message). Square sends the invoice\nafter it is published (either immediately or at the `scheduled_at` time, if specified in the [invoice](entity:Invoice)). \n\nYou cannot set `SMS` as a request method using the Invoices API."
      - name: SMS_CHARGE_CARD_ON_FILE
        description: "Directs Square to charge the card on file on the `due_date` specified in the payment request and to\nuse SMS (text message) to send invoices and receipts. \n\nYou cannot set `SMS_CHARGE_CARD_ON_FILE` as a request method using the Invoices API."
      - name: SMS_CHARGE_BANK_ON_FILE
        description: "Directs Square to charge the customer's bank account on file and to use SMS (text message) to send invoices and receipts.\nThe customer must approve the payment.\n\nThe bank on file payment method applies only to invoices that sellers create in the Seller Dashboard\nor other Square product. The bank account is provided by the customer during the payment flow. \nYou cannot set `SMS_CHARGE_BANK_ON_FILE` as a request method using the Invoices API."
      description: "Specifies the action for Square to take for processing the invoice. For example, \nemail the invoice, charge a customer's card on file, or do nothing. DEPRECATED at\nversion 2021-01-21. The corresponding `request_method` field is replaced by the\n`Invoice.delivery_method` and `InvoicePaymentRequest.automatic_payment_source` fields."
      x-release-status: DEPRECATED
    InvoiceStatus:
      type: string
      enum:
      - DRAFT
      - UNPAID
      - SCHEDULED
      - PARTIALLY_PAID
      - PAID
      - PARTIALLY_REFUNDED
      - REFUNDED
      - CANCELED
      - FAILED
      - PAYMENT_PENDING
      x-enum-elements:
      - name: DRAFT
        description: 'The invoice is a draft. You must publish a draft invoice before Square can process it.

          A draft invoice has no `public_url`, so it is not available to customers.'
      - name: UNPAID
        description: The invoice is published but not yet paid.
      - name: SCHEDULED
        description: 'The invoice is scheduled to be processed. On the scheduled date,

          Square sends the invoice, initiates an automatic payment, or takes no action, depending on

          the delivery method and payment request settings. Square also sets the invoice status to the

          appropriate state: `UNPAID`, `PAID`, `PARTIALLY_PAID`, or `PAYMENT_PENDING`.'
      - name: PARTIALLY_PAID
        description: A partial payment is received for the invoice.
      - name: PAID
        description: The customer paid the invoice in full.
      - name: PARTIALLY_REFUNDED
        description: 'The invoice is paid (or partially paid) and some but not all the amount paid is

          refunded.'
      - name: REFUNDED
        description: The full amount that the customer paid for the invoice is refunded.
      - name: CANCELED
        description: 'The invoice is canceled. Square no longer requests payments from the customer.

          The `public_url` page remains and is accessible, but it displays the invoice

          as canceled and does not accept payment.'
      - name: FAILED
        description: Square canceled the invoice due to suspicious activity.
      - name: PAYMENT_PENDING
        description: 'A payment on the invoice was initiated but has not yet been processed.


          When in this state, invoices cannot be updated and other payments cannot be initiated.'
      description: Indicates the status of an invoice.
      x-release-status: PUBLIC
    Money:
      type: object
      description: 'Represents an amount of money. `Money` fields can be signed or unsigned.

        Fields that do not explicitly define whether they are signed or unsigned are

        considered unsigned and can only hold positive amounts. For signed fields, the

[...]
