openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay Team API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: Team
paths:
  /v2/team-members:
    post:
      tags:
      - Team
      summary: Square Create Team Member
      operationId: CreateTeamMember
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates a single `TeamMember` object. The `TeamMember` object is returned on successful creates.

        You must provide the following values in your request to this endpoint:

        - `given_name`

        - `family_name`


        Learn about [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#createteammember).'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamMemberRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTeamMemberResponse'
      x-endpoint-errors:
      - error-code: INVALID_EMAIL_ADDRESS
      - error-code: BAD_REQUEST
      - error-code: FORBIDDEN
  /v2/team-members/bulk-create:
    post:
      tags:
      - Team
      summary: Square Bulk Create Team Members
      operationId: BulkCreateTeamMembers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates multiple `TeamMember` objects. The created `TeamMember` objects are returned on successful creates.

        This process is non-transactional and processes as much of the request as possible. If one of the creates in

        the request cannot be successfully processed, the request is not marked as failed, but the body of the response

        contains explicit error information for the failed create.


        Learn about [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#bulk-create-team-members).'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreateTeamMembersRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreateTeamMembersResponse'
      x-endpoint-errors:
      - error-code: BAD_REQUEST
      - error-code: FORBIDDEN
  /v2/team-members/bulk-update:
    post:
      tags:
      - Team
      summary: Square Bulk Update Team Members
      operationId: BulkUpdateTeamMembers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates multiple `TeamMember` objects. The updated `TeamMember` objects are returned on successful updates.

        This process is non-transactional and processes as much of the request as possible. If one of the updates in

        the request cannot be successfully processed, the request is not marked as failed, but the body of the response

        contains explicit error information for the failed update.

        Learn about [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#bulk-update-team-members).'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateTeamMembersRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateTeamMembersResponse'
      x-endpoint-errors:
      - error-code: BAD_REQUEST
      - error-code: FORBIDDEN
  /v2/team-members/jobs:
    get:
      tags:
      - Team
      summary: Square List Jobs
      operationId: ListJobs
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Lists jobs in a seller account. Results are sorted by title in ascending order.
      x-release-status: BETA
      security:
      - oauth2:
        - EMPLOYEES_READ
      parameters:
      - name: cursor
        description: 'The pagination cursor returned by the previous call to this endpoint. Provide this

          cursor to retrieve the next page of results for your original request. For more information,

          see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: string
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
    post:
      tags:
      - Team
      summary: Square Create Job
      operationId: CreateJob
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates a job in a seller account. A job defines a title and tip eligibility. Note that

        compensation is defined in a [job assignment](entity:JobAssignment) in a team member''s wage setting.'
      x-release-status: BETA
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobResponse'
  /v2/team-members/jobs/{job_id}:
    get:
      tags:
      - Team
      summary: Square Retrieve Job
      operationId: RetrieveJob
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves a specified job.
      x-release-status: BETA
      security:
      - oauth2:
        - EMPLOYEES_READ
      parameters:
      - name: job_id
        description: The ID of the job to retrieve.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveJobResponse'
    put:
      tags:
      - Team
      summary: Square Update Job
      operationId: UpdateJob
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates the title or tip eligibility of a job. Changes to the title propagate to all

        `JobAssignment`, `Shift`, and `TeamMemberWage` objects that reference the job ID. Changes to

        tip eligibility propagate to all `TeamMemberWage` objects that reference the job ID.'
      x-release-status: BETA
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters:
      - name: job_id
        description: The ID of the job to update.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateJobResponse'
  /v2/team-members/search:
    post:
      tags:
      - Team
      summary: Square Search Team Members
      operationId: SearchTeamMembers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Returns a paginated list of `TeamMember` objects for a business. \nThe list can be filtered by location IDs, `ACTIVE` or `INACTIVE` status, or whether\nthe team member is the Square account owner."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTeamMembersRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTeamMembersResponse'
  /v2/team-members/{team_member_id}:
    get:
      tags:
      - Team
      summary: Square Retrieve Team Member
      operationId: RetrieveTeamMember
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves a `TeamMember` object for the given `TeamMember.id`.

        Learn about [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#retrieve-a-team-member).'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_READ
      parameters:
      - name: team_member_id
        description: The ID of the team member to retrieve.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveTeamMemberResponse'
    put:
      tags:
      - Team
      summary: Square Update Team Member
      operationId: UpdateTeamMember
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates a single `TeamMember` object. The `TeamMember` object is returned on successful updates.

        Learn about [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#update-a-team-member).'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters:
      - name: team_member_id
        description: The ID of the team member to update.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamMemberRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTeamMemberResponse'
      x-endpoint-errors:
      - error-code: INVALID_EMAIL_ADDRESS
      - error-code: BAD_REQUEST
      - error-code: FORBIDDEN
  /v2/team-members/{team_member_id}/wage-setting:
    get:
      tags:
      - Team
      summary: Square Retrieve Wage Setting
      operationId: RetrieveWageSetting
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves a `WageSetting` object for a team member specified

        by `TeamMember.id`. For more information, see

        [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#retrievewagesetting).


        Square recommends using [RetrieveTeamMember](api-endpoint:Team-RetrieveTeamMember) or [SearchTeamMembers](api-endpoint:Team-SearchTeamMembers)

        to get this information directly from the `TeamMember.wage_setting` field.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_READ
      parameters:
      - name: team_member_id
        description: The ID of the team member for which to retrieve the wage setting.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveWageSettingResponse'
    put:
      tags:
      - Team
      summary: Square Update Wage Setting
      operationId: UpdateWageSetting
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates or updates a `WageSetting` object. The object is created if a

        `WageSetting` with the specified `team_member_id` doesn''t exist. Otherwise,

        it fully replaces the `WageSetting` object for the team member.

        The `WageSetting` is returned on a successful update. For more information, see

        [Troubleshooting the Team API](https://developer.squareup.com/docs/team/troubleshooting#create-or-update-a-wage-setting).


        Square recommends using [CreateTeamMember](api-endpoint:Team-CreateTeamMember) or [UpdateTeamMember](api-endpoint:Team-UpdateTeamMember)

        to manage the `TeamMember.wage_setting` field directly.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      parameters:
      - name: team_member_id
        description: The ID of the team member for which to update the `WageSetting` object.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWageSettingRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateWageSettingResponse'
components:
  schemas:
    CreateTeamMemberRequest:
      type: object
      description: Represents a create request for a `TeamMember` object.
      x-release-status: PUBLIC
      properties:
        idempotency_key:
          type: string
          description: 'A unique string that identifies this `CreateTeamMember` request.

            Keys can be any valid string, but must be unique for every request.

            For more information, see [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency).


            The minimum length is 1 and the maximum length is 45.'
        team_member:
          $ref: '#/components/schemas/TeamMember'
          description: '**Required** The data used to create the `TeamMember` object. If you include `wage_setting`, you must provide

            `job_id` for each job assignment. To get job IDs, call [ListJobs](api-endpoint:Team-ListJobs).'
      example:
        idempotency_key: idempotency-key-0
        team_member:
          assigned_locations:
            assignment_type: EXPLICIT_LOCATIONS
            location_ids:
            - YSGH2WBKG94QZ
            - GA2Y9HSJ8KRYT
          email_address: joe_doe@gmail.com
          family_name: Doe
          given_name: Joe
          phone_number: '+14159283333'
          reference_id: reference_id_1
          status: ACTIVE
          wage_setting:
            is_overtime_exempt: true
            job_assignments:
            - annual_rate:
                amount: 3000000
                currency: USD
              job_id: FjS8x95cqHiMenw4f1NAUH4P
              pay_type: SALARY
              weekly_hours: 40
            - hourly_rate:
                amount: 2000
                currency: USD
              job_id: VDNpRv8da51NU8qZFC5zDWpF
              pay_type: HOURLY
    CreateTeamMemberResponse:
      type: object
      description: Represents a response from a create request containing the created `TeamMember` object or error messages.
      x-release-status: PUBLIC
      properties:
        team_member:
          $ref: '#/components/schemas/TeamMember'
          description: The successfully created `TeamMember` object.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        team_member:
          assigned_locations:
            assignment_type: EXPLICIT_LOCATIONS
            location_ids:
            - GA2Y9HSJ8KRYT
            - YSGH2WBKG94QZ
          created_at: '2021-06-11T22:55:45Z'
          email_address: joe_doe@example.com
          family_name: Doe
          given_name: Joe
          id: 1yJlHapkseYnNPETIU1B
          is_owner: false
          phone_number: '+14159283333'
          reference_id: reference_id_1
          status: ACTIVE
          updated_at: '2021-06-11T22:55:45Z'
          wage_setting:
            created_at: '2021-06-11T22:55:45Z'
            is_overtime_exempt: true
            job_assignments:
            - annual_rate:
                amount: 3000000
                currency: USD
              hourly_rate:
                amount: 1443
                currency: USD
              job_id: FjS8x95cqHiMenw4f1NAUH4P
              job_title: Manager
              pay_type: SALARY
              weekly_hours: 40
            - hourly_rate:
                amount: 2000
                currency: USD
              job_id: VDNpRv8da51NU8qZFC5zDWpF
              job_title: Cashier
              pay_type: HOURLY
            team_member_id: 1yJlHapkseYnNPETIU1B
            updated_at: '2021-06-11T22:55:45Z'
            version: 1
    TeamMemberStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      x-enum-elements:
      - name: ACTIVE
        description: The team member can sign in to Point of Sale and the Seller Dashboard.
      - name: INACTIVE
        description: 'The team member can no longer sign in to Point of Sale or the Seller Dashboard,

          but the team member''s sales reports remain available.'
      description: Enumerates the possible statuses the team member can have within a business.
      x-release-status: PUBLIC
    UpdateTeamMemberRequest:
      type: object
      description: Represents an update request for a `TeamMember` object.
      x-release-status: PUBLIC
      properties:
        team_member:
          $ref: '#/components/schemas/TeamMember'
          description: 'The team member fields to add, change, or clear. Fields can be cleared using a null value. To update

            `wage_setting.job_assignments`, you must provide the complete list of job assignments. If needed, call

            [ListJobs](api-endpoint:Team-ListJobs) to get the required `job_id` values.'
          nullable: true
      example:
        team_member:
          assigned_locations:
            assignment_type: EXPLICIT_LOCATIONS
            location_ids:
            - YSGH2WBKG94QZ
            - GA2Y9HSJ8KRYT
            wage_setting:
              is_overtime_exempt: true
              job_assignments:
              - annual_rate:
                  amount: 3000000
                  currency: USD
                job_id: FjS8x95cqHiMenw4f1NAUH4P
                pay_type: SALARY
                weekly_hours: 40
              - hourly_rate:
                  amount: 1200
                  currency: USD
                job_id: VDNpRv8da51NU8qZFC5zDWpF
                pay_type: HOURLY
          email_address: joe_doe@gmail.com
          family_name: Doe
          given_name: Joe
          phone_number: '+14159283333'
          reference_id: reference_id_1
          status: ACTIVE
    CreateJobRequest:
      type: object
      description: Represents a [CreateJob](api-endpoint:Team-CreateJob) request.
      x-release-status: BETA
      required:
      - job
      - idempotency_key
      properties:
        job:
          $ref: '#/components/schemas/Job'
          description: The job to create. The `title` field is required and `is_tip_eligible` defaults to true.
        idempotency_key:
          type: string
          description: 'A unique identifier for the `CreateJob` request. Keys can be any valid string,

            but must be unique for each request. For more information, see

            [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency).'
          minLength: 1
          maxLength: 45
      example:
        idempotency_key: idempotency-key-0
        job:
          is_tip_eligible: true
          title: Cashier
    TeamMemberAssignedLocationsAssignmentType:
      type: string
      enum:
      - ALL_CURRENT_AND_FUTURE_LOCATIONS
      - EXPLICIT_LOCATIONS
      x-enum-elements:
      - name: ALL_CURRENT_AND_FUTURE_LOCATIONS
        description: 'The team member is assigned to all current and future locations. The `location_ids` field

          is empty if the team member has this assignment type.'
      - name: EXPLICIT_LOCATIONS
        description: 'The team member is assigned to an explicit subset of locations. The `location_ids` field

          is the list of locations that the team member is assigned to.'
      description: Enumerates the possible assignment types that the team member can have.
      x-release-status: PUBLIC
    RetrieveJobResponse:
      type: object
      description: 'Represents a [RetrieveJob](api-endpoint:Team-RetrieveJob) response. Either `job` or `errors`

        is present in the response.'
      x-release-status: BETA
      properties:
        job:
          $ref: '#/components/schemas/Job'
          description: The retrieved job.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        job:
          created_at: '2021-06-11T22:55:45Z'
          id: 1yJlHapkseYnNPETIU1B
          is_tip_eligible: true
          title: Cashier 1
          updated_at: '2021-06-11T22:55:45Z'
          version: 2
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - INVALID_REQUEST_ERROR
      - RATE_LIMIT_ERROR
      - PAYMENT_METHOD_ERROR
      - REFUND_ERROR
      - MERCHANT_SUBSCRIPTION_ERROR
      - EXTERNAL_VENDOR_ERROR
      x-enum-elements:
      - name: API_ERROR
        description: An error occurred with the Connect API itself.
      - name: AUTHENTICATION_ERROR
        description: 'An authentication error occurred. Most commonly, the request had

          a missing, malformed, or otherwise invalid `Authorization` header.'
      - name: INVALID_REQUEST_ERROR
        description: 'The request was invalid. Most commonly, a required parameter was

          missing, or a provided parameter had an invalid value.'
      - name: RATE_LIMIT_ERROR
        description: 'Your application reached the Square API rate limit. You might receive this error if your application sends a high number of requests

          to Square APIs in a short period of time.


          Your application should monitor responses for `429 RATE_LIMITED` errors and use a retry mechanism with an [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)

          schedule to resend the requests at an increasingly slower rate. It is also a good practice to use a randomized delay (jitter) in your retry schedule.'
      - name: PAYMENT_METHOD_ERROR
        description: 'An error occurred while processing a payment method. Most commonly,

          the details of the payment method were invalid (such as a card''s CVV

          or expiration date).'
      - name: REFUND_ERROR
        description: An error occurred while attempting to process a refund.
      - name: MERCHANT_SUBSCRIPTION_ERROR
        description: An error occurred when checking a merchant subscription status
      - name: EXTERNAL_VENDOR_ERROR
        description: An error that is returned from an external vendor's API
      description: 'Indicates which high-level category of error has occurred during a

        request to the Connect API.'
      x-release-status: PUBLIC
    ErrorCode:
      type: string
      enum:
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED
      - ACCESS_TOKEN_EXPIRED
      - ACCESS_TOKEN_REVOKED
      - CLIENT_DISABLED
      - FORBIDDEN
      - INSUFFICIENT_SCOPES
      - APPLICATION_DISABLED
      - V1_APPLICATION
      - V1_ACCESS_TOKEN
      - CARD_PROCESSING_NOT_ENABLED
      - MERCHANT_SUBSCRIPTION_NOT_FOUND
      - BAD_REQUEST
      - MISSING_REQUIRED_PARAMETER
      - INCORRECT_TYPE
      - INVALID_TIME
      - INVALID_TIME_RANGE
      - INVALID_VALUE
      - INVALID_CURSOR
      - UNKNOWN_QUERY_PARAMETER
      - CONFLICTING_PARAMETERS
      - EXPECTED_JSON_BODY
      - INVALID_SORT_ORDER
      - VALUE_REGEX_MISMATCH
      - VALUE_TOO_SHORT
      - VALUE_TOO_LONG
      - VALUE_TOO_LOW
      - VALUE_TOO_HIGH
      - VALUE_EMPTY
      - ARRAY_LENGTH_TOO_LONG
      - ARRAY_LENGTH_TOO_SHORT
      - ARRAY_EMPTY
      - EXPECTED_BOOLEAN
      - EXPECTED_INTEGER
      - EXPECTED_FLOAT
      - EXPECTED_STRING
      - EXPECTED_OBJECT
      - EXPECTED_ARRAY
      - EXPECTED_MAP
      - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
      - INVALID_ARRAY_VALUE
      - INVALID_ENUM_VALUE
      - INVALID_CONTENT_TYPE
      - INVALID_FORM_VALUE
      - CUSTOMER_NOT_FOUND
      - ONE_INSTRUMENT_EXPECTED
      - NO_FIELDS_SET
      - TOO_MANY_MAP_ENTRIES
      - MAP_KEY_LENGTH_TOO_SHORT
      - MAP_KEY_LENGTH_TOO_LONG
      - CUSTOMER_MISSING_NAME
      - CUSTOMER_MISSING_EMAIL
      - INVALID_PAUSE_LENGTH
      - INVALID_DATE
      - UNSUPPORTED_COUNTRY
      - UNSUPPORTED_CURRENCY
      - APPLE_TTP_PIN_TOKEN
      - CARD_EXPIRED
      - INVALID_EXPIRATION
      - INVALID_EXPIRATION_YEAR
      - INVALID_EXPIRATION_DATE
      - UNSUPPORTED_CARD_BRAND
      - UNSUPPORTED_ENTRY_METHOD
      - INVALID_ENCRYPTED_CARD
      - INVALID_CARD
      - PAYMENT_AMOUNT_MISMATCH
      - GENERIC_DECLINE
      - CVV_FAILURE
      - ADDRESS_VERIFICATION_FAILURE
      - INVALID_ACCOUNT
      - CURRENCY_MISMATCH
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_PERMISSIONS
      - CARDHOLDER_INSUFFICIENT_PERMISSIONS
      - INVALID_LOCATION
      - TRANSACTION_LIMIT
      - VOICE_FAILURE
      - PAN_FAILURE
      - EXPIRATION_FAILURE
      - CARD_NOT_SUPPORTED
      - INVALID_PIN
      - MISSING_PIN
      - MISSING_ACCOUNT_TYPE
      - INVALID_POSTAL_CODE
      - INVALID_FEES
      - MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
      - PAYMENT_LIMIT_EXCEEDED
      - GIFT_CARD_AVAILABLE_AMOUNT
      - ACCOUNT_UNUSABLE
      - BUYER_REFUSED_PAYMENT
      - DELAYED_TRANSACTION_EXPIRED
      - DELAYED_TRANSACTION_CANCELED
      - DELAYED_TRANSACTION_CAPTURED
      - DELAYED_TRANSACTION_FAILED
      - CARD_TOKEN_EXPIRED
      - CARD_TOKEN_USED
      - AMOUNT_TOO_HIGH
      - UNSUPPORTED_INSTRUMENT_TYPE
      - REFUND_AMOUNT_INVALID
      - REFUND_ALREADY_PENDING
      - PAYMENT_NOT_REFUNDABLE
      - PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
      - REFUND_DECLINED
      - INSUFFICIENT_PERMISSIONS_FOR_REFUND
      - INVALID_CARD_DATA
      - SOURCE_USED
      - SOURCE_EXPIRED
      - UNSUPPORTED_LOYALTY_REWARD_TIER
      - LOCATION_MISMATCH
      - IDEMPOTENCY_KEY_REUSED
      - UNEXPECTED_VALUE
      - SANDBOX_NOT_SUPPORTED
      - INVALID_EMAIL_ADDRESS
      - INVALID_PHONE_NUMBER
      - CHECKOUT_EXPIRED
      - BAD_CERTIFICATE
      - INVALID_SQUARE_VERSION_FORMAT
      - API_VERSION_INCOMPATIBLE
      - CARD_PRESENCE_REQUIRED
      - UNSUPPORTED_SOURCE_TYPE
      - CARD_MISMATCH
      - PLAID_ERROR
      - PLAID_ERROR_ITEM_LOGIN_REQUIRED
      - PLAID_ERROR_RATE_LIMIT
      - CARD_DECLINED
      - VERIFY_CVV_FAILURE
      - VERIFY_AVS_FAILURE
      - CARD_DECLINED_CALL_ISSUER
      - CARD_DECLINED_VERIFICATION_REQUIRED
      - BAD_EXPIRATION
      - CHIP_INSERTION_REQUIRED
      - ALLOWABLE_PIN_TRIES_EXCEEDED
      - RESERVATION_DECLINED
      - UNKNOWN_BODY_PARAMETER
      - NOT_FOUND
      - APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
      - METHOD_NOT_ALLOWED
      - NOT_ACCEPTABLE
      - REQUEST_TIMEOUT
      - CONFLICT
      - GONE
      - REQUEST_ENTITY_TOO_LARGE
      - UNSUPPORTED_MEDIA_TYPE
      - UNPROCESSABLE_ENTITY
      - RATE_LIMITED
      - NOT_IMPLEMENTED
      - BAD_GATEWAY
      - SERVICE_UNAVAILABLE
      - TEMPORARY_ERROR
      - GATEWAY_TIMEOUT
      x-enum-elements:
      - name: INTERNAL_SERVER_ERROR
        description: A general server error occurred.
        error-category: API_ERROR
      - name: UNAUTHORIZED
        description: A general authorization error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_EXPIRED
        description: The provided access token has expired.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_REVOKED
        description: The provided access token has been revoked.
        error-category: AUTHENTICATION_ERROR
      - name: CLIENT_DISABLED
        description: The provided client has been disabled.
        error-category: AUTHENTICATION_ERROR
      - name: FORBIDDEN
        description: A general access error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: INSUFFICIENT_SCOPES
        description: 'The provided access token does not have permission

          to execute the requested action.'
        error-category: AUTHENTICATION_ERROR
      - name: APPLICATION_DISABLED
        description: The calling application was disabled.
        error-category: INVALID_REQUEST_ERROR
      - name: V1_APPLICATION
        description: 'The calling application was created prior to

          2016-03-30 and is not compatible with v2 Square API calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: V1_ACCESS_TOKEN
        description: 'The calling application is using an access token

          created prior to 2016-03-30 and is not compatible with v2 Square API

          calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PROCESSING_NOT_ENABLED
        description: 'The location provided in the API call is not

          enabled for credit card processing.'
        error-category: INVALID_REQUEST_ERROR
      - name: MERCHANT_SUBSCRIPTION_NOT_FOUND
        description: A required subscription was not found for the merchant
        error-category: MERCHANT_SUBSCRIPTION_ERROR
      - name: BAD_REQUEST
        description: A general error occurred with the request.
        error-category: INVALID_REQUEST_ERROR
      - name: MISSING_REQUIRED_PARAMETER
        description: 'The request is missing a required path, query, or

          body parameter.'
        error-category: INVALID_REQUEST_ERROR
      - name: INCORRECT_TYPE
        description: 'The value provided in the request is the wrong

          type. For example, a string instead of an integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME
        description: 'Formatting for the provided time value is

          incorrect.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME_RANGE
        description: 'The time range provided in the request is invalid.

          For example, the end time is before the start time.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_VALUE
        description: 'The provided value is invalid. For example,

          including `%` in a phone number.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CURSOR
        description: 'The pagination cursor included in the request is

          invalid.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNKNOWN_QUERY_PARAMETER
        description: 'The query parameters provided is invalid for the

          requested endpoint.'
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICTING_PARAMETERS
        description: 'One or more of the request parameters conflict with

          each other.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_JSON_BODY
        description: The request body is not a JSON object.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SORT_ORDER
        description: 'The provided sort order is not a valid key.

          Currently, sort order must be `ASC` or `DESC`.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_REGEX_MISMATCH
        description: 'The provided value does not match an expected

          regular expression.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_SHORT
        description: 'The provided string value is shorter than the

          minimum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LONG
        description: 'The provided string value is longer than the

          maximum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LOW
        description: 'The provided value is less than the supported

          minimum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_HIGH
        description: 'The provided value is greater than the supported

          maximum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_EMPTY
        description: 'The provided value has a default (empty) value

          such as a blank string.'
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_LONG
        description: The provided array has too many elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_SHORT
        description: The provided array has too few elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_EMPTY
        description: The provided array is empty.
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BOOLEAN
        description: 'The endpoint expected the provided value to be a

          boolean.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_INTEGER
        description: 'The endpoint expected the provided value to be an

          integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_FLOAT
        description: 'The endpoint expected the provided value to be a

          float.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_STRING
        description: 'The endpoint expected the provided value to be a

          string.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_OBJECT
        description: 'The endpoint expected the provided value to be a

          JSON object.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_ARRAY
        description: 'The endpoint expected the provided value to be an

          array or list.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_MAP
        description: 'The endpoint expected the provided value to be a

          map or associative array.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BASE64_ENCODED_BYTE_ARRAY
        description: 'The endpoint expected the provided value to be an

          array encoded in base64.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ARRAY_VALUE
        description: 'One or more objects in the array does not match the

          array type.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ENUM_VALUE
        description: 'The provided static string is not valid for the

          field.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CONTENT_TYPE
        description: Invalid content type header.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_FORM_VALUE
        description: 'Only relevant for applications created prior to

          2016-03-30. Indicates there was an error while parsing form values.'
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_NOT_FOUND
        description: The provided customer id can't be found in the merchant's customers list.
        error-category: INVALID_REQUEST_ERROR
      - name: ONE_INSTRUMENT_EXPECTED
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NO_FIELDS_SET
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: TOO_MANY_MAP_ENTRIES
        description: Too many entries in the map field.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_SHORT
        description: The length of one of the provided keys in the map is too short.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_LONG
        description: The length of one of the provided keys in the map is too long.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_NAME
        description: The provided customer does not have a recorded name.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_EMAIL
        description: The provided customer does not have a recorded email.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PAUSE_LENGTH
        description: The subscription cannot be paused longer than the duration of the current phase.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_DATE
        description: The subscription cannot be paused/resumed on the given date.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_COUNTRY
        description: The API request references an unsupported country.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CURRENCY
        description: The API request references an unsupported currency.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_TTP_PIN_TOKEN
        description: 'The payment was declined by the card issuer during an Apple Tap to Pay (TTP)

          transaction with a request for the card''s PIN. This code will be returned alongside

          `CARD_DECLINED_VERIFICATION_REQUIRED` as a supplemental error, and will include an

          issuer-provided token in the `details` field that is needed to initiate the PIN

          collection flow on the iOS device.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_EXPIRED
        description: The card issuer declined the request because the card is expired.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION
        description: 'The expiration date for the payment card is invalid. For example,

          it indicates a date in the past.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION_YEAR
        description: 'The expiration year for the payment card is invalid. For example,

          it indicates a year in the past or contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EXPIRATION_DATE
        description: 'The expiration date for the payment card is invalid. For example,

          it contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CARD_BRAND
        description: The credit card provided is not from a supported issuer.
        error-category: PAYMENT_METHOD_ERROR
      - name: UNSUPPORTED_ENTRY_METHOD
        description: The entry method for the credit card (swipe, dip, tap) is not supported.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ENCRYPTED_CARD
        description: The encrypted card information is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_CARD
        description: The credit card cannot be validated based on the provided details.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_AMOUNT_MISMATCH
        description: 'The payment was declined because there was a payment amount mismatch.

          The money amount Square was expecting does not match the amount provided.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GENERIC_DECLINE
        description: 'Square received a decline without any additional information.

          If the payment information seems correct, the buyer can contact their

          issuer to ask for more information.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CVV_FAILURE
        description: The card issuer declined the request because the CVV value is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: ADDRESS_VERIFICATION_FAILURE
        description: The card issuer declined the request because the postal code is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ACCOUNT
        description: The issuer was not able to locate the account on record.
        error-category: PAYMENT_METHOD_ERROR
      - name: CURRENCY_MISMATCH
        description: 'The currency associated with the payment is not valid for the provided

          funding source. For example, a gift card funded in USD cannot be used to process

          payments in GBP.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_FUNDS
        description: The funding source has insufficient funds to cover the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_PERMISSIONS
        description: 'The Square account does not have the permissions to accept

          this payment. For example, Square may limit which merchants are

          allowed to receive gift card payments.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARDHOLDER_INSUFFICIENT_PERMISSIONS
        description: 'The card issuer has declined the transaction due to restrictions on where the card can be used.

          For example, a gift card is limited to a single merchant.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_LOCATION
        description: 'The Square account cannot take payments in the specified region.

          A Square account can take payments only from the region where the account was created.'
        error-category: PAYMENT_METHOD_ERROR
      - name: TRANSACTION_LIMIT
        description: 'The card issuer has determined the payment amount is either too high or too low.

          The API returns the error code mostly for credit cards (for example, the card reached

          the credit limit). However, sometimes the issuer bank can indicate the error for debit

          or prepaid cards (for example, card has insufficient funds).'
        error-category: PAYMENT_METHOD_ERROR
      - name: VOICE_FAILURE
        description: The card issuer declined the request because the issuer requires voice authorization from the cardholder. The seller should ask the customer to contact the card issuing bank to authorize the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAN_FAILURE
        description: 'The specified card number is invalid. For example, it is of

          incorrect length or is incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: EXPIRATION_FAILURE
        description: 'The card expiration date is either invalid or indicates that the

          card is expired.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_NOT_SUPPORTED
        description: 'The card is not supported either in the geographic region or by

          the [merchant category code](https://developer.squareup.com/docs/locations-api#initialize-a-merchant-category-code) (MCC).'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_PIN
        description: The card issuer declined the request because the PIN is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_PIN
        description: The payment is missing a required PIN.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_ACCOUNT_TYPE
        description: The payment is missing a required ACCOUNT_TYPE parameter.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_POSTAL_CODE
        description: The postal code is incorrectly formatted.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_FEES
        description: The app_fee_money on a payment is too high.
        error-category: PAYMENT_METHOD_ERROR
      - name: MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
        description: The card must be swiped, tapped, or dipped. Payments attempted by manually entering the card number are declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_LIMIT_EXCEEDED
        description: Square declined the request because the payment amount exceeded the processing limit for this merchant.
        error-category: PAYMENT_METHOD_ERROR
      - name: GIFT_CARD_AVAILABLE_AMOUNT
        description: 'When a Gift Card is a payment source, you can allow taking a partial payment

          by adding the `accept_partial_authorization` parameter in the request.

          However, taking such a partial payment does not work if your request also includes

          `tip_money`, `app_fee_money`, or both. Square declines such payments and returns

          the `GIFT_CARD_AVAILABLE_AMOUNT` error.

          For more information, see

          [CreatePayment errors (additional information)](https://developer.squareup.com/docs/payments-api/error-codes#createpayment-errors-additional-information).'
        error-category: PAYMENT_METHOD_ERROR
      - name: ACCOUNT_UNUSABLE
        description: The account provided cannot carry out transactions.
        error-category: PAYMENT_METHOD_ERROR
      - name: BUYER_REFUSED_PAYMENT
        description: Bank account rejected or was not authorized for the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: DELAYED_TRANSACTION_EXPIRED
        description: The application tried to update a delayed-capture payment that has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CANCELED
        description: The application tried to cancel a delayed-capture payment that was already cancelled.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CAPTURED
        description: The application tried to capture a delayed-capture payment that was already captured.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_FAILED
        description: The application tried to update a delayed-capture payment that failed.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_EXPIRED
        description: The provided card token (nonce) has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_USED
        description: The provided card token (nonce) was already used to process the payment or refund.
        error-category: INVALID_REQUEST_ERROR
      - name: AMOUNT_TOO_HIGH
        description: The requested payment amount is too high for the provided payment source.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_INSTRUMENT_TYPE
        description: The API request references an unsupported instrument type.
        error-category: INVALID_REQUEST_ERROR
      - name: REFUND_AMOUNT_INVALID
        description: The requested refund amount exceeds the amount available to refund.
        error-category: REFUND_ERROR
      - name: REFUND_ALREADY_PENDING
        description: The payment already has a pending refund.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE
        description: The payment is not refundable. For example, the payment is too old to be refunded.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
        description: The payment is not refundable because it has been disputed.
        error-category: REFUND_ERROR
      - name: REFUND_DECLINED
        description: Request failed - The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: INSUFFICIENT_PERMISSIONS_FOR_REFUND
        description: The Square account does not have the permissions to process this refund.
        error-category: REFUND_ERROR
      - name: INVALID_CARD_DATA
        description: Generic error - the provided card data is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_USED
        description: The provided source id was already used to create a card.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_EXPIRED
        description: The provided source id has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_LOYALTY_REWARD_TIER
        description: 'The referenced loyalty program reward tier is not supported.

          This could happen if the reward tier created in a first party

          application is incompatible with the Loyalty API.'
        error-category: INVALID_REQUEST_ERROR
      - name: LOCATION_MISMATCH
        description: Generic error - the given location does not matching what is expected.
        error-category: INVALID_REQUEST_ERROR
      - name: IDEMPOTENCY_KEY_REUSED
        description: The provided idempotency key has already been used.
        error-category: INVALID_REQUEST_ERROR
      - name: UNEXPECTED_VALUE
        description: General error - the value provided was unexpected.
        error-category: INVALID_REQUEST_ERROR
      - name: SANDBOX_NOT_SUPPORTED
        description: The API request is not supported in sandbox.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EMAIL_ADDRESS
        description: The provided email address is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PHONE_NUMBER
        description: The provided phone number is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: CHECKOUT_EXPIRED
        description: The provided checkout URL has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: BAD_CERTIFICATE
        description: Bad certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SQUARE_VERSION_FORMAT
        description: The provided Square-Version is incorrectly formatted.
        error-category: INVALID_REQUEST_ERROR
      - name: API_VERSION_INCOMPATIBLE
        description: The provided Square-Version is incompatible with the requested action.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PRESENCE_REQUIRED
        description: The transaction requires that a card be present.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_SOURCE_TYPE
        description: The API request references an unsupported source type.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_MISMATCH
        description: The provided card does not match what is expected.
        error-category: REFUND_ERROR
      - name: PLAID_ERROR
        description: Generic plaid error
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_ITEM_LOGIN_REQUIRED
        description: Plaid error - ITEM_LOGIN_REQUIRED
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_RATE_LIMIT
        description: Plaid error - RATE_LIMIT
        error-category: EXTERNAL_VENDOR_ERROR
      - name: CARD_DECLINED
        description: The card was declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_CVV_FAILURE
        description: The CVV could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_AVS_FAILURE
        description: The AVS could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_CALL_ISSUER
        description: 'The payment card was declined with a request

          for the card holder to call the issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_VERIFICATION_REQUIRED
        description: 'The payment card was declined with a request

          for additional verification.'
        error-category: PAYMENT_METHOD_ERROR
      - name: BAD_EXPIRATION
        description: 'The card expiration date is either missing or

          incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CHIP_INSERTION_REQUIRED
        description: 'The card issuer requires that the card be read

          using a chip reader.'
        error-category: PAYMENT_METHOD_ERROR
      - name: ALLOWABLE_PIN_TRIES_EXCEEDED
        description: 'The card has exhausted its available pin entry

          retries set by the card issuer. Resolving the error typically requires the

          card holder to contact the card issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: RESERVATION_DECLINED
        description: The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: UNKNOWN_BODY_PARAMETER
        description: The body parameter is not recognized by the requested endpoint.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_FOUND
        description: Not Found - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
        description: Square could not find the associated Apple Pay certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: METHOD_NOT_ALLOWED
        description: Method Not Allowed - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_ACCEPTABLE
        description: Not Acceptable - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_TIMEOUT
        description: Request Timeout - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICT
        description: Conflict - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: GONE
        description: 'The target resource is no longer available and this

          condition is likely to be permanent.'
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_ENTITY_TOO_LARGE
        description: Request Entity Too Large - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_MEDIA_TYPE
        description: Unsupported Media Type - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNPROCESSABLE_ENTITY
        description: Unprocessable Entity - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: RATE_LIMITED
        description: Rate Limited - a general error occurred.
        error-category: RATE_LIMIT_ERROR
      - name: NOT_IMPLEMENTED
        description: Not Implemented - a general error occurred.
        error-category: API_ERROR
      - name: BAD_GATEWAY
        description: Bad Gateway - a general error occurred.
        error-category: API_ERROR
      - name: SERVICE_UNAVAILABLE
        description: Service Unavailable - a general error occurred.
        error-category: API_ERROR
      - name: TEMPORARY_ERROR
        description: 'A temporary internal error occurred. You can safely retry your call

          using the same idempotency key.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GATEWAY_TIMEOUT
        description: Gateway Timeout - a general error occurred.
        error-category: API_ERROR
      description: 'Indicates the specific error that occurred during a request to a

        Square API.'
      x-release-status: PUBLIC
    Currency:
      type: string
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLE
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - XUS
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish zBoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean first leone
      - name: SLE
        description: Sierra Leonean second leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese ’Óng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: XUS
        description: USD Coin
      description: 'Indicates the associated currency for an amount of money. Values correspond

        to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).'
      x-release-status: PUBLIC
    UpdateTeamMemberResponse:
      type: object
      description: Represents a response from an update request containing the updated `TeamMember` object or error messages.
      x-release-status: PUBLIC
      properties:
        team_member:
          $ref: '#/components/schemas/TeamMember'
          description: The successfully updated `TeamMember` object.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        team_member:
          assigned_locations:
            assignment_type: EXPLICIT_LOCATIONS
            location_ids:
            - GA2Y9HSJ8KRYT
            - YSGH2WBKG94QZ
          created_at: '2021-06-11T22:55:45Z'
          email_address: joe_doe@example.com
          family_name: Doe
          given_name: Joe
          id: 1yJlHapkseYnNPETIU1B
          is_owner: false
          phone_number: '+14159283333'
          reference_id: reference_id_1
          status: ACTIVE
          updated_at: '2021-06-15T17:38:05Z'
          wage_setting:
            created_at: '2021-06-11T22:55:45Z'
            is_overtime_exempt: true
            job_assignments:
            - annual_rate:
                amount: 3000000
                currency: USD
              hourly_rate:
                amount: 1443
                currency: USD
              job_id: FjS8x95cqHiMenw4f1NAUH4P
              job_title: Manager
              pay_type: SALARY
              weekly_hours: 40
            - hourly_rate:
                amount: 1200
                currency: USD
              job_id: VDNpRv8da51NU8qZFC5zDWpF
              job_title: Cashier
              pay_type: HOURLY
            team_member_id: 1yJlHapkseYnNPETIU1B
            updated_at: '2021-06-11T22:55:45Z'
            version: 1
    BulkCreateTeamMembersResponse:
      type: object
      description: Represents a response from a bulk create request containing the created `TeamMember` objects or error messages.
      x-release-status: PUBLIC
      properties:
        team_members:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CreateTeamMemberResponse'
          description: The successfully created `TeamMember` objects. Each key is the `idempotency_key` that maps to the `CreateTeamMemberRequest`.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        team_members:
          idempotency-key-1:
            team_member:
              assigned_locations:
                assignment_type: EXPLICIT_LOCATIONS
                location_ids:
                - GA2Y9HSJ8KRYT
                - YSGH2WBKG94QZ
              email_address: joe_doe@gmail.com
              family_name: Doe
              given_name: Joe
              id: ywhG1qfIOoqsHfVRubFV
              is_owner: false
              phone_number: '+14159283333'
              reference_id: reference_id_1
              status: ACTIVE
          idempotency-key-2:
            team_member:
              assigned_locations:
                assignment_type: ALL_CURRENT_AND_FUTURE_LOCATIONS
              email_address: jane_smith@gmail.com
              family_name: Smith
              given_name: Jane
              id: IF_Ncrg7fHhCqxVI9T6R
              is_owner: false
              phone_number: '+14159223334'
              reference_id: reference_id_2
              status: ACTIVE
    Money:
      type: object
      description: 'Represents an amount of money. `Money` fields can be signed or unsigned.

        Fields that do not explicitly define whether they are signed or unsigned are

        considered unsigned and can only hold positive amounts. For signed fields, the

        sign of the value indicates the purpose of the money transfer. See

        [Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts)

        for more information.'
      x-release-status: PUBLIC
      properties:
        amount:
          type: integer
          description: 'The amount of money, in the smallest denomination of the currency

            indicated by `currency`. For example, when `currency` is `USD`, `amount` is

            in cents. Monetary amounts can be positive or negative. See the specific

            field description to determine the meaning of the sign in a particular case.'
          format: int64
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
          description: 'The type of currency, in __ISO 4217 format__. For example, the currency

            code for US dollars is `USD`.


            See [Currency](entity:Currency) for possible values.

            See [Currency](#type-currency) for possible values'
          nullable: true
    WageSetting:
      type: object
      description: 'Represents information about the overtime exemption status, job assignments, and compensation

        for a [team member](entity:TeamMember).'
      x-release-status: PUBLIC
      properties:
        team_member_id:
          type: string
          description: The ID of the team member associated with the wage setting.
          nullable: true
        job_assignments:
          type: array
          items:
            $ref: '#/components/schemas/JobAssignment'
          description: '**Required** The ordered list of jobs that the team member is assigned to.

            The first job assignment is considered the team member''s primary job.'
          nullable: true
        is_overtime_exempt:
          type: boolean
          description: Whether the team member is exempt from the overtime rules of the seller's country.
          nullable: true
        version:
          type: integer
          description: '**Read only** Used for resolving concurrency issues. The request fails if the version

            provided does not match the server version at the time of the request. If not provided,

            Square executes a blind write, potentially overwriting data from another write. For more information,

            see [optimistic concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency).'
        created_at:
          type: string
          description: The timestamp when the wage setting was created, in RFC 3339 format.
          readOnly: true
        updated_at:
          type: string
          description: The timestamp when the wage setting was last updated, in RFC 3339 format.
          readOnly: true
    SearchTeamMembersQuery:
      type: object
      description: Represents the parameters in a search for `TeamMember` objects.
      x-release-status: PUBLIC
      properties:
        filter:
          $ref: '#/components/schemas/SearchTeamMembersFilter'
          description: The options to filter by.
          nullable: true
    UpdateJobRequest:
      type: object
      description: Represents an [UpdateJob](api-endpoint:Team-UpdateJob) request.
      x-release-status: BETA
      required:
      - job
      properties:
        job:
          $ref: '#/components/schemas/Job'
          description: 'The job with the updated fields, either `title`, `is_tip_eligible`, or both. Only changed fields need

            to be included in the request. Optionally include `version` to enable optimistic concurrency control.'
      example:
        job:
          is_tip_eligible: true
          title: Cashier 1
    UpdateWageSettingResponse:
      type: object
      description: 'Represents a response from an update request containing the updated `WageSetting` object

        or error messages.'
      x-release-status: PUBLIC
      properties:
        wage_setting:
          $ref: '#/components/schemas/WageSetting'
          description: The successfully updated `WageSetting` object.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        wage_setting:
          created_at: '2019-07-10T17:26:48+00:00'
          is_overtime_exempt: true
          job_assignments:
          - annual_rate:
              amount: 3000000
              currency: USD
            hourly_rate:
              amount: 1443
              currency: USD
            job_title: Manager
            pay_type: SALARY
            weekly_hours: 40
          - hourly_rate:
              amount: 2000
              currency: USD
            job_title: Cashier
            pay_type: HOURLY
          team_member_id: -3oZQKPKVk6gUXU_V5Qa
          updated_at: '2020-06-11T23:12:04+00:00'
          version: 1
    SearchTeamMembersFilter:
      type: object
      description: 'Represents a filter used in a search for `TeamMember` objects. `AND` logic is applied

        between the individual fields, and `OR` logic is applied within list-based fields.

        For example, setting this filter value:

        ```

        filter = (locations_ids = ["A", "B"], status = ACTIVE)

        ```

        returns only active team members assigned to either location "A" or "B".'
      x-release-status: PUBLIC
      properties:
        location_ids:
          type: array
          items:
            type: string
          description: 'When present, filters by team members assigned to the specified locations.

            When empty, includes team members assigned to any location.'
          nullable: true
        status:
          $ref: '#/components/schemas/TeamMemberStatus'
          description: 'When present, filters by team members who match the given status.

            When empty, includes team members of all statuses.

            See [TeamMemberStatus](#type-teammemberstatus) for possible values'
          nullable: true
        is_owner:
          type: boolean
          description: When present and set to true, returns the team member who is the owner of the Square account.
          nullable: true
    BulkUpdateTeamMembersResponse:
      type: object
      description: Represents a response from a bulk update request containing the updated `TeamMember` objects or error messages.
      x-release-status: PUBLIC
      properties:
        team_members:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UpdateTeamMemberResponse'
          description: The successfully updated `TeamMember` objects. Each key is the `team_member_id` that maps to the `UpdateTeamMemberRequest`.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        team_members:
          AFMwA08kR-MIF-3Vs0OE:
            team_member:
              assigned_locations:
                assignment_type: ALL_CURRENT_AND_FUTURE_LOCATIONS
              created_at: '2020-03-24T18:14:00Z'
              email_address: jane_smith@example.com
              family_name: Smith
              given_name: Jane
              id: AFMwA08kR-MIF-3Vs0OE
              is_owner: false
              phone_number: '+14159223334'
              reference_id: reference_id_2
              status: ACTIVE
              updated_at: '2020-03-24T18:18:00Z'
          fpgteZNMaf0qOK-a4t6P:
            team_member:
              assigned_locations:
                assignment_type: EXPLICIT_LOCATIONS
                location_ids:
                - GA2Y9HSJ8KRYT
                - YSGH2WBKG94QZ
              created_at: '2020-03-24T18:14:00Z'
              email_address: joe_doe@example.com
              family_name: Doe
              given_name: Joe
              id: fpgteZNMaf0qOK-a4t6P
              is_owner: false
              phone_number: '+14159283333'
              reference_id: reference_id_1
              status: ACTIVE
              updated_at: '2020-03-24T18:18:00Z'
    BulkCreateTeamMembersRequest:
      type: object
      description: Represents a bulk create request for `TeamMember` objects.
      x-release-status: PUBLIC
      required:
      - team_members
      properties:
        team_members:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CreateTeamMemberRequest'
          description: 'The data used to create the `TeamMember` objects. Each key is the `idempotency_key` that maps to the `CreateTeamMemberRequest`.

            The maximum number of create objects is 25.


            If you include a team member''s `wage_setting`, you must provide `job_id` for each job assignment. To get job IDs,

            call [ListJobs](api-endpoint:Team-ListJobs).'
      example:
        team_members:
          idempotency-key-1:
            team_member:
              assigned_locations:
                assignment_type: EXPLICIT_LOCATIONS
                location_ids:
                - YSGH2WBKG94QZ
                - GA2Y9HSJ8KRYT
              email_address: joe_doe@gmail.com
              family_name: Doe
              given_name: Joe
              phone_number: '+14159283333'
              reference_id: reference_id_1
          idempotency-key-2:
            team_member:
              assigned_locations:
                assignment_type: ALL_CURRENT_AND_FUTURE_LOCATIONS
              email_address: jane_smith@gmail.com
              family_name: Smith
              given_name: Jane
              phone_number: '+14159223334'
              reference_id: reference_id_2
    TeamMember:
      type: object
      description: A record representing an individual team member for a business.
      x-release-status: PUBLIC
      properties:
        id:
          type: string
          description: The unique ID for the team member.
          readOnly: true
        reference_id:
          type: string
          description: A second ID used to associate the team member with an entity in another system.
          nullable: true
        is_owner:
          type: boolean
          description: Whether the team member is the owner of the Square account.
          readOnly: true
        status:
          $ref: '#/components/schemas/TeamMemberStatus'
          description: 'Describes the status of the team member.

            See [TeamMemberStatus](#type-teammemberstatus) for possible values'
          nullable: true
        given_name:
          type: string
          description: The given name (that is, the first name) associated with the team member.
          nullable: true
        family_name:
          type: string
          description: The family name (that is, the last name) associated with the team member.
          nullable: true
        email_address:
          type: string
          description: 'The email address associated with the team member. After accepting the invitation

            from Square, only the team member can change this value.'
          nullable: true
        phone_number:
          type: string
          description: 'The team member''s phone number, in E.164 format. For example:

            +14155552671 - the country code is 1 for US

            +551155256325 - the country code is 55 for BR'
          nullable: true
        created_at:
          type: string
          description: The timestamp when the team member was created, in RFC 3339 format.
          readOnly: true
        updated_at:
          type: string
          description: The timestamp when the team member was last updated, in RFC 3339 format.
          readOnly: true
        assigned_locations:
          $ref: '#/components/schemas/TeamMemberAssignedLocations'
          description: Describes the team member's assigned locations.
          nullable: true
        wage_setting:
          $ref: '#/components/schemas/WageSetting'
          description: Information about the team member's overtime exemption status, job assignments, and compensation.
          x-release-status: BETA
          nullable: true
    RetrieveTeamMemberResponse:
      type: object
      description: Represents a response from a retrieve request containing a `TeamMember` object or error messages.
      x-release-status: PUBLIC
      properties:
        team_member:
          $ref: '#/components/schemas/TeamMember'
          description: The successfully retrieved `TeamMember` object.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        team_member:
          assigned_locations:
            assignment_type: EXPLICIT_LOCATIONS
            location_ids:
            - GA2Y9HSJ8KRYT
            - YSGH2WBKG94QZ
          created_at: '2021-06-11T22:55:45Z'
          email_address: joe_doe@example.com
          family_name: Doe
          given_name: Joe
          id: 1yJlHapkseYnNPETIU1B
          is_owner: false
          phone_number: '+14159283333'
          reference_id: reference_id_1
          status: ACTIVE
          updated_at: '2021-06-15T17:38:05Z'
          wage_setting:
            created_at: '2021-06-11T22:55:45Z'
            is_overtime_exempt: true
            job_assignments:
            - annual_rate:
                amount: 3000000
                currency: USD
              hourly_rate:
                amount: 1443
                currency: USD
              job_id: FjS8x95cqHiMenw4f1NAUH4P
              job_title: Manager
              pay_type: SALARY
              weekly_hours: 40
            - hourly_rate:
                amount: 2000
                currency: USD
              job_id: VDNpRv8da51NU8qZFC5zDWpF
              job_title: Cashier
              pay_type: HOURLY
            team_member_id: 1yJlHapkseYnNPETIU1B
            updated_at: '2021-06-11T22:55:45Z'
            version: 1
    Error:
      type: object
      description: 'Represents an error encountered during a request to the Connect API.


        See [Handling errors](https://developer.squareup.com/docs/build-basics/handling-errors) for more information.'
      x-release-status: PUBLIC
      required:
      - category
      - code
      properties:
        category:
          $ref: '#/components/schemas/ErrorCategory'
          description: 'The high-level category for the error.

            See [ErrorCategory](#type-errorcategory) for possible values'
        code:
          $ref: '#/components/schemas/ErrorCode'
          description: 'The specific code of the error.

            See [ErrorCode](#type-errorcode) for possible values'
        detail:
          type: string
          description: A human-readable description of the error for debugging purposes.
        field:
          type: string
          description: 'The name of the field provided in the original request (if any) that

            the error pertains to.'
    CreateJobResponse:
      type: object
      description: 'Represents a [CreateJob](api-endpoint:Team-CreateJob) response. Either `job` or `errors`

        is present in the response.'
      x-release-status: BETA
      properties:
        job:
          $ref: '#/components/schemas/Job'
          description: The new job.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        job:
          created_at: '2021-06-11T22:55:45Z'
          id: 1yJlHapkseYnNPETIU1B
          is_tip_eligible: true
          title: Cashier
          updated_at: '2021-06-11T22:55:45Z'
          version: 1
    JobAssignmentPayType:
      type: string
      enum:
      - NONE
      - HOURLY
      - SALARY
      x-enum-elements:
      - name: NONE
        description: The job does not have a defined pay type.
      - name: HOURLY
        description: The job pays an hourly rate.
      - name: SALARY
        description: The job pays an annual salary.
      description: Enumerates the possible pay types that a job can be assigned.
      x-release-status: PUBLIC
    JobAssignment:
      type: object
      description: 'Represents a job assigned to a [team member](entity:TeamMember), including the compensation the team

        member earns for the job. Job assignments are listed in the team member''s [wage setting](entity:WageSetting).'
      x-release-status: PUBLIC
      required:
      - pay_type
      properties:
        job_title:
          type: string
          description: The title of the job.
          nullable: true
        pay_type:
          $ref: '#/components/schemas/JobAssignmentPayType'
          description: 'The current pay type for the job assignment used to

            calculate the pay amount in a pay period.

            See [JobAssignmentPayType](#type-jobassignmentpaytype) for possible values'
        hourly_rate:
          $ref: '#/components/schemas/Money'
          description: 'The hourly pay rate of the job. For `SALARY` pay types, Square calculates the hourly rate based on

            `annual_rate` and `weekly_hours`.'
          nullable: true
        annual_rate:
          $ref: '#/components/schemas/Money'
          description: The total pay amount for a 12-month period on the job. Set if the job `PayType` is `SALARY`.
          nullable: true
        weekly_hours:
          type: integer
          description: The planned hours per week for the job. Set if the job `PayType` is `SALARY`.
          nullable: true
        job_id:
          type: string
          description: The ID of the [job](entity:Job).
          x-release-status: BETA
          nullable: true
    BulkUpdateTeamMembersRequest:
      type: object
      description: Represents a bulk update request for `TeamMember` objects.
      x-release-status: PUBLIC
      required:
      - team_members
      properties:
        team_members:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UpdateTeamMemberRequest'
          description: 'The data used to update the `TeamMember` objects. Each key is the `team_member_id` that maps to the `UpdateTeamMemberRequest`.

            The maximum number of update objects is 25.


            For each team member, include the fields to add, change, or clear. Fields can be cleared using a null value.

            To update `wage_setting.job_assignments`, you must provide the complete list of job assignments. If needed,

            call [ListJobs](api-endpoint:Team-ListJobs) to get the required `job_id` values.'
      example:
        team_members:
          AFMwA08kR-MIF-3Vs0OE:
            team_member:
              assigned_locations:
                assignment_type: ALL_CURRENT_AND_FUTURE_LOCATIONS
              email_address: jane_smith@gmail.com
              family_name: Smith
              given_name: Jane
              is_owner: false
              phone_number: '+14159223334'
              reference_id: reference_id_2
              status: ACTIVE
          fpgteZNMaf0qOK-a4t6P:
            team_member:
              assigned_locations:
                assignment_type: EXPLICIT_LOCATIONS
                location_ids:
                - YSGH2WBKG94QZ
                - GA2Y9HSJ8KRYT
              email_address: joe_doe@gmail.com
              family_name: Doe
              given_name: Joe
              is_owner: false
              phone_number: '+14159283333'
              reference_id: reference_id_1
              status: ACTIVE
    Job:
      type: object
      description: 'Represents a job that can be assigned to [team members](entity:TeamMember). This object defines the

        job''s title and tip eligibility. Compensation is defined in a [job assignment](entity:JobAssignment)

        in a team member''s wage setting.'
      x-release-status: BETA
      properties:
        id:
          type: string
          description: '**Read only** The unique Square-assigned ID of the job. If you need a job ID for an API request,

            call [ListJobs](api-endpoint:Team-ListJobs) or use the ID returned when you created the job.

            You can also get job IDs from a team member''s wage setting.'
        title:
          type: string
          description: The title of the job.
          maxLength: 150
          nullable: true
        is_tip_eligible:
          type: boolean
          description: Indicates whether team members can earn tips for the job.
          nullable: true
        created_at:
          type: string
          description: The timestamp when the job was created, in RFC 3339 format.
          readOnly: true
        updated_at:
          type: string
          description: The timestamp when the job was last updated, in RFC 3339 format.
          readOnly: true
        version:
          type: integer
          description: '**Read only** The current version of the job. Include this field in `UpdateJob` requests to enable

            [optimistic concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency)

            control and avoid overwrites from concurrent requests. Requests fail if the provided version doesn''t

            match the server version at the time of the request.'
    RetrieveWageSettingResponse:
      type: object
      description: Represents a response from a retrieve request containing the specified `WageSetting` object or error messages.
      x-release-status: PUBLIC
      properties:
        wage_setting:
          $ref: '#/components/schemas/WageSetting'
          description: The successfully retrieved `WageSetting` object.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        wage_setting:
          created_at: '2020-06-11T23:01:21+00:00'
          is_overtime_exempt: false
          job_assignments:
          - annual_rate:
              amount: 4500000
              currency: USD
            hourly_rate:
              amount: 2164
              currency: USD
            job_title: Manager
            pay_type: SALARY
            weekly_hours: 40
          team_member_id: 1yJlHapkseYnNPETIU1B
          updated_at: '2020-06-11T23:01:21+00:00'
          version: 1
    UpdateJobResponse:
      type: object
      description: 'Represents an [UpdateJob](api-endpoint:Team-UpdateJob) response. Either `job` or `errors`

        is present in the response.'
      x-release-status: BETA
      properties:
        job:
          $ref: '#/components/schemas/Job'
          description: The updated job.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: The errors that occurred during the request.
      example:
        job:
          created_at: '2021-06-11T22:55:45Z'
          id: 1yJlHapkseYnNPETIU1B
          is_tip_eligible: true
          title: Cashier 1
          updated_at: '2021-06-13T12:55:45Z'
          version: 2
    UpdateWageSettingRequest:
      type: object
      description: Represents an update request for the `WageSetting` object describing a `TeamMember`.
      x-release-status: PUBLIC
      required:
      - wage_setting
      properties:
        wage_setting:
          $ref: '#/components/schemas/WageSetting'
          description: 'The complete `WageSetting` object. For all job assignments, specify one of the following:

            - `job_id` (recommended) - If needed, call [ListJobs](api-endpoint:Team-ListJobs) to get a list of all jobs.

            Requires Square API version 2024-12-18 or later.

            - `job_title` - Use the exact, case-sensitive spelling of an existing title unless you want to create a new job.

            This value is ignored if `job_id` is also provided.'
      example:
        wage_setting:
          is_overtime_exempt: true
          job_assignments:
          - annual_rate:
              amount: 3000000
              currency: USD
[...]
