openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay Refunds API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: Refunds
paths:
  /v2/refunds:
    get:
      tags:
      - Refunds
      summary: Square List Payment Refunds
      operationId: ListPaymentRefunds
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves a list of refunds for the account making the request.


        Results are eventually consistent, and new refunds or changes to refunds might take several

        seconds to appear.


        The maximum results per page is 100.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - PAYMENTS_READ
      parameters:
      - name: begin_time
        description: "Indicates the start of the time range to retrieve each `PaymentRefund` for, in RFC 3339 \nformat.  The range is determined using the `created_at` field for each `PaymentRefund`. \n\nDefault: The current time minus one year."
        schema:
          type: string
        in: query
        required: false
      - name: end_time
        description: "Indicates the end of the time range to retrieve each `PaymentRefund` for, in RFC 3339 \nformat.  The range is determined using the `created_at` field for each `PaymentRefund`.\n\nDefault: The current time."
        schema:
          type: string
        in: query
        required: false
      - name: sort_order
        description: 'The order in which results are listed by `PaymentRefund.created_at`:

          - `ASC` - Oldest to newest.

          - `DESC` - Newest to oldest (default).'
        schema:
          type: string
        in: query
        required: false
      - name: cursor
        description: 'A pagination cursor returned by a previous call to this endpoint.

          Provide this cursor to retrieve the next set of results for the original query.


          For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: string
        in: query
        required: false
      - name: location_id
        description: 'Limit results to the location supplied. By default, results are returned

          for all locations associated with the seller.'
        schema:
          type: string
        in: query
        required: false
      - name: status
        description: 'If provided, only refunds with the given status are returned.

          For a list of refund status values, see [PaymentRefund](entity:PaymentRefund).


          Default: If omitted, refunds are returned regardless of their status.'
        schema:
          type: string
        in: query
        required: false
      - name: source_type
        description: 'If provided, only returns refunds whose payments have the indicated source type.

          Current values include `CARD`, `BANK_ACCOUNT`, `WALLET`, `CASH`, and `EXTERNAL`.

          For information about these payment source types, see

          [Take Payments](https://developer.squareup.com/docs/payments-api/take-payments).


          Default: If omitted, refunds are returned regardless of the source type.'
        schema:
          type: string
        in: query
        required: false
      - name: limit
        description: 'The maximum number of results to be returned in a single page.


          It is possible to receive fewer results than the specified limit on a given page.


          If the supplied value is greater than 100, no more than 100 results are returned.


          Default: 100'
        schema:
          type: integer
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentRefundsResponse'
    post:
      tags:
      - Refunds
      summary: Square Refund Payment
      operationId: RefundPayment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Refunds a payment. You can refund the entire payment amount or a\nportion of it. You can use this endpoint to refund a card payment or record a \nrefund of a cash or external payment. For more information, see\n[Refund Payment](https://developer.squareup.com/docs/payments-api/refund-payments)."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - PAYMENTS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
      x-endpoint-errors:
      - error-code: CARD_MISMATCH
      - error-code: CARD_PRESENCE_REQUIRED
      - error-code: CARD_TOKEN_USED
      - error-code: GENERIC_DECLINE
      - error-code: INSUFFICIENT_PERMISSIONS_FOR_REFUND
      - error-code: INVALID_CARD
      - error-code: INVALID_CARD_DATA
      - error-code: INVALID_FEES
      - error-code: PAYMENT_NOT_REFUNDABLE
      - error-code: PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
      - error-code: REFUND_AMOUNT_INVALID
      - error-code: REFUND_DECLINED
      - error-code: UNSUPPORTED_CARD_BRAND
      - error-code: UNSUPPORTED_COUNTRY
      - error-code: UNSUPPORTED_CURRENCY
      - error-code: UNSUPPORTED_INSTRUMENT_TYPE
      - error-code: UNSUPPORTED_SOURCE_TYPE
      - error-code: VALUE_TOO_HIGH
      - error-code: VERSION_MISMATCH
  /v2/refunds/{refund_id}:
    get:
      tags:
      - Refunds
      summary: Square Get Payment Refund
      operationId: GetPaymentRefund
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves a specific refund using the `refund_id`.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - PAYMENTS_READ
      parameters:
      - name: refund_id
        description: The unique ID for the desired `PaymentRefund`.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentRefundResponse'
components:
  schemas:
    Address:
      type: object
      description: "Represents a postal address in a country. \nFor more information, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses)."
      x-release-status: PUBLIC
      properties:
        address_line_1:
          type: string
          description: 'The first line of the address.


            Fields that start with `address_line` provide the address''s most specific

            details, like street number, street name, and building name. They do *not*

            provide less specific details like city, state/province, or country (these

            details are provided in other fields).'
          nullable: true
        address_line_2:
          type: string
          description: The second line of the address, if any.
          nullable: true
        address_line_3:
          type: string
          description: The third line of the address, if any.
          nullable: true
        locality:
          type: string
          description: The city or town of the address. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).
          nullable: true
        sublocality:
          type: string
          description: A civil region within the address's `locality`, if any.
          nullable: true
        sublocality_2:
          type: string
          description: A civil region within the address's `sublocality`, if any.
          nullable: true
        sublocality_3:
          type: string
          description: A civil region within the address's `sublocality_2`, if any.
          nullable: true
        administrative_district_level_1:
          type: string
          description: 'A civil entity within the address''s country. In the US, this

            is the state. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).'
          nullable: true
        administrative_district_level_2:
          type: string
          description: 'A civil entity within the address''s `administrative_district_level_1`.

            In the US, this is the county.'
          nullable: true
        administrative_district_level_3:
          type: string
          description: 'A civil entity within the address''s `administrative_district_level_2`,

            if any.'
          nullable: true
        postal_code:
          type: string
          description: The address's postal code. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).
          nullable: true
        country:
          $ref: '#/components/schemas/Country'
          description: 'The address''s country, in the two-letter format of ISO 3166. For example, `US` or `FR`.

            See [Country](#type-country) for possible values'
          nullable: true
        first_name:
          type: string
          description: Optional first name when it's representing recipient.
          nullable: true
        last_name:
          type: string
          description: Optional last name when it's representing recipient.
          nullable: true
    ListPaymentRefundsResponse:
      type: object
      description: 'Defines the response returned by [ListPaymentRefunds](api-endpoint:Refunds-ListPaymentRefunds).


        Either `errors` or `refunds` is present in a given response (never both).'
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Information about errors encountered during the request.
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/PaymentRefund'
          description: The list of requested refunds.
        cursor:
          type: string
          description: 'The pagination cursor to be used in a subsequent request. If empty,

            this is the final response.


            For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
      example:
        cursor: 5evquW1YswHoT4EoyUhzMmTsCnsSXBU9U0WJ4FU4623nrMQcocH0RGU6Up1YkwfiMcF59ood58EBTEGgzMTGHQJpocic7ExOL0NtrTXCeWcv0UJIJNk8eXb
        refunds:
        - amount_money:
            amount: 555
            currency: USD
          created_at: '2021-10-13T19:59:05.342Z'
          id: bP9mAsEMYPUGjjGNaNO5ZDVyLhSZY_69MmgHubkLqx9wGhnmenRUHOaKitE6llfZuxcWYjGxd
          location_id: L88917AVBK2S5
          order_id: 9ltv0bx5PuvGXUYHYHxYSKEqC3IZY
          payment_id: bP9mAsEMYPUGjjGNaNO5ZDVyLhSZY
          processing_fee:
          - amount_money:
              amount: -34
              currency: USD
            effective_at: '2021-10-13T21:34:35.000Z'
            type: INITIAL
          reason: Example Refund
          status: COMPLETED
          updated_at: '2021-10-13T20:00:03.497Z'
    Country:
      type: string
      enum:
      - ZZ
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      x-enum-elements:
      - name: ZZ
        description: Unknown
      - name: AD
        description: Andorra
      - name: AE
        description: United Arab Emirates
      - name: AF
        description: Afghanistan
      - name: AG
        description: Antigua and Barbuda
      - name: AI
        description: Anguilla
      - name: AL
        description: Albania
      - name: AM
        description: Armenia
      - name: AO
        description: Angola
      - name: AQ
        description: Antartica
      - name: AR
        description: Argentina
      - name: AS
        description: American Samoa
      - name: AT
        description: Austria
      - name: AU
        description: Australia
      - name: AW
        description: Aruba
      - name: AX
        description: Åland Islands
      - name: AZ
        description: Azerbaijan
      - name: BA
        description: Bosnia and Herzegovina
      - name: BB
        description: Barbados
      - name: BD
        description: Bangladesh
      - name: BE
        description: Belgium
      - name: BF
        description: Burkina Faso
      - name: BG
        description: Bulgaria
      - name: BH
        description: Bahrain
      - name: BI
        description: Burundi
      - name: BJ
        description: Benin
      - name: BL
        description: Saint Barthélemy
      - name: BM
        description: Bermuda
      - name: BN
        description: Brunei
      - name: BO
        description: Bolivia
      - name: BQ
        description: Bonaire
      - name: BR
        description: Brazil
      - name: BS
        description: Bahamas
      - name: BT
        description: Bhutan
      - name: BV
        description: Bouvet Island
      - name: BW
        description: Botswana
      - name: BY
        description: Belarus
      - name: BZ
        description: Belize
      - name: CA
        description: Canada
      - name: CC
        description: Cocos Islands
      - name: CD
        description: Democratic Republic of the Congo
      - name: CF
        description: Central African Republic
      - name: CG
        description: Congo
      - name: CH
        description: Switzerland
      - name: CI
        description: Ivory Coast
      - name: CK
        description: Cook Islands
      - name: CL
        description: Chile
      - name: CM
        description: Cameroon
      - name: CN
        description: China
      - name: CO
        description: Colombia
      - name: CR
        description: Costa Rica
      - name: CU
        description: Cuba
      - name: CV
        description: Cabo Verde
      - name: CW
        description: Curaçao
      - name: CX
        description: Christmas Island
      - name: CY
        description: Cyprus
      - name: CZ
        description: Czechia
      - name: DE
        description: Germany
      - name: DJ
        description: Djibouti
      - name: DK
        description: Denmark
      - name: DM
        description: Dominica
      - name: DO
        description: Dominican Republic
      - name: DZ
        description: Algeria
      - name: EC
        description: Ecuador
      - name: EE
        description: Estonia
      - name: EG
        description: Egypt
      - name: EH
        description: Western Sahara
      - name: ER
        description: Eritrea
      - name: ES
        description: Spain
      - name: ET
        description: Ethiopia
      - name: FI
        description: Finland
      - name: FJ
        description: Fiji
      - name: FK
        description: Falkland Islands
      - name: FM
        description: Federated States of Micronesia
      - name: FO
        description: Faroe Islands
      - name: FR
        description: France
      - name: GA
        description: Gabon
      - name: GB
        description: United Kingdom
      - name: GD
        description: Grenada
      - name: GE
        description: Georgia
      - name: GF
        description: French Guiana
      - name: GG
        description: Guernsey
      - name: GH
        description: Ghana
      - name: GI
        description: Gibraltar
      - name: GL
        description: Greenland
      - name: GM
        description: Gambia
      - name: GN
        description: Guinea
      - name: GP
        description: Guadeloupe
      - name: GQ
        description: Equatorial Guinea
      - name: GR
        description: Greece
      - name: GS
        description: South Georgia and the South Sandwich Islands
      - name: GT
        description: Guatemala
      - name: GU
        description: Guam
      - name: GW
        description: Guinea-Bissau
      - name: GY
        description: Guyana
      - name: HK
        description: Hong Kong
      - name: HM
        description: Heard Island and McDonald Islands
      - name: HN
        description: Honduras
      - name: HR
        description: Croatia
      - name: HT
        description: Haiti
      - name: HU
        description: Hungary
      - name: ID
        description: Indonesia
      - name: IE
        description: Ireland
      - name: IL
        description: Israel
      - name: IM
        description: Isle of Man
      - name: IN
        description: India
      - name: IO
        description: British Indian Ocean Territory
      - name: IQ
        description: Iraq
      - name: IR
        description: Iran
      - name: IS
        description: Iceland
      - name: IT
        description: Italy
      - name: JE
        description: Jersey
      - name: JM
        description: Jamaica
      - name: JO
        description: Jordan
      - name: JP
        description: Japan
      - name: KE
        description: Kenya
      - name: KG
        description: Kyrgyzstan
      - name: KH
        description: Cambodia
      - name: KI
        description: Kiribati
      - name: KM
        description: Comoros
      - name: KN
        description: Saint Kitts and Nevis
      - name: KP
        description: Democratic People's Republic of Korea
      - name: KR
        description: Republic of Korea
      - name: KW
        description: Kuwait
      - name: KY
        description: Cayman Islands
      - name: KZ
        description: Kazakhstan
      - name: LA
        description: Lao People's Democratic Republic
      - name: LB
        description: Lebanon
      - name: LC
        description: Saint Lucia
      - name: LI
        description: Liechtenstein
      - name: LK
        description: Sri Lanka
      - name: LR
        description: Liberia
      - name: LS
        description: Lesotho
      - name: LT
        description: Lithuania
      - name: LU
        description: Luxembourg
      - name: LV
        description: Latvia
      - name: LY
        description: Libya
      - name: MA
        description: Morocco
      - name: MC
        description: Monaco
      - name: MD
        description: Moldova
      - name: ME
        description: Montenegro
      - name: MF
        description: Saint Martin
      - name: MG
        description: Madagascar
      - name: MH
        description: Marshall Islands
      - name: MK
        description: North Macedonia
      - name: ML
        description: Mali
      - name: MM
        description: Myanmar
      - name: MN
        description: Mongolia
      - name: MO
        description: Macao
      - name: MP
        description: Northern Mariana Islands
      - name: MQ
        description: Martinique
      - name: MR
        description: Mauritania
      - name: MS
        description: Montserrat
      - name: MT
        description: Malta
      - name: MU
        description: Mauritius
      - name: MV
        description: Maldives
      - name: MW
        description: Malawi
      - name: MX
        description: Mexico
      - name: MY
        description: Malaysia
      - name: MZ
        description: Mozambique
      - name: NA
        description: Namibia
      - name: NC
        description: New Caledonia
      - name: NE
        description: Niger
      - name: NF
        description: Norfolk Island
      - name: NG
        description: Nigeria
      - name: NI
        description: Nicaragua
      - name: NL
        description: Netherlands
      - name: 'NO'
        description: Norway
      - name: NP
        description: Nepal
      - name: NR
        description: Nauru
      - name: NU
        description: Niue
      - name: NZ
        description: New Zealand
      - name: OM
        description: Oman
      - name: PA
        description: Panama
      - name: PE
        description: Peru
      - name: PF
        description: French Polynesia
      - name: PG
        description: Papua New Guinea
      - name: PH
        description: Philippines
      - name: PK
        description: Pakistan
      - name: PL
        description: Poland
      - name: PM
        description: Saint Pierre and Miquelon
      - name: PN
        description: Pitcairn
      - name: PR
        description: Puerto Rico
      - name: PS
        description: Palestine
      - name: PT
        description: Portugal
      - name: PW
        description: Palau
      - name: PY
        description: Paraguay
      - name: QA
        description: Qatar
      - name: RE
        description: Réunion
      - name: RO
        description: Romania
      - name: RS
        description: Serbia
      - name: RU
        description: Russia
      - name: RW
        description: Rwanda
      - name: SA
        description: Saudi Arabia
      - name: SB
        description: Solomon Islands
      - name: SC
        description: Seychelles
      - name: SD
        description: Sudan
      - name: SE
        description: Sweden
      - name: SG
        description: Singapore
      - name: SH
        description: Saint Helena, Ascension and Tristan da Cunha
      - name: SI
        description: Slovenia
      - name: SJ
        description: Svalbard and Jan Mayen
      - name: SK
        description: Slovakia
      - name: SL
        description: Sierra Leone
      - name: SM
        description: San Marino
      - name: SN
        description: Senegal
      - name: SO
        description: Somalia
      - name: SR
        description: Suriname
      - name: SS
        description: South Sudan
      - name: ST
        description: Sao Tome and Principe
      - name: SV
        description: El Salvador
      - name: SX
        description: Sint Maarten
      - name: SY
        description: Syrian Arab Republic
      - name: SZ
        description: Eswatini
      - name: TC
        description: Turks and Caicos Islands
      - name: TD
        description: Chad
      - name: TF
        description: French Southern Territories
      - name: TG
        description: Togo
      - name: TH
        description: Thailand
      - name: TJ
        description: Tajikistan
      - name: TK
        description: Tokelau
      - name: TL
        description: Timor-Leste
      - name: TM
        description: Turkmenistan
      - name: TN
        description: Tunisia
      - name: TO
        description: Tonga
      - name: TR
        description: Turkey
      - name: TT
        description: Trinidad and Tobago
      - name: TV
        description: Tuvalu
      - name: TW
        description: Taiwan
      - name: TZ
        description: Tanzania
      - name: UA
        description: Ukraine
      - name: UG
        description: Uganda
      - name: UM
        description: United States Minor Outlying Islands
      - name: US
        description: United States of America
      - name: UY
        description: Uruguay
      - name: UZ
        description: Uzbekistan
      - name: VA
        description: Vatican City
      - name: VC
        description: Saint Vincent and the Grenadines
      - name: VE
        description: Venezuela
      - name: VG
        description: British Virgin Islands
      - name: VI
        description: U.S. Virgin Islands
      - name: VN
        description: Vietnam
      - name: VU
        description: Vanuatu
      - name: WF
        description: Wallis and Futuna
      - name: WS
        description: Samoa
      - name: YE
        description: Yemen
      - name: YT
        description: Mayotte
      - name: ZA
        description: South Africa
      - name: ZM
        description: Zambia
      - name: ZW
        description: Zimbabwe
      description: 'Indicates the country associated with another entity, such as a business.

        Values are in [ISO 3166-1-alpha-2 format](http://www.iso.org/iso/home/standards/country_codes.htm).'
      x-release-status: PUBLIC
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - INVALID_REQUEST_ERROR
      - RATE_LIMIT_ERROR
      - PAYMENT_METHOD_ERROR
      - REFUND_ERROR
      - MERCHANT_SUBSCRIPTION_ERROR
      - EXTERNAL_VENDOR_ERROR
      x-enum-elements:
      - name: API_ERROR
        description: An error occurred with the Connect API itself.
      - name: AUTHENTICATION_ERROR
        description: 'An authentication error occurred. Most commonly, the request had

          a missing, malformed, or otherwise invalid `Authorization` header.'
      - name: INVALID_REQUEST_ERROR
        description: 'The request was invalid. Most commonly, a required parameter was

          missing, or a provided parameter had an invalid value.'
      - name: RATE_LIMIT_ERROR
        description: 'Your application reached the Square API rate limit. You might receive this error if your application sends a high number of requests

          to Square APIs in a short period of time.


          Your application should monitor responses for `429 RATE_LIMITED` errors and use a retry mechanism with an [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)

          schedule to resend the requests at an increasingly slower rate. It is also a good practice to use a randomized delay (jitter) in your retry schedule.'
      - name: PAYMENT_METHOD_ERROR
        description: 'An error occurred while processing a payment method. Most commonly,

          the details of the payment method were invalid (such as a card''s CVV

          or expiration date).'
      - name: REFUND_ERROR
        description: An error occurred while attempting to process a refund.
      - name: MERCHANT_SUBSCRIPTION_ERROR
        description: An error occurred when checking a merchant subscription status
      - name: EXTERNAL_VENDOR_ERROR
        description: An error that is returned from an external vendor's API
      description: 'Indicates which high-level category of error has occurred during a

        request to the Connect API.'
      x-release-status: PUBLIC
    ErrorCode:
      type: string
      enum:
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED
      - ACCESS_TOKEN_EXPIRED
      - ACCESS_TOKEN_REVOKED
      - CLIENT_DISABLED
      - FORBIDDEN
      - INSUFFICIENT_SCOPES
      - APPLICATION_DISABLED
      - V1_APPLICATION
      - V1_ACCESS_TOKEN
      - CARD_PROCESSING_NOT_ENABLED
      - MERCHANT_SUBSCRIPTION_NOT_FOUND
      - BAD_REQUEST
      - MISSING_REQUIRED_PARAMETER
      - INCORRECT_TYPE
      - INVALID_TIME
      - INVALID_TIME_RANGE
      - INVALID_VALUE
      - INVALID_CURSOR
      - UNKNOWN_QUERY_PARAMETER
      - CONFLICTING_PARAMETERS
      - EXPECTED_JSON_BODY
      - INVALID_SORT_ORDER
      - VALUE_REGEX_MISMATCH
      - VALUE_TOO_SHORT
      - VALUE_TOO_LONG
      - VALUE_TOO_LOW
      - VALUE_TOO_HIGH
      - VALUE_EMPTY
      - ARRAY_LENGTH_TOO_LONG
      - ARRAY_LENGTH_TOO_SHORT
      - ARRAY_EMPTY
      - EXPECTED_BOOLEAN
      - EXPECTED_INTEGER
      - EXPECTED_FLOAT
      - EXPECTED_STRING
      - EXPECTED_OBJECT
      - EXPECTED_ARRAY
      - EXPECTED_MAP
      - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
      - INVALID_ARRAY_VALUE
      - INVALID_ENUM_VALUE
      - INVALID_CONTENT_TYPE
      - INVALID_FORM_VALUE
      - CUSTOMER_NOT_FOUND
      - ONE_INSTRUMENT_EXPECTED
      - NO_FIELDS_SET
      - TOO_MANY_MAP_ENTRIES
      - MAP_KEY_LENGTH_TOO_SHORT
      - MAP_KEY_LENGTH_TOO_LONG
      - CUSTOMER_MISSING_NAME
      - CUSTOMER_MISSING_EMAIL
      - INVALID_PAUSE_LENGTH
      - INVALID_DATE
      - UNSUPPORTED_COUNTRY
      - UNSUPPORTED_CURRENCY
      - APPLE_TTP_PIN_TOKEN
      - CARD_EXPIRED
      - INVALID_EXPIRATION
      - INVALID_EXPIRATION_YEAR
      - INVALID_EXPIRATION_DATE
      - UNSUPPORTED_CARD_BRAND
      - UNSUPPORTED_ENTRY_METHOD
      - INVALID_ENCRYPTED_CARD
      - INVALID_CARD
      - PAYMENT_AMOUNT_MISMATCH
      - GENERIC_DECLINE
      - CVV_FAILURE
      - ADDRESS_VERIFICATION_FAILURE
      - INVALID_ACCOUNT
      - CURRENCY_MISMATCH
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_PERMISSIONS
      - CARDHOLDER_INSUFFICIENT_PERMISSIONS
      - INVALID_LOCATION
      - TRANSACTION_LIMIT
      - VOICE_FAILURE
      - PAN_FAILURE
      - EXPIRATION_FAILURE
      - CARD_NOT_SUPPORTED
      - INVALID_PIN
      - MISSING_PIN
      - MISSING_ACCOUNT_TYPE
      - INVALID_POSTAL_CODE
      - INVALID_FEES
      - MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
      - PAYMENT_LIMIT_EXCEEDED
      - GIFT_CARD_AVAILABLE_AMOUNT
      - ACCOUNT_UNUSABLE
      - BUYER_REFUSED_PAYMENT
      - DELAYED_TRANSACTION_EXPIRED
      - DELAYED_TRANSACTION_CANCELED
      - DELAYED_TRANSACTION_CAPTURED
      - DELAYED_TRANSACTION_FAILED
      - CARD_TOKEN_EXPIRED
      - CARD_TOKEN_USED
      - AMOUNT_TOO_HIGH
      - UNSUPPORTED_INSTRUMENT_TYPE
      - REFUND_AMOUNT_INVALID
      - REFUND_ALREADY_PENDING
      - PAYMENT_NOT_REFUNDABLE
      - PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
      - REFUND_DECLINED
      - INSUFFICIENT_PERMISSIONS_FOR_REFUND
      - INVALID_CARD_DATA
      - SOURCE_USED
      - SOURCE_EXPIRED
      - UNSUPPORTED_LOYALTY_REWARD_TIER
      - LOCATION_MISMATCH
      - IDEMPOTENCY_KEY_REUSED
      - UNEXPECTED_VALUE
      - SANDBOX_NOT_SUPPORTED
      - INVALID_EMAIL_ADDRESS
      - INVALID_PHONE_NUMBER
      - CHECKOUT_EXPIRED
      - BAD_CERTIFICATE
      - INVALID_SQUARE_VERSION_FORMAT
      - API_VERSION_INCOMPATIBLE
      - CARD_PRESENCE_REQUIRED
      - UNSUPPORTED_SOURCE_TYPE
      - CARD_MISMATCH
      - PLAID_ERROR
      - PLAID_ERROR_ITEM_LOGIN_REQUIRED
      - PLAID_ERROR_RATE_LIMIT
      - CARD_DECLINED
      - VERIFY_CVV_FAILURE
      - VERIFY_AVS_FAILURE
      - CARD_DECLINED_CALL_ISSUER
      - CARD_DECLINED_VERIFICATION_REQUIRED
      - BAD_EXPIRATION
      - CHIP_INSERTION_REQUIRED
      - ALLOWABLE_PIN_TRIES_EXCEEDED
      - RESERVATION_DECLINED
      - UNKNOWN_BODY_PARAMETER
      - NOT_FOUND
      - APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
      - METHOD_NOT_ALLOWED
      - NOT_ACCEPTABLE
      - REQUEST_TIMEOUT
      - CONFLICT
      - GONE
      - REQUEST_ENTITY_TOO_LARGE
      - UNSUPPORTED_MEDIA_TYPE
      - UNPROCESSABLE_ENTITY
      - RATE_LIMITED
      - NOT_IMPLEMENTED
      - BAD_GATEWAY
      - SERVICE_UNAVAILABLE
      - TEMPORARY_ERROR
      - GATEWAY_TIMEOUT
      x-enum-elements:
      - name: INTERNAL_SERVER_ERROR
        description: A general server error occurred.
        error-category: API_ERROR
      - name: UNAUTHORIZED
        description: A general authorization error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_EXPIRED
        description: The provided access token has expired.
        error-category: AUTHENTICATION_ERROR
      - name: ACCESS_TOKEN_REVOKED
        description: The provided access token has been revoked.
        error-category: AUTHENTICATION_ERROR
      - name: CLIENT_DISABLED
        description: The provided client has been disabled.
        error-category: AUTHENTICATION_ERROR
      - name: FORBIDDEN
        description: A general access error occurred.
        error-category: AUTHENTICATION_ERROR
      - name: INSUFFICIENT_SCOPES
        description: 'The provided access token does not have permission

          to execute the requested action.'
        error-category: AUTHENTICATION_ERROR
      - name: APPLICATION_DISABLED
        description: The calling application was disabled.
        error-category: INVALID_REQUEST_ERROR
      - name: V1_APPLICATION
        description: 'The calling application was created prior to

          2016-03-30 and is not compatible with v2 Square API calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: V1_ACCESS_TOKEN
        description: 'The calling application is using an access token

          created prior to 2016-03-30 and is not compatible with v2 Square API

          calls.'
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PROCESSING_NOT_ENABLED
        description: 'The location provided in the API call is not

          enabled for credit card processing.'
        error-category: INVALID_REQUEST_ERROR
      - name: MERCHANT_SUBSCRIPTION_NOT_FOUND
        description: A required subscription was not found for the merchant
        error-category: MERCHANT_SUBSCRIPTION_ERROR
      - name: BAD_REQUEST
        description: A general error occurred with the request.
        error-category: INVALID_REQUEST_ERROR
      - name: MISSING_REQUIRED_PARAMETER
        description: 'The request is missing a required path, query, or

          body parameter.'
        error-category: INVALID_REQUEST_ERROR
      - name: INCORRECT_TYPE
        description: 'The value provided in the request is the wrong

          type. For example, a string instead of an integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME
        description: 'Formatting for the provided time value is

          incorrect.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_TIME_RANGE
        description: 'The time range provided in the request is invalid.

          For example, the end time is before the start time.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_VALUE
        description: 'The provided value is invalid. For example,

          including `%` in a phone number.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CURSOR
        description: 'The pagination cursor included in the request is

          invalid.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNKNOWN_QUERY_PARAMETER
        description: 'The query parameters provided is invalid for the

          requested endpoint.'
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICTING_PARAMETERS
        description: 'One or more of the request parameters conflict with

          each other.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_JSON_BODY
        description: The request body is not a JSON object.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SORT_ORDER
        description: 'The provided sort order is not a valid key.

          Currently, sort order must be `ASC` or `DESC`.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_REGEX_MISMATCH
        description: 'The provided value does not match an expected

          regular expression.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_SHORT
        description: 'The provided string value is shorter than the

          minimum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LONG
        description: 'The provided string value is longer than the

          maximum length allowed.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_LOW
        description: 'The provided value is less than the supported

          minimum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_TOO_HIGH
        description: 'The provided value is greater than the supported

          maximum.'
        error-category: INVALID_REQUEST_ERROR
      - name: VALUE_EMPTY
        description: 'The provided value has a default (empty) value

          such as a blank string.'
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_LONG
        description: The provided array has too many elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_LENGTH_TOO_SHORT
        description: The provided array has too few elements.
        error-category: INVALID_REQUEST_ERROR
      - name: ARRAY_EMPTY
        description: The provided array is empty.
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BOOLEAN
        description: 'The endpoint expected the provided value to be a

          boolean.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_INTEGER
        description: 'The endpoint expected the provided value to be an

          integer.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_FLOAT
        description: 'The endpoint expected the provided value to be a

          float.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_STRING
        description: 'The endpoint expected the provided value to be a

          string.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_OBJECT
        description: 'The endpoint expected the provided value to be a

          JSON object.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_ARRAY
        description: 'The endpoint expected the provided value to be an

          array or list.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_MAP
        description: 'The endpoint expected the provided value to be a

          map or associative array.'
        error-category: INVALID_REQUEST_ERROR
      - name: EXPECTED_BASE64_ENCODED_BYTE_ARRAY
        description: 'The endpoint expected the provided value to be an

          array encoded in base64.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ARRAY_VALUE
        description: 'One or more objects in the array does not match the

          array type.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_ENUM_VALUE
        description: 'The provided static string is not valid for the

          field.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_CONTENT_TYPE
        description: Invalid content type header.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_FORM_VALUE
        description: 'Only relevant for applications created prior to

          2016-03-30. Indicates there was an error while parsing form values.'
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_NOT_FOUND
        description: The provided customer id can't be found in the merchant's customers list.
        error-category: INVALID_REQUEST_ERROR
      - name: ONE_INSTRUMENT_EXPECTED
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NO_FIELDS_SET
        description: A general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: TOO_MANY_MAP_ENTRIES
        description: Too many entries in the map field.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_SHORT
        description: The length of one of the provided keys in the map is too short.
        error-category: INVALID_REQUEST_ERROR
      - name: MAP_KEY_LENGTH_TOO_LONG
        description: The length of one of the provided keys in the map is too long.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_NAME
        description: The provided customer does not have a recorded name.
        error-category: INVALID_REQUEST_ERROR
      - name: CUSTOMER_MISSING_EMAIL
        description: The provided customer does not have a recorded email.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PAUSE_LENGTH
        description: The subscription cannot be paused longer than the duration of the current phase.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_DATE
        description: The subscription cannot be paused/resumed on the given date.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_COUNTRY
        description: The API request references an unsupported country.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CURRENCY
        description: The API request references an unsupported currency.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_TTP_PIN_TOKEN
        description: 'The payment was declined by the card issuer during an Apple Tap to Pay (TTP)

          transaction with a request for the card''s PIN. This code will be returned alongside

          `CARD_DECLINED_VERIFICATION_REQUIRED` as a supplemental error, and will include an

          issuer-provided token in the `details` field that is needed to initiate the PIN

          collection flow on the iOS device.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_EXPIRED
        description: The card issuer declined the request because the card is expired.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION
        description: 'The expiration date for the payment card is invalid. For example,

          it indicates a date in the past.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_EXPIRATION_YEAR
        description: 'The expiration year for the payment card is invalid. For example,

          it indicates a year in the past or contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EXPIRATION_DATE
        description: 'The expiration date for the payment card is invalid. For example,

          it contains invalid characters.'
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_CARD_BRAND
        description: The credit card provided is not from a supported issuer.
        error-category: PAYMENT_METHOD_ERROR
      - name: UNSUPPORTED_ENTRY_METHOD
        description: The entry method for the credit card (swipe, dip, tap) is not supported.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ENCRYPTED_CARD
        description: The encrypted card information is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_CARD
        description: The credit card cannot be validated based on the provided details.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_AMOUNT_MISMATCH
        description: 'The payment was declined because there was a payment amount mismatch.

          The money amount Square was expecting does not match the amount provided.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GENERIC_DECLINE
        description: 'Square received a decline without any additional information.

          If the payment information seems correct, the buyer can contact their

          issuer to ask for more information.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CVV_FAILURE
        description: The card issuer declined the request because the CVV value is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: ADDRESS_VERIFICATION_FAILURE
        description: The card issuer declined the request because the postal code is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_ACCOUNT
        description: The issuer was not able to locate the account on record.
        error-category: PAYMENT_METHOD_ERROR
      - name: CURRENCY_MISMATCH
        description: 'The currency associated with the payment is not valid for the provided

          funding source. For example, a gift card funded in USD cannot be used to process

          payments in GBP.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_FUNDS
        description: The funding source has insufficient funds to cover the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: INSUFFICIENT_PERMISSIONS
        description: 'The Square account does not have the permissions to accept

          this payment. For example, Square may limit which merchants are

          allowed to receive gift card payments.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARDHOLDER_INSUFFICIENT_PERMISSIONS
        description: 'The card issuer has declined the transaction due to restrictions on where the card can be used.

          For example, a gift card is limited to a single merchant.'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_LOCATION
        description: 'The Square account cannot take payments in the specified region.

          A Square account can take payments only from the region where the account was created.'
        error-category: PAYMENT_METHOD_ERROR
      - name: TRANSACTION_LIMIT
        description: 'The card issuer has determined the payment amount is either too high or too low.

          The API returns the error code mostly for credit cards (for example, the card reached

          the credit limit). However, sometimes the issuer bank can indicate the error for debit

          or prepaid cards (for example, card has insufficient funds).'
        error-category: PAYMENT_METHOD_ERROR
      - name: VOICE_FAILURE
        description: The card issuer declined the request because the issuer requires voice authorization from the cardholder. The seller should ask the customer to contact the card issuing bank to authorize the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAN_FAILURE
        description: 'The specified card number is invalid. For example, it is of

          incorrect length or is incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: EXPIRATION_FAILURE
        description: 'The card expiration date is either invalid or indicates that the

          card is expired.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_NOT_SUPPORTED
        description: 'The card is not supported either in the geographic region or by

          the [merchant category code](https://developer.squareup.com/docs/locations-api#initialize-a-merchant-category-code) (MCC).'
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_PIN
        description: The card issuer declined the request because the PIN is invalid.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_PIN
        description: The payment is missing a required PIN.
        error-category: PAYMENT_METHOD_ERROR
      - name: MISSING_ACCOUNT_TYPE
        description: The payment is missing a required ACCOUNT_TYPE parameter.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_POSTAL_CODE
        description: The postal code is incorrectly formatted.
        error-category: PAYMENT_METHOD_ERROR
      - name: INVALID_FEES
        description: The app_fee_money on a payment is too high.
        error-category: PAYMENT_METHOD_ERROR
      - name: MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
        description: The card must be swiped, tapped, or dipped. Payments attempted by manually entering the card number are declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: PAYMENT_LIMIT_EXCEEDED
        description: Square declined the request because the payment amount exceeded the processing limit for this merchant.
        error-category: PAYMENT_METHOD_ERROR
      - name: GIFT_CARD_AVAILABLE_AMOUNT
        description: 'When a Gift Card is a payment source, you can allow taking a partial payment

          by adding the `accept_partial_authorization` parameter in the request.

          However, taking such a partial payment does not work if your request also includes

          `tip_money`, `app_fee_money`, or both. Square declines such payments and returns

          the `GIFT_CARD_AVAILABLE_AMOUNT` error.

          For more information, see

          [CreatePayment errors (additional information)](https://developer.squareup.com/docs/payments-api/error-codes#createpayment-errors-additional-information).'
        error-category: PAYMENT_METHOD_ERROR
      - name: ACCOUNT_UNUSABLE
        description: The account provided cannot carry out transactions.
        error-category: PAYMENT_METHOD_ERROR
      - name: BUYER_REFUSED_PAYMENT
        description: Bank account rejected or was not authorized for the payment.
        error-category: PAYMENT_METHOD_ERROR
      - name: DELAYED_TRANSACTION_EXPIRED
        description: The application tried to update a delayed-capture payment that has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CANCELED
        description: The application tried to cancel a delayed-capture payment that was already cancelled.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_CAPTURED
        description: The application tried to capture a delayed-capture payment that was already captured.
        error-category: INVALID_REQUEST_ERROR
      - name: DELAYED_TRANSACTION_FAILED
        description: The application tried to update a delayed-capture payment that failed.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_EXPIRED
        description: The provided card token (nonce) has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_TOKEN_USED
        description: The provided card token (nonce) was already used to process the payment or refund.
        error-category: INVALID_REQUEST_ERROR
      - name: AMOUNT_TOO_HIGH
        description: The requested payment amount is too high for the provided payment source.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_INSTRUMENT_TYPE
        description: The API request references an unsupported instrument type.
        error-category: INVALID_REQUEST_ERROR
      - name: REFUND_AMOUNT_INVALID
        description: The requested refund amount exceeds the amount available to refund.
        error-category: REFUND_ERROR
      - name: REFUND_ALREADY_PENDING
        description: The payment already has a pending refund.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE
        description: The payment is not refundable. For example, the payment is too old to be refunded.
        error-category: REFUND_ERROR
      - name: PAYMENT_NOT_REFUNDABLE_DUE_TO_DISPUTE
        description: The payment is not refundable because it has been disputed.
        error-category: REFUND_ERROR
      - name: REFUND_DECLINED
        description: Request failed - The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: INSUFFICIENT_PERMISSIONS_FOR_REFUND
        description: The Square account does not have the permissions to process this refund.
        error-category: REFUND_ERROR
      - name: INVALID_CARD_DATA
        description: Generic error - the provided card data is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_USED
        description: The provided source id was already used to create a card.
        error-category: INVALID_REQUEST_ERROR
      - name: SOURCE_EXPIRED
        description: The provided source id has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_LOYALTY_REWARD_TIER
        description: 'The referenced loyalty program reward tier is not supported.

          This could happen if the reward tier created in a first party

          application is incompatible with the Loyalty API.'
        error-category: INVALID_REQUEST_ERROR
      - name: LOCATION_MISMATCH
        description: Generic error - the given location does not matching what is expected.
        error-category: INVALID_REQUEST_ERROR
      - name: IDEMPOTENCY_KEY_REUSED
        description: The provided idempotency key has already been used.
        error-category: INVALID_REQUEST_ERROR
      - name: UNEXPECTED_VALUE
        description: General error - the value provided was unexpected.
        error-category: INVALID_REQUEST_ERROR
      - name: SANDBOX_NOT_SUPPORTED
        description: The API request is not supported in sandbox.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_EMAIL_ADDRESS
        description: The provided email address is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_PHONE_NUMBER
        description: The provided phone number is invalid.
        error-category: INVALID_REQUEST_ERROR
      - name: CHECKOUT_EXPIRED
        description: The provided checkout URL has expired.
        error-category: INVALID_REQUEST_ERROR
      - name: BAD_CERTIFICATE
        description: Bad certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: INVALID_SQUARE_VERSION_FORMAT
        description: The provided Square-Version is incorrectly formatted.
        error-category: INVALID_REQUEST_ERROR
      - name: API_VERSION_INCOMPATIBLE
        description: The provided Square-Version is incompatible with the requested action.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_PRESENCE_REQUIRED
        description: The transaction requires that a card be present.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_SOURCE_TYPE
        description: The API request references an unsupported source type.
        error-category: INVALID_REQUEST_ERROR
      - name: CARD_MISMATCH
        description: The provided card does not match what is expected.
        error-category: REFUND_ERROR
      - name: PLAID_ERROR
        description: Generic plaid error
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_ITEM_LOGIN_REQUIRED
        description: Plaid error - ITEM_LOGIN_REQUIRED
        error-category: EXTERNAL_VENDOR_ERROR
      - name: PLAID_ERROR_RATE_LIMIT
        description: Plaid error - RATE_LIMIT
        error-category: EXTERNAL_VENDOR_ERROR
      - name: CARD_DECLINED
        description: The card was declined.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_CVV_FAILURE
        description: The CVV could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: VERIFY_AVS_FAILURE
        description: The AVS could not be verified.
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_CALL_ISSUER
        description: 'The payment card was declined with a request

          for the card holder to call the issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CARD_DECLINED_VERIFICATION_REQUIRED
        description: 'The payment card was declined with a request

          for additional verification.'
        error-category: PAYMENT_METHOD_ERROR
      - name: BAD_EXPIRATION
        description: 'The card expiration date is either missing or

          incorrectly formatted.'
        error-category: PAYMENT_METHOD_ERROR
      - name: CHIP_INSERTION_REQUIRED
        description: 'The card issuer requires that the card be read

          using a chip reader.'
        error-category: PAYMENT_METHOD_ERROR
      - name: ALLOWABLE_PIN_TRIES_EXCEEDED
        description: 'The card has exhausted its available pin entry

          retries set by the card issuer. Resolving the error typically requires the

          card holder to contact the card issuer.'
        error-category: PAYMENT_METHOD_ERROR
      - name: RESERVATION_DECLINED
        description: The card issuer declined the refund.
        error-category: REFUND_ERROR
      - name: UNKNOWN_BODY_PARAMETER
        description: The body parameter is not recognized by the requested endpoint.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_FOUND
        description: Not Found - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: APPLE_PAYMENT_PROCESSING_CERTIFICATE_HASH_NOT_FOUND
        description: Square could not find the associated Apple Pay certificate.
        error-category: INVALID_REQUEST_ERROR
      - name: METHOD_NOT_ALLOWED
        description: Method Not Allowed - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: NOT_ACCEPTABLE
        description: Not Acceptable - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_TIMEOUT
        description: Request Timeout - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: CONFLICT
        description: Conflict - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: GONE
        description: 'The target resource is no longer available and this

          condition is likely to be permanent.'
        error-category: INVALID_REQUEST_ERROR
      - name: REQUEST_ENTITY_TOO_LARGE
        description: Request Entity Too Large - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNSUPPORTED_MEDIA_TYPE
        description: Unsupported Media Type - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: UNPROCESSABLE_ENTITY
        description: Unprocessable Entity - a general error occurred.
        error-category: INVALID_REQUEST_ERROR
      - name: RATE_LIMITED
        description: Rate Limited - a general error occurred.
        error-category: RATE_LIMIT_ERROR
      - name: NOT_IMPLEMENTED
        description: Not Implemented - a general error occurred.
        error-category: API_ERROR
      - name: BAD_GATEWAY
        description: Bad Gateway - a general error occurred.
        error-category: API_ERROR
      - name: SERVICE_UNAVAILABLE
        description: Service Unavailable - a general error occurred.
        error-category: API_ERROR
      - name: TEMPORARY_ERROR
        description: 'A temporary internal error occurred. You can safely retry your call

          using the same idempotency key.'
        error-category: PAYMENT_METHOD_ERROR
      - name: GATEWAY_TIMEOUT
        description: Gateway Timeout - a general error occurred.
        error-category: API_ERROR
      description: 'Indicates the specific error that occurred during a request to a

        Square API.'
      x-release-status: PUBLIC
    Currency:
      type: string
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLE
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - XUS
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish zBoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean first leone
      - name: SLE
        description: Sierra Leonean second leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese ’Óng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: XUS
        description: USD Coin
      description: 'Indicates the associated currency for an amount of money. Values correspond

        to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).'
      x-release-status: PUBLIC
    Money:
      type: object
      description: 'Represents an amount of money. `Money` fields can be signed or unsigned.

        Fields that do not explicitly define whether they are signed or unsigned are

        considered unsigned and can only hold positive amounts. For signed fields, the

        sign of the value indicates the purpose of the money transfer. See

        [Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts)

        for more information.'
      x-release-status: PUBLIC
      properties:
        amount:
          type: integer
          description: 'The amount of money, in the smallest denomination of the currency

            indicated by `currency`. For example, when `currency` is `USD`, `amount` is

            in cents. Monetary amounts can be positive or negative. See the specific

            field description to determine the meaning of the sign in a particular case.'
          format: int64
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
          description: 'The type of currency, in __ISO 4217 format__. For example, the currency

            code for US dollars is `USD`.


            See [Currency](entity:Currency) for possible values.

            See [Currency](#type-currency) for possible values'
          nullable: true
    CardPrepaidType:
      type: string
      enum:
      - UNKNOWN_PREPAID_TYPE
      - NOT_PREPAID
      - PREPAID
      x-enum-elements:
      - name: UNKNOWN_PREPAID_TYPE
        description: ''
      - name: NOT_PREPAID
        description: ''
      - name: PREPAID
        description: ''
      description: Indicates a card's prepaid type, such as `NOT_PREPAID` or `PREPAID`.
      x-release-status: PUBLIC
    DestinationDetails:
      type: object
      description: Details about a refund's destination.
      x-release-status: PUBLIC
      properties:
        card_details:
          $ref: '#/components/schemas/DestinationDetailsCardRefundDetails'
          description: Details about a card refund. Only populated if the destination_type is `CARD`.
          nullable: true
        cash_details:
          $ref: '#/components/schemas/DestinationDetailsCashRefundDetails'
          description: Details about a cash refund. Only populated if the destination_type is `CASH`.
          nullable: true
        external_details:
          $ref: '#/components/schemas/DestinationDetailsExternalRefundDetails'
          description: Details about an external refund. Only populated if the destination_type is `EXTERNAL`.
          nullable: true
    DestinationDetailsExternalRefundDetails:
      type: object
      description: Stores details about an external refund. Contains only non-confidential information.
      x-release-status: PUBLIC
      required:
      - type
      - source
      properties:
        type:
          type: string
          description: 'The type of external refund the seller paid to the buyer. It can be one of the

            following:

            - CHECK - Refunded using a physical check.

            - BANK_TRANSFER - Refunded using external bank transfer.

            - OTHER\_GIFT\_CARD - Refunded using a non-Square gift card.

            - CRYPTO - Refunded using a crypto currency.

            - SQUARE_CASH - Refunded using Square Cash App.

            - SOCIAL - Refunded using peer-to-peer payment applications.

            - EXTERNAL - A third-party application gathered this refund outside of Square.

            - EMONEY - Refunded using an E-money provider.

            - CARD - A credit or debit card that Square does not support.

            - STORED_BALANCE - Use for house accounts, store credit, and so forth.

            - FOOD_VOUCHER - Restaurant voucher provided by employers to employees to pay for meals

            - OTHER - A type not listed here.'
          maxLength: 50
        source:
          type: string
          description: 'A description of the external refund source. For example,

            "Food Delivery Service".'
          maxLength: 255
        source_id:
          type: string
          description: An ID to associate the refund to its originating source.
          maxLength: 255
          nullable: true
    ProcessingFee:
      type: object
      description: Represents the Square processing fee.
      x-release-status: PUBLIC
      properties:
        effective_at:
          type: string
          description: The timestamp of when the fee takes effect, in RFC 3339 format.
          nullable: true
        type:
          type: string
          description: The type of fee assessed or adjusted. The fee type can be `INITIAL` or `ADJUSTMENT`.
          nullable: true
        amount_money:
          $ref: '#/components/schemas/Money'
          description: 'The fee amount, which might be negative, that is assessed or adjusted by Square.


            Positive values represent funds being assessed, while negative values represent

            funds being returned.'
          nullable: true
    CardCoBrand:
      type: string
      enum:
      - UNKNOWN
      - AFTERPAY
      - CLEARPAY
      x-enum-elements:
      - name: UNKNOWN
        description: ''
      - name: AFTERPAY
        description: ''
      - name: CLEARPAY
        description: ''
      description: Indicates the brand for a co-branded card.
      x-release-status: PUBLIC
    RefundPaymentResponse:
      type: object
      description: 'Defines the response returned by

        [RefundPayment](api-endpoint:Refunds-RefundPayment).


        If there are errors processing the request, the `refund` field might not be

        present, or it might be present with a status of `FAILED`.'
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Information about errors encountered during the request.
        refund:
          $ref: '#/components/schemas/PaymentRefund'
          description: The successfully created `PaymentRefund`.
      example:
        refund:
          amount_money:
            amount: 1000
            currency: USD
          app_fee_money:
            amount: 10
            currency: USD
          created_at: '2021-10-13T21:23:19.116Z'
          id: R2B3Z8WMVt3EAmzYWLZvz7Y69EbZY_KlWP8IC1557ddwc9QWTKrCVU6m0JXDz15R2Qym5eQfR
          location_id: L88917AVBK2S5
          order_id: 1JLEUZeEooAIX8HMqm9kvWd69aQZY
          payment_id: R2B3Z8WMVt3EAmzYWLZvz7Y69EbZY
          reason: Example
          status: PENDING
          updated_at: '2021-10-13T21:23:19.508Z'
    DestinationDetailsCashRefundDetails:
      type: object
      description: Stores details about a cash refund. Contains only non-confidential information.
      x-release-status: PUBLIC
      required:
      - seller_supplied_money
      properties:
        seller_supplied_money:
          $ref: '#/components/schemas/Money'
          description: The amount and currency of the money supplied by the seller.
        change_back_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of change due back to the seller.

            This read-only field is calculated

            from the `amount_money` and `seller_supplied_money` fields.'
          nullable: true
    Card:
      type: object
      description: 'Represents the payment details of a card to be used for payments. These

        details are determined by the payment token generated by Web Payments SDK.'
      x-release-status: PUBLIC
      properties:
        id:
          type: string
          description: Unique ID for this card. Generated by Square.
          maxLength: 64
          readOnly: true
        card_brand:
          $ref: '#/components/schemas/CardBrand'
          description: 'The card''s brand.

            See [CardBrand](#type-cardbrand) for possible values'
          readOnly: true
        last_4:
          type: string
          description: The last 4 digits of the card number.
          maxLength: 4
          readOnly: true
        exp_month:
          type: integer
          description: The expiration month of the associated card as an integer between 1 and 12.
          format: int64
          nullable: true
        exp_year:
          type: integer
          description: The four-digit year of the card's expiration date.
          format: int64
          nullable: true
        cardholder_name:
          type: string
          description: The name of the cardholder.
          maxLength: 96
          nullable: true
        billing_address:
          $ref: '#/components/schemas/Address'
          description: The billing address for this card.
          nullable: true
        fingerprint:
          type: string
          description: 'Intended as a Square-assigned identifier, based

            on the card number, to identify the card across multiple locations within a

            single application.'
          maxLength: 255
          readOnly: true
        customer_id:
          type: string
          description: '**Required** The ID of a customer created using the Customers API to be associated with the card.'
          nullable: true
        merchant_id:
          type: string
          description: The ID of the merchant associated with the card.
          readOnly: true
        reference_id:
          type: string
          description: 'An optional user-defined reference ID that associates this card with

            another entity in an external system. For example, a customer ID from an

            external customer management system.'
          maxLength: 128
          nullable: true
        enabled:
          type: boolean
          description: Indicates whether or not a card can be used for payments.
          readOnly: true
        card_type:
          $ref: '#/components/schemas/CardType'
          description: 'The type of the card.

            The Card object includes this field only in response to Payments API calls.

            See [CardType](#type-cardtype) for possible values'
          readOnly: true
        prepaid_type:
          $ref: '#/components/schemas/CardPrepaidType'
          description: 'Indicates whether the Card is prepaid or not.

            The Card object includes this field only in response to Payments API calls.

            See [CardPrepaidType](#type-cardprepaidtype) for possible values'
          readOnly: true
        bin:
          type: string
          description: 'The first six digits of the card number, known as the Bank Identification Number (BIN). Only the Payments API

            returns this field.'
          maxLength: 6
          readOnly: true
        version:
          type: integer
          description: 'Current version number of the card. Increments with each card update. Requests to update an

            existing Card object will be rejected unless the version in the request matches the current

            version for the Card.'
          format: int64
        card_co_brand:
          $ref: '#/components/schemas/CardCoBrand'
          description: 'The card''s co-brand if available. For example, an Afterpay virtual card would have a

            co-brand of AFTERPAY.

            See [CardCoBrand](#type-cardcobrand) for possible values'
          readOnly: true
    Error:
      type: object
      description: 'Represents an error encountered during a request to the Connect API.


        See [Handling errors](https://developer.squareup.com/docs/build-basics/handling-errors) for more information.'
      x-release-status: PUBLIC
      required:
      - category
      - code
      properties:
        category:
          $ref: '#/components/schemas/ErrorCategory'
          description: 'The high-level category for the error.

            See [ErrorCategory](#type-errorcategory) for possible values'
        code:
          $ref: '#/components/schemas/ErrorCode'
          description: 'The specific code of the error.

            See [ErrorCode](#type-errorcode) for possible values'
        detail:
          type: string
          description: A human-readable description of the error for debugging purposes.
        field:
          type: string
          description: 'The name of the field provided in the original request (if any) that

            the error pertains to.'
    DestinationDetailsCardRefundDetails:
      type: object
      x-release-status: PUBLIC
      properties:
        card:
          $ref: '#/components/schemas/Card'
          description: The card's non-confidential details.
          nullable: true
        entry_method:
          type: string
          description: 'The method used to enter the card''s details for the refund. The method can be

            `KEYED`, `SWIPED`, `EMV`, `ON_FILE`, or `CONTACTLESS`.'
          maxLength: 50
          nullable: true
        auth_result_code:
          type: string
          description: The authorization code provided by the issuer when a refund is approved.
          maxLength: 10
          nullable: true
    CardType:
      type: string
      enum:
      - UNKNOWN_CARD_TYPE
      - CREDIT
      - DEBIT
      x-enum-elements:
      - name: UNKNOWN_CARD_TYPE
        description: ''
      - name: CREDIT
        description: ''
      - name: DEBIT
        description: ''
      description: Indicates a card's type, such as `CREDIT` or `DEBIT`.
      x-release-status: PUBLIC
    RefundPaymentRequest:
      type: object
      description: Describes a request to refund a payment using [RefundPayment](api-endpoint:Refunds-RefundPayment).
      x-release-status: PUBLIC
      required:
      - idempotency_key
      - amount_money
      properties:
        idempotency_key:
          type: string
          description: ' A unique string that identifies this `RefundPayment` request. The key can be any valid string

            but must be unique for every `RefundPayment` request.


            Keys are limited to a max of 45 characters - however, the number of allowed characters might be

            less than 45, if multi-byte characters are used.


            For more information, see [Idempotency](https://developer.squareup.com/docs/working-with-apis/idempotency).'
          minLength: 1
        amount_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of money to refund.


            This amount cannot be more than the `total_money` value of the payment minus the total

            amount of all previously completed refunds for this payment.


            This amount must be specified in the smallest denomination of the applicable currency

            (for example, US dollar amounts are specified in cents). For more information, see

            [Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).


            The currency code must match the currency associated with the business

            that is charging the card.'
        app_fee_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of money the developer contributes to help cover the refunded amount.

            This amount is specified in the smallest denomination of the applicable currency (for example,

            US dollar amounts are specified in cents).


            The value cannot be more than the `amount_money`.


            You can specify this parameter in a refund request only if the same parameter was also included

            when taking the payment. This is part of the application fee scenario the API supports. For more

            information, see [Take Payments and Collect Fees](https://developer.squareup.com/docs/payments-api/take-payments-and-collect-fees).


            To set this field, `PAYMENTS_WRITE_ADDITIONAL_RECIPIENTS` OAuth permission is required.

            For more information, see [Permissions](https://developer.squareup.com/docs/payments-api/take-payments-and-collect-fees#permissions).'
          x-release-status: BETA
          nullable: true
        payment_id:
          type: string
          description: 'The unique ID of the payment being refunded.

            Required when unlinked=false, otherwise must not be set.'
          nullable: true
        destination_id:
          type: string
          description: 'The ID indicating where funds will be refunded to. Required for unlinked refunds. For more

            information, see [Process an Unlinked Refund](https://developer.squareup.com/docs/refunds-api/unlinked-refunds).


            For refunds linked to Square payments, `destination_id` is usually omitted; in this case, funds

            will be returned to the original payment source. The field may be specified in order to request

            a cross-method refund to a gift card. For more information,

            see [Cross-method refunds to gift cards](https://developer.squareup.com/docs/payments-api/refund-payments#cross-method-refunds-to-gift-cards).'
          nullable: true
        unlinked:
          type: boolean
          description: 'Indicates that the refund is not linked to a Square payment.

            If set to true, `destination_id` and `location_id` must be supplied while `payment_id` must not

            be provided.'
          nullable: true
        location_id:
          type: string
          description: 'The location ID associated with the unlinked refund.

            Required for requests specifying `unlinked=true`.

            Otherwise, if included when `unlinked=false`, will throw an error.'
          maxLength: 50
          nullable: true
        customer_id:
          type: string
          description: 'The [Customer](entity:Customer) ID of the customer associated with the refund.

            This is required if the `destination_id` refers to a card on file created using the Cards

            API. Only allowed when `unlinked=true`.'
          nullable: true
        reason:
          type: string
          description: A description of the reason for the refund.
          maxLength: 192
          nullable: true
        payment_version_token:
          type: string
          description: ' Used for optimistic concurrency. This opaque token identifies the current `Payment`

            version that the caller expects. If the server has a different version of the Payment,

            the update fails and a response with a VERSION_MISMATCH error is returned.

            If the versions match, or the field is not provided, the refund proceeds as normal.'
          x-release-status: BETA
          nullable: true
        team_member_id:
          type: string
          description: An optional [TeamMember](entity:TeamMember) ID to associate with this refund.
          maxLength: 192
          nullable: true
        cash_details:
          $ref: '#/components/schemas/DestinationDetailsCashRefundDetails'
          description: Additional details required when recording an unlinked cash refund (`destination_id` is CASH).
          nullable: true
        external_details:
          $ref: '#/components/schemas/DestinationDetailsExternalRefundDetails'
          description: 'Additional details required when recording an unlinked external refund

            (`destination_id` is EXTERNAL).'
          nullable: true
      example:
        amount_money:
          amount: 1000
          currency: USD
        app_fee_money:
          amount: 10
          currency: USD
        idempotency_key: 9b7f2dcf-49da-4411-b23e-a2d6af21333a
        payment_id: R2B3Z8WMVt3EAmzYWLZvz7Y69EbZY
        reason: Example
    CardBrand:
      type: string
      enum:
      - OTHER_BRAND
      - VISA
      - MASTERCARD
      - AMERICAN_EXPRESS
      - DISCOVER
      - DISCOVER_DINERS
      - JCB
      - CHINA_UNIONPAY
      - SQUARE_GIFT_CARD
      - SQUARE_CAPITAL_CARD
      - INTERAC
      - EFTPOS
      - FELICA
      - EBT
      x-enum-elements:
      - name: OTHER_BRAND
        description: ''
      - name: VISA
        description: ''
      - name: MASTERCARD
        description: ''
      - name: AMERICAN_EXPRESS
        description: ''
      - name: DISCOVER
        description: ''
      - name: DISCOVER_DINERS
        description: ''
      - name: JCB
        description: ''
      - name: CHINA_UNIONPAY
        description: ''
      - name: SQUARE_GIFT_CARD
        description: ''
      - name: SQUARE_CAPITAL_CARD
        description: ''
      - name: INTERAC
        description: ''
      - name: EFTPOS
        description: ''
      - name: FELICA
        description: ''
      - name: EBT
        description: ''
      description: Indicates a card's brand, such as `VISA` or `MASTERCARD`.
      x-release-status: PUBLIC
    GetPaymentRefundResponse:
      type: object
      description: 'Defines the response returned by [GetRefund](api-endpoint:Refunds-GetPaymentRefund).


        Note: If there are errors processing the request, the refund field might not be

        present or it might be present in a FAILED state.'
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Information about errors encountered during the request.
        refund:
          $ref: '#/components/schemas/PaymentRefund'
          description: The requested `PaymentRefund`.
      example:
        refund:
          amount_money:
            amount: 555
            currency: USD
          created_at: '2021-10-13T19:59:05.073Z'
          id: bP9mAsEMYPUGjjGNaNO5ZDVyLhSZY_69MmgHubkLqx9wGhnmenRUHOaKitE6llfZuxcWYjGxd
          location_id: L88917AVBK2S5
          order_id: 9ltv0bx5PuvGXUYHYHxYSKEqC3IZY
          payment_id: bP9mAsEMYPUGjjGNaNO5ZDVyLhSZY
          processing_fee:
          - amount_money:
              amount: -34
              currency: USD
            effective_at: '2021-10-13T21:34:35.000Z'
            type: INITIAL
          reason: Example Refund
          status: COMPLETED
          updated_at: '2021-10-13T20:00:02.442Z'
    PaymentRefund:
      type: object
      description: 'Represents a refund of a payment made using Square. Contains information about

        the original payment and the amount of money refunded.'
      x-release-status: PUBLIC
      required:
      - id
      - amount_money
      properties:
        id:
          type: string
          description: The unique ID for this refund, generated by Square.
          minLength: 1
          maxLength: 255
        status:
          type: string
          description: 'The refund''s status:

            - `PENDING` - Awaiting approval.

            - `COMPLETED` - Successfully completed.

            - `REJECTED` - The refund was rejected.

            - `FAILED` - An error occurred.'
          maxLength: 50
          nullable: true
        location_id:
          type: string
          description: The location ID associated with the payment this refund is attached to.
          maxLength: 50
          nullable: true
        unlinked:
          type: boolean
          description: Flag indicating whether or not the refund is linked to an existing payment in Square.
          readOnly: true
        destination_type:
          type: string
          description: 'The destination type for this refund.


            Current values include `CARD`, `BANK_ACCOUNT`, `WALLET`, `BUY_NOW_PAY_LATER`, `CASH`,

            `EXTERNAL`, and `SQUARE_ACCOUNT`.'
          maxLength: 50
          nullable: true
        destination_details:
          $ref: '#/components/schemas/DestinationDetails'
          description: 'Contains information about the refund destination. This field is populated only if

            `destination_id` is defined in the `RefundPayment` request.'
          readOnly: true
        amount_money:
[...]
