openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay Checkout API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: Checkout
paths:
  /v2/locations/{location_id}/checkouts:
    post:
      tags:
      - Checkout
      summary: Square Create Checkout
      operationId: CreateCheckout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Links a `checkoutId` to a `checkout_page_url` that customers are\ndirected to in order to provide their payment information using a\npayment processing workflow hosted on connect.squareup.com. \n\n\nNOTE: The Checkout API has been updated with new features. \nFor more information, see [Checkout API highlights](https://developer.squareup.com/docs/checkout-api#checkout-api-highlights)."
      x-release-status: DEPRECATED
      deprecated: true
      x-deprecation:
        deprecationDate: '2022-08-17'
        retirementDate: TBD
        replacedBy: CreatePaymentLink
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-checkout
      security:
      - oauth2:
        - PAYMENTS_WRITE
        - ORDERS_WRITE
      parameters:
      - name: location_id
        description: The ID of the business location to associate the checkout with.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckoutResponse'
      x-endpoint-errors:
      - error-code: AMOUNT_TOO_HIGH
      - error-code: CARD_PROCESSING_NOT_ENABLED
      - error-code: ORDER_EXPIRED
  /v2/online-checkout/location-settings/{location_id}:
    get:
      tags:
      - Checkout
      summary: Square Retrieve Location Settings
      operationId: RetrieveLocationSettings
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves the location-level settings for a Square-hosted checkout page.
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      parameters:
      - name: location_id
        description: The ID of the location for which to retrieve settings.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveLocationSettingsResponse'
    put:
      tags:
      - Checkout
      summary: Square Update Location Settings
      operationId: UpdateLocationSettings
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Updates the location-level settings for a Square-hosted checkout page.
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
        - MERCHANT_PROFILE_READ
      parameters:
      - name: location_id
        description: The ID of the location for which to retrieve settings.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLocationSettingsResponse'
  /v2/online-checkout/merchant-settings:
    get:
      tags:
      - Checkout
      summary: Square Retrieve Merchant Settings
      operationId: RetrieveMerchantSettings
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves the merchant-level settings for a Square-hosted checkout page.
      x-release-status: BETA
      security:
      - oauth2:
        - PAYMENT_METHODS_READ
        - MERCHANT_PROFILE_READ
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveMerchantSettingsResponse'
    put:
      tags:
      - Checkout
      summary: Square Update Merchant Settings
      operationId: UpdateMerchantSettings
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Updates the merchant-level settings for a Square-hosted checkout page.
      x-release-status: BETA
      security:
      - oauth2:
        - MERCHANT_PROFILE_WRITE
        - PAYMENT_METHODS_READ
        - MERCHANT_PROFILE_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMerchantSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMerchantSettingsResponse'
  /v2/online-checkout/payment-links:
    get:
      tags:
      - Checkout
      summary: Square List Payment Links
      operationId: ListPaymentLinks
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Lists all payment links.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_READ
      parameters:
      - name: cursor
        description: 'A pagination cursor returned by a previous call to this endpoint.

          Provide this cursor to retrieve the next set of results for the original query.

          If a cursor is not provided, the endpoint returns the first page of the results.

          For more  information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        schema:
          type: string
        in: query
        required: false
      - name: limit
        description: 'A limit on the number of results to return per page. The limit is advisory and

          the implementation might return more or less results. If the supplied limit is negative, zero, or

          greater than the maximum limit of 1000, it is ignored.


          Default value: `100`'
        schema:
          type: integer
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentLinksResponse'
    post:
      tags:
      - Checkout
      summary: Square Create Payment Link
      operationId: CreatePaymentLink
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Creates a Square-hosted checkout page. Applications can share the resulting payment link with their buyer to pay for goods and services.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - PAYMENTS_WRITE
        - ORDERS_READ
        - ORDERS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentLinkResponse'
      x-endpoint-errors:
      - error-code: INVALID_PHONE_NUMBER
      - error-code: INVALID_EMAIL_ADDRESS
      - error-code: MISSING_REQUIRED_PARAMETER
      - error-code: CONFLICTING_PARAMETERS
  /v2/online-checkout/payment-links/{id}:
    delete:
      tags:
      - Checkout
      summary: Square Delete Payment Link
      operationId: DeletePaymentLink
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Deletes a payment link.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_READ
        - ORDERS_WRITE
      parameters:
      - name: id
        description: The ID of the payment link to delete.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePaymentLinkResponse'
    get:
      tags:
      - Checkout
      summary: Square Retrieve Payment Link
      operationId: RetrievePaymentLink
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves a payment link.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_READ
      parameters:
      - name: id
        description: The ID of link to retrieve.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaymentLinkResponse'
    put:
      tags:
      - Checkout
      summary: Square Update Payment Link
      operationId: UpdatePaymentLink
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates a payment link. You can update the `payment_link` fields such as

        `description`, `checkout_options`, and  `pre_populated_data`.

        You cannot update other fields such as the `order_id`, `version`, `URL`, or `timestamp` field.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - PAYMENTS_WRITE
        - ORDERS_READ
        - ORDERS_WRITE
      parameters:
      - name: id
        description: The ID of the payment link to update.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentLinkRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePaymentLinkResponse'
      x-endpoint-errors:
      - error-code: INVALID_PHONE_NUMBER
      - error-code: INVALID_EMAIL_ADDRESS
components:
  schemas:
    CatalogQuickAmountsSettingsOption:
      type: string
      enum:
      - DISABLED
      - MANUAL
      - AUTO
      x-enum-elements:
      - name: DISABLED
        description: Option for seller to disable Quick Amounts.
      - name: MANUAL
        description: Option for seller to choose manually created Quick Amounts.
      - name: AUTO
        description: Option for seller to choose automatically created Quick Amounts.
      description: Determines a seller's option on Quick Amounts feature.
      x-release-status: BETA
    CatalogItemOptionForItem:
      type: object
      description: ' An option that can be assigned to an item.

        For example, a t-shirt item may offer a color option or a size option.'
      x-release-status: BETA
      properties:
        item_option_id:
          type: string
          description: The unique id of the item option, used to form the dimensions of the item option matrix in a specified order.
          nullable: true
    Country:
      type: string
      enum:
      - ZZ
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      x-enum-elements:
      - name: ZZ
        description: Unknown
      - name: AD
        description: Andorra
      - name: AE
        description: United Arab Emirates
      - name: AF
        description: Afghanistan
      - name: AG
        description: Antigua and Barbuda
      - name: AI
        description: Anguilla
      - name: AL
        description: Albania
      - name: AM
        description: Armenia
      - name: AO
        description: Angola
      - name: AQ
        description: Antartica
      - name: AR
        description: Argentina
      - name: AS
        description: American Samoa
      - name: AT
        description: Austria
      - name: AU
        description: Australia
      - name: AW
        description: Aruba
      - name: AX
        description: Åland Islands
      - name: AZ
        description: Azerbaijan
      - name: BA
        description: Bosnia and Herzegovina
      - name: BB
        description: Barbados
      - name: BD
        description: Bangladesh
      - name: BE
        description: Belgium
      - name: BF
        description: Burkina Faso
      - name: BG
        description: Bulgaria
      - name: BH
        description: Bahrain
      - name: BI
        description: Burundi
      - name: BJ
        description: Benin
      - name: BL
        description: Saint Barthélemy
      - name: BM
        description: Bermuda
      - name: BN
        description: Brunei
      - name: BO
        description: Bolivia
      - name: BQ
        description: Bonaire
      - name: BR
        description: Brazil
      - name: BS
        description: Bahamas
      - name: BT
        description: Bhutan
      - name: BV
        description: Bouvet Island
      - name: BW
        description: Botswana
      - name: BY
        description: Belarus
      - name: BZ
        description: Belize
      - name: CA
        description: Canada
      - name: CC
        description: Cocos Islands
      - name: CD
        description: Democratic Republic of the Congo
      - name: CF
        description: Central African Republic
      - name: CG
        description: Congo
      - name: CH
        description: Switzerland
      - name: CI
        description: Ivory Coast
      - name: CK
        description: Cook Islands
      - name: CL
        description: Chile
      - name: CM
        description: Cameroon
      - name: CN
        description: China
      - name: CO
        description: Colombia
      - name: CR
        description: Costa Rica
      - name: CU
        description: Cuba
      - name: CV
        description: Cabo Verde
      - name: CW
        description: Curaçao
      - name: CX
        description: Christmas Island
      - name: CY
        description: Cyprus
      - name: CZ
        description: Czechia
      - name: DE
        description: Germany
      - name: DJ
        description: Djibouti
      - name: DK
        description: Denmark
      - name: DM
        description: Dominica
      - name: DO
        description: Dominican Republic
      - name: DZ
        description: Algeria
      - name: EC
        description: Ecuador
      - name: EE
        description: Estonia
      - name: EG
        description: Egypt
      - name: EH
        description: Western Sahara
      - name: ER
        description: Eritrea
      - name: ES
        description: Spain
      - name: ET
        description: Ethiopia
      - name: FI
        description: Finland
      - name: FJ
        description: Fiji
      - name: FK
        description: Falkland Islands
      - name: FM
        description: Federated States of Micronesia
      - name: FO
        description: Faroe Islands
      - name: FR
        description: France
      - name: GA
        description: Gabon
      - name: GB
        description: United Kingdom
      - name: GD
        description: Grenada
      - name: GE
        description: Georgia
      - name: GF
        description: French Guiana
      - name: GG
        description: Guernsey
      - name: GH
        description: Ghana
      - name: GI
        description: Gibraltar
      - name: GL
        description: Greenland
      - name: GM
        description: Gambia
      - name: GN
        description: Guinea
      - name: GP
        description: Guadeloupe
      - name: GQ
        description: Equatorial Guinea
      - name: GR
        description: Greece
      - name: GS
        description: South Georgia and the South Sandwich Islands
      - name: GT
        description: Guatemala
      - name: GU
        description: Guam
      - name: GW
        description: Guinea-Bissau
      - name: GY
        description: Guyana
      - name: HK
        description: Hong Kong
      - name: HM
        description: Heard Island and McDonald Islands
      - name: HN
        description: Honduras
      - name: HR
        description: Croatia
      - name: HT
        description: Haiti
      - name: HU
        description: Hungary
      - name: ID
        description: Indonesia
      - name: IE
        description: Ireland
      - name: IL
        description: Israel
      - name: IM
        description: Isle of Man
      - name: IN
        description: India
      - name: IO
        description: British Indian Ocean Territory
      - name: IQ
        description: Iraq
      - name: IR
        description: Iran
      - name: IS
        description: Iceland
      - name: IT
        description: Italy
      - name: JE
        description: Jersey
      - name: JM
        description: Jamaica
      - name: JO
        description: Jordan
      - name: JP
        description: Japan
      - name: KE
        description: Kenya
      - name: KG
        description: Kyrgyzstan
      - name: KH
        description: Cambodia
      - name: KI
        description: Kiribati
      - name: KM
        description: Comoros
      - name: KN
        description: Saint Kitts and Nevis
      - name: KP
        description: Democratic People's Republic of Korea
      - name: KR
        description: Republic of Korea
      - name: KW
        description: Kuwait
      - name: KY
        description: Cayman Islands
      - name: KZ
        description: Kazakhstan
      - name: LA
        description: Lao People's Democratic Republic
      - name: LB
        description: Lebanon
      - name: LC
        description: Saint Lucia
      - name: LI
        description: Liechtenstein
      - name: LK
        description: Sri Lanka
      - name: LR
        description: Liberia
      - name: LS
        description: Lesotho
      - name: LT
        description: Lithuania
      - name: LU
        description: Luxembourg
      - name: LV
        description: Latvia
      - name: LY
        description: Libya
      - name: MA
        description: Morocco
      - name: MC
        description: Monaco
      - name: MD
        description: Moldova
      - name: ME
        description: Montenegro
      - name: MF
        description: Saint Martin
      - name: MG
        description: Madagascar
      - name: MH
        description: Marshall Islands
      - name: MK
        description: North Macedonia
      - name: ML
        description: Mali
      - name: MM
        description: Myanmar
      - name: MN
        description: Mongolia
      - name: MO
        description: Macao
      - name: MP
        description: Northern Mariana Islands
      - name: MQ
        description: Martinique
      - name: MR
        description: Mauritania
      - name: MS
        description: Montserrat
      - name: MT
        description: Malta
      - name: MU
        description: Mauritius
      - name: MV
        description: Maldives
      - name: MW
        description: Malawi
      - name: MX
        description: Mexico
      - name: MY
        description: Malaysia
      - name: MZ
        description: Mozambique
      - name: NA
        description: Namibia
      - name: NC
        description: New Caledonia
      - name: NE
        description: Niger
      - name: NF
        description: Norfolk Island
      - name: NG
        description: Nigeria
      - name: NI
        description: Nicaragua
      - name: NL
        description: Netherlands
      - name: 'NO'
        description: Norway
      - name: NP
        description: Nepal
      - name: NR
        description: Nauru
      - name: NU
        description: Niue
      - name: NZ
        description: New Zealand
      - name: OM
        description: Oman
      - name: PA
        description: Panama
      - name: PE
        description: Peru
      - name: PF
        description: French Polynesia
      - name: PG
        description: Papua New Guinea
      - name: PH
        description: Philippines
      - name: PK
        description: Pakistan
      - name: PL
        description: Poland
      - name: PM
        description: Saint Pierre and Miquelon
      - name: PN
        description: Pitcairn
      - name: PR
        description: Puerto Rico
      - name: PS
        description: Palestine
      - name: PT
        description: Portugal
      - name: PW
        description: Palau
      - name: PY
        description: Paraguay
      - name: QA
        description: Qatar
      - name: RE
        description: Réunion
      - name: RO
        description: Romania
      - name: RS
        description: Serbia
      - name: RU
        description: Russia
      - name: RW
        description: Rwanda
      - name: SA
        description: Saudi Arabia
      - name: SB
        description: Solomon Islands
      - name: SC
        description: Seychelles
      - name: SD
        description: Sudan
      - name: SE
        description: Sweden
      - name: SG
        description: Singapore
      - name: SH
        description: Saint Helena, Ascension and Tristan da Cunha
      - name: SI
        description: Slovenia
      - name: SJ
        description: Svalbard and Jan Mayen
      - name: SK
        description: Slovakia
      - name: SL
        description: Sierra Leone
      - name: SM
        description: San Marino
      - name: SN
        description: Senegal
      - name: SO
        description: Somalia
      - name: SR
        description: Suriname
      - name: SS
        description: South Sudan
      - name: ST
        description: Sao Tome and Principe
      - name: SV
        description: El Salvador
      - name: SX
        description: Sint Maarten
      - name: SY
        description: Syrian Arab Republic
      - name: SZ
        description: Eswatini
      - name: TC
        description: Turks and Caicos Islands
      - name: TD
        description: Chad
      - name: TF
        description: French Southern Territories
      - name: TG
        description: Togo
      - name: TH
        description: Thailand
      - name: TJ
        description: Tajikistan
      - name: TK
        description: Tokelau
      - name: TL
        description: Timor-Leste
      - name: TM
        description: Turkmenistan
      - name: TN
        description: Tunisia
      - name: TO
        description: Tonga
      - name: TR
        description: Turkey
      - name: TT
        description: Trinidad and Tobago
      - name: TV
        description: Tuvalu
      - name: TW
        description: Taiwan
      - name: TZ
        description: Tanzania
      - name: UA
        description: Ukraine
      - name: UG
        description: Uganda
      - name: UM
        description: United States Minor Outlying Islands
      - name: US
        description: United States of America
      - name: UY
        description: Uruguay
      - name: UZ
        description: Uzbekistan
      - name: VA
        description: Vatican City
      - name: VC
        description: Saint Vincent and the Grenadines
      - name: VE
        description: Venezuela
      - name: VG
        description: British Virgin Islands
      - name: VI
        description: U.S. Virgin Islands
      - name: VN
        description: Vietnam
      - name: VU
        description: Vanuatu
      - name: WF
        description: Wallis and Futuna
      - name: WS
        description: Samoa
      - name: YE
        description: Yemen
      - name: YT
        description: Mayotte
      - name: ZA
        description: South Africa
      - name: ZM
        description: Zambia
      - name: ZW
        description: Zimbabwe
      description: 'Indicates the country associated with another entity, such as a business.

        Values are in [ISO 3166-1-alpha-2 format](http://www.iso.org/iso/home/standards/country_codes.htm).'
      x-release-status: PUBLIC
    OrderLineItemDiscount:
      type: object
      description: 'Represents a discount that applies to one or more line items in an

        order.


        Fixed-amount, order-scoped discounts are distributed across all non-zero line item totals.

        The amount distributed to each line item is relative to the

        amount contributed by the item to the order subtotal.'
      x-release-status: PUBLIC
      properties:
        uid:
          type: string
          description: A unique ID that identifies the discount only within this order.
          maxLength: 60
          x-release-status: BETA
          nullable: true
        catalog_object_id:
          type: string
          description: The catalog object ID referencing [CatalogDiscount](entity:CatalogDiscount).
          maxLength: 192
          nullable: true
        catalog_version:
          type: integer
          description: The version of the catalog object that this discount references.
          format: int64
          nullable: true
        name:
          type: string
          description: The discount's name.
          maxLength: 255
          nullable: true
        type:
          $ref: '#/components/schemas/OrderLineItemDiscountType'
          description: 'The type of the discount.


            Discounts that do not reference a catalog object ID must have a type of

            `FIXED_PERCENTAGE` or `FIXED_AMOUNT`.

            See [OrderLineItemDiscountType](#type-orderlineitemdiscounttype) for possible values'
          nullable: true
        percentage:
          type: string
          description: 'The percentage of the discount, as a string representation of a decimal number.

            A value of `7.25` corresponds to a percentage of 7.25%.


            `percentage` is not set for amount-based discounts.'
          maxLength: 10
          nullable: true
        amount_money:
          $ref: '#/components/schemas/Money'
          description: 'The total declared monetary amount of the discount.


            `amount_money` is not set for percentage-based discounts.'
          nullable: true
        applied_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of discount actually applied to the line item.


            The amount represents the amount of money applied as a line-item scoped discount.

            When an amount-based discount is scoped to the entire order, the value

            of `applied_money` is different than `amount_money` because the total

            amount of the discount is distributed across all line items.'
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this discount. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          x-release-status: BETA
          nullable: true
        scope:
          $ref: '#/components/schemas/OrderLineItemDiscountScope'
          description: 'Indicates the level at which the discount applies. For `ORDER` scoped discounts,

            Square generates references in `applied_discounts` on all order line items that do

            not have them. For `LINE_ITEM` scoped discounts, the discount only applies to line items

            with a discount reference in their `applied_discounts` field.


            This field is immutable. To change the scope of a discount, you must delete

            the discount and re-add it as a new discount.

            See [OrderLineItemDiscountScope](#type-orderlineitemdiscountscope) for possible values'
          nullable: true
        reward_ids:
          type: array
          items:
            type: string
          description: 'The reward IDs corresponding to this discount. The application and

            specification of discounts that have `reward_ids` are completely controlled by the backing

            criteria corresponding to the reward tiers of the rewards that are added to the order

            through the Loyalty API. To manually unapply discounts that are the result of added rewards,

            the rewards must be removed from the order through the Loyalty API.'
          readOnly: true
          x-release-status: BETA
        pricing_rule_id:
          type: string
          description: 'The object ID of a [pricing rule](entity:CatalogPricingRule) to be applied

            automatically to this discount. The specification and application of the discounts, to

            which a `pricing_rule_id` is assigned, are completely controlled by the corresponding

            pricing rule.'
          readOnly: true
    OrderReturn:
      type: object
      description: The set of line items, service charges, taxes, discounts, tips, and other items being returned in an order.
      x-release-status: BETA
      properties:
        uid:
          type: string
          description: A unique ID that identifies the return only within this order.
          maxLength: 60
          nullable: true
        source_order_id:
          type: string
          description: 'An order that contains the original sale of these return line items. This is unset

            for unlinked returns.'
          nullable: true
        return_line_items:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnLineItem'
          description: A collection of line items that are being returned.
          nullable: true
        return_service_charges:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnServiceCharge'
          description: A collection of service charges that are being returned.
          nullable: true
        return_taxes:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnTax'
          description: 'A collection of references to taxes being returned for an order, including the total

            applied tax amount to be returned. The taxes must reference a top-level tax ID from the source

            order.'
          readOnly: true
        return_discounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnDiscount'
          description: 'A collection of references to discounts being returned for an order, including the total

            applied discount amount to be returned. The discounts must reference a top-level discount ID

            from the source order.'
          readOnly: true
        return_tips:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnTip'
          description: A collection of references to tips being returned for an order.
          nullable: true
        rounding_adjustment:
          $ref: '#/components/schemas/OrderRoundingAdjustment'
          description: 'A positive or negative rounding adjustment to the total value being returned. Adjustments are commonly

            used to apply cash rounding when the minimum unit of the account is smaller than the lowest

            physical denomination of the currency.'
          nullable: true
        return_amounts:
          $ref: '#/components/schemas/OrderMoneyAmounts'
          description: An aggregate monetary value being returned by this return entry.
          nullable: true
    ItemVariationLocationOverrides:
      type: object
      description: Price and inventory alerting overrides for a `CatalogItemVariation` at a specific `Location`.
      x-release-status: PUBLIC
      properties:
        location_id:
          type: string
          description: The ID of the `Location`. This can include locations that are deactivated.
          nullable: true
        price_money:
          $ref: '#/components/schemas/Money'
          description: The price of the `CatalogItemVariation` at the given `Location`, or blank for variable pricing.
          nullable: true
        pricing_type:
          $ref: '#/components/schemas/CatalogPricingType'
          description: 'The pricing type (fixed or variable) for the `CatalogItemVariation` at the given `Location`.

            See [CatalogPricingType](#type-catalogpricingtype) for possible values'
          nullable: true
        track_inventory:
          type: boolean
          description: If `true`, inventory tracking is active for the `CatalogItemVariation` at this `Location`.
          nullable: true
        inventory_alert_type:
          $ref: '#/components/schemas/InventoryAlertType'
          description: 'Indicates whether the `CatalogItemVariation` displays an alert when its inventory

            quantity is less than or equal to its `inventory_alert_threshold`.

            See [InventoryAlertType](#type-inventoryalerttype) for possible values'
          nullable: true
        inventory_alert_threshold:
          type: integer
          description: 'If the inventory quantity for the variation is less than or equal to this value and `inventory_alert_type`

            is `LOW_QUANTITY`, the variation displays an alert in the merchant dashboard.


            This value is always an integer.'
          format: int64
          nullable: true
        sold_out:
          type: boolean
          description: 'Indicates whether the overridden item variation is sold out at the specified location.


            When inventory tracking is enabled on the item variation either globally or at the specified location,

            the item variation is automatically marked as sold out when its inventory count reaches zero. The seller

            can manually set the item variation as sold out even when the inventory count is greater than zero.

            Attempts by an application to set this attribute are ignored. Regardless how the sold-out status is set,

            applications should treat its inventory count as zero when this attribute value is `true`.'
          readOnly: true
        sold_out_valid_until:
          type: string
          description: 'The seller-assigned timestamp, of the RFC 3339 format, to indicate when this sold-out variation

            becomes available again at the specified location. Attempts by an application to set this attribute are ignored.

            When the current time is later than this attribute value, the affected item variation is no longer sold out.'
          readOnly: true
    ModifierLocationOverrides:
      type: object
      description: Location-specific overrides for specified properties of a `CatalogModifier` object.
      x-release-status: PUBLIC
      properties:
        location_id:
          type: string
          description: The ID of the `Location` object representing the location. This can include a deactivated location.
          nullable: true
        price_money:
          $ref: '#/components/schemas/Money'
          description: 'The overridden price at the specified location. If this is unspecified, the modifier price is not overridden.

            The modifier becomes free of charge at the specified location, when this `price_money` field is set to 0.'
          nullable: true
        sold_out:
          type: boolean
          description: 'Indicates whether the modifier is sold out at the specified location or not. As an example, for cheese (modifier) burger (item), when the modifier is sold out, it is the cheese, but not the burger, that is sold out.

            The seller can manually set this sold out status. Attempts by an application to set this attribute are ignored.'
          readOnly: true
    TenderType:
      type: string
      enum:
      - CARD
      - CASH
      - THIRD_PARTY_CARD
      - SQUARE_GIFT_CARD
      - NO_SALE
      - BANK_ACCOUNT
      - WALLET
      - BUY_NOW_PAY_LATER
      - SQUARE_ACCOUNT
      - OTHER
      x-enum-elements:
      - name: CARD
        description: A credit card.
      - name: CASH
        description: Cash.
      - name: THIRD_PARTY_CARD
        description: 'A credit card processed with a card processor other than Square.


          This value applies only to merchants in countries where Square does not

          yet provide card processing.'
      - name: SQUARE_GIFT_CARD
        description: A Square gift card.
      - name: NO_SALE
        description: This tender represents the register being opened for a "no sale" event.
      - name: BANK_ACCOUNT
        description: A bank account payment.
      - name: WALLET
        description: 'A payment from a digital wallet, e.g. Cash App, Paypay, Rakuten Pay,

          Au Pay, D Barai, Merpay, Wechat Pay, Alipay.


          Note: Some "digital wallets", including Google Pay and Apple Pay, facilitate

          card payments.  Those payments have the `CARD` type.'
      - name: BUY_NOW_PAY_LATER
        description: A Buy Now Pay Later payment.
      - name: SQUARE_ACCOUNT
        description: A Square House Account payment.
      - name: OTHER
        description: A form of tender that does not match any other value.
      description: Indicates a tender's type.
      x-release-status: PUBLIC
    PaymentLinkRelatedResources:
      type: object
      x-release-status: PUBLIC
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
          description: The order associated with the payment link.
          nullable: true
        subscription_plans:
          type: array
          items:
            $ref: '#/components/schemas/CatalogObject'
          description: The subscription plan associated with the payment link.
          nullable: true
    FulfillmentDeliveryDetailsOrderFulfillmentDeliveryDetailsScheduleType:
      type: string
      enum:
      - SCHEDULED
      - ASAP
      x-enum-elements:
      - name: SCHEDULED
        description: Indicates the fulfillment to deliver at a scheduled deliver time.
      - name: ASAP
        description: 'Indicates that the fulfillment to deliver as soon as possible and should be prepared

          immediately.'
      description: The schedule type of the delivery fulfillment.
      x-release-status: BETA
    CatalogItemFoodAndBeverageDetailsIngredient:
      type: object
      description: Describes the ingredient used in a `FOOD_AND_BEV` item.
      x-release-status: PUBLIC
      properties:
        type:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsDietaryPreferenceType'
          description: 'The dietary preference type of the ingredient. Supported values include `STANDARD` and `CUSTOM` as specified in `FoodAndBeverageDetails.DietaryPreferenceType`.

            See [DietaryPreferenceType](#type-dietarypreferencetype) for possible values'
          nullable: true
        standard_name:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsIngredientStandardIngredient'
          description: 'The name of the ingredient from a standard pre-defined list. This should be null if it''s a custom dietary preference.

            See [StandardIngredient](#type-standardingredient) for possible values'
          nullable: true
        custom_name:
          type: string
          description: The name of a custom user-defined ingredient. This should be null if it's a standard dietary preference.
          nullable: true
    CatalogModifierListSelectionType:
      type: string
      enum:
      - SINGLE
      - MULTIPLE
      x-enum-elements:
      - name: SINGLE
        description: 'Indicates that a CatalogModifierList allows only a

          single CatalogModifier to be selected.'
      - name: MULTIPLE
        description: 'Indicates that a CatalogModifierList allows multiple

          CatalogModifier to be selected.'
      description: Indicates whether a CatalogModifierList supports multiple selections.
      x-release-status: PUBLIC
    CatalogCategory:
      type: object
      description: A category to which a `CatalogItem` instance belongs.
      x-release-status: PUBLIC
      properties:
        name:
          type: string
          description: The category name. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.
          maxLength: 255
          nullable: true
        image_ids:
          type: array
          items:
            type: string
          description: 'The IDs of images associated with this `CatalogCategory` instance.

            Currently these images are not displayed by Square, but are free to be displayed in 3rd party applications.'
          nullable: true
        category_type:
          $ref: '#/components/schemas/CatalogCategoryType'
          description: 'The type of the category.

            See [CatalogCategoryType](#type-catalogcategorytype) for possible values'
          nullable: true
        parent_category:
          $ref: '#/components/schemas/CatalogObjectCategory'
          description: The ID of the parent category of this category instance.
          nullable: true
        is_top_level:
          type: boolean
          description: Indicates whether a category is a top level category, which does not have any parent_category.
          nullable: true
        channels:
          type: array
          items:
            type: string
          description: A list of IDs representing channels, such as a Square Online site, where the category can be made visible.
          nullable: true
        availability_period_ids:
          type: array
          items:
            type: string
          description: The IDs of the `CatalogAvailabilityPeriod` objects associated with the category.
          nullable: true
        online_visibility:
          type: boolean
          description: Indicates whether the category is visible (`true`) or hidden (`false`) on all of the seller's Square Online sites.
          nullable: true
        root_category:
          type: string
          description: The top-level category in a category hierarchy.
          readOnly: true
        ecom_seo_data:
          $ref: '#/components/schemas/CatalogEcomSeoData'
          description: The SEO data for a seller's Square Online store.
          nullable: true
        path_to_root:
          type: array
          items:
            $ref: '#/components/schemas/CategoryPathToRootNode'
          description: 'The path from the category to its root category. The first node of the path is the parent of the category

            and the last is the root category. The path is empty if the category is a root category.'
          nullable: true
      example:
        object:
          category_data:
            name: Beverages
          id: '#Beverages'
          present_at_all_locations: true
          type: CATEGORY
    Money:
      type: object
      description: 'Represents an amount of money. `Money` fields can be signed or unsigned.

        Fields that do not explicitly define whether they are signed or unsigned are

        considered unsigned and can only hold positive amounts. For signed fields, the

        sign of the value indicates the purpose of the money transfer. See

        [Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts)

        for more information.'
      x-release-status: PUBLIC
      properties:
        amount:
          type: integer
          description: 'The amount of money, in the smallest denomination of the currency

            indicated by `currency`. For example, when `currency` is `USD`, `amount` is

            in cents. Monetary amounts can be positive or negative. See the specific

            field description to determine the meaning of the sign in a particular case.'
          format: int64
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
          description: 'The type of currency, in __ISO 4217 format__. For example, the currency

            code for US dollars is `USD`.


            See [Currency](entity:Currency) for possible values.

            See [Currency](#type-currency) for possible values'
          nullable: true
    CheckoutLocationSettingsBrandingButtonShape:
      type: string
      enum:
      - SQUARED
      - ROUNDED
      - PILL
      x-enum-elements:
      - name: SQUARED
        description: ''
      - name: ROUNDED
        description: ''
      - name: PILL
        description: ''
      x-release-status: BETA
    FulfillmentPickupDetails:
      type: object
      description: Contains details necessary to fulfill a pickup order.
      x-release-status: PUBLIC
      properties:
        recipient:
          $ref: '#/components/schemas/FulfillmentRecipient'
          description: 'Information about the person to pick up this fulfillment from a physical

            location.'
          nullable: true
        expires_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when this fulfillment expires if it is not marked in progress. The timestamp must be

            in RFC 3339 format (for example, "2016-09-04T23:59:33.123Z"). The expiration time can only be set

            up to 7 days in the future. If `expires_at` is not set, any new payments attached to the order

            are automatically completed.'
          nullable: true
        auto_complete_duration:
          type: string
          description: 'The duration of time after which an in progress pickup fulfillment is automatically moved

            to the `COMPLETED` state. The duration must be in RFC 3339 format (for example, "P1W3D").


            If not set, this pickup fulfillment remains in progress until it is canceled or completed.'
          nullable: true
        schedule_type:
          $ref: '#/components/schemas/FulfillmentPickupDetailsScheduleType'
          description: 'The schedule type of the pickup fulfillment. Defaults to `SCHEDULED`.

            See [FulfillmentPickupDetailsScheduleType](#type-fulfillmentpickupdetailsscheduletype) for possible values'
          nullable: true
        pickup_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            that represents the start of the pickup window. Must be in RFC 3339 timestamp format, e.g.,

            "2016-09-04T23:59:33.123Z".


            For fulfillments with the schedule type `ASAP`, this is automatically set

            to the current time plus the expected duration to prepare the fulfillment.'
          nullable: true
        pickup_window_duration:
          type: string
          description: 'The window of time in which the order should be picked up after the `pickup_at` timestamp.

            Must be in RFC 3339 duration format, e.g., "P1W3D". Can be used as an

            informational guideline for merchants.'
          nullable: true
        prep_time_duration:
          type: string
          description: 'The duration of time it takes to prepare this fulfillment.

            The duration must be in RFC 3339 format (for example, "P1W3D").'
          nullable: true
        note:
          type: string
          description: 'A note to provide additional instructions about the pickup

            fulfillment displayed in the Square Point of Sale application and set by the API.'
          maxLength: 500
          nullable: true
        placed_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was placed. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        accepted_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was marked in progress. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        rejected_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was rejected. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        ready_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment is marked as ready for pickup. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        expired_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment expired. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        picked_up_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was picked up by the recipient. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        canceled_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was canceled. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        cancel_reason:
          type: string
          description: 'A description of why the pickup was canceled. The maximum length: 100 characters.'
          maxLength: 100
          nullable: true
        is_curbside_pickup:
          type: boolean
          description: If set to `true`, indicates that this pickup order is for curbside pickup, not in-store pickup.
          x-release-status: BETA
          nullable: true
        curbside_pickup_details:
          $ref: '#/components/schemas/FulfillmentPickupDetailsCurbsidePickupDetails'
          description: Specific details for curbside pickup. These details can only be populated if `is_curbside_pickup` is set to `true`.
          x-release-status: BETA
          nullable: true
    CatalogObject:
      type: object
      description: 'The wrapper object for the catalog entries of a given object type.


        Depending on the `type` attribute value, a `CatalogObject` instance assumes a type-specific data to yield the corresponding type of catalog object.


        For example, if `type=ITEM`, the `CatalogObject` instance must have the ITEM-specific data set on the `item_data` attribute. The resulting `CatalogObject` instance is also a `CatalogItem` instance.


        In general, if `type=<OBJECT_TYPE>`, the `CatalogObject` instance must have the `<OBJECT_TYPE>`-specific data set on the `<object_type>_data` attribute. The resulting `CatalogObject` instance is also a `Catalog<ObjectType>` instance.


        For a more detailed discussion of the Catalog data model, please see the

        [Design a Catalog](https://developer.squareup.com/docs/catalog-api/design-a-catalog) guide.'
      x-release-status: PUBLIC
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/CatalogObjectType'
          description: 'The type of this object. Each object type has expected

            properties expressed in a structured format within its corresponding `*_data` field below.

            See [CatalogObjectType](#type-catalogobjecttype) for possible values'
        id:
          type: string
          description: 'An identifier to reference this object in the catalog. When a new `CatalogObject`

            is inserted, the client should set the id to a temporary identifier starting with

            a "`#`" character. Other objects being inserted or updated within the same request

            may use this identifier to refer to the new object.


            When the server receives the new object, it will supply a unique identifier that

            replaces the temporary identifier for all future references.'
          minLength: 1
        updated_at:
          type: string
          description: 'Last modification [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates) in RFC 3339 format, e.g., `"2016-08-15T23:59:33.123Z"`

            would indicate the UTC time (denoted by `Z`) of August 15, 2016 at 23:59:33 and 123 milliseconds.'
          readOnly: true
        version:
          type: integer
          description: 'The version of the object. When updating an object, the version supplied

            must match the version in the database, otherwise the write will be rejected as conflicting.'
          format: int64
        is_deleted:
          type: boolean
          description: 'If `true`, the object has been deleted from the database. Must be `false` for new objects

            being inserted. When deleted, the `updated_at` field will equal the deletion time.'
          nullable: true
        custom_attribute_values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CatalogCustomAttributeValue'
          description: 'A map (key-value pairs) of application-defined custom attribute values. The value of a key-value pair

            is a [CatalogCustomAttributeValue](entity:CatalogCustomAttributeValue) object. The key is the `key` attribute

            value defined in the associated [CatalogCustomAttributeDefinition](entity:CatalogCustomAttributeDefinition)

            object defined by the application making the request.


            If the `CatalogCustomAttributeDefinition` object is

            defined by another application, the `CatalogCustomAttributeDefinition`''s key attribute value is prefixed by

            the defining application ID. For example, if the `CatalogCustomAttributeDefinition` has a `key` attribute of

            `"cocoa_brand"` and the defining application ID is `"abcd1234"`, the key in the map is `"abcd1234:cocoa_brand"`

            if the application making the request is different from the application defining the custom attribute definition.

            Otherwise, the key used in the map is simply `"cocoa_brand"`.


            Application-defined custom attributes are set at a global (location-independent) level.

            Custom attribute values are intended to store additional information about a catalog object

            or associations with an entity in another system. Do not use custom attributes

            to store any sensitive information (personally identifiable information, card details, etc.).'
          nullable: true
        catalog_v1_ids:
          type: array
          items:
            $ref: '#/components/schemas/CatalogV1Id'
          description: 'The Connect v1 IDs for this object at each location where it is present, where they

            differ from the object''s Connect V2 ID. The field will only be present for objects that

            have been created or modified by legacy APIs.'
          nullable: true
        present_at_all_locations:
          type: boolean
          description: 'If `true`, this object is present at all locations (including future locations), except where specified in

            the `absent_at_location_ids` field. If `false`, this object is not present at any locations (including future locations),

            except where specified in the `present_at_location_ids` field. If not specified, defaults to `true`.'
          nullable: true
        present_at_location_ids:
          type: array
          items:
            type: string
          description: 'A list of locations where the object is present, even if `present_at_all_locations` is `false`.

            This can include locations that are deactivated.'
          nullable: true
        absent_at_location_ids:
          type: array
          items:
            type: string
          description: 'A list of locations where the object is not present, even if `present_at_all_locations` is `true`.

            This can include locations that are deactivated.'
          nullable: true
        item_data:
          $ref: '#/components/schemas/CatalogItem'
          description: Structured data for a `CatalogItem`, set for CatalogObjects of type `ITEM`.
          nullable: true
        category_data:
          $ref: '#/components/schemas/CatalogCategory'
          description: Structured data for a `CatalogCategory`, set for CatalogObjects of type `CATEGORY`.
          nullable: true
        item_variation_data:
          $ref: '#/components/schemas/CatalogItemVariation'
          description: Structured data for a `CatalogItemVariation`, set for CatalogObjects of type `ITEM_VARIATION`.
          nullable: true
        tax_data:
          $ref: '#/components/schemas/CatalogTax'
          description: Structured data for a `CatalogTax`, set for CatalogObjects of type `TAX`.
          nullable: true
        discount_data:
          $ref: '#/components/schemas/CatalogDiscount'
          description: Structured data for a `CatalogDiscount`, set for CatalogObjects of type `DISCOUNT`.
          nullable: true
        modifier_list_data:
          $ref: '#/components/schemas/CatalogModifierList'
          description: Structured data for a `CatalogModifierList`, set for CatalogObjects of type `MODIFIER_LIST`.
          nullable: true
        modifier_data:
          $ref: '#/components/schemas/CatalogModifier'
          description: Structured data for a `CatalogModifier`, set for CatalogObjects of type `MODIFIER`.
          nullable: true
        time_period_data:
          $ref: '#/components/schemas/CatalogTimePeriod'
          description: Structured data for a `CatalogTimePeriod`, set for CatalogObjects of type `TIME_PERIOD`.
          nullable: true
        product_set_data:
          $ref: '#/components/schemas/CatalogProductSet'
          description: Structured data for a `CatalogProductSet`, set for CatalogObjects of type `PRODUCT_SET`.
          nullable: true
        pricing_rule_data:
          $ref: '#/components/schemas/CatalogPricingRule'
          description: 'Structured data for a `CatalogPricingRule`, set for CatalogObjects of type `PRICING_RULE`.

            A `CatalogPricingRule` object often works with a `CatalogProductSet` object or a `CatalogTimePeriod` object.'
          nullable: true
        image_data:
          $ref: '#/components/schemas/CatalogImage'
          description: Structured data for a `CatalogImage`, set for CatalogObjects of type `IMAGE`.
          nullable: true
        measurement_unit_data:
          $ref: '#/components/schemas/CatalogMeasurementUnit'
          description: Structured data for a `CatalogMeasurementUnit`, set for CatalogObjects of type `MEASUREMENT_UNIT`.
          nullable: true
        subscription_plan_data:
          $ref: '#/components/schemas/CatalogSubscriptionPlan'
          description: Structured data for a `CatalogSubscriptionPlan`, set for CatalogObjects of type `SUBSCRIPTION_PLAN`.
          nullable: true
        item_option_data:
          $ref: '#/components/schemas/CatalogItemOption'
          description: Structured data for a `CatalogItemOption`, set for CatalogObjects of type `ITEM_OPTION`.
          nullable: true
        item_option_value_data:
          $ref: '#/components/schemas/CatalogItemOptionValue'
          description: Structured data for a `CatalogItemOptionValue`, set for CatalogObjects of type `ITEM_OPTION_VAL`.
          nullable: true
        custom_attribute_definition_data:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinition'
          description: Structured data for a `CatalogCustomAttributeDefinition`, set for CatalogObjects of type `CUSTOM_ATTRIBUTE_DEFINITION`.
          nullable: true
        quick_amounts_settings_data:
          $ref: '#/components/schemas/CatalogQuickAmountsSettings'
          description: Structured data for a `CatalogQuickAmountsSettings`, set for CatalogObjects of type `QUICK_AMOUNTS_SETTINGS`.
          x-release-status: BETA
          nullable: true
        subscription_plan_variation_data:
          $ref: '#/components/schemas/CatalogSubscriptionPlanVariation'
          description: Structured data for a `CatalogSubscriptionPlanVariation`, set for CatalogObjects of type `SUBSCRIPTION_PLAN_VARIATION`.
          nullable: true
        availability_period_data:
          $ref: '#/components/schemas/CatalogAvailabilityPeriod'
          description: Structured data for a `CatalogAvailabilityPeriod`, set for CatalogObjects of type `AVAILABILITY_PERIOD`.
          nullable: true
      example:
        catalog_object:
          absent_at_location_ids:
          - '{{ LOCATIONID-1 }}'
          - '{{ LOCATIONID-N }}'
          category_data: '{{ CatalogCategory object only if type=CATEGORY }}'
          connect_v1_ids:
            catalog_v1_id: '{{ itemID from Catalog v1 }}'
            location_id: '{{ location where v1 ID is used }}'
          discount_data: '{{ CatalogDiscount object only if type=DISCOUNT }}'
          id: '{{ set by Catalog during object creation }}'
          is_deleted: '{{ [true | false] }}'
          item_data: '{{ CatalogItem object only if type=ITEM }}'
          item_variation_data: '{{ CatalogItemVariation object only if type=ITEM_VARIATION }}'
          modifier_data: '{{ CatalogModifier object only if type=MODIFIER }}'
          modifier_list_data: '{{ CatalogModifierList object only if type=MODIFIER_LIST }}'
          present_at_all_locations: '{{ [true | false] }}'
          present_at_location_ids:
          - '{{ LOCATIONID-1 }}'
          - '{{ LOCATIONID-N }}'
          tax_data: '{{ CatalogTax object only if type=TAX }}'
          type: '{{ [ITEM | ITEM_VARIATION | MODIFIER | MODIFIER_LIST | CATEGORY | DISCOUNT | TAX] }}'
          updated_at: '{{ date & time of most recent update }}'
          version: '{{ version of the CatalogObject }}'
    CatalogCustomAttributeDefinitionStringConfig:
      type: object
      description: Configuration associated with Custom Attribute Definitions of type `STRING`.
      x-release-status: PUBLIC
      properties:
        enforce_uniqueness:
          type: boolean
          description: 'If true, each Custom Attribute instance associated with this Custom Attribute

            Definition must have a unique value within the seller''s catalog. For

            example, this may be used for a value like a SKU that should not be

            duplicated within a seller''s catalog. May not be modified after the

            definition has been created.'
          nullable: true
    FulfillmentFulfillmentEntry:
      type: object
      description: 'Links an order line item to a fulfillment. Each entry must reference

        a valid `uid` for an order line item in the `line_item_uid` field, as well as a `quantity` to

        fulfill.'
      x-release-status: BETA
      required:
      - line_item_uid
      - quantity
      properties:
        uid:
          type: string
          description: A unique ID that identifies the fulfillment entry only within this order.
          maxLength: 60
          nullable: true
        line_item_uid:
          type: string
          description: The `uid` from the order line item.
          minLength: 1
        quantity:
          type: string
          description: 'The quantity of the line item being fulfilled, formatted as a decimal number.

            For example, `"3"`.


            Fulfillments for line items with a `quantity_unit` can have non-integer quantities.

            For example, `"1.70000"`.'
          minLength: 1
          maxLength: 12
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this fulfillment entry. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          nullable: true
    OrderLineItemModifier:
      type: object
      description: A [CatalogModifier](entity:CatalogModifier).
      x-release-status: PUBLIC
      properties:
        uid:
          type: string
          description: A unique ID that identifies the modifier only within this order.
          maxLength: 60
          x-release-status: BETA
          nullable: true
        catalog_object_id:
          type: string
          description: The catalog object ID referencing [CatalogModifier](entity:CatalogModifier).
          maxLength: 192
          nullable: true
        catalog_version:
          type: integer
          description: The version of the catalog object that this modifier references.
          format: int64
          nullable: true
        name:
          type: string
          description: The name of the item modifier.
          maxLength: 255
          nullable: true
        quantity:
          type: string
          description: 'The quantity of the line item modifier. The modifier quantity can be 0 or more.

            For example, suppose a restaurant offers a cheeseburger on the menu. When a buyer orders

            this item, the restaurant records the purchase by creating an `Order` object with a line item

            for a burger. The line item includes a line item modifier: the name is cheese and the quantity

            is 1. The buyer has the option to order extra cheese (or no cheese). If the buyer chooses

            the extra cheese option, the modifier quantity increases to 2. If the buyer does not want

            any cheese, the modifier quantity is set to 0.'
          nullable: true
        base_price_money:
          $ref: '#/components/schemas/Money'
          description: 'The base price for the modifier.


            `base_price_money` is required for ad hoc modifiers.

            If both `catalog_object_id` and `base_price_money` are set, `base_price_money` will

            override the predefined [CatalogModifier](entity:CatalogModifier) price.'
          nullable: true
        total_price_money:
          $ref: '#/components/schemas/Money'
          description: 'The total price of the item modifier for its line item.

            This is the modifier''s `base_price_money` multiplied by the line item''s quantity.'
          readOnly: true
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this order. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see  [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          x-release-status: BETA
          nullable: true
    CheckoutLocationSettingsPolicy:
      type: object
      x-release-status: BETA
      properties:
        uid:
          type: string
          description: A unique ID to identify the policy when making changes. You must set the UID for policy updates, but it’s optional when setting new policies.
          nullable: true
        title:
          type: string
          description: The title of the policy. This is required when setting the description, though you can update it in a different request.
          maxLength: 50
          nullable: true
        description:
          type: string
          description: The description of the policy.
          maxLength: 4096
          nullable: true
    OrderServiceChargeTreatmentType:
      type: string
      enum:
      - LINE_ITEM_TREATMENT
      - APPORTIONED_TREATMENT
      x-enum-elements:
      - name: LINE_ITEM_TREATMENT
        description: ''
      - name: APPORTIONED_TREATMENT
        description: ''
      description: 'Indicates whether the service charge will be treated as a value-holding line item or

        apportioned toward a line item.'
      x-release-status: BETA
    FulfillmentPickupDetailsScheduleType:
      type: string
      enum:
      - SCHEDULED
      - ASAP
      x-enum-elements:
      - name: SCHEDULED
        description: Indicates that the fulfillment will be picked up at a scheduled pickup time.
      - name: ASAP
        description: 'Indicates that the fulfillment will be picked up as soon as possible and

          should be prepared immediately.'
      description: The schedule type of the pickup fulfillment.
      x-release-status: PUBLIC
    CardType:
      type: string
      enum:
      - UNKNOWN_CARD_TYPE
      - CREDIT
      - DEBIT
      x-enum-elements:
      - name: UNKNOWN_CARD_TYPE
        description: ''
      - name: CREDIT
        description: ''
      - name: DEBIT
        description: ''
      description: Indicates a card's type, such as `CREDIT` or `DEBIT`.
      x-release-status: PUBLIC
    CreatePaymentLinkResponse:
      type: object
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
        payment_link:
          $ref: '#/components/schemas/PaymentLink'
          description: The created payment link.
        related_resources:
          $ref: '#/components/schemas/PaymentLinkRelatedResources'
          description: The list of related objects.
      example:
        payment_link:
          created_at: '2022-04-25T23:58:01Z'
          id: PKVT6XGJZXYUP3NZ
          long_url: https://checkout.square.site/EXAMPLE
          order_id: o4b7saqp4HzhNttf5AJxC0Srjd4F
          url: https://square.link/u/EXAMPLE
          version: 1
        related_resources:
          orders:
          - created_at: '2022-03-03T00:53:15.829Z'
            fulfillments:
            - state: PROPOSED
              type: DIGITAL
              uid: bBpNrxjdQxGQP16sTmdzi
            id: o4b7saqp4HzhNttf5AJxC0Srjd4F
            line_items:
            - base_price_money:
                amount: 12500
                currency: USD
              gross_sales_money:
                amount: 12500
                currency: USD
              item_type: ITEM
              name: Auto Detailing
              quantity: '1'
              total_discount_money:
                amount: 0
                currency: USD
              total_money:
                amount: 12500
                currency: USD
              total_tax_money:
                amount: 0
                currency: USD
              uid: 8YX13D1U3jO7czP8JVrAR
              variation_total_price_money:
                amount: 12500
                currency: USD
            location_id: '{LOCATION_ID}'
            net_amounts:
              discount_money:
                amount: 0
                currency: USD
              service_charge_money:
                amount: 0
                currency: USD
              tax_money:
                amount: 0
                currency: USD
              tip_money:
                amount: 0
                currency: USD
              total_money:
                amount: 12500
                currency: USD
            source:
              name: Test Online Checkout Application
            state: DRAFT
            total_discount_money:
              amount: 0
              currency: USD
            total_money:
              amount: 12500
              currency: USD
            total_service_charge_money:
              amount: 0
              currency: USD
            total_tax_money:
              amount: 0
              currency: USD
            total_tip_money:
              amount: 0
              currency: USD
            updated_at: '2022-03-03T00:53:15.829Z'
            version: 1
    OrderState:
      type: string
      enum:
      - OPEN
      - COMPLETED
      - CANCELED
      - DRAFT
      x-enum-elements:
      - name: OPEN
        description: Indicates that the order is open. Open orders can be updated.
      - name: COMPLETED
        description: Indicates that the order is completed. Completed orders are fully paid. This is a terminal state.
      - name: CANCELED
        description: Indicates that the order is canceled. Canceled orders are not paid. This is a terminal state.
      - name: DRAFT
        description: 'Indicates that the order is in a draft state. Draft orders can be updated,

          but cannot be paid or fulfilled.

          For more information, see [Create Orders](https://developer.squareup.com/docs/orders-api/create-orders).'
      description: The state of the order.
      x-release-status: PUBLIC
    OrderPricingOptions:
      type: object
      description: 'Pricing options for an order. The options affect how the order''s price is calculated.

        They can be used, for example, to apply automatic price adjustments that are based on preconfigured

        [pricing rules](entity:CatalogPricingRule).'
      x-release-status: PUBLIC
      properties:
        auto_apply_discounts:
          type: boolean
          description: 'The option to determine whether pricing rule-based

            discounts are automatically applied to an order.'
          nullable: true
        auto_apply_taxes:
          type: boolean
          description: 'The option to determine whether rule-based taxes are automatically

            applied to an order when the criteria of the corresponding rules are met.'
          x-release-status: BETA
          nullable: true
    OrderServiceChargeScope:
      type: string
      enum:
      - OTHER_SERVICE_CHARGE_SCOPE
      - LINE_ITEM
      - ORDER
      x-enum-elements:
      - name: OTHER_SERVICE_CHARGE_SCOPE
        description: 'Used for reporting only.

          The original transaction service charge scope is currently not supported by the API.'
      - name: LINE_ITEM
        description: 'The service charge should be applied to only line items specified by

          `OrderLineItemAppliedServiceCharge` reference records.'
      - name: ORDER
        description: The service charge should be applied to the entire order.
      description: 'Indicates whether this is a line-item or order-level apportioned

        service charge.'
      x-release-status: BETA
    CatalogItemOptionValueForItemVariation:
      type: object
      description: 'A `CatalogItemOptionValue` links an item variation to an item option as

        an item option value. For example, a t-shirt item may offer a color option and

        a size option. An item option value would represent each variation of t-shirt:

        For example, "Color:Red, Size:Small" or "Color:Blue, Size:Medium".'
      x-release-status: PUBLIC
      properties:
        item_option_id:
          type: string
          description: The unique id of an item option.
          nullable: true
        item_option_value_id:
          type: string
          description: The unique id of the selected value for the item option.
          nullable: true
    CatalogItemFoodAndBeverageDetailsDietaryPreference:
      type: object
      description: Dietary preferences that can be assigned to an `FOOD_AND_BEV` item and its ingredients.
      x-release-status: PUBLIC
      properties:
        type:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsDietaryPreferenceType'
          description: 'The dietary preference type. Supported values include `STANDARD` and `CUSTOM` as specified in `FoodAndBeverageDetails.DietaryPreferenceType`.

            See [DietaryPreferenceType](#type-dietarypreferencetype) for possible values'
          nullable: true
        standard_name:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsDietaryPreferenceStandardDietaryPreference'
          description: 'The name of the dietary preference from a standard pre-defined list. This should be null if it''s a custom dietary preference.

            See [StandardDietaryPreference](#type-standarddietarypreference) for possible values'
          nullable: true
        custom_name:
          type: string
          description: The name of a user-defined custom dietary preference. This should be null if it's a standard dietary preference.
          nullable: true
    DeletePaymentLinkResponse:
      type: object
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        id:
          type: string
          description: The ID of the link that is deleted.
        cancelled_order_id:
          type: string
          description: 'The ID of the order that is canceled. When a payment link is deleted, Square updates the

            the `state` (of the order that the checkout link created) to CANCELED.'
      example:
        cancelled_order_id: asx8LgZ6MRzD0fObfkJ6obBmSh4F
        id: MQASNYL6QB6DFCJ3
    CreatePaymentLinkRequest:
      type: object
      x-release-status: PUBLIC
      properties:
        idempotency_key:
          type: string
          description: 'A unique string that identifies this `CreatePaymentLinkRequest` request.

            If you do not provide a unique string (or provide an empty string as the value),

            the endpoint treats each request as independent.


            For more information, see [Idempotency](https://developer.squareup.com/docs/working-with-apis/idempotency).'
          maxLength: 192
        description:
          type: string
          description: 'A description of the payment link. You provide this optional description that is useful in your

            application context. It is not used anywhere.'
          maxLength: 4096
        quick_pay:
          $ref: '#/components/schemas/QuickPay'
          description: 'Describes an ad hoc item and price for which to generate a quick pay checkout link.

            For more information,

            see [Quick Pay Checkout](https://developer.squareup.com/docs/checkout-api/quick-pay-checkout).'
        order:
          $ref: '#/components/schemas/Order'
          description: 'Describes the `Order` for which to create a checkout link.

            For more information,

            see [Square Order Checkout](https://developer.squareup.com/docs/checkout-api/square-order-checkout).'
        checkout_options:
          $ref: '#/components/schemas/CheckoutOptions'
          description: 'Describes optional fields to add to the resulting checkout page.

            For more information,

            see [Optional Checkout Configurations](https://developer.squareup.com/docs/checkout-api/optional-checkout-configurations).'
        pre_populated_data:
          $ref: '#/components/schemas/PrePopulatedData'
          description: 'Describes fields to prepopulate in the resulting checkout page.

            For more information, see [Prepopulate the shipping address](https://developer.squareup.com/docs/checkout-api/optional-checkout-configurations#prepopulate-the-shipping-address).'
        payment_note:
          type: string
          description: A note for the payment. After processing the payment, Square adds this note to the resulting `Payment`.
          maxLength: 500
      example:
        idempotency_key: cd9e25dc-d9f2-4430-aedb-61605070e95f
        quick_pay:
          location_id: A9Y43N9ABXZBP
          name: Auto Detailing
          price_money:
            amount: 10000
            currency: USD
    UpdateMerchantSettingsResponse:
      type: object
      x-release-status: BETA
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred when updating the merchant settings.
        merchant_settings:
          $ref: '#/components/schemas/CheckoutMerchantSettings'
          description: The updated merchant settings.
      example:
        merchant_settings:
          merchant_id: MERCHANT_ID
          payment_methods:
            afterpay_clearpay:
              enabled: true
              item_eligibility_range:
                max:
                  amount: 10000
                  currency: USD
                min:
                  amount: 100
                  currency: USD
              order_eligibility_range:
                max:
                  amount: 10000
                  currency: USD
                min:
                  amount: 100
                  currency: USD
            apple_pay:
              enabled: false
            cash_app_pay:
              enabled: true
            google_pay:
              enabled: true
          updated_at: '2022-06-16T22:25:35Z'
    OrderReturnDiscount:
      type: object
      description: 'Represents a discount being returned that applies to one or more return line items in an

        order.


        Fixed-amount, order-scoped discounts are distributed across all non-zero return line item totals.

        The amount distributed to each return line item is relative to that item’s contribution to the

        order subtotal.'
      x-release-status: BETA
      properties:
        uid:
          type: string
          description: A unique ID that identifies the returned discount only within this order.
          maxLength: 60
          nullable: true
        source_discount_uid:
          type: string
          description: The discount `uid` from the order that contains the original application of this discount.
          maxLength: 60
          nullable: true
        catalog_object_id:
          type: string
          description: The catalog object ID referencing [CatalogDiscount](entity:CatalogDiscount).
          maxLength: 192
          nullable: true
        catalog_version:
          type: integer
          description: The version of the catalog object that this discount references.
          format: int64
          nullable: true
        name:
          type: string
          description: The discount's name.
          maxLength: 255
          nullable: true
        type:
          $ref: '#/components/schemas/OrderLineItemDiscountType'
          description: 'The type of the discount. If it is created by the API, it is `FIXED_PERCENTAGE` or `FIXED_AMOUNT`.


            Discounts that do not reference a catalog object ID must have a type of

            `FIXED_PERCENTAGE` or `FIXED_AMOUNT`.

            See [OrderLineItemDiscountType](#type-orderlineitemdiscounttype) for possible values'
          nullable: true
        percentage:
          type: string
          description: 'The percentage of the tax, as a string representation of a decimal number.

            A value of `"7.25"` corresponds to a percentage of 7.25%.


            `percentage` is not set for amount-based discounts.'
          maxLength: 10
          nullable: true
        amount_money:
          $ref: '#/components/schemas/Money'
          description: 'The total declared monetary amount of the discount.


            `amount_money` is not set for percentage-based discounts.'
          nullable: true
        applied_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of discount actually applied to this line item. When an amount-based

            discount is at the order level, this value is different from `amount_money` because the discount

            is distributed across the line items.'
          readOnly: true
        scope:
          $ref: '#/components/schemas/OrderLineItemDiscountScope'
          description: 'Indicates the level at which the `OrderReturnDiscount` applies. For `ORDER` scoped

            discounts, the server generates references in `applied_discounts` on all

            `OrderReturnLineItem`s. For `LINE_ITEM` scoped discounts, the discount is only applied to

            `OrderReturnLineItem`s with references in their `applied_discounts` field.

            See [OrderLineItemDiscountScope](#type-orderlineitemdiscountscope) for possible values'
          nullable: true
    ChargeRequestAdditionalRecipient:
      type: object
      description: 'Represents an additional recipient (other than the merchant) entitled to a portion of the tender.

        Support is currently limited to USD, CAD and GBP currencies'
      x-release-status: DEPRECATED
      required:
      - location_id
      - description
      - amount_money
      properties:
        location_id:
          type: string
          description: The location ID for a recipient (other than the merchant) receiving a portion of the tender.
          minLength: 1
          maxLength: 50
        description:
          type: string
          description: The description of the additional recipient.
          minLength: 1
          maxLength: 100
        amount_money:
          $ref: '#/components/schemas/Money'
          description: The amount of money distributed to the recipient.
    TaxCalculationPhase:
      type: string
      enum:
      - TAX_SUBTOTAL_PHASE
      - TAX_TOTAL_PHASE
      x-enum-elements:
      - name: TAX_SUBTOTAL_PHASE
        description: The fee is calculated based on the payment's subtotal.
      - name: TAX_TOTAL_PHASE
        description: The fee is calculated based on the payment's total.
      description: When to calculate the taxes due on a cart.
      x-release-status: PUBLIC
    CatalogDiscountType:
      type: string
      enum:
      - FIXED_PERCENTAGE
      - FIXED_AMOUNT
      - VARIABLE_PERCENTAGE
      - VARIABLE_AMOUNT
      x-enum-elements:
      - name: FIXED_PERCENTAGE
        description: Apply the discount as a fixed percentage (e.g., 5%) off the item price.
      - name: FIXED_AMOUNT
        description: Apply the discount as a fixed amount (e.g., $1.00) off the item price.
      - name: VARIABLE_PERCENTAGE
        description: Apply the discount as a variable percentage off the item price. The percentage will be specified at the time of sale.
      - name: VARIABLE_AMOUNT
        description: Apply the discount as a variable amount off the item price. The amount will be specified at the time of sale.
      description: How to apply a CatalogDiscount to a CatalogItem.
      x-release-status: PUBLIC
    CatalogImage:
      type: object
      description: 'An image file to use in Square catalogs. It can be associated with

        `CatalogItem`, `CatalogItemVariation`, `CatalogCategory`, and `CatalogModifierList` objects.

        Only the images on items and item variations are exposed in Dashboard.

        Only the first image on an item is displayed in Square Point of Sale (SPOS).

        Images on items and variations are displayed through Square Online Store.

        Images on other object types are for use by 3rd party application developers.'
      x-release-status: PUBLIC
      properties:
        name:
          type: string
          description: 'The internal name to identify this image in calls to the Square API.

            This is a searchable attribute for use in applicable query filters

            using the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects).

            It is not unique and should not be shown in a buyer facing context.'
          nullable: true
        url:
          type: string
          description: 'The URL of this image, generated by Square after an image is uploaded

            using the [CreateCatalogImage](api-endpoint:Catalog-CreateCatalogImage) endpoint.

            To modify the image, use the UpdateCatalogImage endpoint. Do not change the URL field.'
          nullable: true
        caption:
          type: string
          description: 'A caption that describes what is shown in the image. Displayed in the

            Square Online Store. This is a searchable attribute for use in applicable query filters

            using the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects).'
          nullable: true
        photo_studio_order_id:
          type: string
          description: The immutable order ID for this image object created by the Photo Studio service in Square Online Store.
          nullable: true
    MeasurementUnitUnitType:
      type: string
      enum:
      - TYPE_CUSTOM
      - TYPE_AREA
      - TYPE_LENGTH
      - TYPE_VOLUME
      - TYPE_WEIGHT
      - TYPE_GENERIC
      x-enum-elements:
      - name: TYPE_CUSTOM
        description: The unit details are contained in the custom_unit field.
      - name: TYPE_AREA
        description: The unit details are contained in the area_unit field.
      - name: TYPE_LENGTH
        description: The unit details are contained in the length_unit field.
      - name: TYPE_VOLUME
        description: The unit details are contained in the volume_unit field.
      - name: TYPE_WEIGHT
        description: The unit details are contained in the weight_unit field.
      - name: TYPE_GENERIC
        description: The unit details are contained in the generic_unit field.
      description: Describes the type of this unit and indicates which field contains the unit information. This is an ‘open’ enum.
      x-release-status: PUBLIC
    Order:
      type: object
      description: 'Contains all information related to a single order to process with Square,

        including line items that specify the products to purchase. `Order` objects also

        include information about any associated tenders, refunds, and returns.


        All Connect V2 Transactions have all been converted to Orders including all associated

        itemization data.'
      x-release-status: PUBLIC
      required:
      - location_id
      properties:
        id:
          type: string
          description: The order's unique ID.
          readOnly: true
        location_id:
          type: string
          description: The ID of the seller location that this order is associated with.
          minLength: 1
        reference_id:
          type: string
          description: 'A client-specified ID to associate an entity in another system

            with this order.'
          maxLength: 40
          nullable: true
        source:
          $ref: '#/components/schemas/OrderSource'
          description: The origination details of the order.
          nullable: true
[...]
