openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay Orders API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: Orders
paths:
  /v2/orders:
    post:
      tags:
      - Orders
      summary: Square Create Order
      operationId: CreateOrder
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates a new [order](entity:Order) that can include information about products for

        purchase and settings to apply to the purchase.


        To pay for a created order, see

        [Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders).


        You can modify open orders using the [UpdateOrder](api-endpoint:Orders-UpdateOrder) endpoint.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
  /v2/orders/batch-retrieve:
    post:
      tags:
      - Orders
      summary: Square Batch Retrieve Orders
      operationId: BatchRetrieveOrders
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves a set of [orders](entity:Order) by their IDs.


        If a given order ID does not exist, the ID is ignored instead of generating an error.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRetrieveOrdersRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRetrieveOrdersResponse'
  /v2/orders/calculate:
    post:
      tags:
      - Orders
      summary: Square Calculate Order
      operationId: CalculateOrder
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Enables applications to preview order pricing without creating an order.
      x-release-status: BETA
      security:
      - oauth2: []
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateOrderRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateOrderResponse'
  /v2/orders/clone:
    post:
      tags:
      - Orders
      summary: Square Clone Order
      operationId: CloneOrder
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates a new order, in the `DRAFT` state, by duplicating an existing order. The newly created order has

        only the core fields (such as line items, taxes, and discounts) copied from the original order.'
      x-release-status: BETA
      security:
      - oauth2:
        - ORDERS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneOrderRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneOrderResponse'
  /v2/orders/search:
    post:
      tags:
      - Orders
      summary: Square Search Orders
      operationId: SearchOrders
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: "Search all orders for one or more locations. Orders include all sales,\nreturns, and exchanges regardless of how or when they entered the Square\necosystem (such as Point of Sale, Invoices, and Connect APIs).\n\n`SearchOrders` requests need to specify which locations to search and define a\n[SearchOrdersQuery](entity:SearchOrdersQuery) object that controls\nhow to sort or filter the results. Your `SearchOrdersQuery` can:\n\n  Set filter criteria.\n  Set the sort order.\n  Determine whether to return results as complete `Order` objects or as\n[OrderEntry](entity:OrderEntry) objects.\n\nNote that details for orders processed with Square Point of Sale while in\noffline mode might not be transmitted to Square for up to 72 hours. Offline\norders have a `created_at` value that reflects the time the order was created,\nnot the time it was subsequently transmitted to Square."
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchOrdersRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchOrdersResponse'
  /v2/orders/{order_id}:
    get:
      tags:
      - Orders
      summary: Square Retrieve Order
      operationId: RetrieveOrder
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: Retrieves an [Order](entity:Order) by ID.
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ORDERS_READ
      parameters:
      - name: order_id
        description: The ID of the order to retrieve.
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveOrderResponse'
    put:
      tags:
      - Orders
      summary: Square Update Order
      operationId: UpdateOrder
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates an open [order](entity:Order) by adding, replacing, or deleting

        fields. Orders with a `COMPLETED` or `CANCELED` state cannot be updated.


        An `UpdateOrder` request requires the following:


        - The `order_id` in the endpoint path, identifying the order to update.

        - The latest `version` of the order to update.

        - The [sparse order](https://developer.squareup.com/docs/orders-api/manage-orders/update-orders#sparse-order-objects)

        containing only the fields to update and the version to which the update is

        being applied.

        - If deleting fields, the [dot notation paths](https://developer.squareup.com/docs/orders-api/manage-orders/update-orders#identifying-fields-to-delete)

        identifying the fields to clear.


        To pay for an order, see

        [Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders).'
      x-release-status: BETA
      security:
      - oauth2:
        - ORDERS_WRITE
      parameters:
      - name: order_id
        description: The ID of the order to update.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderResponse'
  /v2/orders/{order_id}/pay:
    post:
      tags:
      - Orders
      summary: Square Pay Order
      operationId: PayOrder
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Pay for an [order](entity:Order) using one or more approved [payments](entity:Payment)

        or settle an order with a total of `0`.


        The total of the `payment_ids` listed in the request must be equal to the order

        total. Orders with a total amount of `0` can be marked as paid by specifying an empty

        array of `payment_ids` in the request.


        To be used with `PayOrder`, a payment must:


        - Reference the order by specifying the `order_id` when [creating the payment](api-endpoint:Payments-CreatePayment).

        Any approved payments that reference the same `order_id` not specified in the

        `payment_ids` is canceled.

        - Be approved with [delayed capture](https://developer.squareup.com/docs/payments-api/take-payments/card-payments/delayed-capture).

        Using a delayed capture payment with `PayOrder` completes the approved payment.'
      x-release-status: BETA
      security:
      - oauth2:
        - PAYMENTS_WRITE
        - ORDERS_WRITE
      parameters:
      - name: order_id
        description: The ID of the order being paid.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayOrderRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayOrderResponse'
components:
  schemas:
    Country:
      type: string
      enum:
      - ZZ
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      x-enum-elements:
      - name: ZZ
        description: Unknown
      - name: AD
        description: Andorra
      - name: AE
        description: United Arab Emirates
      - name: AF
        description: Afghanistan
      - name: AG
        description: Antigua and Barbuda
      - name: AI
        description: Anguilla
      - name: AL
        description: Albania
      - name: AM
        description: Armenia
      - name: AO
        description: Angola
      - name: AQ
        description: Antartica
      - name: AR
        description: Argentina
      - name: AS
        description: American Samoa
      - name: AT
        description: Austria
      - name: AU
        description: Australia
      - name: AW
        description: Aruba
      - name: AX
        description: Åland Islands
      - name: AZ
        description: Azerbaijan
      - name: BA
        description: Bosnia and Herzegovina
      - name: BB
        description: Barbados
      - name: BD
        description: Bangladesh
      - name: BE
        description: Belgium
      - name: BF
        description: Burkina Faso
      - name: BG
        description: Bulgaria
      - name: BH
        description: Bahrain
      - name: BI
        description: Burundi
      - name: BJ
        description: Benin
      - name: BL
        description: Saint Barthélemy
      - name: BM
        description: Bermuda
      - name: BN
        description: Brunei
      - name: BO
        description: Bolivia
      - name: BQ
        description: Bonaire
      - name: BR
        description: Brazil
      - name: BS
        description: Bahamas
      - name: BT
        description: Bhutan
      - name: BV
        description: Bouvet Island
      - name: BW
        description: Botswana
      - name: BY
        description: Belarus
      - name: BZ
        description: Belize
      - name: CA
        description: Canada
      - name: CC
        description: Cocos Islands
      - name: CD
        description: Democratic Republic of the Congo
      - name: CF
        description: Central African Republic
      - name: CG
        description: Congo
      - name: CH
        description: Switzerland
      - name: CI
        description: Ivory Coast
      - name: CK
        description: Cook Islands
      - name: CL
        description: Chile
      - name: CM
        description: Cameroon
      - name: CN
        description: China
      - name: CO
        description: Colombia
      - name: CR
        description: Costa Rica
      - name: CU
        description: Cuba
      - name: CV
        description: Cabo Verde
      - name: CW
        description: Curaçao
      - name: CX
        description: Christmas Island
      - name: CY
        description: Cyprus
      - name: CZ
        description: Czechia
      - name: DE
        description: Germany
      - name: DJ
        description: Djibouti
      - name: DK
        description: Denmark
      - name: DM
        description: Dominica
      - name: DO
        description: Dominican Republic
      - name: DZ
        description: Algeria
      - name: EC
        description: Ecuador
      - name: EE
        description: Estonia
      - name: EG
        description: Egypt
      - name: EH
        description: Western Sahara
      - name: ER
        description: Eritrea
      - name: ES
        description: Spain
      - name: ET
        description: Ethiopia
      - name: FI
        description: Finland
      - name: FJ
        description: Fiji
      - name: FK
        description: Falkland Islands
      - name: FM
        description: Federated States of Micronesia
      - name: FO
        description: Faroe Islands
      - name: FR
        description: France
      - name: GA
        description: Gabon
      - name: GB
        description: United Kingdom
      - name: GD
        description: Grenada
      - name: GE
        description: Georgia
      - name: GF
        description: French Guiana
      - name: GG
        description: Guernsey
      - name: GH
        description: Ghana
      - name: GI
        description: Gibraltar
      - name: GL
        description: Greenland
      - name: GM
        description: Gambia
      - name: GN
        description: Guinea
      - name: GP
        description: Guadeloupe
      - name: GQ
        description: Equatorial Guinea
      - name: GR
        description: Greece
      - name: GS
        description: South Georgia and the South Sandwich Islands
      - name: GT
        description: Guatemala
      - name: GU
        description: Guam
      - name: GW
        description: Guinea-Bissau
      - name: GY
        description: Guyana
      - name: HK
        description: Hong Kong
      - name: HM
        description: Heard Island and McDonald Islands
      - name: HN
        description: Honduras
      - name: HR
        description: Croatia
      - name: HT
        description: Haiti
      - name: HU
        description: Hungary
      - name: ID
        description: Indonesia
      - name: IE
        description: Ireland
      - name: IL
        description: Israel
      - name: IM
        description: Isle of Man
      - name: IN
        description: India
      - name: IO
        description: British Indian Ocean Territory
      - name: IQ
        description: Iraq
      - name: IR
        description: Iran
      - name: IS
        description: Iceland
      - name: IT
        description: Italy
      - name: JE
        description: Jersey
      - name: JM
        description: Jamaica
      - name: JO
        description: Jordan
      - name: JP
        description: Japan
      - name: KE
        description: Kenya
      - name: KG
        description: Kyrgyzstan
      - name: KH
        description: Cambodia
      - name: KI
        description: Kiribati
      - name: KM
        description: Comoros
      - name: KN
        description: Saint Kitts and Nevis
      - name: KP
        description: Democratic People's Republic of Korea
      - name: KR
        description: Republic of Korea
      - name: KW
        description: Kuwait
      - name: KY
        description: Cayman Islands
      - name: KZ
        description: Kazakhstan
      - name: LA
        description: Lao People's Democratic Republic
      - name: LB
        description: Lebanon
      - name: LC
        description: Saint Lucia
      - name: LI
        description: Liechtenstein
      - name: LK
        description: Sri Lanka
      - name: LR
        description: Liberia
      - name: LS
        description: Lesotho
      - name: LT
        description: Lithuania
      - name: LU
        description: Luxembourg
      - name: LV
        description: Latvia
      - name: LY
        description: Libya
      - name: MA
        description: Morocco
      - name: MC
        description: Monaco
      - name: MD
        description: Moldova
      - name: ME
        description: Montenegro
      - name: MF
        description: Saint Martin
      - name: MG
        description: Madagascar
      - name: MH
        description: Marshall Islands
      - name: MK
        description: North Macedonia
      - name: ML
        description: Mali
      - name: MM
        description: Myanmar
      - name: MN
        description: Mongolia
      - name: MO
        description: Macao
      - name: MP
        description: Northern Mariana Islands
      - name: MQ
        description: Martinique
      - name: MR
        description: Mauritania
      - name: MS
        description: Montserrat
      - name: MT
        description: Malta
      - name: MU
        description: Mauritius
      - name: MV
        description: Maldives
      - name: MW
        description: Malawi
      - name: MX
        description: Mexico
      - name: MY
        description: Malaysia
      - name: MZ
        description: Mozambique
      - name: NA
        description: Namibia
      - name: NC
        description: New Caledonia
      - name: NE
        description: Niger
      - name: NF
        description: Norfolk Island
      - name: NG
        description: Nigeria
      - name: NI
        description: Nicaragua
      - name: NL
        description: Netherlands
      - name: 'NO'
        description: Norway
      - name: NP
        description: Nepal
      - name: NR
        description: Nauru
      - name: NU
        description: Niue
      - name: NZ
        description: New Zealand
      - name: OM
        description: Oman
      - name: PA
        description: Panama
      - name: PE
        description: Peru
      - name: PF
        description: French Polynesia
      - name: PG
        description: Papua New Guinea
      - name: PH
        description: Philippines
      - name: PK
        description: Pakistan
      - name: PL
        description: Poland
      - name: PM
        description: Saint Pierre and Miquelon
      - name: PN
        description: Pitcairn
      - name: PR
        description: Puerto Rico
      - name: PS
        description: Palestine
      - name: PT
        description: Portugal
      - name: PW
        description: Palau
      - name: PY
        description: Paraguay
      - name: QA
        description: Qatar
      - name: RE
        description: Réunion
      - name: RO
        description: Romania
      - name: RS
        description: Serbia
      - name: RU
        description: Russia
      - name: RW
        description: Rwanda
      - name: SA
        description: Saudi Arabia
      - name: SB
        description: Solomon Islands
      - name: SC
        description: Seychelles
      - name: SD
        description: Sudan
      - name: SE
        description: Sweden
      - name: SG
        description: Singapore
      - name: SH
        description: Saint Helena, Ascension and Tristan da Cunha
      - name: SI
        description: Slovenia
      - name: SJ
        description: Svalbard and Jan Mayen
      - name: SK
        description: Slovakia
      - name: SL
        description: Sierra Leone
      - name: SM
        description: San Marino
      - name: SN
        description: Senegal
      - name: SO
        description: Somalia
      - name: SR
        description: Suriname
      - name: SS
        description: South Sudan
      - name: ST
        description: Sao Tome and Principe
      - name: SV
        description: El Salvador
      - name: SX
        description: Sint Maarten
      - name: SY
        description: Syrian Arab Republic
      - name: SZ
        description: Eswatini
      - name: TC
        description: Turks and Caicos Islands
      - name: TD
        description: Chad
      - name: TF
        description: French Southern Territories
      - name: TG
        description: Togo
      - name: TH
        description: Thailand
      - name: TJ
        description: Tajikistan
      - name: TK
        description: Tokelau
      - name: TL
        description: Timor-Leste
      - name: TM
        description: Turkmenistan
      - name: TN
        description: Tunisia
      - name: TO
        description: Tonga
      - name: TR
        description: Turkey
      - name: TT
        description: Trinidad and Tobago
      - name: TV
        description: Tuvalu
      - name: TW
        description: Taiwan
      - name: TZ
        description: Tanzania
      - name: UA
        description: Ukraine
      - name: UG
        description: Uganda
      - name: UM
        description: United States Minor Outlying Islands
      - name: US
        description: United States of America
      - name: UY
        description: Uruguay
      - name: UZ
        description: Uzbekistan
      - name: VA
        description: Vatican City
      - name: VC
        description: Saint Vincent and the Grenadines
      - name: VE
        description: Venezuela
      - name: VG
        description: British Virgin Islands
      - name: VI
        description: U.S. Virgin Islands
      - name: VN
        description: Vietnam
      - name: VU
        description: Vanuatu
      - name: WF
        description: Wallis and Futuna
      - name: WS
        description: Samoa
      - name: YE
        description: Yemen
      - name: YT
        description: Mayotte
      - name: ZA
        description: South Africa
      - name: ZM
        description: Zambia
      - name: ZW
        description: Zimbabwe
      description: 'Indicates the country associated with another entity, such as a business.

        Values are in [ISO 3166-1-alpha-2 format](http://www.iso.org/iso/home/standards/country_codes.htm).'
      x-release-status: PUBLIC
    OrderLineItemDiscount:
      type: object
      description: 'Represents a discount that applies to one or more line items in an

        order.


        Fixed-amount, order-scoped discounts are distributed across all non-zero line item totals.

        The amount distributed to each line item is relative to the

        amount contributed by the item to the order subtotal.'
      x-release-status: PUBLIC
      properties:
        uid:
          type: string
          description: A unique ID that identifies the discount only within this order.
          maxLength: 60
          x-release-status: BETA
          nullable: true
        catalog_object_id:
          type: string
          description: The catalog object ID referencing [CatalogDiscount](entity:CatalogDiscount).
          maxLength: 192
          nullable: true
        catalog_version:
          type: integer
          description: The version of the catalog object that this discount references.
          format: int64
          nullable: true
        name:
          type: string
          description: The discount's name.
          maxLength: 255
          nullable: true
        type:
          $ref: '#/components/schemas/OrderLineItemDiscountType'
          description: 'The type of the discount.


            Discounts that do not reference a catalog object ID must have a type of

            `FIXED_PERCENTAGE` or `FIXED_AMOUNT`.

            See [OrderLineItemDiscountType](#type-orderlineitemdiscounttype) for possible values'
          nullable: true
        percentage:
          type: string
          description: 'The percentage of the discount, as a string representation of a decimal number.

            A value of `7.25` corresponds to a percentage of 7.25%.


            `percentage` is not set for amount-based discounts.'
          maxLength: 10
          nullable: true
        amount_money:
          $ref: '#/components/schemas/Money'
          description: 'The total declared monetary amount of the discount.


            `amount_money` is not set for percentage-based discounts.'
          nullable: true
        applied_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of discount actually applied to the line item.


            The amount represents the amount of money applied as a line-item scoped discount.

            When an amount-based discount is scoped to the entire order, the value

            of `applied_money` is different than `amount_money` because the total

            amount of the discount is distributed across all line items.'
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this discount. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          x-release-status: BETA
          nullable: true
        scope:
          $ref: '#/components/schemas/OrderLineItemDiscountScope'
          description: 'Indicates the level at which the discount applies. For `ORDER` scoped discounts,

            Square generates references in `applied_discounts` on all order line items that do

            not have them. For `LINE_ITEM` scoped discounts, the discount only applies to line items

            with a discount reference in their `applied_discounts` field.


            This field is immutable. To change the scope of a discount, you must delete

            the discount and re-add it as a new discount.

            See [OrderLineItemDiscountScope](#type-orderlineitemdiscountscope) for possible values'
          nullable: true
        reward_ids:
          type: array
          items:
            type: string
          description: 'The reward IDs corresponding to this discount. The application and

            specification of discounts that have `reward_ids` are completely controlled by the backing

            criteria corresponding to the reward tiers of the rewards that are added to the order

            through the Loyalty API. To manually unapply discounts that are the result of added rewards,

            the rewards must be removed from the order through the Loyalty API.'
          readOnly: true
          x-release-status: BETA
        pricing_rule_id:
          type: string
          description: 'The object ID of a [pricing rule](entity:CatalogPricingRule) to be applied

            automatically to this discount. The specification and application of the discounts, to

            which a `pricing_rule_id` is assigned, are completely controlled by the corresponding

            pricing rule.'
          readOnly: true
    OrderReturn:
      type: object
      description: The set of line items, service charges, taxes, discounts, tips, and other items being returned in an order.
      x-release-status: BETA
      properties:
        uid:
          type: string
          description: A unique ID that identifies the return only within this order.
          maxLength: 60
          nullable: true
        source_order_id:
          type: string
          description: 'An order that contains the original sale of these return line items. This is unset

            for unlinked returns.'
          nullable: true
        return_line_items:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnLineItem'
          description: A collection of line items that are being returned.
          nullable: true
        return_service_charges:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnServiceCharge'
          description: A collection of service charges that are being returned.
          nullable: true
        return_taxes:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnTax'
          description: 'A collection of references to taxes being returned for an order, including the total

            applied tax amount to be returned. The taxes must reference a top-level tax ID from the source

            order.'
          readOnly: true
        return_discounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnDiscount'
          description: 'A collection of references to discounts being returned for an order, including the total

            applied discount amount to be returned. The discounts must reference a top-level discount ID

            from the source order.'
          readOnly: true
        return_tips:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturnTip'
          description: A collection of references to tips being returned for an order.
          nullable: true
        rounding_adjustment:
          $ref: '#/components/schemas/OrderRoundingAdjustment'
          description: 'A positive or negative rounding adjustment to the total value being returned. Adjustments are commonly

            used to apply cash rounding when the minimum unit of the account is smaller than the lowest

            physical denomination of the currency.'
          nullable: true
        return_amounts:
          $ref: '#/components/schemas/OrderMoneyAmounts'
          description: An aggregate monetary value being returned by this return entry.
          nullable: true
    SearchOrdersDateTimeFilter:
      type: object
      description: 'Filter for `Order` objects based on whether their `CREATED_AT`,

        `CLOSED_AT`, or `UPDATED_AT` timestamps fall within a specified time range.

        You can specify the time range and which timestamp to filter for. You can filter

        for only one time range at a time.


        For each time range, the start time and end time are inclusive. If the end time

        is absent, it defaults to the time of the first request for the cursor.


        __Important:__ If you use the `DateTimeFilter` in a `SearchOrders` query,

        you must set the `sort_field` in [OrdersSort](entity:SearchOrdersSort)

        to the same field you filter for. For example, if you set the `CLOSED_AT` field

        in `DateTimeFilter`, you must set the `sort_field` in `SearchOrdersSort` to

        `CLOSED_AT`. Otherwise, `SearchOrders` throws an error.

        [Learn more about filtering orders by time range.](https://developer.squareup.com/docs/orders-api/manage-orders/search-orders#important-note-about-filtering-orders-by-time-range)'
      x-release-status: PUBLIC
      properties:
        created_at:
          $ref: '#/components/schemas/TimeRange'
          description: 'The time range for filtering on the `created_at` timestamp. If you use this

            value, you must set the `sort_field` in the `OrdersSearchSort` object to

            `CREATED_AT`.'
        updated_at:
          $ref: '#/components/schemas/TimeRange'
          description: 'The time range for filtering on the `updated_at` timestamp. If you use this

            value, you must set the `sort_field` in the `OrdersSearchSort` object to

            `UPDATED_AT`.'
        closed_at:
          $ref: '#/components/schemas/TimeRange'
          description: 'The time range for filtering on the `closed_at` timestamp. If you use this

            value, you must set the `sort_field` in the `OrdersSearchSort` object to

            `CLOSED_AT`.'
          nullable: true
    TenderType:
      type: string
      enum:
      - CARD
      - CASH
      - THIRD_PARTY_CARD
      - SQUARE_GIFT_CARD
      - NO_SALE
      - BANK_ACCOUNT
      - WALLET
      - BUY_NOW_PAY_LATER
      - SQUARE_ACCOUNT
      - OTHER
      x-enum-elements:
      - name: CARD
        description: A credit card.
      - name: CASH
        description: Cash.
      - name: THIRD_PARTY_CARD
        description: 'A credit card processed with a card processor other than Square.


          This value applies only to merchants in countries where Square does not

          yet provide card processing.'
      - name: SQUARE_GIFT_CARD
        description: A Square gift card.
      - name: NO_SALE
        description: This tender represents the register being opened for a "no sale" event.
      - name: BANK_ACCOUNT
        description: A bank account payment.
      - name: WALLET
        description: 'A payment from a digital wallet, e.g. Cash App, Paypay, Rakuten Pay,

          Au Pay, D Barai, Merpay, Wechat Pay, Alipay.


          Note: Some "digital wallets", including Google Pay and Apple Pay, facilitate

          card payments.  Those payments have the `CARD` type.'
      - name: BUY_NOW_PAY_LATER
        description: A Buy Now Pay Later payment.
      - name: SQUARE_ACCOUNT
        description: A Square House Account payment.
      - name: OTHER
        description: A form of tender that does not match any other value.
      description: Indicates a tender's type.
      x-release-status: PUBLIC
    FulfillmentDeliveryDetailsOrderFulfillmentDeliveryDetailsScheduleType:
      type: string
      enum:
      - SCHEDULED
      - ASAP
      x-enum-elements:
      - name: SCHEDULED
        description: Indicates the fulfillment to deliver at a scheduled deliver time.
      - name: ASAP
        description: 'Indicates that the fulfillment to deliver as soon as possible and should be prepared

          immediately.'
      description: The schedule type of the delivery fulfillment.
      x-release-status: BETA
    Money:
      type: object
      description: 'Represents an amount of money. `Money` fields can be signed or unsigned.

        Fields that do not explicitly define whether they are signed or unsigned are

        considered unsigned and can only hold positive amounts. For signed fields, the

        sign of the value indicates the purpose of the money transfer. See

        [Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts)

        for more information.'
      x-release-status: PUBLIC
      properties:
        amount:
          type: integer
          description: 'The amount of money, in the smallest denomination of the currency

            indicated by `currency`. For example, when `currency` is `USD`, `amount` is

            in cents. Monetary amounts can be positive or negative. See the specific

            field description to determine the meaning of the sign in a particular case.'
          format: int64
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
          description: 'The type of currency, in __ISO 4217 format__. For example, the currency

            code for US dollars is `USD`.


            See [Currency](entity:Currency) for possible values.

            See [Currency](#type-currency) for possible values'
          nullable: true
    FulfillmentPickupDetails:
      type: object
      description: Contains details necessary to fulfill a pickup order.
      x-release-status: PUBLIC
      properties:
        recipient:
          $ref: '#/components/schemas/FulfillmentRecipient'
          description: 'Information about the person to pick up this fulfillment from a physical

            location.'
          nullable: true
        expires_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when this fulfillment expires if it is not marked in progress. The timestamp must be

            in RFC 3339 format (for example, "2016-09-04T23:59:33.123Z"). The expiration time can only be set

            up to 7 days in the future. If `expires_at` is not set, any new payments attached to the order

            are automatically completed.'
          nullable: true
        auto_complete_duration:
          type: string
          description: 'The duration of time after which an in progress pickup fulfillment is automatically moved

            to the `COMPLETED` state. The duration must be in RFC 3339 format (for example, "P1W3D").


            If not set, this pickup fulfillment remains in progress until it is canceled or completed.'
          nullable: true
        schedule_type:
          $ref: '#/components/schemas/FulfillmentPickupDetailsScheduleType'
          description: 'The schedule type of the pickup fulfillment. Defaults to `SCHEDULED`.

            See [FulfillmentPickupDetailsScheduleType](#type-fulfillmentpickupdetailsscheduletype) for possible values'
          nullable: true
        pickup_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            that represents the start of the pickup window. Must be in RFC 3339 timestamp format, e.g.,

            "2016-09-04T23:59:33.123Z".


            For fulfillments with the schedule type `ASAP`, this is automatically set

            to the current time plus the expected duration to prepare the fulfillment.'
          nullable: true
        pickup_window_duration:
          type: string
          description: 'The window of time in which the order should be picked up after the `pickup_at` timestamp.

            Must be in RFC 3339 duration format, e.g., "P1W3D". Can be used as an

            informational guideline for merchants.'
          nullable: true
        prep_time_duration:
          type: string
          description: 'The duration of time it takes to prepare this fulfillment.

            The duration must be in RFC 3339 format (for example, "P1W3D").'
          nullable: true
        note:
          type: string
          description: 'A note to provide additional instructions about the pickup

            fulfillment displayed in the Square Point of Sale application and set by the API.'
          maxLength: 500
          nullable: true
        placed_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was placed. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        accepted_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was marked in progress. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        rejected_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was rejected. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        ready_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment is marked as ready for pickup. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        expired_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment expired. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        picked_up_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was picked up by the recipient. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        canceled_at:
          type: string
          description: 'The [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            indicating when the fulfillment was canceled. The timestamp must be in RFC 3339 format

            (for example, "2016-09-04T23:59:33.123Z").'
          readOnly: true
        cancel_reason:
          type: string
          description: 'A description of why the pickup was canceled. The maximum length: 100 characters.'
          maxLength: 100
          nullable: true
        is_curbside_pickup:
          type: boolean
          description: If set to `true`, indicates that this pickup order is for curbside pickup, not in-store pickup.
          x-release-status: BETA
          nullable: true
        curbside_pickup_details:
          $ref: '#/components/schemas/FulfillmentPickupDetailsCurbsidePickupDetails'
          description: Specific details for curbside pickup. These details can only be populated if `is_curbside_pickup` is set to `true`.
          x-release-status: BETA
          nullable: true
    SearchOrdersRequest:
      type: object
      x-release-status: PUBLIC
      properties:
        location_ids:
          type: array
          items:
            type: string
          description: 'The location IDs for the orders to query. All locations must belong to

            the same merchant.


            Max: 10 location IDs.'
        cursor:
          type: string
          description: 'A pagination cursor returned by a previous call to this endpoint.

            Provide this cursor to retrieve the next set of results for your original query.

            For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        query:
          $ref: '#/components/schemas/SearchOrdersQuery'
          description: 'Query conditions used to filter or sort the results. Note that when

            retrieving additional pages using a cursor, you must use the original query.'
        limit:
          type: integer
          description: 'The maximum number of results to be returned in a single page.


            Default: `500`

            Max: `1000`'
        return_entries:
          type: boolean
          description: 'A Boolean that controls the format of the search results. If `true`,

            `SearchOrders` returns [OrderEntry](entity:OrderEntry) objects. If `false`, `SearchOrders`

            returns complete order objects.


            Default: `false`.'
      example:
        limit: 3
        location_ids:
        - 057P5VYJ4A5X1
        - 18YC4JDH91E1H
        query:
          filter:
            date_time_filter:
              closed_at:
                end_at: '2019-03-04T21:54:45+00:00'
                start_at: '2018-03-03T20:00:00+00:00'
            state_filter:
              states:
              - COMPLETED
          sort:
            sort_field: CLOSED_AT
            sort_order: DESC
        return_entries: true
    FulfillmentFulfillmentEntry:
      type: object
      description: 'Links an order line item to a fulfillment. Each entry must reference

        a valid `uid` for an order line item in the `line_item_uid` field, as well as a `quantity` to

        fulfill.'
      x-release-status: BETA
      required:
      - line_item_uid
      - quantity
      properties:
        uid:
          type: string
          description: A unique ID that identifies the fulfillment entry only within this order.
          maxLength: 60
          nullable: true
        line_item_uid:
          type: string
          description: The `uid` from the order line item.
          minLength: 1
        quantity:
          type: string
          description: 'The quantity of the line item being fulfilled, formatted as a decimal number.

            For example, `"3"`.


            Fulfillments for line items with a `quantity_unit` can have non-integer quantities.

            For example, `"1.70000"`.'
          minLength: 1
          maxLength: 12
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this fulfillment entry. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          nullable: true
    OrderLineItemModifier:
      type: object
      description: A [CatalogModifier](entity:CatalogModifier).
      x-release-status: PUBLIC
      properties:
        uid:
          type: string
          description: A unique ID that identifies the modifier only within this order.
          maxLength: 60
          x-release-status: BETA
          nullable: true
        catalog_object_id:
          type: string
          description: The catalog object ID referencing [CatalogModifier](entity:CatalogModifier).
          maxLength: 192
          nullable: true
        catalog_version:
          type: integer
          description: The version of the catalog object that this modifier references.
          format: int64
          nullable: true
        name:
          type: string
          description: The name of the item modifier.
          maxLength: 255
          nullable: true
        quantity:
          type: string
          description: 'The quantity of the line item modifier. The modifier quantity can be 0 or more.

            For example, suppose a restaurant offers a cheeseburger on the menu. When a buyer orders

            this item, the restaurant records the purchase by creating an `Order` object with a line item

            for a burger. The line item includes a line item modifier: the name is cheese and the quantity

            is 1. The buyer has the option to order extra cheese (or no cheese). If the buyer chooses

            the extra cheese option, the modifier quantity increases to 2. If the buyer does not want

            any cheese, the modifier quantity is set to 0.'
          nullable: true
        base_price_money:
          $ref: '#/components/schemas/Money'
          description: 'The base price for the modifier.


            `base_price_money` is required for ad hoc modifiers.

            If both `catalog_object_id` and `base_price_money` are set, `base_price_money` will

            override the predefined [CatalogModifier](entity:CatalogModifier) price.'
          nullable: true
        total_price_money:
          $ref: '#/components/schemas/Money'
          description: 'The total price of the item modifier for its line item.

            This is the modifier''s `base_price_money` multiplied by the line item''s quantity.'
          readOnly: true
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this order. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see  [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          x-release-status: BETA
          nullable: true
    SearchOrdersSortField:
      type: string
      enum:
      - CREATED_AT
      - UPDATED_AT
      - CLOSED_AT
      x-enum-elements:
      - name: CREATED_AT
        description: 'The time when the order was created, in RFC-3339 format. If you are also

          filtering for a time range in this query, you must set the `CREATED_AT`

          field in your `DateTimeFilter`.'
      - name: UPDATED_AT
        description: 'The time when the order last updated, in RFC-3339 format. If you are also

          filtering for a time range in this query, you must set the `UPDATED_AT`

          field in your `DateTimeFilter`.'
      - name: CLOSED_AT
        description: 'The time when the order was closed, in RFC-3339 format. If you use this

          value, you must also set a `StateFilter` with closed states. If you are also

          filtering for a time range in this query, you must set the `CLOSED_AT`

          field in your `DateTimeFilter`.'
      description: Specifies which timestamp to use to sort `SearchOrder` results.
      x-release-status: PUBLIC
    BatchRetrieveOrdersResponse:
      type: object
      description: 'Defines the fields that are included in the response body of

        a request to the `BatchRetrieveOrders` endpoint.'
      x-release-status: PUBLIC
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
          description: The requested orders. This will omit any requested orders that do not exist.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        orders:
        - id: CAISEM82RcpmcFBM0TfOyiHV3es
          line_items:
          - base_price_money:
              amount: 1599
              currency: USD
            name: Awesome product
            quantity: '1'
            total_money:
              amount: 1599
              currency: USD
            uid: 945986d1-9586-11e6-ad5a-28cfe92138cf
          - base_price_money:
              amount: 2000
              currency: USD
            name: Another awesome product
            quantity: '3'
            total_money:
              amount: 6000
              currency: USD
            uid: a8f4168c-9586-11e6-bdf0-28cfe92138cf
          location_id: 057P5VYJ4A5X1
          reference_id: my-order-001
          total_money:
            amount: 7599
            currency: USD
    OrderServiceChargeTreatmentType:
      type: string
      enum:
      - LINE_ITEM_TREATMENT
      - APPORTIONED_TREATMENT
      x-enum-elements:
      - name: LINE_ITEM_TREATMENT
        description: ''
      - name: APPORTIONED_TREATMENT
        description: ''
      description: 'Indicates whether the service charge will be treated as a value-holding line item or

        apportioned toward a line item.'
      x-release-status: BETA
    FulfillmentPickupDetailsScheduleType:
      type: string
      enum:
      - SCHEDULED
      - ASAP
      x-enum-elements:
      - name: SCHEDULED
        description: Indicates that the fulfillment will be picked up at a scheduled pickup time.
      - name: ASAP
        description: 'Indicates that the fulfillment will be picked up as soon as possible and

          should be prepared immediately.'
      description: The schedule type of the pickup fulfillment.
      x-release-status: PUBLIC
    CardType:
      type: string
      enum:
      - UNKNOWN_CARD_TYPE
      - CREDIT
      - DEBIT
      x-enum-elements:
      - name: UNKNOWN_CARD_TYPE
        description: ''
      - name: CREDIT
        description: ''
      - name: DEBIT
        description: ''
      description: Indicates a card's type, such as `CREDIT` or `DEBIT`.
      x-release-status: PUBLIC
    OrderState:
      type: string
      enum:
      - OPEN
      - COMPLETED
      - CANCELED
      - DRAFT
      x-enum-elements:
      - name: OPEN
        description: Indicates that the order is open. Open orders can be updated.
      - name: COMPLETED
        description: Indicates that the order is completed. Completed orders are fully paid. This is a terminal state.
      - name: CANCELED
        description: Indicates that the order is canceled. Canceled orders are not paid. This is a terminal state.
      - name: DRAFT
        description: 'Indicates that the order is in a draft state. Draft orders can be updated,

          but cannot be paid or fulfilled.

          For more information, see [Create Orders](https://developer.squareup.com/docs/orders-api/create-orders).'
      description: The state of the order.
      x-release-status: PUBLIC
    OrderPricingOptions:
      type: object
      description: 'Pricing options for an order. The options affect how the order''s price is calculated.

        They can be used, for example, to apply automatic price adjustments that are based on preconfigured

        [pricing rules](entity:CatalogPricingRule).'
      x-release-status: PUBLIC
      properties:
        auto_apply_discounts:
          type: boolean
          description: 'The option to determine whether pricing rule-based

            discounts are automatically applied to an order.'
          nullable: true
        auto_apply_taxes:
          type: boolean
          description: 'The option to determine whether rule-based taxes are automatically

            applied to an order when the criteria of the corresponding rules are met.'
          x-release-status: BETA
          nullable: true
    OrderServiceChargeScope:
      type: string
      enum:
      - OTHER_SERVICE_CHARGE_SCOPE
      - LINE_ITEM
      - ORDER
      x-enum-elements:
      - name: OTHER_SERVICE_CHARGE_SCOPE
        description: 'Used for reporting only.

          The original transaction service charge scope is currently not supported by the API.'
      - name: LINE_ITEM
        description: 'The service charge should be applied to only line items specified by

          `OrderLineItemAppliedServiceCharge` reference records.'
      - name: ORDER
        description: The service charge should be applied to the entire order.
      description: 'Indicates whether this is a line-item or order-level apportioned

        service charge.'
      x-release-status: BETA
    SearchOrdersSourceFilter:
      type: object
      description: A filter based on order `source` information.
      x-release-status: PUBLIC
      properties:
        source_names:
          type: array
          items:
            type: string
          description: 'Filters by the [Source](entity:OrderSource) `name`. The filter returns any orders

            with a `source.name` that matches any of the listed source names.


            Max: 10 source names.'
          nullable: true
    SearchOrdersFulfillmentFilter:
      type: object
      description: Filter based on [order fulfillment](entity:Fulfillment) information.
      x-release-status: PUBLIC
      properties:
        fulfillment_types:
          type: array
          items:
            $ref: '#/components/schemas/FulfillmentType'
          description: 'A list of [fulfillment types](entity:FulfillmentType) to filter

            for. The list returns orders if any of its fulfillments match any of the fulfillment types

            listed in this field.

            See [FulfillmentType](#type-fulfillmenttype) for possible values'
          nullable: true
        fulfillment_states:
          type: array
          items:
            $ref: '#/components/schemas/FulfillmentState'
          description: 'A list of [fulfillment states](entity:FulfillmentState) to filter

            for. The list returns orders if any of its fulfillments match any of the

            fulfillment states listed in this field.

            See [FulfillmentState](#type-fulfillmentstate) for possible values'
          nullable: true
    OrderReturnDiscount:
      type: object
      description: 'Represents a discount being returned that applies to one or more return line items in an

        order.


        Fixed-amount, order-scoped discounts are distributed across all non-zero return line item totals.

        The amount distributed to each return line item is relative to that item’s contribution to the

        order subtotal.'
      x-release-status: BETA
      properties:
        uid:
          type: string
          description: A unique ID that identifies the returned discount only within this order.
          maxLength: 60
          nullable: true
        source_discount_uid:
          type: string
          description: The discount `uid` from the order that contains the original application of this discount.
          maxLength: 60
          nullable: true
        catalog_object_id:
          type: string
          description: The catalog object ID referencing [CatalogDiscount](entity:CatalogDiscount).
          maxLength: 192
          nullable: true
        catalog_version:
          type: integer
          description: The version of the catalog object that this discount references.
          format: int64
          nullable: true
        name:
          type: string
          description: The discount's name.
          maxLength: 255
          nullable: true
        type:
          $ref: '#/components/schemas/OrderLineItemDiscountType'
          description: 'The type of the discount. If it is created by the API, it is `FIXED_PERCENTAGE` or `FIXED_AMOUNT`.


            Discounts that do not reference a catalog object ID must have a type of

            `FIXED_PERCENTAGE` or `FIXED_AMOUNT`.

            See [OrderLineItemDiscountType](#type-orderlineitemdiscounttype) for possible values'
          nullable: true
        percentage:
          type: string
          description: 'The percentage of the tax, as a string representation of a decimal number.

            A value of `"7.25"` corresponds to a percentage of 7.25%.


            `percentage` is not set for amount-based discounts.'
          maxLength: 10
          nullable: true
        amount_money:
          $ref: '#/components/schemas/Money'
          description: 'The total declared monetary amount of the discount.


            `amount_money` is not set for percentage-based discounts.'
          nullable: true
        applied_money:
          $ref: '#/components/schemas/Money'
          description: 'The amount of discount actually applied to this line item. When an amount-based

            discount is at the order level, this value is different from `amount_money` because the discount

            is distributed across the line items.'
          readOnly: true
        scope:
          $ref: '#/components/schemas/OrderLineItemDiscountScope'
          description: 'Indicates the level at which the `OrderReturnDiscount` applies. For `ORDER` scoped

            discounts, the server generates references in `applied_discounts` on all

            `OrderReturnLineItem`s. For `LINE_ITEM` scoped discounts, the discount is only applied to

            `OrderReturnLineItem`s with references in their `applied_discounts` field.

            See [OrderLineItemDiscountScope](#type-orderlineitemdiscountscope) for possible values'
          nullable: true
    SearchOrdersResponse:
      type: object
      description: 'Either the `order_entries` or `orders` field is set, depending on whether

        `return_entries` is set on the [SearchOrdersRequest](api-endpoint:Orders-SearchOrders).'
      x-release-status: PUBLIC
      properties:
        order_entries:
          type: array
          items:
            $ref: '#/components/schemas/OrderEntry'
          description: 'A list of [OrderEntries](entity:OrderEntry) that fit the query

            conditions. The list is populated only if `return_entries` is set to `true` in the request.'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
          description: 'A list of

            [Order](entity:Order) objects that match the query conditions. The list is populated only if

            `return_entries` is set to `false` in the request.'
        cursor:
          type: string
          description: 'The pagination cursor to be used in a subsequent request. If unset,

            this is the final response.

            For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination).'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: '[Errors](entity:Error) encountered during the search.'
      example:
        cursor: '123'
        order_entries:
        - location_id: 057P5VYJ4A5X1
          order_id: CAISEM82RcpmcFBM0TfOyiHV3es
          version: 1
        - location_id: 18YC4JDH91E1H
          order_id: CAISENgvlJ6jLWAzERDzjyHVybY
        - location_id: 057P5VYJ4A5X1
          order_id: CAISEM52YcpmcWAzERDOyiWS3ty
    MeasurementUnitUnitType:
      type: string
      enum:
      - TYPE_CUSTOM
      - TYPE_AREA
      - TYPE_LENGTH
      - TYPE_VOLUME
      - TYPE_WEIGHT
      - TYPE_GENERIC
      x-enum-elements:
      - name: TYPE_CUSTOM
        description: The unit details are contained in the custom_unit field.
      - name: TYPE_AREA
        description: The unit details are contained in the area_unit field.
      - name: TYPE_LENGTH
        description: The unit details are contained in the length_unit field.
      - name: TYPE_VOLUME
        description: The unit details are contained in the volume_unit field.
      - name: TYPE_WEIGHT
        description: The unit details are contained in the weight_unit field.
      - name: TYPE_GENERIC
        description: The unit details are contained in the generic_unit field.
      description: Describes the type of this unit and indicates which field contains the unit information. This is an ‘open’ enum.
      x-release-status: PUBLIC
    Order:
      type: object
      description: 'Contains all information related to a single order to process with Square,

        including line items that specify the products to purchase. `Order` objects also

        include information about any associated tenders, refunds, and returns.


        All Connect V2 Transactions have all been converted to Orders including all associated

        itemization data.'
      x-release-status: PUBLIC
      required:
      - location_id
      properties:
        id:
          type: string
          description: The order's unique ID.
          readOnly: true
        location_id:
          type: string
          description: The ID of the seller location that this order is associated with.
          minLength: 1
        reference_id:
          type: string
          description: 'A client-specified ID to associate an entity in another system

            with this order.'
          maxLength: 40
          nullable: true
        source:
          $ref: '#/components/schemas/OrderSource'
          description: The origination details of the order.
          nullable: true
        customer_id:
          type: string
          description: 'The ID of the [customer](entity:Customer) associated with the order.


            You should specify a `customer_id` on the order (or the payment) to ensure that transactions

            are reliably linked to customers. Omitting this field might result in the creation of new

            [instant profiles](https://developer.squareup.com/docs/customers-api/what-it-does#instant-profiles).'
          maxLength: 191
          x-release-status: BETA
          nullable: true
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineItem'
          description: The line items included in the order.
          nullable: true
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineItemTax'
          description: 'The list of all taxes associated with the order.


            Taxes can be scoped to either `ORDER` or `LINE_ITEM`. For taxes with `LINE_ITEM` scope, an

            `OrderLineItemAppliedTax` must be added to each line item that the tax applies to. For taxes

            with `ORDER` scope, the server generates an `OrderLineItemAppliedTax` for every line item.


            On reads, each tax in the list includes the total amount of that tax applied to the order.


            __IMPORTANT__: If `LINE_ITEM` scope is set on any taxes in this field, using the deprecated

            `line_items.taxes` field results in an error. Use `line_items.applied_taxes`

            instead.'
          nullable: true
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineItemDiscount'
          description: 'The list of all discounts associated with the order.


            Discounts can be scoped to either `ORDER` or `LINE_ITEM`. For discounts scoped to `LINE_ITEM`,

            an `OrderLineItemAppliedDiscount` must be added to each line item that the discount applies to.

            For discounts with `ORDER` scope, the server generates an `OrderLineItemAppliedDiscount`

            for every line item.


            __IMPORTANT__: If `LINE_ITEM` scope is set on any discounts in this field, using the deprecated

            `line_items.discounts` field results in an error. Use `line_items.applied_discounts`

            instead.'
          nullable: true
        service_charges:
          type: array
          items:
            $ref: '#/components/schemas/OrderServiceCharge'
          description: A list of service charges applied to the order.
          nullable: true
        fulfillments:
          type: array
          items:
            $ref: '#/components/schemas/Fulfillment'
          description: 'Details about order fulfillment.


            Orders can only be created with at most one fulfillment. However, orders returned

            by the API might contain multiple fulfillments.'
          nullable: true
        returns:
          type: array
          items:
            $ref: '#/components/schemas/OrderReturn'
          description: 'A collection of items from sale orders being returned in this one. Normally part of an

            itemized return or exchange. There is exactly one `Return` object per sale `Order` being

            referenced.'
          readOnly: true
          x-release-status: BETA
        return_amounts:
          $ref: '#/components/schemas/OrderMoneyAmounts'
          description: The rollup of the returned money amounts.
          readOnly: true
          x-release-status: BETA
        net_amounts:
          $ref: '#/components/schemas/OrderMoneyAmounts'
          description: The net money amounts (sale money - return money).
          readOnly: true
          x-release-status: BETA
        rounding_adjustment:
          $ref: '#/components/schemas/OrderRoundingAdjustment'
          description: 'A positive rounding adjustment to the total of the order. This adjustment is commonly

            used to apply cash rounding when the minimum unit of account is smaller than the lowest physical

            denomination of the currency.'
          readOnly: true
          x-release-status: BETA
        tenders:
          type: array
          items:
            $ref: '#/components/schemas/Tender'
          description: The tenders that were used to pay for the order.
          readOnly: true
          x-release-status: BETA
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
          description: The refunds that are part of this order.
          readOnly: true
          x-release-status: BETA
        metadata:
          type: object
          additionalProperties:
            type: string
          description: 'Application-defined data attached to this order. Metadata fields are intended

            to store descriptive references or associations with an entity in another system or store brief

            information about the object. Square does not process this field; it only stores and returns it

            in relevant API calls. Do not use metadata to store any sensitive information (such as personally

            identifiable information or card details).


            Keys written by applications must be 60 characters or less and must be in the character set

            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed

            with a namespace, separated from the key with a '':'' character.


            Values have a maximum length of 255 characters.


            An application can have up to 10 entries per metadata field.


            Entries written by applications are private and can only be read or modified by the same

            application.


            For more information, see  [Metadata](https://developer.squareup.com/docs/build-basics/metadata).'
          x-release-status: BETA
          nullable: true
        created_at:
          type: string
          description: The timestamp for when the order was created, at server side, in RFC 3339 format (for example, "2016-09-04T23:59:33.123Z").
          readOnly: true
        updated_at:
          type: string
          description: The timestamp for when the order was last updated, at server side, in RFC 3339 format (for example, "2016-09-04T23:59:33.123Z").
          readOnly: true
        closed_at:
          type: string
          description: The timestamp for when the order reached a terminal [state](entity:OrderState), in RFC 3339 format (for example "2016-09-04T23:59:33.123Z").
          readOnly: true
        state:
          $ref: '#/components/schemas/OrderState'
          description: 'The current state of the order.

            See [OrderState](#type-orderstate) for possible values'
          nullable: true
        version:
          type: integer
          description: 'The version number, which is incremented each time an update is committed to the order.

            Orders not created through the API do not include a version number and

            therefore cannot be updated.


            [Read more about working with versions](https://developer.squareup.com/docs/orders-api/manage-orders/update-orders).'
          x-release-status: BETA
        total_money:
          $ref: '#/components/schemas/Money'
          description: The total amount of money to collect for the order.
          readOnly: true
        total_tax_money:
          $ref: '#/components/schemas/Money'
          description: The total amount of tax money to collect for the order.
          readOnly: true
        total_discount_money:
          $ref: '#/components/schemas/Money'
          description: The total amount of discount money to collect for the order.
          readOnly: true
        total_tip_money:
          $ref: '#/components/schemas/Money'
          description: The total amount of tip money to collect for the order.
          readOnly: true
        total_service_charge_money:
          $ref: '#/components/schemas/Money'
          description: 'The total amount of money collected in service charges for the order.


            Note: `total_service_charge_money` is the sum of `applied_money` fields for each individual

            service charge. Therefore, `total_service_charge_money` only includes inclusive tax amounts,

            not additive tax amounts.'
          readOnly: true
        ticket_name:
          type: string
          description: 'A short-term identifier for the order (such as a customer first name,

            table number, or auto-generated order number that resets daily).'
          maxLength: 30
          x-release-status: BETA
          nullable: true
        pricing_options:
          $ref: '#/components/schemas/OrderPricingOptions'
          description: 'Pricing options for an order. The options affect how the order''s price is calculated.

            They can be used, for example, to apply automatic price adjustments that are based on

            preconfigured [pricing rules](entity:CatalogPricingRule).'
          nullable: true
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/OrderReward'
          description: A set-like list of Rewards that have been added to the Order.
          readOnly: true
          x-release-status: BETA
        net_amount_due_money:
          $ref: '#/components/schemas/Money'
          description: The net amount of money due on the order.
          readOnly: true
    SearchOrdersCustomerFilter:
      type: object
      description: 'A filter based on the order `customer_id` and any tender `customer_id`

        associated with the order. It does not filter based on the

        [FulfillmentRecipient](entity:FulfillmentRecipient) `customer_id`.'
      x-release-status: BETA
      properties:
        customer_ids:
          type: array
          items:
            type: string
          description: 'A list of customer IDs to filter by.


            Max: 10 customer ids.'
          nullable: true
    RefundStatus:
      type: string
      enum:
      - PENDING
      - APPROVED
      - REJECTED
      - FAILED
      x-enum-elements:
      - name: PENDING
        description: The refund is pending.
      - name: APPROVED
        description: The refund has been approved by Square.
      - name: REJECTED
        description: The refund has been rejected by Square.
      - name: FAILED
        description: The refund failed.
      description: Indicates a refund's current status.
      x-release-status: PUBLIC
    CalculateOrderResponse:
      type: object
      x-release-status: BETA
      properties:
        order:
          $ref: '#/components/schemas/Order'
          description: The calculated version of the order provided in the request.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
      example:
        order:
          created_at: '2020-05-18T16:30:49.614Z'
          discounts:
          - applied_money:
              amount: 550
              currency: USD
            name: 50% Off
            percentage: '50'
            scope: ORDER
            type: FIXED_PERCENTAGE
            uid: zGsRZP69aqSSR9lq9euSPB
          line_items:
          - applied_discounts:
            - applied_money:
                amount: 250
                currency: USD
              discount_uid: zGsRZP69aqSSR9lq9euSPB
              uid: 9zr9S4dxvPAixvn0lpa1VC
            base_price_money:
              amount: 500
              currency: USD
            gross_sales_money:
              amount: 500
              currency: USD
            name: Item 1
            quantity: '1'
            total_discount_money:
              amount: 250
              currency: USD
            total_money:
              amount: 250
              currency: USD
            total_service_charge_money:
              amount: 0
              currency: USD
            total_tax_money:
              amount: 0
              currency: USD
            uid: ULkg0tQTRK2bkU9fNv3IJD
            variation_total_price_money:
              amount: 500
              currency: USD
          - applied_discounts:
            - applied_money:
                amount: 300
                currency: USD
              discount_uid: zGsRZP69aqSSR9lq9euSPB
              uid: qa8LwwZK82FgSEkQc2HYVC
            base_price_money:
              amount: 300
              currency: USD
            gross_sales_money:
              amount: 600
              currency: USD
            name: Item 2
            quantity: '2'
            total_discount_money:
              amount: 300
              currency: USD
            total_money:
              amount: 300
              currency: USD
            total_service_charge_money:
              amount: 0
              currency: USD
            total_tax_money:
              amount: 0
              currency: USD
            uid: mumY8Nun4BC5aKe2yyx5a
            variation_total_price_money:
              amount: 600
              currency: USD
          location_id: D7AVYMEAPJ3A3
          net_amounts:
            discount_money:
              amount: 550
              currency: USD
            service_charge_money:
              amount: 0
              currency: USD
            tax_money:
              amount: 0
              currency: USD
            tip_money:
              amount: 0
              currency: USD
            total_money:
              amount: 550
              currency: USD
          state: OPEN
          total_discount_money:
            amount: 550
            currency: USD
          total_money:
            amount: 550
            currency: USD
          total_service_charge_money:
            amount: 0
            currency: USD
          total_tax_money:
            amount: 0
            currency: USD
          total_tip_money:
            amount: 0
            currency: USD
          updated_at: '2020-05-18T16:30:49.614Z'
          version: 1
    TenderSquareAccountDetails:
      type: object
      description: Represents the details of a tender with `type` `SQUARE_ACCOUNT`.
      x-release-status: PUBLIC
      properties:
        status:
          $ref: '#/components/schemas/TenderSquareAccountDetailsStatus'
          description: 'The Square Account payment''s current state (such as `AUTHORIZED` or

            `CAPTURED`). See [TenderSquareAccountDetailsStatus](entity:TenderSquareAccountDetailsStatus)

            for possible values.

            See [Status](#type-status) for possible values'
          nullable: true
    OrderServiceChargeCalculationPhase:
      type: string
      enum:
      - SUBTOTAL_PHASE
      - TOTAL_PHASE
      - APPORTIONED_PERCENTAGE_PHASE
      - APPORTIONED_AMOUNT_PHASE
      x-enum-elements:
      - name: SUBTOTAL_PHASE
        description: 'The service charge is applied after discounts, but before

          taxes.'
      - name: TOTAL_PHASE
        description: 'The service charge is applied after all discounts and taxes

          are applied.'
      - name: APPORTIONED_PERCENTAGE_PHASE
        description: 'The service charge is calculated as a compounding adjustment

          after any discounts, but before amount based apportioned service charges

          and any tax considerations.'
      - name: APPORTIONED_AMOUNT_PHASE
        description: 'The service charge is calculated as a compounding adjustment

          after any discounts and percentage based apportioned service charges,

          but before any tax considerations.'
      description: 'Represents a phase in the process of calculating order totals.

        Service charges are applied after the indicated phase.


        [Read more about how order totals are calculated.](https://developer.squareup.com/docs/orders-api/how-it-works#how-totals-are-calculated)'
      x-release-status: PUBLIC
    OrderLineItemAppliedTax:
      type: object
      description: 'Represents an applied portion of a tax to a line item in an order.


        Order-scoped taxes automatically include the applied taxes in each line item.

        Line item taxes must be referenced from any applicable line items.

        The corresponding applied money is automatically computed, based on the

        set of participating line items.'
      x-release-status: BETA
      required:
      - tax_uid
      properties:
        uid:
          type: string
          description: A unique ID that identifies the applied tax only within this order.
          maxLength: 60
          nullable: true
        tax_uid:
          type: string
          description: 'The `uid` of the tax for which this applied tax represents. It must reference

            a tax present in the `order.taxes` field.


            This field is immutable. To change which taxes apply to a line item, delete and add a new

            `OrderLineItemAppliedTax`.'
          minLength: 1
          maxLength: 60
        applied_money:
          $ref: '#/components/schemas/Money'
          description: The amount of money applied by the tax to the line item.
          readOnly: true
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - INVALID_REQUEST_ERROR
      - RATE_LIMIT_ERROR
      - PAYMENT_METHOD_ERROR
      - REFUND_ERROR
      - MERCHANT_SUBSCRIPTION_ERROR
      - EXTERNAL_VENDOR_ERROR
      x-enum-elements:
      - name: API_ERROR
        description: An error occurred with the Connect API itself.
      - name: AUTHENTICATION_ERROR
        description: 'An authentication error occurred. Most commonly, the request had

          a missing, malformed, or otherwise invalid `Authorization` header.'
      - name: INVALID_REQUEST_ERROR
        description: 'The request was invalid. Most commonly, a required parameter was

          missing, or a provided parameter had an invalid value.'
      - name: RATE_LIMIT_ERROR
        description: 'Your application reached the Square API rate limit. You might receive this error if your application sends a high number of requests

          to Square APIs in a short period of time.


          Your application should monitor responses for `429 RATE_LIMITED` errors and use a retry mechanism with an [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)

          schedule to resend the requests at an increasingly slower rate. It is also a good practice to use a randomized delay (jitter) in your retry schedule.'
      - name: PAYMENT_METHOD_ERROR
        description: 'An error occurred while processing a payment method. Most commonly,

          the details of the payment method were invalid (such as a card''s CVV

          or expiration date).'
      - name: REFUND_ERROR
        description: An error occurred while attempting to process a refund.
      - name: MERCHANT_SUBSCRIPTION_ERROR
        description: An error occurred when checking a merchant subscription status
      - name: EXTERNAL_VENDOR_ERROR
        description: An error that is returned from an external vendor's API
      description: 'Indicates which high-level category of error has occurred during a

        request to the Connect API.'
      x-release-status: PUBLIC
    Currency:
      type: string
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLE
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - XUS
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
[...]
