openapi: 3.0.0
info:
  version: '2.0'
  title: Square ApplePay Catalog API
  description: 'Supercharge Square for sellers of every size. Our entire connected commerce platform  from elegant hardware to a rich suite of Square APIs  is yours to build with. Whether youre developing an app or composing a bespoke solution, this is the place to make it happen. '
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    email: developers@squareup.com
    url: https://squareup.com/developers
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  externalDocs:
    description: 'Read the official documentation here:'
    url: https://docs.connect.squareup.com/
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_BODY_PARAMETER
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
  variables: {}
tags:
- name: Catalog
paths:
  /v2/catalog/batch-delete:
    post:
      tags:
      - Catalog
      summary: Square Batch Delete Catalog Objects
      operationId: BatchDeleteCatalogObjects
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Deletes a set of [CatalogItem](entity:CatalogItem)s based on the

        provided list of target IDs and returns a set of successfully deleted IDs in

        the response. Deletion is a cascading event such that all children of the

        targeted object are also deleted. For example, deleting a CatalogItem will

        also delete all of its [CatalogItemVariation](entity:CatalogItemVariation)

        children.


        `BatchDeleteCatalogObjects` succeeds even if only a portion of the targeted

        IDs can be deleted. The response will only include IDs that were

        actually deleted.


        To ensure consistency, only one delete request is processed at a time per seller account.

        While one (batch or non-batch) delete request is being processed, other (batched and non-batched)

        delete requests are rejected with the `429` error code.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteCatalogObjectsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDeleteCatalogObjectsResponse'
  /v2/catalog/batch-retrieve:
    post:
      tags:
      - Catalog
      summary: Square Batch Retrieve Catalog Objects
      operationId: BatchRetrieveCatalogObjects
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Returns a set of objects based on the provided ID.

        Each [CatalogItem](entity:CatalogItem) returned in the set includes all of its

        child information including: all of its

        [CatalogItemVariation](entity:CatalogItemVariation) objects, references to

        its [CatalogModifierList](entity:CatalogModifierList) objects, and the ids of

        any [CatalogTax](entity:CatalogTax) objects that apply to it.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRetrieveCatalogObjectsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRetrieveCatalogObjectsResponse'
  /v2/catalog/batch-upsert:
    post:
      tags:
      - Catalog
      summary: Square Batch Upsert Catalog Objects
      operationId: BatchUpsertCatalogObjects
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates or updates up to 10,000 target objects based on the provided

        list of objects. The target objects are grouped into batches and each batch is

        inserted/updated in an all-or-nothing manner. If an object within a batch is

        malformed in some way, or violates a database constraint, the entire batch

        containing that item will be disregarded. However, other batches in the same

        request may still succeed. Each batch may contain up to 1,000 objects, and

        batches will be processed in order as long as the total object count for the

        request (items, variations, modifier lists, discounts, and taxes) is no more

        than 10,000.


        To ensure consistency, only one update request is processed at a time per seller account.

        While one (batch or non-batch) update request is being processed, other (batched and non-batched)

        update requests are rejected with the `429` error code.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpsertCatalogObjectsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpsertCatalogObjectsResponse'
      x-endpoint-errors:
      - error-code: GENERIC_DECLINE
  /v2/catalog/images:
    post:
      tags:
      - Catalog
      summary: Square Create Catalog Image
      operationId: CreateCatalogImage
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Uploads an image file to be represented by a [CatalogImage](entity:CatalogImage) object that can be linked to an existing

        [CatalogObject](entity:CatalogObject) instance. The resulting `CatalogImage` is unattached to any `CatalogObject` if the `object_id`

        is not specified.


        This `CreateCatalogImage` endpoint accepts HTTP multipart/form-data requests with a JSON part and an image file part in

        JPEG, PJPEG, PNG, or GIF format. The maximum file size is 15MB.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                request:
                  $ref: '#/components/schemas/CreateCatalogImageRequest'
                image_file:
                  type: string
                  format: binary
            encoding:
              image_file:
                contentType: image/jpeg
              request:
                contentType: application/json; charset=utf-8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCatalogImageResponse'
      x-endpoint-errors:
      - error-code: GENERIC_DECLINE
  /v2/catalog/images/{image_id}:
    put:
      tags:
      - Catalog
      summary: Square Update Catalog Image
      operationId: UpdateCatalogImage
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Uploads a new image file to replace the existing one in the specified [CatalogImage](entity:CatalogImage) object.


        This `UpdateCatalogImage` endpoint accepts HTTP multipart/form-data requests with a JSON part and an image file part in

        JPEG, PJPEG, PNG, or GIF format. The maximum file size is 15MB.'
      x-release-status: BETA
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters:
      - name: image_id
        description: The ID of the `CatalogImage` object to update the encapsulated image file.
        schema:
          type: string
        in: path
        required: true
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                request:
                  $ref: '#/components/schemas/UpdateCatalogImageRequest'
                image_file:
                  type: string
                  format: binary
            encoding:
              image_file:
                contentType: image/jpeg
              request:
                contentType: application/json; charset=utf-8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCatalogImageResponse'
  /v2/catalog/info:
    get:
      tags:
      - Catalog
      summary: Square Catalog Info
      operationId: CatalogInfo
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Retrieves information about the Square Catalog API, such as batch size

        limits that can be used by the `BatchUpsertCatalogObjects` endpoint.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_READ
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogInfoResponse'
  /v2/catalog/list:
    get:
      tags:
      - Catalog
      summary: Square List Catalog
      operationId: ListCatalog
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Returns a list of all [CatalogObject](entity:CatalogObject)s of the specified types in the catalog.


        The `types` parameter is specified as a comma-separated list of the [CatalogObjectType](entity:CatalogObjectType) values,

        for example, "`ITEM`, `ITEM_VARIATION`, `MODIFIER`, `MODIFIER_LIST`, `CATEGORY`, `DISCOUNT`, `TAX`, `IMAGE`".


        __Important:__ ListCatalog does not return deleted catalog items. To retrieve

        deleted catalog items, use [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects)

        and set the `include_deleted_objects` attribute value to `true`.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_READ
      parameters:
      - name: cursor
        description: 'The pagination cursor returned in the previous response. Leave unset for an initial request.

          The page size is currently set to be 100.

          See [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination) for more information.'
        schema:
          type: string
        in: query
        required: false
      - name: types
        description: "An optional case-insensitive, comma-separated list of object types to retrieve.\n\nThe valid values are defined in the [CatalogObjectType](entity:CatalogObjectType) enum, for example,\n`ITEM`, `ITEM_VARIATION`, `CATEGORY`, `DISCOUNT`, `TAX`,\n`MODIFIER`, `MODIFIER_LIST`, `IMAGE`, etc.\n\nIf this is unspecified, the operation returns objects of all the top level types at the version\nof the Square API used to make the request. Object types that are nested onto other object types\nare not included in the defaults.\n\nAt the current API version the default object types are:\nITEM, CATEGORY, TAX, DISCOUNT, MODIFIER_LIST, \nPRICING_RULE, PRODUCT_SET, TIME_PERIOD, MEASUREMENT_UNIT,\nSUBSCRIPTION_PLAN, ITEM_OPTION, CUSTOM_ATTRIBUTE_DEFINITION, QUICK_AMOUNT_SETTINGS."
        schema:
          type: string
        in: query
        required: false
      - name: catalog_version
        description: 'The specific version of the catalog objects to be included in the response.

          This allows you to retrieve historical versions of objects. The specified version value is matched against

          the [CatalogObject](entity:CatalogObject)s'' `version` attribute.  If not included, results will be from the

          current version of the catalog.'
        schema:
          type: integer
          format: int64
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogResponse'
  /v2/catalog/object:
    post:
      tags:
      - Catalog
      summary: Square Upsert Catalog Object
      operationId: UpsertCatalogObject
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Creates a new or updates the specified [CatalogObject](entity:CatalogObject).


        To ensure consistency, only one update request is processed at a time per seller account.

        While one (batch or non-batch) update request is being processed, other (batched and non-batched)

        update requests are rejected with the `429` error code.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCatalogObjectRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertCatalogObjectResponse'
      x-endpoint-errors:
      - error-code: GENERIC_DECLINE
      - error-code: INVALID_LOCATION
  /v2/catalog/object/{object_id}:
    delete:
      tags:
      - Catalog
      summary: Square Delete Catalog Object
      operationId: DeleteCatalogObject
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Deletes a single [CatalogObject](entity:CatalogObject) based on the

        provided ID and returns the set of successfully deleted IDs in the response.

        Deletion is a cascading event such that all children of the targeted object

        are also deleted. For example, deleting a [CatalogItem](entity:CatalogItem)

        will also delete all of its

        [CatalogItemVariation](entity:CatalogItemVariation) children.


        To ensure consistency, only one delete request is processed at a time per seller account.

        While one (batch or non-batch) delete request is being processed, other (batched and non-batched)

        delete requests are rejected with the `429` error code.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters:
      - name: object_id
        description: 'The ID of the catalog object to be deleted. When an object is deleted, other

          objects in the graph that depend on that object will be deleted as well (for example, deleting a

          catalog item will delete its catalog item variations).'
        schema:
          type: string
        in: path
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogObjectResponse'
    get:
      tags:
      - Catalog
      summary: Square Retrieve Catalog Object
      operationId: RetrieveCatalogObject
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Returns a single [CatalogItem](entity:CatalogItem) as a

        [CatalogObject](entity:CatalogObject) based on the provided ID. The returned

        object includes all of the relevant [CatalogItem](entity:CatalogItem)

        information including: [CatalogItemVariation](entity:CatalogItemVariation)

        children, references to its

        [CatalogModifierList](entity:CatalogModifierList) objects, and the ids of

        any [CatalogTax](entity:CatalogTax) objects that apply to it.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_READ
      parameters:
      - name: object_id
        description: The object ID of any type of catalog objects to be retrieved.
        schema:
          type: string
        in: path
        required: true
      - name: include_related_objects
        description: 'If `true`, the response will include additional objects that are related to the

          requested objects. Related objects are defined as any objects referenced by ID by the results in the `objects` field

          of the response. These objects are put in the `related_objects` field. Setting this to `true` is

          helpful when the objects are needed for immediate display to a user.

          This process only goes one level deep. Objects referenced by the related objects will not be included. For example,


          if the `objects` field of the response contains a CatalogItem, its associated

          CatalogCategory objects, CatalogTax objects, CatalogImage objects and

          CatalogModifierLists will be returned in the `related_objects` field of the

          response. If the `objects` field of the response contains a CatalogItemVariation,

          its parent CatalogItem will be returned in the `related_objects` field of

          the response.


          Default value: `false`'
        schema:
          type: boolean
          default: false
        in: query
        required: false
      - name: catalog_version
        description: 'Requests objects as of a specific version of the catalog. This allows you to retrieve historical

          versions of objects. The value to retrieve a specific version of an object can be found

          in the version field of [CatalogObject](entity:CatalogObject)s. If not included, results will

          be from the current version of the catalog.'
        schema:
          type: integer
          format: int64
        in: query
        required: false
      - name: include_category_path_to_root
        description: 'Specifies whether or not to include the `path_to_root` list for each returned category instance. The `path_to_root` list consists

          of `CategoryPathToRootNode` objects and specifies the path that starts with the immediate parent category of the returned category

          and ends with its root category. If the returned category is a top-level category, the `path_to_root` list is empty and is not returned

          in the response payload.'
        schema:
          type: boolean
          default: false
        in: query
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCatalogObjectResponse'
  /v2/catalog/search:
    post:
      tags:
      - Catalog
      summary: Square Search Catalog Objects
      operationId: SearchCatalogObjects
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Searches for [CatalogObject](entity:CatalogObject) of any type by matching supported search attribute values,

        excluding custom attribute values on items or item variations, against one or more of the specified query filters.


        This (`SearchCatalogObjects`) endpoint differs from the [SearchCatalogItems](api-endpoint:Catalog-SearchCatalogItems)

        endpoint in the following aspects:


        - `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects` can search for any type of catalog objects.

        - `SearchCatalogItems` supports the custom attribute query filters to return items or item variations that contain custom attribute values, where `SearchCatalogObjects` does not.

        - `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted items or item variations, whereas `SearchCatalogObjects` does.

        - The both endpoints have different call conventions, including the query filter formats.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCatalogObjectsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCatalogObjectsResponse'
  /v2/catalog/search-catalog-items:
    post:
      tags:
      - Catalog
      summary: Square Search Catalog Items
      operationId: SearchCatalogItems
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Searches for catalog items or item variations by matching supported search attribute values, including

        custom attribute values, against one or more of the specified query filters.


        This (`SearchCatalogItems`) endpoint differs from the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects)

        endpoint in the following aspects:


        - `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects` can search for any type of catalog objects.

        - `SearchCatalogItems` supports the custom attribute query filters to return items or item variations that contain custom attribute values, where `SearchCatalogObjects` does not.

        - `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted items or item variations, whereas `SearchCatalogObjects` does.

        - The both endpoints use different call conventions, including the query filter formats.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_READ
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCatalogItemsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCatalogItemsResponse'
  /v2/catalog/update-item-modifier-lists:
    post:
      tags:
      - Catalog
      summary: Square Update Item Modifier Lists
      operationId: UpdateItemModifierLists
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates the [CatalogModifierList](entity:CatalogModifierList) objects

        that apply to the targeted [CatalogItem](entity:CatalogItem) without having

        to perform an upsert on the entire item.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemModifierListsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateItemModifierListsResponse'
  /v2/catalog/update-item-taxes:
    post:
      tags:
      - Catalog
      summary: Square Update Item Taxes
      operationId: UpdateItemTaxes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      description: 'Updates the [CatalogTax](entity:CatalogTax) objects that apply to the

        targeted [CatalogItem](entity:CatalogItem) without having to perform an

        upsert on the entire item.'
      x-release-status: PUBLIC
      security:
      - oauth2:
        - ITEMS_WRITE
      parameters: []
      requestBody:
        required: true
        description: 'An object containing the fields to POST for the request.


          See the corresponding object definition for field details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemTaxesRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateItemTaxesResponse'
components:
  schemas:
    CatalogQuickAmountsSettingsOption:
      type: string
      enum:
      - DISABLED
      - MANUAL
      - AUTO
      x-enum-elements:
      - name: DISABLED
        description: Option for seller to disable Quick Amounts.
      - name: MANUAL
        description: Option for seller to choose manually created Quick Amounts.
      - name: AUTO
        description: Option for seller to choose automatically created Quick Amounts.
      description: Determines a seller's option on Quick Amounts feature.
      x-release-status: BETA
    CatalogItemOptionForItem:
      type: object
      description: ' An option that can be assigned to an item.

        For example, a t-shirt item may offer a color option or a size option.'
      x-release-status: BETA
      properties:
        item_option_id:
          type: string
          description: The unique id of the item option, used to form the dimensions of the item option matrix in a specified order.
          nullable: true
    ItemVariationLocationOverrides:
      type: object
      description: Price and inventory alerting overrides for a `CatalogItemVariation` at a specific `Location`.
      x-release-status: PUBLIC
      properties:
        location_id:
          type: string
          description: The ID of the `Location`. This can include locations that are deactivated.
          nullable: true
        price_money:
          $ref: '#/components/schemas/Money'
          description: The price of the `CatalogItemVariation` at the given `Location`, or blank for variable pricing.
          nullable: true
        pricing_type:
          $ref: '#/components/schemas/CatalogPricingType'
          description: 'The pricing type (fixed or variable) for the `CatalogItemVariation` at the given `Location`.

            See [CatalogPricingType](#type-catalogpricingtype) for possible values'
          nullable: true
        track_inventory:
          type: boolean
          description: If `true`, inventory tracking is active for the `CatalogItemVariation` at this `Location`.
          nullable: true
        inventory_alert_type:
          $ref: '#/components/schemas/InventoryAlertType'
          description: 'Indicates whether the `CatalogItemVariation` displays an alert when its inventory

            quantity is less than or equal to its `inventory_alert_threshold`.

            See [InventoryAlertType](#type-inventoryalerttype) for possible values'
          nullable: true
        inventory_alert_threshold:
          type: integer
          description: 'If the inventory quantity for the variation is less than or equal to this value and `inventory_alert_type`

            is `LOW_QUANTITY`, the variation displays an alert in the merchant dashboard.


            This value is always an integer.'
          format: int64
          nullable: true
        sold_out:
          type: boolean
          description: 'Indicates whether the overridden item variation is sold out at the specified location.


            When inventory tracking is enabled on the item variation either globally or at the specified location,

            the item variation is automatically marked as sold out when its inventory count reaches zero. The seller

            can manually set the item variation as sold out even when the inventory count is greater than zero.

            Attempts by an application to set this attribute are ignored. Regardless how the sold-out status is set,

            applications should treat its inventory count as zero when this attribute value is `true`.'
          readOnly: true
        sold_out_valid_until:
          type: string
          description: 'The seller-assigned timestamp, of the RFC 3339 format, to indicate when this sold-out variation

            becomes available again at the specified location. Attempts by an application to set this attribute are ignored.

            When the current time is later than this attribute value, the affected item variation is no longer sold out.'
          readOnly: true
    ModifierLocationOverrides:
      type: object
      description: Location-specific overrides for specified properties of a `CatalogModifier` object.
      x-release-status: PUBLIC
      properties:
        location_id:
          type: string
          description: The ID of the `Location` object representing the location. This can include a deactivated location.
          nullable: true
        price_money:
          $ref: '#/components/schemas/Money'
          description: 'The overridden price at the specified location. If this is unspecified, the modifier price is not overridden.

            The modifier becomes free of charge at the specified location, when this `price_money` field is set to 0.'
          nullable: true
        sold_out:
          type: boolean
          description: 'Indicates whether the modifier is sold out at the specified location or not. As an example, for cheese (modifier) burger (item), when the modifier is sold out, it is the cheese, but not the burger, that is sold out.

            The seller can manually set this sold out status. Attempts by an application to set this attribute are ignored.'
          readOnly: true
    CatalogItemFoodAndBeverageDetailsIngredient:
      type: object
      description: Describes the ingredient used in a `FOOD_AND_BEV` item.
      x-release-status: PUBLIC
      properties:
        type:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsDietaryPreferenceType'
          description: 'The dietary preference type of the ingredient. Supported values include `STANDARD` and `CUSTOM` as specified in `FoodAndBeverageDetails.DietaryPreferenceType`.

            See [DietaryPreferenceType](#type-dietarypreferencetype) for possible values'
          nullable: true
        standard_name:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsIngredientStandardIngredient'
          description: 'The name of the ingredient from a standard pre-defined list. This should be null if it''s a custom dietary preference.

            See [StandardIngredient](#type-standardingredient) for possible values'
          nullable: true
        custom_name:
          type: string
          description: The name of a custom user-defined ingredient. This should be null if it's a standard dietary preference.
          nullable: true
    CatalogModifierListSelectionType:
      type: string
      enum:
      - SINGLE
      - MULTIPLE
      x-enum-elements:
      - name: SINGLE
        description: 'Indicates that a CatalogModifierList allows only a

          single CatalogModifier to be selected.'
      - name: MULTIPLE
        description: 'Indicates that a CatalogModifierList allows multiple

          CatalogModifier to be selected.'
      description: Indicates whether a CatalogModifierList supports multiple selections.
      x-release-status: PUBLIC
    CatalogCategory:
      type: object
      description: A category to which a `CatalogItem` instance belongs.
      x-release-status: PUBLIC
      properties:
        name:
          type: string
          description: The category name. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.
          maxLength: 255
          nullable: true
        image_ids:
          type: array
          items:
            type: string
          description: 'The IDs of images associated with this `CatalogCategory` instance.

            Currently these images are not displayed by Square, but are free to be displayed in 3rd party applications.'
          nullable: true
        category_type:
          $ref: '#/components/schemas/CatalogCategoryType'
          description: 'The type of the category.

            See [CatalogCategoryType](#type-catalogcategorytype) for possible values'
          nullable: true
        parent_category:
          $ref: '#/components/schemas/CatalogObjectCategory'
          description: The ID of the parent category of this category instance.
          nullable: true
        is_top_level:
          type: boolean
          description: Indicates whether a category is a top level category, which does not have any parent_category.
          nullable: true
        channels:
          type: array
          items:
            type: string
          description: A list of IDs representing channels, such as a Square Online site, where the category can be made visible.
          nullable: true
        availability_period_ids:
          type: array
          items:
            type: string
          description: The IDs of the `CatalogAvailabilityPeriod` objects associated with the category.
          nullable: true
        online_visibility:
          type: boolean
          description: Indicates whether the category is visible (`true`) or hidden (`false`) on all of the seller's Square Online sites.
          nullable: true
        root_category:
          type: string
          description: The top-level category in a category hierarchy.
          readOnly: true
        ecom_seo_data:
          $ref: '#/components/schemas/CatalogEcomSeoData'
          description: The SEO data for a seller's Square Online store.
          nullable: true
        path_to_root:
          type: array
          items:
            $ref: '#/components/schemas/CategoryPathToRootNode'
          description: 'The path from the category to its root category. The first node of the path is the parent of the category

            and the last is the root category. The path is empty if the category is a root category.'
          nullable: true
      example:
        object:
          category_data:
            name: Beverages
          id: '#Beverages'
          present_at_all_locations: true
          type: CATEGORY
    Money:
      type: object
      description: 'Represents an amount of money. `Money` fields can be signed or unsigned.

        Fields that do not explicitly define whether they are signed or unsigned are

        considered unsigned and can only hold positive amounts. For signed fields, the

        sign of the value indicates the purpose of the money transfer. See

        [Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts)

        for more information.'
      x-release-status: PUBLIC
      properties:
        amount:
          type: integer
          description: 'The amount of money, in the smallest denomination of the currency

            indicated by `currency`. For example, when `currency` is `USD`, `amount` is

            in cents. Monetary amounts can be positive or negative. See the specific

            field description to determine the meaning of the sign in a particular case.'
          format: int64
          nullable: true
        currency:
          $ref: '#/components/schemas/Currency'
          description: 'The type of currency, in __ISO 4217 format__. For example, the currency

            code for US dollars is `USD`.


            See [Currency](entity:Currency) for possible values.

            See [Currency](#type-currency) for possible values'
          nullable: true
    DeleteCatalogObjectResponse:
      type: object
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
        deleted_object_ids:
          type: array
          items:
            type: string
          description: 'The IDs of all catalog objects deleted by this request.

            Multiple IDs may be returned when associated objects are also deleted, for example

            a catalog item variation will be deleted (and its ID included in this field)

            when its parent catalog item is deleted.'
        deleted_at:
          type: string
          description: 'The database [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates)

            of this deletion in RFC 3339 format, e.g., `2016-09-04T23:59:33.123Z`.'
      example:
        deleted_at: '2016-11-16T22:25:24.878Z'
        deleted_object_ids:
        - 7SB3ZQYJ5GDMVFL7JK46JCHT
        - KQLFFHA6K6J3YQAQAWDQAL57
      x-sq-sdk-sample-code:
        csharp: /sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectResponse.csharp
        java: /sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectResponse.java
        javascript: /sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectResponse.javascript
        php: /sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectResponse.php
        python: /sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectResponse.python
        ruby: /sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectResponse.ruby
    CatalogQueryPrefix:
      type: object
      description: The query filter to return the search result whose named attribute values are prefixed by the specified attribute value.
      x-release-status: PUBLIC
      required:
      - attribute_name
      - attribute_prefix
      properties:
        attribute_name:
          type: string
          description: The name of the attribute to be searched.
          minLength: 1
        attribute_prefix:
          type: string
          description: The desired prefix of the search attribute value.
          minLength: 1
    CatalogObject:
      type: object
      description: 'The wrapper object for the catalog entries of a given object type.


        Depending on the `type` attribute value, a `CatalogObject` instance assumes a type-specific data to yield the corresponding type of catalog object.


        For example, if `type=ITEM`, the `CatalogObject` instance must have the ITEM-specific data set on the `item_data` attribute. The resulting `CatalogObject` instance is also a `CatalogItem` instance.


        In general, if `type=<OBJECT_TYPE>`, the `CatalogObject` instance must have the `<OBJECT_TYPE>`-specific data set on the `<object_type>_data` attribute. The resulting `CatalogObject` instance is also a `Catalog<ObjectType>` instance.


        For a more detailed discussion of the Catalog data model, please see the

        [Design a Catalog](https://developer.squareup.com/docs/catalog-api/design-a-catalog) guide.'
      x-release-status: PUBLIC
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/CatalogObjectType'
          description: 'The type of this object. Each object type has expected

            properties expressed in a structured format within its corresponding `*_data` field below.

            See [CatalogObjectType](#type-catalogobjecttype) for possible values'
        id:
          type: string
          description: 'An identifier to reference this object in the catalog. When a new `CatalogObject`

            is inserted, the client should set the id to a temporary identifier starting with

            a "`#`" character. Other objects being inserted or updated within the same request

            may use this identifier to refer to the new object.


            When the server receives the new object, it will supply a unique identifier that

            replaces the temporary identifier for all future references.'
          minLength: 1
        updated_at:
          type: string
          description: 'Last modification [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates) in RFC 3339 format, e.g., `"2016-08-15T23:59:33.123Z"`

            would indicate the UTC time (denoted by `Z`) of August 15, 2016 at 23:59:33 and 123 milliseconds.'
          readOnly: true
        version:
          type: integer
          description: 'The version of the object. When updating an object, the version supplied

            must match the version in the database, otherwise the write will be rejected as conflicting.'
          format: int64
        is_deleted:
          type: boolean
          description: 'If `true`, the object has been deleted from the database. Must be `false` for new objects

            being inserted. When deleted, the `updated_at` field will equal the deletion time.'
          nullable: true
        custom_attribute_values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CatalogCustomAttributeValue'
          description: 'A map (key-value pairs) of application-defined custom attribute values. The value of a key-value pair

            is a [CatalogCustomAttributeValue](entity:CatalogCustomAttributeValue) object. The key is the `key` attribute

            value defined in the associated [CatalogCustomAttributeDefinition](entity:CatalogCustomAttributeDefinition)

            object defined by the application making the request.


            If the `CatalogCustomAttributeDefinition` object is

            defined by another application, the `CatalogCustomAttributeDefinition`''s key attribute value is prefixed by

            the defining application ID. For example, if the `CatalogCustomAttributeDefinition` has a `key` attribute of

            `"cocoa_brand"` and the defining application ID is `"abcd1234"`, the key in the map is `"abcd1234:cocoa_brand"`

            if the application making the request is different from the application defining the custom attribute definition.

            Otherwise, the key used in the map is simply `"cocoa_brand"`.


            Application-defined custom attributes are set at a global (location-independent) level.

            Custom attribute values are intended to store additional information about a catalog object

            or associations with an entity in another system. Do not use custom attributes

            to store any sensitive information (personally identifiable information, card details, etc.).'
          nullable: true
        catalog_v1_ids:
          type: array
          items:
            $ref: '#/components/schemas/CatalogV1Id'
          description: 'The Connect v1 IDs for this object at each location where it is present, where they

            differ from the object''s Connect V2 ID. The field will only be present for objects that

            have been created or modified by legacy APIs.'
          nullable: true
        present_at_all_locations:
          type: boolean
          description: 'If `true`, this object is present at all locations (including future locations), except where specified in

            the `absent_at_location_ids` field. If `false`, this object is not present at any locations (including future locations),

            except where specified in the `present_at_location_ids` field. If not specified, defaults to `true`.'
          nullable: true
        present_at_location_ids:
          type: array
          items:
            type: string
          description: 'A list of locations where the object is present, even if `present_at_all_locations` is `false`.

            This can include locations that are deactivated.'
          nullable: true
        absent_at_location_ids:
          type: array
          items:
            type: string
          description: 'A list of locations where the object is not present, even if `present_at_all_locations` is `true`.

            This can include locations that are deactivated.'
          nullable: true
        item_data:
          $ref: '#/components/schemas/CatalogItem'
          description: Structured data for a `CatalogItem`, set for CatalogObjects of type `ITEM`.
          nullable: true
        category_data:
          $ref: '#/components/schemas/CatalogCategory'
          description: Structured data for a `CatalogCategory`, set for CatalogObjects of type `CATEGORY`.
          nullable: true
        item_variation_data:
          $ref: '#/components/schemas/CatalogItemVariation'
          description: Structured data for a `CatalogItemVariation`, set for CatalogObjects of type `ITEM_VARIATION`.
          nullable: true
        tax_data:
          $ref: '#/components/schemas/CatalogTax'
          description: Structured data for a `CatalogTax`, set for CatalogObjects of type `TAX`.
          nullable: true
        discount_data:
          $ref: '#/components/schemas/CatalogDiscount'
          description: Structured data for a `CatalogDiscount`, set for CatalogObjects of type `DISCOUNT`.
          nullable: true
        modifier_list_data:
          $ref: '#/components/schemas/CatalogModifierList'
          description: Structured data for a `CatalogModifierList`, set for CatalogObjects of type `MODIFIER_LIST`.
          nullable: true
        modifier_data:
          $ref: '#/components/schemas/CatalogModifier'
          description: Structured data for a `CatalogModifier`, set for CatalogObjects of type `MODIFIER`.
          nullable: true
        time_period_data:
          $ref: '#/components/schemas/CatalogTimePeriod'
          description: Structured data for a `CatalogTimePeriod`, set for CatalogObjects of type `TIME_PERIOD`.
          nullable: true
        product_set_data:
          $ref: '#/components/schemas/CatalogProductSet'
          description: Structured data for a `CatalogProductSet`, set for CatalogObjects of type `PRODUCT_SET`.
          nullable: true
        pricing_rule_data:
          $ref: '#/components/schemas/CatalogPricingRule'
          description: 'Structured data for a `CatalogPricingRule`, set for CatalogObjects of type `PRICING_RULE`.

            A `CatalogPricingRule` object often works with a `CatalogProductSet` object or a `CatalogTimePeriod` object.'
          nullable: true
        image_data:
          $ref: '#/components/schemas/CatalogImage'
          description: Structured data for a `CatalogImage`, set for CatalogObjects of type `IMAGE`.
          nullable: true
        measurement_unit_data:
          $ref: '#/components/schemas/CatalogMeasurementUnit'
          description: Structured data for a `CatalogMeasurementUnit`, set for CatalogObjects of type `MEASUREMENT_UNIT`.
          nullable: true
        subscription_plan_data:
          $ref: '#/components/schemas/CatalogSubscriptionPlan'
          description: Structured data for a `CatalogSubscriptionPlan`, set for CatalogObjects of type `SUBSCRIPTION_PLAN`.
          nullable: true
        item_option_data:
          $ref: '#/components/schemas/CatalogItemOption'
          description: Structured data for a `CatalogItemOption`, set for CatalogObjects of type `ITEM_OPTION`.
          nullable: true
        item_option_value_data:
          $ref: '#/components/schemas/CatalogItemOptionValue'
          description: Structured data for a `CatalogItemOptionValue`, set for CatalogObjects of type `ITEM_OPTION_VAL`.
          nullable: true
        custom_attribute_definition_data:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinition'
          description: Structured data for a `CatalogCustomAttributeDefinition`, set for CatalogObjects of type `CUSTOM_ATTRIBUTE_DEFINITION`.
          nullable: true
        quick_amounts_settings_data:
          $ref: '#/components/schemas/CatalogQuickAmountsSettings'
          description: Structured data for a `CatalogQuickAmountsSettings`, set for CatalogObjects of type `QUICK_AMOUNTS_SETTINGS`.
          x-release-status: BETA
          nullable: true
        subscription_plan_variation_data:
          $ref: '#/components/schemas/CatalogSubscriptionPlanVariation'
          description: Structured data for a `CatalogSubscriptionPlanVariation`, set for CatalogObjects of type `SUBSCRIPTION_PLAN_VARIATION`.
          nullable: true
        availability_period_data:
          $ref: '#/components/schemas/CatalogAvailabilityPeriod'
          description: Structured data for a `CatalogAvailabilityPeriod`, set for CatalogObjects of type `AVAILABILITY_PERIOD`.
          nullable: true
      example:
        catalog_object:
          absent_at_location_ids:
          - '{{ LOCATIONID-1 }}'
          - '{{ LOCATIONID-N }}'
          category_data: '{{ CatalogCategory object only if type=CATEGORY }}'
          connect_v1_ids:
            catalog_v1_id: '{{ itemID from Catalog v1 }}'
            location_id: '{{ location where v1 ID is used }}'
          discount_data: '{{ CatalogDiscount object only if type=DISCOUNT }}'
          id: '{{ set by Catalog during object creation }}'
          is_deleted: '{{ [true | false] }}'
          item_data: '{{ CatalogItem object only if type=ITEM }}'
          item_variation_data: '{{ CatalogItemVariation object only if type=ITEM_VARIATION }}'
          modifier_data: '{{ CatalogModifier object only if type=MODIFIER }}'
          modifier_list_data: '{{ CatalogModifierList object only if type=MODIFIER_LIST }}'
          present_at_all_locations: '{{ [true | false] }}'
          present_at_location_ids:
          - '{{ LOCATIONID-1 }}'
          - '{{ LOCATIONID-N }}'
          tax_data: '{{ CatalogTax object only if type=TAX }}'
          type: '{{ [ITEM | ITEM_VARIATION | MODIFIER | MODIFIER_LIST | CATEGORY | DISCOUNT | TAX] }}'
          updated_at: '{{ date & time of most recent update }}'
          version: '{{ version of the CatalogObject }}'
    CatalogCustomAttributeDefinitionStringConfig:
      type: object
      description: Configuration associated with Custom Attribute Definitions of type `STRING`.
      x-release-status: PUBLIC
      properties:
        enforce_uniqueness:
          type: boolean
          description: 'If true, each Custom Attribute instance associated with this Custom Attribute

            Definition must have a unique value within the seller''s catalog. For

            example, this may be used for a value like a SKU that should not be

            duplicated within a seller''s catalog. May not be modified after the

            definition has been created.'
          nullable: true
    RetrieveCatalogObjectResponse:
      type: object
      x-release-status: PUBLIC
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors that occurred during the request.
        object:
          $ref: '#/components/schemas/CatalogObject'
          description: The `CatalogObject`s returned.
        related_objects:
          type: array
          items:
            $ref: '#/components/schemas/CatalogObject'
          description: A list of `CatalogObject`s referenced by the object in the `object` field.
      example:
        object:
          id: W62UWFY35CWMYGVWK6TWJDNI
          is_deleted: false
          item_data:
            categories:
            - id: BJNQCF2FJ6S6UIDT65ABHLRX
              ordinal: 0
            description: Hot Leaf Juice
            name: Tea
            tax_ids:
            - HURXQOOAIC4IZSI2BEXQRYFY
            variations:
            - id: 2TZFAOHWGG7PAK2QEXWYPZSP
              is_deleted: false
              item_variation_data:
                item_id: W62UWFY35CWMYGVWK6TWJDNI
                name: Mug
                ordinal: 0
                price_money:
                  amount: 150
                  currency: USD
                pricing_type: FIXED_PRICING
              present_at_all_locations: true
              type: ITEM_VARIATION
              updated_at: '2016-11-16T22:25:24.878Z'
              version: 1479335124878
          present_at_all_locations: true
          type: ITEM
          updated_at: '2016-11-16T22:25:24.878Z'
          version: 1479335124878
        related_objects:
        - category_data:
            name: Beverages
          id: BJNQCF2FJ6S6UIDT65ABHLRX
          is_deleted: false
          present_at_all_locations: true
          type: CATEGORY
          updated_at: '2016-11-16T22:25:24.878Z'
          version: 1479335124878
        - id: HURXQOOAIC4IZSI2BEXQRYFY
          is_deleted: false
          present_at_all_locations: true
          tax_data:
            calculation_phase: TAX_SUBTOTAL_PHASE
            enabled: true
            inclusion_type: ADDITIVE
            name: Sales Tax
            percentage: '5.0'
          type: TAX
          updated_at: '2016-11-16T22:25:24.878Z'
          version: 1479335124878
      x-sq-sdk-sample-code:
        csharp: /sdk_samples/Catalog/RetrieveCatalogObject/RetrieveCatalogObjectResponse.csharp
        java: /sdk_samples/Catalog/RetrieveCatalogObject/RetrieveCatalogObjectResponse.java
        javascript: /sdk_samples/Catalog/RetrieveCatalogObject/RetrieveCatalogObjectResponse.javascript
        php: /sdk_samples/Catalog/RetrieveCatalogObject/RetrieveCatalogObjectResponse.php
        python: /sdk_samples/Catalog/RetrieveCatalogObject/RetrieveCatalogObjectResponse.python
        ruby: /sdk_samples/Catalog/RetrieveCatalogObject/RetrieveCatalogObjectResponse.ruby
    SearchCatalogItemsRequest:
      type: object
      description: Defines the request body for the [SearchCatalogItems](api-endpoint:Catalog-SearchCatalogItems) endpoint.
      x-release-status: PUBLIC
      properties:
        text_filter:
          type: string
          description: 'The text filter expression to return items or item variations containing specified text in

            the `name`, `description`, or `abbreviation` attribute value of an item, or in

            the `name`, `sku`, or `upc` attribute value of an item variation.'
        category_ids:
          type: array
          items:
            type: string
          description: The category id query expression to return items containing the specified category IDs.
        stock_levels:
          type: array
          items:
            $ref: '#/components/schemas/SearchCatalogItemsRequestStockLevel'
          description: 'The stock-level query expression to return item variations with the specified stock levels.

            See [SearchCatalogItemsRequestStockLevel](#type-searchcatalogitemsrequeststocklevel) for possible values'
        enabled_location_ids:
          type: array
          items:
            type: string
          description: The enabled-location query expression to return items and item variations having specified enabled locations.
        cursor:
          type: string
          description: The pagination token, returned in the previous response, used to fetch the next batch of pending results.
        limit:
          type: integer
          description: The maximum number of results to return per page. The default value is 100.
          maximum: 100
        sort_order:
          $ref: '#/components/schemas/SortOrder'
          description: 'The order to sort the results by item names. The default sort order is ascending (`ASC`).

            See [SortOrder](#type-sortorder) for possible values'
        product_types:
          type: array
          items:
            $ref: '#/components/schemas/CatalogItemProductType'
          description: The product types query expression to return items or item variations having the specified product types.
        custom_attribute_filters:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeFilter'
          description: 'The customer-attribute filter to return items or item variations matching the specified

            custom attribute expressions. A maximum number of 10 custom attribute expressions are supported in

            a single call to the [SearchCatalogItems](api-endpoint:Catalog-SearchCatalogItems) endpoint.'
        archived_state:
          $ref: '#/components/schemas/ArchivedState'
          description: The query filter to return not archived (`ARCHIVED_STATE_NOT_ARCHIVED`), archived (`ARCHIVED_STATE_ARCHIVED`), or either type (`ARCHIVED_STATE_ALL`) of items.
      example:
        category_ids:
        - WINE_CATEGORY_ID
        custom_attribute_filters:
        - bool_filter: true
          custom_attribute_definition_id: VEGAN_DEFINITION_ID
        - custom_attribute_definition_id: BRAND_DEFINITION_ID
          string_filter: Dark Horse
        - key: VINTAGE
          number_filter:
            max: 2018
            min: 2017
        - custom_attribute_definition_id: VARIETAL_DEFINITION_ID
          selection_ids_filter: MERLOT_SELECTION_ID
        enabled_location_ids:
        - ATL_LOCATION_ID
        limit: 100
        product_types:
        - REGULAR
        sort_order: ASC
        stock_levels:
        - OUT
        - LOW
        text_filter: red
    CatalogQueryItemVariationsForItemOptionValues:
      type: object
      description: The query filter to return the item variations containing the specified item option value IDs.
      x-release-status: PUBLIC
      properties:
        item_option_value_ids:
          type: array
          items:
            type: string
          description: 'A set of `CatalogItemOptionValue` IDs to be used to find associated

            `CatalogItemVariation`s. All ItemVariations that contain all of the given

            Item Option Values (in any order) will be returned.'
          nullable: true
    CatalogQueryRange:
      type: object
      description: The query filter to return the search result whose named attribute values fall between the specified range.
      x-release-status: PUBLIC
      required:
      - attribute_name
      properties:
        attribute_name:
          type: string
          description: The name of the attribute to be searched.
          minLength: 1
        attribute_min_value:
          type: integer
          description: The desired minimum value for the search attribute (inclusive).
          format: int64
          nullable: true
        attribute_max_value:
          type: integer
          description: The desired maximum value for the search attribute (inclusive).
          format: int64
          nullable: true
    CatalogQueryItemsForModifierList:
      type: object
      description: The query filter to return the items containing the specified modifier list IDs.
      x-release-status: PUBLIC
      required:
      - modifier_list_ids
      properties:
        modifier_list_ids:
          type: array
          items:
            type: string
          description: A set of `CatalogModifierList` IDs to be used to find associated `CatalogItem`s.
    CatalogInfoResponseLimits:
      type: object
      x-release-status: PUBLIC
      properties:
        batch_upsert_max_objects_per_batch:
          type: integer
          description: 'The maximum number of objects that may appear within a single batch in a

            `/v2/catalog/batch-upsert` request.'
          nullable: true
        batch_upsert_max_total_objects:
          type: integer
          description: 'The maximum number of objects that may appear across all batches in a

            `/v2/catalog/batch-upsert` request.'
          nullable: true
        batch_retrieve_max_object_ids:
          type: integer
          description: 'The maximum number of object IDs that may appear in a `/v2/catalog/batch-retrieve`

            request.'
          nullable: true
        search_max_page_limit:
          type: integer
          description: 'The maximum number of results that may be returned in a page of a

            `/v2/catalog/search` response.'
          nullable: true
        batch_delete_max_object_ids:
          type: integer
          description: 'The maximum number of object IDs that may be included in a single

            `/v2/catalog/batch-delete` request.'
          nullable: true
        update_item_taxes_max_item_ids:
          type: integer
          description: 'The maximum number of item IDs that may be included in a single

            `/v2/catalog/update-item-taxes` request.'
          nullable: true
        update_item_taxes_max_taxes_to_enable:
          type: integer
          description: 'The maximum number of tax IDs to be enabled that may be included in a single

            `/v2/catalog/update-item-taxes` request.'
          nullable: true
        update_item_taxes_max_taxes_to_disable:
          type: integer
          description: 'The maximum number of tax IDs to be disabled that may be included in a single

            `/v2/catalog/update-item-taxes` request.'
          nullable: true
        update_item_modifier_lists_max_item_ids:
          type: integer
          description: 'The maximum number of item IDs that may be included in a single

            `/v2/catalog/update-item-modifier-lists` request.'
          nullable: true
        update_item_modifier_lists_max_modifier_lists_to_enable:
          type: integer
          description: 'The maximum number of modifier list IDs to be enabled that may be included in

            a single `/v2/catalog/update-item-modifier-lists` request.'
          nullable: true
        update_item_modifier_lists_max_modifier_lists_to_disable:
          type: integer
          description: 'The maximum number of modifier list IDs to be disabled that may be included in

            a single `/v2/catalog/update-item-modifier-lists` request.'
          nullable: true
    CatalogItemOptionValueForItemVariation:
      type: object
      description: 'A `CatalogItemOptionValue` links an item variation to an item option as

        an item option value. For example, a t-shirt item may offer a color option and

        a size option. An item option value would represent each variation of t-shirt:

        For example, "Color:Red, Size:Small" or "Color:Blue, Size:Medium".'
      x-release-status: PUBLIC
      properties:
        item_option_id:
          type: string
          description: The unique id of an item option.
          nullable: true
        item_option_value_id:
          type: string
          description: The unique id of the selected value for the item option.
          nullable: true
    CatalogItemFoodAndBeverageDetailsDietaryPreference:
      type: object
      description: Dietary preferences that can be assigned to an `FOOD_AND_BEV` item and its ingredients.
      x-release-status: PUBLIC
      properties:
        type:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsDietaryPreferenceType'
          description: 'The dietary preference type. Supported values include `STANDARD` and `CUSTOM` as specified in `FoodAndBeverageDetails.DietaryPreferenceType`.

            See [DietaryPreferenceType](#type-dietarypreferencetype) for possible values'
          nullable: true
        standard_name:
          $ref: '#/components/schemas/CatalogItemFoodAndBeverageDetailsDietaryPreferenceStandardDietaryPreference'
          description: 'The name of the dietary preference from a standard pre-defined list. This should be null if it''s a custom dietary preference.

            See [StandardDietaryPreference](#type-standarddietarypreference) for possible values'
          nullable: true
        custom_name:
          type: string
          description: The name of a user-defined custom dietary preference. This should be null if it's a standard dietary preference.
          nullable: true
    TaxCalculationPhase:
      type: string
      enum:
      - TAX_SUBTOTAL_PHASE
      - TAX_TOTAL_PHASE
      x-enum-elements:
      - name: TAX_SUBTOTAL_PHASE
        description: The fee is calculated based on the payment's subtotal.
      - name: TAX_TOTAL_PHASE
        description: The fee is calculated based on the payment's total.
      description: When to calculate the taxes due on a cart.
      x-release-status: PUBLIC
    CatalogDiscountType:
      type: string
      enum:
      - FIXED_PERCENTAGE
      - FIXED_AMOUNT
      - VARIABLE_PERCENTAGE
      - VARIABLE_AMOUNT
      x-enum-elements:
      - name: FIXED_PERCENTAGE
        description: Apply the discount as a fixed percentage (e.g., 5%) off the item price.
      - name: FIXED_AMOUNT
        description: Apply the discount as a fixed amount (e.g., $1.00) off the item price.
      - name: VARIABLE_PERCENTAGE
        description: Apply the discount as a variable percentage off the item price. The percentage will be specified at the time of sale.
      - name: VARIABLE_AMOUNT
        description: Apply the discount as a variable amount off the item price. The amount will be specified at the time of sale.
      description: How to apply a CatalogDiscount to a CatalogItem.
      x-release-status: PUBLIC
    CatalogImage:
      type: object
      description: 'An image file to use in Square catalogs. It can be associated with

        `CatalogItem`, `CatalogItemVariation`, `CatalogCategory`, and `CatalogModifierList` objects.

        Only the images on items and item variations are exposed in Dashboard.

        Only the first image on an item is displayed in Square Point of Sale (SPOS).

        Images on items and variations are displayed through Square Online Store.

        Images on other object types are for use by 3rd party application developers.'
      x-release-status: PUBLIC
      properties:
        name:
          type: string
          description: 'The internal name to identify this image in calls to the Square API.

            This is a searchable attribute for use in applicable query filters

            using the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects).

            It is not unique and should not be shown in a buyer facing context.'
          nullable: true
        url:
          type: string
          description: 'The URL of this image, generated by Square after an image is uploaded

            using the [CreateCatalogImage](api-endpoint:Catalog-CreateCatalogImage) endpoint.

            To modify the image, use the UpdateCatalogImage endpoint. Do not change the URL field.'
          nullable: true
        caption:
          type: string
          description: 'A caption that describes what is shown in the image. Displayed in the

            Square Online Store. This is a searchable attribute for use in applicable query filters

            using the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects).'
          nullable: true
        photo_studio_order_id:
          type: string
          description: The immutable order ID for this image object created by the Photo Studio service in Square Online Store.
          nullable: true
    MeasurementUnitUnitType:
      type: string
      enum:
      - TYPE_CUSTOM
      - TYPE_AREA
      - TYPE_LENGTH
      - TYPE_VOLUME
      - TYPE_WEIGHT
      - TYPE_GENERIC
      x-enum-elements:
      - name: TYPE_CUSTOM
        description: The unit details are contained in the custom_unit field.
      - name: TYPE_AREA
        description: The unit details are contained in the area_unit field.
      - name: TYPE_LENGTH
        description: The unit details are contained in the length_unit field.
      - name: TYPE_VOLUME
        description: The unit details are contained in the volume_unit field.
      - name: TYPE_WEIGHT
        description: The unit details are contained in the weight_unit field.
      - name: TYPE_GENERIC
        description: The unit details are contained in the generic_unit field.
      description: Describes the type of this unit and indicates which field contains the unit information. This is an ‘open’ enum.
      x-release-status: PUBLIC
    CatalogItemFoodAndBeverageDetailsDietaryPreferenceType:
      type: string
      enum:
      - STANDARD
      - CUSTOM
      x-enum-elements:
      - name: STANDARD
        description: A standard value from a pre-determined list.
      - name: CUSTOM
        description: A user-defined custom value.
      description: The type of dietary preference for the `FOOD_AND_BEV` type of items and integredients.
      x-release-status: PUBLIC
    CatalogPricingRule:
      type: object
      description: 'Defines how discounts are automatically applied to a set of items that match the pricing rule

        during the active time period.'
      x-release-status: PUBLIC
      properties:
        name:
          type: string
          description: 'User-defined name for the pricing rule. For example, "Buy one get one

            free" or "10% off".'
          nullable: true
        time_period_ids:
          type: array
          items:
            type: string
          description: 'A list of unique IDs for the catalog time periods when

            this pricing rule is in effect. If left unset, the pricing rule is always

            in effect.'
          nullable: true
        discount_id:
          type: string
          description: 'Unique ID for the `CatalogDiscount` to take off

            the price of all matched items.'
          nullable: true
        match_products_id:
          type: string
          description: 'Unique ID for the `CatalogProductSet` that will be matched by this rule. A match rule

            matches within the entire cart, and can match multiple times. This field will always be set.'
          nullable: true
        apply_products_id:
          type: string
          description: '__Deprecated__: Please use the `exclude_products_id` field to apply

            an exclude set instead. Exclude sets allow better control over quantity

            ranges and offer more flexibility for which matched items receive a discount.


            `CatalogProductSet` to apply the pricing to.

            An apply rule matches within the subset of the cart that fits the match rules (the match set).

            An apply rule can only match once in the match set.

            If not supplied, the pricing will be applied to all products in the match set.

            Other products retain their base price, or a price generated by other rules.'
          x-release-status: DEPRECATED
          nullable: true
        exclude_products_id:
          type: string
          description: '`CatalogProductSet` to exclude from the pricing rule.

            An exclude rule matches within the subset of the cart that fits the match rules (the match set).

            An exclude rule can only match once in the match set.

            If not supplied, the pricing will be applied to all products in the match set.

            Other products retain their base price, or a price generated by other rules.'
          nullable: true
        valid_from_date:
          type: string
          description: Represents the date the Pricing Rule is valid from. Represented in RFC 3339 full-date format (YYYY-MM-DD).
          nullable: true
        valid_from_local_time:
          type: string
          description: 'Represents the local time the pricing rule should be valid from. Represented in RFC 3339 partial-time format

            (HH:MM:SS). Partial seconds will be truncated.'
          nullable: true
        valid_until_date:
          type: string
          description: Represents the date the Pricing Rule is valid until. Represented in RFC 3339 full-date format (YYYY-MM-DD).
          nullable: true
        valid_until_local_time:
          type: string
          description: 'Represents the local time the pricing rule should be valid until. Represented in RFC 3339 partial-time format

            (HH:MM:SS). Partial seconds will be truncated.'
          nullable: true
        exclude_strategy:
          $ref: '#/components/schemas/ExcludeStrategy'
          description: 'If an `exclude_products_id` was given, controls which subset of matched

            products is excluded from any discounts.


            Default value: `LEAST_EXPENSIVE`

            See [ExcludeStrategy](#type-excludestrategy) for possible values'
          nullable: true
        minimum_order_subtotal_money:
          $ref: '#/components/schemas/Money'
          description: 'The minimum order subtotal (before discounts or taxes are applied)

            that must be met before this rule may be applied.'
          nullable: true
        customer_group_ids_any:
          type: array
          items:
            type: string
          description: 'A list of IDs of customer groups, the members of which are eligible for discounts specified in this pricing rule.

            Notice that a group ID is generated by the Customers API.

            If this field is not set, the specified discount applies to matched products sold to anyone whether the buyer

            has a customer profile created or not. If this `customer_group_ids_any` field is set, the specified discount

            applies only to matched products sold to customers belonging to the specified customer groups.'
          nullable: true
    CatalogModifierListModifierType:
      type: string
      enum:
      - LIST
      - TEXT
      x-enum-elements:
      - name: LIST
        description: The `CatalogModifierList` instance is a non-empty list of non text-based modifiers.
      - name: TEXT
        description: The `CatalogModifierList` instance is a single text-based modifier.
      description: Defines the type of `CatalogModifierList`.
      x-release-status: BETA
    CatalogObjectCategory:
      type: object
      description: "A category that can be assigned to an item or a parent category that can be assigned \nto another category. For example, a clothing category can be assigned to a t-shirt item or \nbe made as the parent category to the pants category."
      x-release-status: BETA
      properties:
        id:
          type: string
          description: The ID of the object's category.
        ordinal:
          type: integer
          description: The order of the object within the context of the category.
          format: int64
          nullable: true
    SubscriptionPhase:
      type: object
      description: Describes a phase in a subscription plan variation. For more information, see [Subscription Plans and Variations](https://developer.squareup.com/docs/subscriptions-api/plans-and-variations).
      x-release-status: PUBLIC
      required:
      - cadence
      properties:
        uid:
          type: string
          description: The Square-assigned ID of the subscription phase. This field cannot be changed after a `SubscriptionPhase` is created.
          nullable: true
        cadence:
          $ref: '#/components/schemas/SubscriptionCadence'
          description: 'The billing cadence of the phase. For example, weekly or monthly. This field cannot be changed after a `SubscriptionPhase` is created.

            See [SubscriptionCadence](#type-subscriptioncadence) for possible values'
        periods:
          type: integer
          description: The number of `cadence`s the phase lasts. If not set, the phase never ends. Only the last phase can be indefinite. This field cannot be changed after a `SubscriptionPhase` is created.
          nullable: true
        recurring_price_money:
          $ref: '#/components/schemas/Money'
          description: The amount to bill for each `cadence`. Failure to specify this field results in a `MISSING_REQUIRED_PARAMETER` error at runtime.
          nullable: true
        ordinal:
          type: integer
          description: The position this phase appears in the sequence of phases defined for the plan, indexed from 0. This field cannot be changed after a `SubscriptionPhase` is created.
          format: int64
          nullable: true
        pricing:
          $ref: '#/components/schemas/SubscriptionPricing'
          description: The subscription pricing.
          nullable: true
    CatalogItemFoodAndBeverageDetailsIngredientStandardIngredient:
      type: string
      enum:
      - CELERY
      - CRUSTACEANS
      - EGGS
      - FISH
      - GLUTEN
      - LUPIN
      - MILK
      - MOLLUSCS
      - MUSTARD
      - PEANUTS
      - SESAME
      - SOY
      - SULPHITES
      - TREE_NUTS
      x-enum-elements:
      - name: CELERY
        description: ''
      - name: CRUSTACEANS
        description: ''
      - name: EGGS
        description: ''
      - name: FISH
        description: ''
      - name: GLUTEN
        description: ''
      - name: LUPIN
        description: ''
      - name: MILK
        description: ''
      - name: MOLLUSCS
        description: ''
      - name: MUSTARD
        description: ''
      - name: PEANUTS
        description: ''
      - name: SESAME
        description: ''
      - name: SOY
        description: ''
      - name: SULPHITES
        description: ''
      - name: TREE_NUTS
        description: ''
      description: Standard ingredients for food and beverage items that are recommended on item creation.
      x-release-status: PUBLIC
    CatalogSubscriptionPlanVariation:
      type: object
      description: 'Describes a subscription plan variation. A subscription plan variation represents how the subscription for a product or service is sold.

        For more information, see [Subscription Plans and Variations](https://developer.squareup.com/docs/subscriptions-api/plans-and-variations).'
      x-release-status: PUBLIC
      required:
      - name
      - phases
      properties:
        name:
          type: string
          description: The name of the plan variation.
        phases:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionPhase'
          description: A list containing each [SubscriptionPhase](entity:SubscriptionPhase) for this plan variation.
        subscription_plan_id:
          type: string
          description: The id of the subscription plan, if there is one.
          nullable: true
        monthly_billing_anchor_date:
          type: integer
          description: The day of the month the billing period starts.
          format: int64
          minimum: 1
          maximum: 31
          nullable: true
        can_prorate:
          type: boolean
          description: Whether bills for this plan variation can be split for proration.
          nullable: true
        successor_plan_variation_id:
          type: string
          description: 'The ID of a "successor" plan variation to this one. If the field is set, and this object is disabled at all

            locations, it indicates that this variation is deprecated and the object identified by the successor ID be used in

            its stead.'
          nullable: true
    BatchRetrieveCatalogObjectsRequest:
      type: object
      x-release-status: PUBLIC
      required:
      - object_ids
      properties:
        object_ids:
          type: array
          items:
            type: string
          description: The IDs of the CatalogObjects to be retrieved.
        include_related_objects:
          type: boolean
          description: 'If `true`, the response will include additional objects that are related to the

            requested objects. Related objects are defined as any objects referenced by ID by the results in the `objects` field

            of the response. These objects are put in the `related_objects` field. Setting this to `true` is

            helpful when the objects are needed for immediate display to a user.

            This process only goes one level deep. Objects referenced by the related objects will not be included. For example,


            if the `objects` field of the response contains a CatalogItem, its associated

            CatalogCategory objects, CatalogTax objects, CatalogImage objects and

            CatalogModifierLists will be returned in the `related_objects` field of the

            response. If the `objects` field of the response contains a CatalogItemVariation,

            its parent CatalogItem will be returned in the `related_objects` field of

            the response.


            Default value: `false`'
          nullable: true
        catalog_version:
          type: integer
          description: "The specific version of the catalog objects to be included in the response. \nThis allows you to retrieve historical versions of objects. The specified version value is matched against\nthe [CatalogObject](entity:CatalogObject)s' `version` attribute. If not included, results will\nbe from the current version of the catalog."
          format: int64
          x-release-status: BETA
          nullable: true
        include_deleted_objects:
          type: boolean
          description: Indicates whether to include (`true`) or not (`false`) in the response deleted objects, namely, those with the `is_deleted` attribute set to `true`.
          nullable: true
        include_category_path_to_root:
          type: boolean
          description: 'Specifies whether or not to include the `path_to_root` list for each returned category instance. The `path_to_root` list consists

            of `CategoryPathToRootNode` objects and specifies the path that starts with the immediate parent category of the returned category

            and ends with its root category. If the returned category is a top-level category, the `path_to_root` list is empty and is not returned

            in the response payload.'
          nullable: true
      example:
        include_related_objects: true
        object_ids:
        - W62UWFY35CWMYGVWK6TWJDNI
        - AA27W3M2GGTF3H6AVPNB77CK
      x-sq-sdk-sample-code:
        csharp: /sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.csharp
        java: /sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.java
        javascript: /sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.javascript
        php: /sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.php
        python: /sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.python
        ruby: /sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.ruby
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - INVALID_REQUEST_ERROR
      - RATE_LIMIT_ERROR
      - PAYMENT_METHOD_ERROR
      - REFUND_ERROR
      - MERCHANT_SUBSCRIPTION_ERROR
      - EXTERNAL_VENDOR_ERROR
      x-enum-elements:
      - name: API_ERROR
        description: An error occurred with the Connect API itself.
      - name: AUTHENTICATION_ERROR
        description: 'An authentication error occurred. Most commonly, the request had

          a missing, malformed, or otherwise invalid `Authorization` header.'
      - name: INVALID_REQUEST_ERROR
        description: 'The request was invalid. Most commonly, a required parameter was

          missing, or a provided parameter had an invalid value.'
      - name: RATE_LIMIT_ERROR
        description: 'Your application reached the Square API rate limit. You might receive this error if your application sends a high number of requests

          to Square APIs in a short period of time.


          Your application should monitor responses for `429 RATE_LIMITED` errors and use a retry mechanism with an [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)

          schedule to resend the requests at an increasingly slower rate. It is also a good practice to use a randomized delay (jitter) in your retry schedule.'
      - name: PAYMENT_METHOD_ERROR
        description: 'An error occurred while processing a payment method. Most commonly,

          the details of the payment method were invalid (such as a card''s CVV

          or expiration date).'
      - name: REFUND_ERROR
        description: An error occurred while attempting to process a refund.
      - name: MERCHANT_SUBSCRIPTION_ERROR
        description: An error occurred when checking a merchant subscription status
      - name: EXTERNAL_VENDOR_ERROR
        description: An error that is returned from an external vendor's API
      description: 'Indicates which high-level category of error has occurred during a

        request to the Connect API.'
      x-release-status: PUBLIC
    Currency:
      type: string
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLE
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - XUS
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish zBoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean first leone
      - name: SLE
        description: Sierra Leonean second leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese ’Óng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
[...]
